#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 219.742   Phi 89.173    phi2 73.695   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 199.717   Phi 84.661    phi2 301.100   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 25.147   Phi 64.182    phi2 67.423   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 70.417   Phi 117.661    phi2 191.889   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 143.232   Phi 82.708    phi2 217.173   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 275.918   Phi 164.759    phi2 272.442   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 16.061   Phi 110.138    phi2 206.465   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 323.488   Phi 65.864    phi2 60.431   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 211.365   Phi 82.620    phi2 325.859   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 179.157   Phi 34.327    phi2 126.066   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 151.958   Phi 61.717    phi2 108.505   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 213.995   Phi 52.239    phi2 114.991   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 347.966   Phi 69.732    phi2 252.706   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 172.399   Phi 104.873    phi2 201.387   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 175.017   Phi 77.883    phi2 230.094   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 110.186   Phi 146.183    phi2 215.960   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 150.401   Phi 129.306    phi2 16.042   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 228.614   Phi 29.189    phi2 276.541   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 284.894   Phi 136.794    phi2 159.925   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 287.993   Phi 135.951    phi2 52.442   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 57.996   Phi 61.606    phi2 30.464   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 54.518   Phi 144.308    phi2 22.255   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 0.635   Phi 140.732    phi2 6.014   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 289.863   Phi 163.882    phi2 255.074   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 200.346   Phi 129.345    phi2 265.994   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 146.225   Phi 26.132    phi2 14.596   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 112.459   Phi 143.591    phi2 102.379   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 166.201   Phi 64.517    phi2 54.215   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 214.208   Phi 48.716    phi2 278.988   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 272.535   Phi 56.972    phi2 10.474   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 202.956   Phi 134.355    phi2 195.910   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 206.040   Phi 50.436    phi2 235.263   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 120.649   Phi 80.010    phi2 70.612   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 7.851   Phi 121.666    phi2 167.454   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 23.607   Phi 94.564    phi2 124.131   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 116.646   Phi 92.427    phi2 257.302   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 6.549   Phi 92.733    phi2 330.632   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 267.347   Phi 25.477    phi2 120.938   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 274.078   Phi 33.165    phi2 71.324   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 265.895   Phi 118.406    phi2 287.987   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 349.650   Phi 44.690    phi2 280.858   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 128.589   Phi 170.660    phi2 326.010   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 32.496   Phi 79.181    phi2 244.774   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 4.230   Phi 142.244    phi2 123.213   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 39.462   Phi 137.462    phi2 69.606   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 49.369   Phi 170.041    phi2 287.667   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 113.158   Phi 33.950    phi2 291.413   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 331.040   Phi 14.671    phi2 273.677   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 161.504   Phi 67.623    phi2 14.974   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 318.889   Phi 2.901    phi2 56.701   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 112.659   Phi 122.348    phi2 323.169   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 155.824   Phi 137.203    phi2 336.872   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 40.062   Phi 163.037    phi2 95.273   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 125.330   Phi 121.153    phi2 45.376   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 323.474   Phi 73.804    phi2 155.285   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
