#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 213.140   Phi 16.938    phi2 253.234   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 311.808   Phi 103.642    phi2 254.100   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 146.969   Phi 126.383    phi2 65.521   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 136.150   Phi 34.968    phi2 88.286   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 44.597   Phi 156.204    phi2 67.346   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 202.247   Phi 142.195    phi2 152.049   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 314.647   Phi 39.511    phi2 96.645   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 246.241   Phi 89.478    phi2 214.971   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 159.974   Phi 149.284    phi2 266.501   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 288.624   Phi 107.898    phi2 137.284   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 93.179   Phi 41.708    phi2 41.789   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 300.963   Phi 138.150    phi2 55.021   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 43.219   Phi 62.826    phi2 26.881   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 299.239   Phi 106.064    phi2 204.674   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 343.829   Phi 117.407    phi2 268.646   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 86.785   Phi 119.461    phi2 35.874   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 316.098   Phi 121.477    phi2 273.325   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 88.188   Phi 62.951    phi2 224.858   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 343.963   Phi 39.168    phi2 216.285   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 324.585   Phi 118.236    phi2 266.154   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 45.985   Phi 44.616    phi2 212.801   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 15.432   Phi 64.761    phi2 207.735   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 158.928   Phi 109.327    phi2 116.148   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 213.527   Phi 126.634    phi2 126.180   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 335.669   Phi 92.191    phi2 71.173   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 154.070   Phi 113.759    phi2 169.032   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 25.373   Phi 103.188    phi2 103.395   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 201.841   Phi 48.439    phi2 138.077   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 103.404   Phi 42.057    phi2 137.469   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 18.829   Phi 87.745    phi2 276.228   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 205.196   Phi 79.798    phi2 146.656   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 115.362   Phi 107.634    phi2 138.762   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 289.925   Phi 41.184    phi2 257.320   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 0.048   Phi 123.967    phi2 136.663   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 0.274   Phi 120.064    phi2 175.178   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 48.541   Phi 109.182    phi2 38.136   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 287.138   Phi 91.032    phi2 119.235   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 220.265   Phi 96.363    phi2 120.536   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 307.248   Phi 135.925    phi2 258.766   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 190.517   Phi 117.836    phi2 93.160   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 355.238   Phi 68.917    phi2 114.046   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 58.931   Phi 125.886    phi2 28.232   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 259.505   Phi 28.074    phi2 119.649   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 229.227   Phi 123.184    phi2 216.778   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 1.032   Phi 64.925    phi2 353.376   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 90.199   Phi 29.684    phi2 225.545   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 323.777   Phi 69.321    phi2 143.054   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 41.101   Phi 69.083    phi2 37.252   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 146.090   Phi 107.221    phi2 6.456   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 333.239   Phi 81.003    phi2 8.009   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 214.127   Phi 21.275    phi2 210.612   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 53.591   Phi 134.433    phi2 344.270   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 123.851   Phi 94.539    phi2 329.104   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 106.696   Phi 69.202    phi2 252.492   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 324.099   Phi 88.169    phi2 265.972   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 338.510   Phi 87.399    phi2 331.419   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 227.132   Phi 132.924    phi2 78.699   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 127.369   Phi 54.585    phi2 306.734   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 192.684   Phi 108.364    phi2 104.082   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 184.649   Phi 129.725    phi2 199.492   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 133.299   Phi 155.275    phi2 35.707   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 273.829   Phi 85.605    phi2 83.875   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 117.143   Phi 42.099    phi2 275.568   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 129.142   Phi 136.474    phi2 267.250   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 81.883   Phi 34.749    phi2 253.072   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 273.619   Phi 46.060    phi2 106.464   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 217.380   Phi 75.567    phi2 185.058   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 248.803   Phi 78.756    phi2 5.796   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 83.135   Phi 139.317    phi2 300.587   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 185.385   Phi 88.940    phi2 30.176   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 6.057   Phi 112.814    phi2 271.239   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 137.981   Phi 83.011    phi2 225.199   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 121.589   Phi 13.425    phi2 326.300   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 80.362   Phi 48.339    phi2 326.879   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 359.795   Phi 36.192    phi2 142.817   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 4.569   Phi 109.222    phi2 356.980   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 292.907   Phi 114.508    phi2 50.290   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 13.208   Phi 153.516    phi2 266.899   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 141.817   Phi 67.032    phi2 227.338   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 67.600   Phi 86.151    phi2 86.054   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 122.087   Phi 69.543    phi2 259.785   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 184.446   Phi 113.792    phi2 273.278   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 175.719   Phi 74.332    phi2 49.668   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 0.501   Phi 141.627    phi2 127.628   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 208.326   Phi 146.906    phi2 291.605   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 248.877   Phi 131.286    phi2 64.844   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 191.298   Phi 132.872    phi2 354.214   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 359.034   Phi 71.017    phi2 258.964   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 160.102   Phi 57.665    phi2 115.924   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 10.797   Phi 54.131    phi2 161.627   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 180.625   Phi 148.974    phi2 128.501   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
