#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 16.414   Phi 117.055    phi2 74.061   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 101.993   Phi 129.327    phi2 64.821   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 56.226   Phi 73.023    phi2 342.796   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 289.119   Phi 70.703    phi2 27.527   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 201.407   Phi 111.847    phi2 340.559   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 343.944   Phi 56.481    phi2 164.063   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 239.971   Phi 43.059    phi2 55.677   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 162.170   Phi 59.059    phi2 139.800   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 123.461   Phi 145.389    phi2 145.886   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 114.701   Phi 59.716    phi2 154.705   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 331.727   Phi 105.760    phi2 211.102   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 67.589   Phi 104.299    phi2 319.453   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 29.793   Phi 61.821    phi2 206.812   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 264.689   Phi 124.824    phi2 14.483   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 338.012   Phi 54.240    phi2 339.300   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 50.435   Phi 115.130    phi2 276.405   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 294.329   Phi 123.918    phi2 256.027   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 223.831   Phi 145.866    phi2 326.483   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 157.825   Phi 130.694    phi2 232.813   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 289.897   Phi 54.519    phi2 34.165   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 41.700   Phi 91.038    phi2 66.831   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 280.554   Phi 131.170    phi2 114.160   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 145.392   Phi 158.007    phi2 289.538   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 332.087   Phi 57.560    phi2 77.816   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 155.215   Phi 145.695    phi2 74.698   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 192.506   Phi 138.722    phi2 162.256   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 176.079   Phi 73.234    phi2 238.544   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 252.119   Phi 54.121    phi2 98.914   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 70.179   Phi 164.252    phi2 230.877   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 65.056   Phi 125.163    phi2 329.103   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 267.097   Phi 139.292    phi2 176.391   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 306.613   Phi 80.221    phi2 188.498   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 100.102   Phi 132.467    phi2 143.029   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 67.390   Phi 165.369    phi2 143.151   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 316.393   Phi 41.701    phi2 244.646   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 22.128   Phi 83.014    phi2 247.833   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 183.406   Phi 62.341    phi2 188.628   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 64.085   Phi 104.701    phi2 22.680   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 232.940   Phi 42.133    phi2 41.457   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 240.125   Phi 140.887    phi2 107.060   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 145.423   Phi 163.320    phi2 71.342   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 32.418   Phi 176.278    phi2 205.910   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 235.064   Phi 55.428    phi2 262.142   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 261.510   Phi 67.458    phi2 305.816   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 201.633   Phi 58.354    phi2 279.256   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 356.910   Phi 147.813    phi2 64.087   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 59.860   Phi 50.021    phi2 121.703   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 91.499   Phi 114.993    phi2 187.054   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 163.309   Phi 130.001    phi2 121.001   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 30.016   Phi 40.105    phi2 352.263   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 224.468   Phi 60.227    phi2 134.502   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 215.891   Phi 92.274    phi2 323.205   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 87.966   Phi 74.804    phi2 123.583   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 69.486   Phi 24.042    phi2 185.364   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 61.592   Phi 174.322    phi2 358.188   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 144.252   Phi 155.457    phi2 4.058   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
