#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              7.096685071600e-02
n_slip                  6.592301625900e+00
a_slip                  6.693476026000e+00
tau0_slip               7.122134156723e+06
tausat_slip             7.711516015820e+09
h0_slipslip             5.116398324000e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 348.101   Phi 75.192    phi2 354.852   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 121.968   Phi 149.664    phi2 84.288   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 102.013   Phi 137.366    phi2 207.202   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 189.852   Phi 62.999    phi2 154.350   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 104.699   Phi 130.239    phi2 46.903   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 172.727   Phi 100.671    phi2 89.482   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 46.655   Phi 41.624    phi2 248.737   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 254.612   Phi 109.037    phi2 155.517   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 189.338   Phi 78.743    phi2 3.926   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 26.153   Phi 167.500    phi2 314.339   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 221.667   Phi 81.322    phi2 313.706   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 59.085   Phi 89.054    phi2 13.733   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 110.671   Phi 68.962    phi2 134.017   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 63.430   Phi 72.663    phi2 286.003   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 165.281   Phi 171.188    phi2 68.425   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 67.117   Phi 52.184    phi2 88.704   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 324.006   Phi 49.578    phi2 332.596   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 351.663   Phi 155.564    phi2 159.766   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 60.234   Phi 120.033    phi2 223.895   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 333.630   Phi 44.934    phi2 173.117   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 22.543   Phi 60.408    phi2 268.958   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 284.257   Phi 53.713    phi2 130.263   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 232.247   Phi 40.503    phi2 329.897   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 34.575   Phi 109.138    phi2 342.984   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 317.832   Phi 55.288    phi2 82.340   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 189.100   Phi 98.537    phi2 6.410   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 125.243   Phi 133.043    phi2 222.909   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 206.461   Phi 95.303    phi2 134.984   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 174.374   Phi 26.154    phi2 240.409   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 140.938   Phi 73.935    phi2 29.392   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 178.576   Phi 11.350    phi2 159.324   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 210.571   Phi 86.766    phi2 15.925   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 262.696   Phi 47.443    phi2 83.452   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 39.064   Phi 112.971    phi2 253.781   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 115.690   Phi 61.275    phi2 317.881   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 145.990   Phi 133.991    phi2 213.529   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 196.663   Phi 77.017    phi2 339.385   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 153.995   Phi 116.371    phi2 244.436   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 154.150   Phi 147.314    phi2 130.134   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 283.223   Phi 87.339    phi2 339.852   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 309.367   Phi 97.650    phi2 268.485   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 165.076   Phi 129.397    phi2 320.665   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 182.967   Phi 166.921    phi2 297.335   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 198.556   Phi 57.495    phi2 297.343   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 340.923   Phi 29.671    phi2 284.100   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 157.377   Phi 120.159    phi2 180.944   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 334.729   Phi 90.209    phi2 77.768   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 325.661   Phi 69.989    phi2 0.106   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 309.268   Phi 43.697    phi2 68.665   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 146.989   Phi 175.559    phi2 331.113   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 298.183   Phi 83.674    phi2 120.628   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 39.298   Phi 152.920    phi2 173.239   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 154.380   Phi 145.877    phi2 107.698   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 181.838   Phi 52.803    phi2 80.278   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 8.342   Phi 53.021    phi2 302.672   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 20.884   Phi 70.245    phi2 71.153   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 303.793   Phi 37.271    phi2 1.244   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 41.584   Phi 68.658    phi2 218.961   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 132.747   Phi 116.596    phi2 165.690   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 270.814   Phi 25.788    phi2 340.256   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 228.276   Phi 104.302    phi2 135.135   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 42.556   Phi 51.604    phi2 154.645   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 332.128   Phi 82.164    phi2 305.910   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 292.591   Phi 131.704    phi2 86.266   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
