#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 328.021   Phi 87.699    phi2 88.296   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 287.025   Phi 117.724    phi2 278.169   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 232.809   Phi 76.456    phi2 240.582   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 206.511   Phi 123.581    phi2 32.027   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 47.759   Phi 109.191    phi2 136.674   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 142.243   Phi 95.110    phi2 145.831   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 339.325   Phi 128.795    phi2 313.866   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 304.500   Phi 99.397    phi2 66.251   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 92.232   Phi 104.760    phi2 149.158   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 64.685   Phi 73.069    phi2 38.163   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 82.817   Phi 115.844    phi2 201.967   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 323.825   Phi 96.409    phi2 204.953   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 24.674   Phi 135.281    phi2 7.600   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 260.957   Phi 76.555    phi2 316.341   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 60.090   Phi 113.742    phi2 134.204   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 315.326   Phi 45.641    phi2 310.676   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 67.889   Phi 64.810    phi2 338.336   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 262.051   Phi 59.531    phi2 46.522   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 33.860   Phi 72.176    phi2 230.572   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 158.415   Phi 42.714    phi2 306.379   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 330.587   Phi 135.711    phi2 36.705   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 274.910   Phi 138.796    phi2 261.989   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 291.426   Phi 161.398    phi2 332.978   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 231.926   Phi 81.273    phi2 311.368   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 251.612   Phi 163.561    phi2 130.338   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 298.443   Phi 82.802    phi2 359.428   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 357.450   Phi 47.619    phi2 219.012   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 333.598   Phi 94.791    phi2 323.556   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 224.328   Phi 84.982    phi2 320.394   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 139.688   Phi 58.579    phi2 190.330   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 128.788   Phi 92.959    phi2 45.814   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 188.953   Phi 36.558    phi2 274.310   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 243.368   Phi 54.397    phi2 292.943   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 148.081   Phi 44.757    phi2 126.859   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 131.841   Phi 42.179    phi2 18.491   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 220.083   Phi 116.328    phi2 273.725   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 14.734   Phi 86.677    phi2 193.760   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 78.537   Phi 19.338    phi2 304.049   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 192.839   Phi 40.212    phi2 216.696   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 209.328   Phi 70.868    phi2 56.987   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 302.147   Phi 156.497    phi2 6.717   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 281.243   Phi 65.777    phi2 78.018   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 286.643   Phi 84.202    phi2 29.602   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 325.451   Phi 108.347    phi2 272.952   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 319.758   Phi 69.126    phi2 301.407   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 301.291   Phi 81.327    phi2 273.738   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 327.167   Phi 39.980    phi2 281.694   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 146.236   Phi 57.443    phi2 113.149   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 300.953   Phi 134.754    phi2 131.155   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 272.441   Phi 91.608    phi2 49.854   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 257.404   Phi 55.377    phi2 124.850   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 330.749   Phi 53.420    phi2 149.005   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 213.203   Phi 118.016    phi2 182.437   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 271.773   Phi 78.457    phi2 249.929   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 295.015   Phi 126.396    phi2 44.193   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 219.287   Phi 100.493    phi2 135.998   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 192.189   Phi 46.418    phi2 168.414   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 254.461   Phi 45.397    phi2 108.498   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 5.474   Phi 158.830    phi2 14.522   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 22.030   Phi 58.925    phi2 226.139   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 169.659   Phi 61.246    phi2 294.248   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 10.666   Phi 100.529    phi2 11.349   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 4.207   Phi 144.254    phi2 193.200   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 321.902   Phi 114.350    phi2 20.430   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 323.350   Phi 33.752    phi2 201.273   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 263.696   Phi 123.420    phi2 52.438   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 189.298   Phi 86.448    phi2 29.729   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 103.819   Phi 148.136    phi2 27.363   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 253.675   Phi 120.498    phi2 144.886   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 184.828   Phi 135.013    phi2 50.333   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 140.265   Phi 48.764    phi2 33.189   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 242.814   Phi 110.588    phi2 232.852   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 92.510   Phi 46.345    phi2 119.163   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 318.053   Phi 143.864    phi2 218.363   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 214.805   Phi 52.797    phi2 124.312   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 307.032   Phi 97.338    phi2 293.098   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 134.419   Phi 25.228    phi2 1.115   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 7.616   Phi 144.061    phi2 350.247   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 186.689   Phi 60.263    phi2 141.552   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 49.516   Phi 135.113    phi2 163.138   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 38.815   Phi 115.808    phi2 270.309   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 280.029   Phi 58.047    phi2 23.873   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 92.242   Phi 141.577    phi2 314.770   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 260.439   Phi 12.306    phi2 1.596   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 226.958   Phi 82.352    phi2 234.979   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 14.992   Phi 90.277    phi2 142.705   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 9.496   Phi 124.977    phi2 223.932   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 348.411   Phi 39.127    phi2 62.791   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 338.840   Phi 46.397    phi2 98.831   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 213.078   Phi 67.589    phi2 239.066   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 342.208   Phi 78.033    phi2 69.054   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 216.429   Phi 29.333    phi2 134.113   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 135.252   Phi 70.722    phi2 311.968   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 1.339   Phi 77.290    phi2 321.216   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 108.998   Phi 40.977    phi2 164.926   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 46.597   Phi 90.269    phi2 111.360   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 247.116   Phi 96.882    phi2 312.767   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 332.490   Phi 155.743    phi2 286.136   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 238.139   Phi 39.210    phi2 164.473   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 333.208   Phi 77.605    phi2 225.499   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 350.952   Phi 136.871    phi2 159.408   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
