#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 123.595   Phi 99.622    phi2 92.568   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 152.677   Phi 73.952    phi2 109.660   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 239.633   Phi 133.445    phi2 169.759   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 294.575   Phi 117.163    phi2 161.185   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 322.385   Phi 152.005    phi2 355.423   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 42.009   Phi 143.350    phi2 170.489   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 160.704   Phi 42.166    phi2 85.385   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 283.261   Phi 34.092    phi2 236.337   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 124.444   Phi 51.389    phi2 85.269   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 54.962   Phi 26.361    phi2 136.924   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 13.105   Phi 96.856    phi2 130.369   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 73.949   Phi 44.092    phi2 243.319   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 334.204   Phi 154.371    phi2 173.781   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 90.368   Phi 110.281    phi2 311.549   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 313.443   Phi 103.933    phi2 139.165   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 45.238   Phi 114.377    phi2 298.903   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 345.715   Phi 42.714    phi2 50.952   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 62.122   Phi 96.478    phi2 243.923   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 203.640   Phi 13.594    phi2 131.477   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 159.967   Phi 150.654    phi2 282.836   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 126.249   Phi 66.725    phi2 307.759   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 116.211   Phi 94.164    phi2 12.318   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 250.305   Phi 20.132    phi2 174.403   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 15.325   Phi 106.979    phi2 268.725   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 271.646   Phi 49.149    phi2 333.382   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 281.261   Phi 120.578    phi2 157.740   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 276.862   Phi 75.093    phi2 282.541   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 265.181   Phi 20.682    phi2 50.669   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 35.234   Phi 49.014    phi2 113.515   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 85.989   Phi 108.029    phi2 217.197   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 236.686   Phi 60.266    phi2 33.591   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 345.344   Phi 45.741    phi2 230.620   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 311.363   Phi 145.693    phi2 244.120   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 137.793   Phi 84.400    phi2 225.090   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 330.409   Phi 126.035    phi2 229.185   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 271.361   Phi 37.575    phi2 339.676   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 224.794   Phi 28.700    phi2 57.443   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 322.061   Phi 106.653    phi2 347.549   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 139.242   Phi 172.418    phi2 37.745   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 46.090   Phi 128.280    phi2 177.275   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 325.061   Phi 67.184    phi2 182.212   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 193.539   Phi 66.329    phi2 52.100   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 286.745   Phi 54.610    phi2 328.393   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 10.568   Phi 70.501    phi2 259.114   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 267.679   Phi 141.334    phi2 313.647   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 268.078   Phi 135.881    phi2 312.685   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 75.025   Phi 54.158    phi2 85.199   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 105.362   Phi 65.695    phi2 264.957   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 278.695   Phi 40.599    phi2 304.790   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 50.041   Phi 120.713    phi2 290.897   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 25.448   Phi 94.054    phi2 76.648   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 266.258   Phi 72.141    phi2 317.615   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 160.187   Phi 57.501    phi2 150.679   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 69.306   Phi 52.803    phi2 206.813   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 296.571   Phi 146.008    phi2 110.568   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 47.115   Phi 132.418    phi2 270.252   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 268.988   Phi 90.453    phi2 144.071   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 129.468   Phi 48.205    phi2 200.368   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 9.574   Phi 52.280    phi2 257.977   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 329.600   Phi 73.363    phi2 237.550   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 83.260   Phi 79.515    phi2 233.217   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 179.011   Phi 135.328    phi2 325.286   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 134.469   Phi 62.593    phi2 57.373   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 136.513   Phi 82.458    phi2 254.760   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 286.888   Phi 111.510    phi2 183.441   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 179.976   Phi 24.334    phi2 29.834   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 51.776   Phi 130.021    phi2 154.139   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 102.870   Phi 46.227    phi2 310.635   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 288.545   Phi 92.595    phi2 347.895   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 281.345   Phi 81.510    phi2 242.443   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 356.116   Phi 35.159    phi2 199.058   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 4.666   Phi 37.265    phi2 246.613   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 73.168   Phi 87.614    phi2 344.893   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 196.387   Phi 18.595    phi2 287.400   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 302.268   Phi 117.741    phi2 138.336   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 267.795   Phi 95.623    phi2 220.969   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 102.592   Phi 60.903    phi2 258.336   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 228.368   Phi 93.927    phi2 45.183   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 22.647   Phi 92.599    phi2 298.947   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 358.667   Phi 144.182    phi2 30.246   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 87.706   Phi 49.720    phi2 228.154   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 59.220   Phi 141.413    phi2 45.468   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 128.385   Phi 128.527    phi2 343.961   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 132.130   Phi 38.540    phi2 95.548   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 219.199   Phi 72.963    phi2 29.638   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 265.582   Phi 94.518    phi2 121.111   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 358.546   Phi 100.723    phi2 6.690   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 101.540   Phi 163.477    phi2 81.882   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 205.261   Phi 72.551    phi2 60.920   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 10.307   Phi 90.126    phi2 209.952   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 80.441   Phi 86.568    phi2 182.506   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 188.551   Phi 14.276    phi2 137.449   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 279.928   Phi 100.943    phi2 253.621   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 358.768   Phi 169.371    phi2 87.292   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 274.629   Phi 43.223    phi2 208.552   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 224.804   Phi 71.374    phi2 106.407   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 198.088   Phi 161.849    phi2 99.621   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 294.617   Phi 123.325    phi2 151.812   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 172.115   Phi 103.504    phi2 240.943   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 345.363   Phi 44.149    phi2 320.345   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 340.223   Phi 83.501    phi2 49.984   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 241.538   Phi 101.702    phi2 349.680   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 232.903   Phi 60.211    phi2 207.765   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 127.793   Phi 24.394    phi2 7.735   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 140.769   Phi 98.265    phi2 168.065   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 128.949   Phi 65.802    phi2 133.753   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 352.460   Phi 98.296    phi2 54.473   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 303.731   Phi 143.644    phi2 349.258   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 348.003   Phi 133.638    phi2 161.048   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 45.476   Phi 76.869    phi2 323.795   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 251.717   Phi 69.948    phi2 325.544   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 175.532   Phi 73.688    phi2 226.761   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 127.920   Phi 47.805    phi2 288.607   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 232.134   Phi 106.756    phi2 220.824   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 314.877   Phi 89.758    phi2 75.206   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 199.710   Phi 100.840    phi2 176.611   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 189.818   Phi 118.861    phi2 144.786   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 359.185   Phi 42.688    phi2 250.210   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 239.888   Phi 133.830    phi2 36.633   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 132.972   Phi 111.285    phi2 18.264   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 45.660   Phi 104.186    phi2 93.933   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 53.012   Phi 97.424    phi2 284.727   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 157.663   Phi 64.282    phi2 313.658   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 223.105   Phi 87.460    phi2 7.170   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 249.796   Phi 69.852    phi2 56.920   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 248.841   Phi 123.067    phi2 16.518   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 165.625   Phi 69.047    phi2 187.927   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 20.368   Phi 108.224    phi2 195.973   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 345.678   Phi 120.195    phi2 93.922   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 131.478   Phi 70.747    phi2 94.640   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 300.930   Phi 103.766    phi2 302.468   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 235.631   Phi 23.291    phi2 175.312   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 0.333   Phi 76.661    phi2 10.334   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 32.856   Phi 44.409    phi2 11.479   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 176.147   Phi 70.815    phi2 177.908   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 231.782   Phi 131.004    phi2 188.490   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 322.738   Phi 38.088    phi2 106.053   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 151.010   Phi 45.805    phi2 14.088   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 251.703   Phi 106.625    phi2 356.625   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 199.324   Phi 100.067    phi2 122.251   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 332.811   Phi 122.937    phi2 45.356   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 220.704   Phi 35.341    phi2 308.435   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 193.130   Phi 130.853    phi2 319.844   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 126.032   Phi 54.790    phi2 293.658   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 55.806   Phi 107.672    phi2 210.163   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 290.828   Phi 61.784    phi2 289.551   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 339.619   Phi 58.800    phi2 281.265   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 211.899   Phi 93.657    phi2 75.712   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 137.280   Phi 132.549    phi2 93.155   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 94.480   Phi 75.173    phi2 150.976   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 316.193   Phi 107.994    phi2 272.674   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 225.720   Phi 124.919    phi2 83.585   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 264.137   Phi 134.154    phi2 151.334   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 288.191   Phi 112.301    phi2 79.913   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 117.458   Phi 36.270    phi2 9.957   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 87.223   Phi 44.142    phi2 27.362   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 52.135   Phi 56.182    phi2 247.825   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 25.218   Phi 151.710    phi2 117.010   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 95.666   Phi 121.205    phi2 85.843   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 163.894   Phi 53.729    phi2 155.444   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 43.409   Phi 86.586    phi2 103.636   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 171.387   Phi 86.828    phi2 244.145   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 51.626   Phi 65.257    phi2 275.104   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 34.540   Phi 52.798    phi2 80.399   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 202.399   Phi 94.425    phi2 327.571   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 107.868   Phi 121.420    phi2 345.886   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 114.789   Phi 57.651    phi2 63.511   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 18.421   Phi 19.017    phi2 23.038   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 76.333   Phi 90.925    phi2 334.350   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 125.570   Phi 31.319    phi2 336.889   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 142.389   Phi 101.715    phi2 163.669   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 109.604   Phi 67.555    phi2 320.210   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 330.139   Phi 118.266    phi2 211.035   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 25.651   Phi 119.568    phi2 288.776   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 19.449   Phi 120.889    phi2 155.970   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 27.225   Phi 141.606    phi2 179.498   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 79.812   Phi 65.319    phi2 267.072   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 237.972   Phi 83.328    phi2 164.988   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 269.884   Phi 72.258    phi2 110.217   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 35.825   Phi 32.910    phi2 1.612   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 102.445   Phi 59.257    phi2 92.746   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 163.522   Phi 57.199    phi2 333.633   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 125.203   Phi 113.946    phi2 100.930   scatter 0.0   fraction 1.0 
[grain184]
(gauss) phi1 46.691   Phi 94.690    phi2 335.728   scatter 0.0   fraction 1.0 
[grain185]
(gauss) phi1 117.084   Phi 82.503    phi2 330.860   scatter 0.0   fraction 1.0 
[grain186]
(gauss) phi1 266.032   Phi 40.515    phi2 341.530   scatter 0.0   fraction 1.0 
[grain187]
(gauss) phi1 346.083   Phi 12.184    phi2 7.427   scatter 0.0   fraction 1.0 
[grain188]
(gauss) phi1 332.430   Phi 132.678    phi2 307.328   scatter 0.0   fraction 1.0 
[grain189]
(gauss) phi1 217.918   Phi 128.553    phi2 69.789   scatter 0.0   fraction 1.0 
[grain190]
(gauss) phi1 105.267   Phi 47.548    phi2 317.685   scatter 0.0   fraction 1.0 
[grain191]
(gauss) phi1 152.161   Phi 40.863    phi2 343.744   scatter 0.0   fraction 1.0 
[grain192]
(gauss) phi1 45.860   Phi 149.228    phi2 170.178   scatter 0.0   fraction 1.0 
[grain193]
(gauss) phi1 310.256   Phi 158.950    phi2 80.414   scatter 0.0   fraction 1.0 
[grain194]
(gauss) phi1 287.550   Phi 121.462    phi2 1.933   scatter 0.0   fraction 1.0 
[grain195]
(gauss) phi1 54.302   Phi 123.692    phi2 315.273   scatter 0.0   fraction 1.0 
[grain196]
(gauss) phi1 96.500   Phi 96.084    phi2 123.192   scatter 0.0   fraction 1.0 
[grain197]
(gauss) phi1 112.362   Phi 99.576    phi2 20.614   scatter 0.0   fraction 1.0 
[grain198]
(gauss) phi1 193.958   Phi 66.294    phi2 91.696   scatter 0.0   fraction 1.0 
[grain199]
(gauss) phi1 356.345   Phi 133.331    phi2 129.601   scatter 0.0   fraction 1.0 
[grain200]
(gauss) phi1 188.645   Phi 113.059    phi2 49.538   scatter 0.0   fraction 1.0 
[grain201]
(gauss) phi1 196.290   Phi 104.940    phi2 215.871   scatter 0.0   fraction 1.0 
[grain202]
(gauss) phi1 232.626   Phi 92.809    phi2 55.611   scatter 0.0   fraction 1.0 
[grain203]
(gauss) phi1 42.979   Phi 62.821    phi2 40.103   scatter 0.0   fraction 1.0 
[grain204]
(gauss) phi1 275.874   Phi 97.140    phi2 154.084   scatter 0.0   fraction 1.0 
[grain205]
(gauss) phi1 65.883   Phi 103.325    phi2 298.266   scatter 0.0   fraction 1.0 
[grain206]
(gauss) phi1 42.856   Phi 101.248    phi2 326.874   scatter 0.0   fraction 1.0 
[grain207]
(gauss) phi1 106.497   Phi 40.394    phi2 105.702   scatter 0.0   fraction 1.0 
[grain208]
(gauss) phi1 116.627   Phi 44.961    phi2 288.360   scatter 0.0   fraction 1.0 
[grain209]
(gauss) phi1 244.007   Phi 135.638    phi2 118.098   scatter 0.0   fraction 1.0 
[grain210]
(gauss) phi1 8.640   Phi 37.448    phi2 256.640   scatter 0.0   fraction 1.0 
[grain211]
(gauss) phi1 130.102   Phi 100.000    phi2 46.117   scatter 0.0   fraction 1.0 
[grain212]
(gauss) phi1 175.162   Phi 73.510    phi2 220.181   scatter 0.0   fraction 1.0 
[grain213]
(gauss) phi1 316.344   Phi 79.956    phi2 112.538   scatter 0.0   fraction 1.0 
[grain214]
(gauss) phi1 223.432   Phi 80.254    phi2 35.405   scatter 0.0   fraction 1.0 
[grain215]
(gauss) phi1 128.146   Phi 82.230    phi2 199.952   scatter 0.0   fraction 1.0 
[grain216]
(gauss) phi1 158.677   Phi 69.444    phi2 250.360   scatter 0.0   fraction 1.0 
[grain217]
(gauss) phi1 28.709   Phi 91.890    phi2 250.181   scatter 0.0   fraction 1.0 
[grain218]
(gauss) phi1 48.651   Phi 75.653    phi2 137.780   scatter 0.0   fraction 1.0 
[grain219]
(gauss) phi1 232.402   Phi 79.964    phi2 172.313   scatter 0.0   fraction 1.0 
[grain220]
(gauss) phi1 317.897   Phi 86.540    phi2 298.332   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
[grain184]
crystallite 1
(constituent)   phase 1 texture 184 fraction 1.0
[grain185]
crystallite 1
(constituent)   phase 1 texture 185 fraction 1.0
[grain186]
crystallite 1
(constituent)   phase 1 texture 186 fraction 1.0
[grain187]
crystallite 1
(constituent)   phase 1 texture 187 fraction 1.0
[grain188]
crystallite 1
(constituent)   phase 1 texture 188 fraction 1.0
[grain189]
crystallite 1
(constituent)   phase 1 texture 189 fraction 1.0
[grain190]
crystallite 1
(constituent)   phase 1 texture 190 fraction 1.0
[grain191]
crystallite 1
(constituent)   phase 1 texture 191 fraction 1.0
[grain192]
crystallite 1
(constituent)   phase 1 texture 192 fraction 1.0
[grain193]
crystallite 1
(constituent)   phase 1 texture 193 fraction 1.0
[grain194]
crystallite 1
(constituent)   phase 1 texture 194 fraction 1.0
[grain195]
crystallite 1
(constituent)   phase 1 texture 195 fraction 1.0
[grain196]
crystallite 1
(constituent)   phase 1 texture 196 fraction 1.0
[grain197]
crystallite 1
(constituent)   phase 1 texture 197 fraction 1.0
[grain198]
crystallite 1
(constituent)   phase 1 texture 198 fraction 1.0
[grain199]
crystallite 1
(constituent)   phase 1 texture 199 fraction 1.0
[grain200]
crystallite 1
(constituent)   phase 1 texture 200 fraction 1.0
[grain201]
crystallite 1
(constituent)   phase 1 texture 201 fraction 1.0
[grain202]
crystallite 1
(constituent)   phase 1 texture 202 fraction 1.0
[grain203]
crystallite 1
(constituent)   phase 1 texture 203 fraction 1.0
[grain204]
crystallite 1
(constituent)   phase 1 texture 204 fraction 1.0
[grain205]
crystallite 1
(constituent)   phase 1 texture 205 fraction 1.0
[grain206]
crystallite 1
(constituent)   phase 1 texture 206 fraction 1.0
[grain207]
crystallite 1
(constituent)   phase 1 texture 207 fraction 1.0
[grain208]
crystallite 1
(constituent)   phase 1 texture 208 fraction 1.0
[grain209]
crystallite 1
(constituent)   phase 1 texture 209 fraction 1.0
[grain210]
crystallite 1
(constituent)   phase 1 texture 210 fraction 1.0
[grain211]
crystallite 1
(constituent)   phase 1 texture 211 fraction 1.0
[grain212]
crystallite 1
(constituent)   phase 1 texture 212 fraction 1.0
[grain213]
crystallite 1
(constituent)   phase 1 texture 213 fraction 1.0
[grain214]
crystallite 1
(constituent)   phase 1 texture 214 fraction 1.0
[grain215]
crystallite 1
(constituent)   phase 1 texture 215 fraction 1.0
[grain216]
crystallite 1
(constituent)   phase 1 texture 216 fraction 1.0
[grain217]
crystallite 1
(constituent)   phase 1 texture 217 fraction 1.0
[grain218]
crystallite 1
(constituent)   phase 1 texture 218 fraction 1.0
[grain219]
crystallite 1
(constituent)   phase 1 texture 219 fraction 1.0
[grain220]
crystallite 1
(constituent)   phase 1 texture 220 fraction 1.0
