#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 246.966   Phi 49.905    phi2 207.708   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 352.426   Phi 107.943    phi2 171.844   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 92.882   Phi 163.544    phi2 330.929   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 94.092   Phi 170.510    phi2 259.998   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 65.462   Phi 61.535    phi2 333.053   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 243.052   Phi 58.349    phi2 122.883   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 26.360   Phi 121.979    phi2 153.235   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 29.017   Phi 113.261    phi2 30.609   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 199.674   Phi 99.725    phi2 188.701   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 343.475   Phi 108.384    phi2 221.988   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 32.513   Phi 49.132    phi2 114.456   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 77.732   Phi 154.875    phi2 40.878   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 250.541   Phi 104.251    phi2 228.827   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 220.265   Phi 162.920    phi2 299.310   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 108.134   Phi 23.039    phi2 238.777   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 267.285   Phi 122.987    phi2 329.397   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 126.645   Phi 87.044    phi2 31.065   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 236.409   Phi 87.197    phi2 48.915   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 144.855   Phi 75.484    phi2 312.636   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 34.399   Phi 114.412    phi2 304.695   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 175.930   Phi 32.935    phi2 29.131   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 143.677   Phi 23.408    phi2 2.437   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 229.611   Phi 103.492    phi2 239.667   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 270.425   Phi 143.636    phi2 19.662   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 259.452   Phi 41.445    phi2 97.070   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 73.692   Phi 83.282    phi2 348.733   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 225.968   Phi 19.670    phi2 270.415   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 123.570   Phi 72.118    phi2 66.421   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 207.837   Phi 110.409    phi2 342.575   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 154.586   Phi 122.019    phi2 227.979   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 231.369   Phi 119.089    phi2 296.120   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 5.424   Phi 135.081    phi2 182.737   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 148.276   Phi 114.020    phi2 231.717   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 222.584   Phi 63.843    phi2 206.332   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 181.197   Phi 68.832    phi2 95.135   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 77.611   Phi 95.693    phi2 348.527   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 56.046   Phi 143.990    phi2 220.181   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 107.043   Phi 103.634    phi2 343.481   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 334.232   Phi 100.886    phi2 191.806   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 44.975   Phi 50.116    phi2 190.231   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 335.778   Phi 26.108    phi2 238.601   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 327.678   Phi 85.387    phi2 233.725   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 147.431   Phi 93.706    phi2 247.421   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 262.033   Phi 141.871    phi2 293.716   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 22.558   Phi 152.815    phi2 110.435   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 9.961   Phi 140.950    phi2 308.577   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 110.553   Phi 31.124    phi2 326.326   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 101.109   Phi 63.153    phi2 94.426   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 38.980   Phi 85.006    phi2 267.423   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 130.247   Phi 45.617    phi2 252.261   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 328.938   Phi 125.626    phi2 127.976   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 56.584   Phi 134.359    phi2 52.970   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 276.565   Phi 132.658    phi2 208.134   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 325.189   Phi 123.463    phi2 296.085   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 185.889   Phi 113.347    phi2 135.792   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 106.758   Phi 83.690    phi2 63.906   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 157.221   Phi 35.306    phi2 4.098   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 328.721   Phi 80.277    phi2 168.322   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 196.228   Phi 82.860    phi2 270.816   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 289.447   Phi 130.314    phi2 131.604   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 154.603   Phi 38.641    phi2 115.252   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 126.415   Phi 42.349    phi2 88.218   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 317.038   Phi 89.934    phi2 134.689   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 175.695   Phi 148.947    phi2 348.082   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 225.707   Phi 135.353    phi2 274.148   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 329.886   Phi 13.269    phi2 232.989   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 30.653   Phi 120.523    phi2 127.066   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 223.262   Phi 119.099    phi2 181.251   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 191.973   Phi 104.729    phi2 14.884   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 13.608   Phi 43.234    phi2 134.028   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 25.450   Phi 131.143    phi2 321.759   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 95.681   Phi 81.581    phi2 186.810   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 115.914   Phi 129.532    phi2 76.329   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 79.581   Phi 84.607    phi2 71.444   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 261.644   Phi 150.889    phi2 219.687   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 285.184   Phi 139.492    phi2 139.284   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 222.269   Phi 66.693    phi2 44.448   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 278.147   Phi 135.790    phi2 84.536   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 190.483   Phi 91.775    phi2 315.370   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 191.298   Phi 137.498    phi2 191.385   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 231.172   Phi 128.512    phi2 299.517   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 86.422   Phi 160.107    phi2 288.331   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 157.217   Phi 59.728    phi2 175.659   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 330.478   Phi 50.078    phi2 254.304   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 355.088   Phi 144.827    phi2 180.170   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 216.771   Phi 29.237    phi2 135.831   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 24.149   Phi 49.313    phi2 26.021   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 55.850   Phi 82.120    phi2 150.531   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 251.034   Phi 40.115    phi2 0.316   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 146.417   Phi 168.763    phi2 110.671   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 45.092   Phi 87.741    phi2 255.152   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 228.848   Phi 126.159    phi2 194.322   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 323.363   Phi 100.818    phi2 139.426   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 262.888   Phi 127.286    phi2 341.939   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 210.673   Phi 160.189    phi2 258.135   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 344.917   Phi 84.388    phi2 65.449   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 355.799   Phi 30.640    phi2 119.118   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 184.585   Phi 59.996    phi2 295.809   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 275.383   Phi 124.148    phi2 13.863   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 180.040   Phi 36.363    phi2 315.386   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 15.540   Phi 65.534    phi2 187.834   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 12.558   Phi 87.086    phi2 86.912   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 296.250   Phi 30.737    phi2 191.238   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 210.324   Phi 122.815    phi2 143.819   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 179.528   Phi 65.747    phi2 202.369   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 331.020   Phi 163.581    phi2 159.792   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 186.006   Phi 57.105    phi2 297.561   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 329.357   Phi 110.548    phi2 125.206   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 313.889   Phi 143.269    phi2 9.889   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 226.773   Phi 67.755    phi2 54.598   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 333.849   Phi 45.982    phi2 151.793   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 150.699   Phi 122.571    phi2 306.877   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 142.868   Phi 107.594    phi2 59.512   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 145.417   Phi 139.461    phi2 250.618   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 51.373   Phi 19.106    phi2 253.780   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 135.246   Phi 43.603    phi2 356.506   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 331.087   Phi 78.891    phi2 68.979   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 134.764   Phi 124.479    phi2 126.516   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 251.733   Phi 102.594    phi2 179.947   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 278.742   Phi 118.146    phi2 303.165   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 28.136   Phi 138.380    phi2 328.314   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 238.591   Phi 52.069    phi2 348.108   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 199.583   Phi 138.010    phi2 213.771   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 161.246   Phi 48.724    phi2 24.714   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 336.345   Phi 75.526    phi2 277.414   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 184.336   Phi 140.230    phi2 312.701   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 314.581   Phi 89.934    phi2 38.028   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 129.592   Phi 92.703    phi2 162.675   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 106.455   Phi 56.871    phi2 310.863   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 65.211   Phi 168.137    phi2 112.220   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 228.294   Phi 92.620    phi2 334.116   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 357.860   Phi 90.053    phi2 21.980   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 195.704   Phi 106.059    phi2 324.833   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 344.903   Phi 26.498    phi2 273.683   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 190.630   Phi 132.363    phi2 181.844   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 310.105   Phi 149.807    phi2 65.623   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 256.759   Phi 137.521    phi2 187.990   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 276.172   Phi 25.818    phi2 208.399   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 173.621   Phi 78.246    phi2 172.800   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 47.085   Phi 80.521    phi2 334.935   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 26.360   Phi 121.979    phi2 153.235   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 316.387   Phi 133.146    phi2 6.878   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 38.595   Phi 44.216    phi2 313.266   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 220.680   Phi 60.466    phi2 47.696   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 50.678   Phi 85.545    phi2 242.684   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 152.063   Phi 57.107    phi2 157.616   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 3.301   Phi 29.380    phi2 66.577   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 88.593   Phi 53.464    phi2 285.226   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 143.517   Phi 108.086    phi2 32.532   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 191.303   Phi 115.347    phi2 340.832   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 332.737   Phi 44.367    phi2 337.711   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 52.920   Phi 121.509    phi2 171.001   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 235.190   Phi 63.994    phi2 323.969   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 13.252   Phi 37.674    phi2 339.402   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 235.507   Phi 23.393    phi2 133.852   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 337.875   Phi 113.104    phi2 174.231   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 270.950   Phi 5.240    phi2 51.359   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 171.170   Phi 126.173    phi2 230.213   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 133.516   Phi 114.969    phi2 108.405   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 161.513   Phi 40.143    phi2 66.077   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 107.677   Phi 116.571    phi2 249.628   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 213.356   Phi 114.352    phi2 144.744   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 320.068   Phi 37.030    phi2 72.401   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 35.846   Phi 144.392    phi2 335.194   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 305.121   Phi 134.255    phi2 340.759   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 340.026   Phi 52.001    phi2 155.895   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 12.300   Phi 61.269    phi2 16.528   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 295.341   Phi 90.394    phi2 49.458   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 74.329   Phi 31.969    phi2 156.699   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 22.146   Phi 135.034    phi2 59.340   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 208.342   Phi 116.303    phi2 135.523   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 199.197   Phi 43.737    phi2 307.281   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 285.215   Phi 38.409    phi2 280.543   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 251.868   Phi 103.016    phi2 244.203   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 294.425   Phi 11.732    phi2 230.494   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 152.266   Phi 75.978    phi2 249.255   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 257.526   Phi 116.971    phi2 212.085   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 203.610   Phi 81.930    phi2 126.107   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 317.344   Phi 21.142    phi2 15.153   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 282.525   Phi 145.628    phi2 66.973   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 4.479   Phi 97.746    phi2 113.670   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 100.036   Phi 85.867    phi2 199.286   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 209.954   Phi 118.410    phi2 75.841   scatter 0.0   fraction 1.0 
[grain184]
(gauss) phi1 30.890   Phi 108.897    phi2 270.592   scatter 0.0   fraction 1.0 
[grain185]
(gauss) phi1 292.721   Phi 155.852    phi2 112.122   scatter 0.0   fraction 1.0 
[grain186]
(gauss) phi1 97.893   Phi 75.412    phi2 236.373   scatter 0.0   fraction 1.0 
[grain187]
(gauss) phi1 95.791   Phi 32.032    phi2 77.541   scatter 0.0   fraction 1.0 
[grain188]
(gauss) phi1 135.542   Phi 52.468    phi2 65.391   scatter 0.0   fraction 1.0 
[grain189]
(gauss) phi1 236.144   Phi 71.058    phi2 65.044   scatter 0.0   fraction 1.0 
[grain190]
(gauss) phi1 291.343   Phi 111.643    phi2 210.226   scatter 0.0   fraction 1.0 
[grain191]
(gauss) phi1 355.618   Phi 67.431    phi2 19.356   scatter 0.0   fraction 1.0 
[grain192]
(gauss) phi1 256.719   Phi 85.219    phi2 331.767   scatter 0.0   fraction 1.0 
[grain193]
(gauss) phi1 289.365   Phi 113.686    phi2 118.365   scatter 0.0   fraction 1.0 
[grain194]
(gauss) phi1 180.363   Phi 174.834    phi2 332.362   scatter 0.0   fraction 1.0 
[grain195]
(gauss) phi1 14.135   Phi 124.697    phi2 175.384   scatter 0.0   fraction 1.0 
[grain196]
(gauss) phi1 188.060   Phi 64.622    phi2 358.934   scatter 0.0   fraction 1.0 
[grain197]
(gauss) phi1 273.094   Phi 11.044    phi2 231.272   scatter 0.0   fraction 1.0 
[grain198]
(gauss) phi1 106.293   Phi 112.912    phi2 210.919   scatter 0.0   fraction 1.0 
[grain199]
(gauss) phi1 223.795   Phi 98.788    phi2 290.388   scatter 0.0   fraction 1.0 
[grain200]
(gauss) phi1 189.490   Phi 149.346    phi2 272.225   scatter 0.0   fraction 1.0 
[grain201]
(gauss) phi1 321.596   Phi 98.944    phi2 113.116   scatter 0.0   fraction 1.0 
[grain202]
(gauss) phi1 231.318   Phi 49.459    phi2 58.635   scatter 0.0   fraction 1.0 
[grain203]
(gauss) phi1 118.245   Phi 136.785    phi2 48.487   scatter 0.0   fraction 1.0 
[grain204]
(gauss) phi1 157.604   Phi 134.980    phi2 166.253   scatter 0.0   fraction 1.0 
[grain205]
(gauss) phi1 331.064   Phi 18.600    phi2 147.270   scatter 0.0   fraction 1.0 
[grain206]
(gauss) phi1 311.459   Phi 99.793    phi2 252.459   scatter 0.0   fraction 1.0 
[grain207]
(gauss) phi1 215.755   Phi 135.584    phi2 143.144   scatter 0.0   fraction 1.0 
[grain208]
(gauss) phi1 250.134   Phi 73.824    phi2 12.389   scatter 0.0   fraction 1.0 
[grain209]
(gauss) phi1 26.241   Phi 122.155    phi2 343.359   scatter 0.0   fraction 1.0 
[grain210]
(gauss) phi1 210.598   Phi 106.847    phi2 128.310   scatter 0.0   fraction 1.0 
[grain211]
(gauss) phi1 162.251   Phi 80.833    phi2 318.819   scatter 0.0   fraction 1.0 
[grain212]
(gauss) phi1 22.046   Phi 68.192    phi2 77.865   scatter 0.0   fraction 1.0 
[grain213]
(gauss) phi1 25.567   Phi 100.865    phi2 81.453   scatter 0.0   fraction 1.0 
[grain214]
(gauss) phi1 269.634   Phi 63.998    phi2 63.877   scatter 0.0   fraction 1.0 
[grain215]
(gauss) phi1 55.598   Phi 42.999    phi2 259.122   scatter 0.0   fraction 1.0 
[grain216]
(gauss) phi1 149.823   Phi 63.634    phi2 182.811   scatter 0.0   fraction 1.0 
[grain217]
(gauss) phi1 114.916   Phi 108.452    phi2 19.041   scatter 0.0   fraction 1.0 
[grain218]
(gauss) phi1 41.868   Phi 52.167    phi2 104.728   scatter 0.0   fraction 1.0 
[grain219]
(gauss) phi1 171.198   Phi 28.395    phi2 153.820   scatter 0.0   fraction 1.0 
[grain220]
(gauss) phi1 80.219   Phi 59.910    phi2 278.517   scatter 0.0   fraction 1.0 
[grain221]
(gauss) phi1 353.797   Phi 112.865    phi2 29.540   scatter 0.0   fraction 1.0 
[grain222]
(gauss) phi1 40.941   Phi 129.199    phi2 109.595   scatter 0.0   fraction 1.0 
[grain223]
(gauss) phi1 159.528   Phi 126.705    phi2 329.353   scatter 0.0   fraction 1.0 
[grain224]
(gauss) phi1 203.704   Phi 116.987    phi2 185.049   scatter 0.0   fraction 1.0 
[grain225]
(gauss) phi1 36.351   Phi 76.959    phi2 64.710   scatter 0.0   fraction 1.0 
[grain226]
(gauss) phi1 185.289   Phi 134.848    phi2 309.434   scatter 0.0   fraction 1.0 
[grain227]
(gauss) phi1 5.482   Phi 35.156    phi2 168.391   scatter 0.0   fraction 1.0 
[grain228]
(gauss) phi1 133.697   Phi 52.839    phi2 326.757   scatter 0.0   fraction 1.0 
[grain229]
(gauss) phi1 37.759   Phi 63.348    phi2 201.003   scatter 0.0   fraction 1.0 
[grain230]
(gauss) phi1 311.885   Phi 170.671    phi2 284.029   scatter 0.0   fraction 1.0 
[grain231]
(gauss) phi1 16.582   Phi 39.967    phi2 211.520   scatter 0.0   fraction 1.0 
[grain232]
(gauss) phi1 46.478   Phi 58.104    phi2 182.560   scatter 0.0   fraction 1.0 
[grain233]
(gauss) phi1 166.672   Phi 41.279    phi2 334.525   scatter 0.0   fraction 1.0 
[grain234]
(gauss) phi1 295.839   Phi 72.667    phi2 303.133   scatter 0.0   fraction 1.0 
[grain235]
(gauss) phi1 198.332   Phi 117.799    phi2 300.222   scatter 0.0   fraction 1.0 
[grain236]
(gauss) phi1 286.515   Phi 42.517    phi2 198.492   scatter 0.0   fraction 1.0 
[grain237]
(gauss) phi1 194.526   Phi 42.448    phi2 29.035   scatter 0.0   fraction 1.0 
[grain238]
(gauss) phi1 342.990   Phi 58.629    phi2 210.153   scatter 0.0   fraction 1.0 
[grain239]
(gauss) phi1 95.791   Phi 32.032    phi2 77.541   scatter 0.0   fraction 1.0 
[grain240]
(gauss) phi1 74.410   Phi 86.609    phi2 359.134   scatter 0.0   fraction 1.0 
[grain241]
(gauss) phi1 129.638   Phi 165.950    phi2 41.984   scatter 0.0   fraction 1.0 
[grain242]
(gauss) phi1 118.665   Phi 111.191    phi2 48.988   scatter 0.0   fraction 1.0 
[grain243]
(gauss) phi1 214.020   Phi 130.453    phi2 15.190   scatter 0.0   fraction 1.0 
[grain244]
(gauss) phi1 147.978   Phi 65.054    phi2 146.476   scatter 0.0   fraction 1.0 
[grain245]
(gauss) phi1 40.731   Phi 136.777    phi2 54.410   scatter 0.0   fraction 1.0 
[grain246]
(gauss) phi1 340.891   Phi 47.262    phi2 230.892   scatter 0.0   fraction 1.0 
[grain247]
(gauss) phi1 120.068   Phi 61.966    phi2 19.874   scatter 0.0   fraction 1.0 
[grain248]
(gauss) phi1 275.348   Phi 82.434    phi2 32.566   scatter 0.0   fraction 1.0 
[grain249]
(gauss) phi1 190.917   Phi 133.863    phi2 107.805   scatter 0.0   fraction 1.0 
[grain250]
(gauss) phi1 309.021   Phi 94.351    phi2 29.821   scatter 0.0   fraction 1.0 
[grain251]
(gauss) phi1 288.785   Phi 142.667    phi2 19.490   scatter 0.0   fraction 1.0 
[grain252]
(gauss) phi1 316.432   Phi 42.677    phi2 47.813   scatter 0.0   fraction 1.0 
[grain253]
(gauss) phi1 61.280   Phi 95.333    phi2 74.229   scatter 0.0   fraction 1.0 
[grain254]
(gauss) phi1 25.733   Phi 19.087    phi2 344.600   scatter 0.0   fraction 1.0 
[grain255]
(gauss) phi1 34.486   Phi 62.608    phi2 68.112   scatter 0.0   fraction 1.0 
[grain256]
(gauss) phi1 152.042   Phi 49.012    phi2 245.524   scatter 0.0   fraction 1.0 
[grain257]
(gauss) phi1 316.034   Phi 134.930    phi2 212.332   scatter 0.0   fraction 1.0 
[grain258]
(gauss) phi1 126.880   Phi 127.973    phi2 96.353   scatter 0.0   fraction 1.0 
[grain259]
(gauss) phi1 263.749   Phi 73.376    phi2 168.163   scatter 0.0   fraction 1.0 
[grain260]
(gauss) phi1 12.630   Phi 44.732    phi2 125.362   scatter 0.0   fraction 1.0 
[grain261]
(gauss) phi1 248.811   Phi 98.511    phi2 342.554   scatter 0.0   fraction 1.0 
[grain262]
(gauss) phi1 219.375   Phi 81.951    phi2 191.855   scatter 0.0   fraction 1.0 
[grain263]
(gauss) phi1 304.481   Phi 51.494    phi2 101.992   scatter 0.0   fraction 1.0 
[grain264]
(gauss) phi1 131.024   Phi 64.970    phi2 226.480   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
[grain184]
crystallite 1
(constituent)   phase 1 texture 184 fraction 1.0
[grain185]
crystallite 1
(constituent)   phase 1 texture 185 fraction 1.0
[grain186]
crystallite 1
(constituent)   phase 1 texture 186 fraction 1.0
[grain187]
crystallite 1
(constituent)   phase 1 texture 187 fraction 1.0
[grain188]
crystallite 1
(constituent)   phase 1 texture 188 fraction 1.0
[grain189]
crystallite 1
(constituent)   phase 1 texture 189 fraction 1.0
[grain190]
crystallite 1
(constituent)   phase 1 texture 190 fraction 1.0
[grain191]
crystallite 1
(constituent)   phase 1 texture 191 fraction 1.0
[grain192]
crystallite 1
(constituent)   phase 1 texture 192 fraction 1.0
[grain193]
crystallite 1
(constituent)   phase 1 texture 193 fraction 1.0
[grain194]
crystallite 1
(constituent)   phase 1 texture 194 fraction 1.0
[grain195]
crystallite 1
(constituent)   phase 1 texture 195 fraction 1.0
[grain196]
crystallite 1
(constituent)   phase 1 texture 196 fraction 1.0
[grain197]
crystallite 1
(constituent)   phase 1 texture 197 fraction 1.0
[grain198]
crystallite 1
(constituent)   phase 1 texture 198 fraction 1.0
[grain199]
crystallite 1
(constituent)   phase 1 texture 199 fraction 1.0
[grain200]
crystallite 1
(constituent)   phase 1 texture 200 fraction 1.0
[grain201]
crystallite 1
(constituent)   phase 1 texture 201 fraction 1.0
[grain202]
crystallite 1
(constituent)   phase 1 texture 202 fraction 1.0
[grain203]
crystallite 1
(constituent)   phase 1 texture 203 fraction 1.0
[grain204]
crystallite 1
(constituent)   phase 1 texture 204 fraction 1.0
[grain205]
crystallite 1
(constituent)   phase 1 texture 205 fraction 1.0
[grain206]
crystallite 1
(constituent)   phase 1 texture 206 fraction 1.0
[grain207]
crystallite 1
(constituent)   phase 1 texture 207 fraction 1.0
[grain208]
crystallite 1
(constituent)   phase 1 texture 208 fraction 1.0
[grain209]
crystallite 1
(constituent)   phase 1 texture 209 fraction 1.0
[grain210]
crystallite 1
(constituent)   phase 1 texture 210 fraction 1.0
[grain211]
crystallite 1
(constituent)   phase 1 texture 211 fraction 1.0
[grain212]
crystallite 1
(constituent)   phase 1 texture 212 fraction 1.0
[grain213]
crystallite 1
(constituent)   phase 1 texture 213 fraction 1.0
[grain214]
crystallite 1
(constituent)   phase 1 texture 214 fraction 1.0
[grain215]
crystallite 1
(constituent)   phase 1 texture 215 fraction 1.0
[grain216]
crystallite 1
(constituent)   phase 1 texture 216 fraction 1.0
[grain217]
crystallite 1
(constituent)   phase 1 texture 217 fraction 1.0
[grain218]
crystallite 1
(constituent)   phase 1 texture 218 fraction 1.0
[grain219]
crystallite 1
(constituent)   phase 1 texture 219 fraction 1.0
[grain220]
crystallite 1
(constituent)   phase 1 texture 220 fraction 1.0
[grain221]
crystallite 1
(constituent)   phase 1 texture 221 fraction 1.0
[grain222]
crystallite 1
(constituent)   phase 1 texture 222 fraction 1.0
[grain223]
crystallite 1
(constituent)   phase 1 texture 223 fraction 1.0
[grain224]
crystallite 1
(constituent)   phase 1 texture 224 fraction 1.0
[grain225]
crystallite 1
(constituent)   phase 1 texture 225 fraction 1.0
[grain226]
crystallite 1
(constituent)   phase 1 texture 226 fraction 1.0
[grain227]
crystallite 1
(constituent)   phase 1 texture 227 fraction 1.0
[grain228]
crystallite 1
(constituent)   phase 1 texture 228 fraction 1.0
[grain229]
crystallite 1
(constituent)   phase 1 texture 229 fraction 1.0
[grain230]
crystallite 1
(constituent)   phase 1 texture 230 fraction 1.0
[grain231]
crystallite 1
(constituent)   phase 1 texture 231 fraction 1.0
[grain232]
crystallite 1
(constituent)   phase 1 texture 232 fraction 1.0
[grain233]
crystallite 1
(constituent)   phase 1 texture 233 fraction 1.0
[grain234]
crystallite 1
(constituent)   phase 1 texture 234 fraction 1.0
[grain235]
crystallite 1
(constituent)   phase 1 texture 235 fraction 1.0
[grain236]
crystallite 1
(constituent)   phase 1 texture 236 fraction 1.0
[grain237]
crystallite 1
(constituent)   phase 1 texture 237 fraction 1.0
[grain238]
crystallite 1
(constituent)   phase 1 texture 238 fraction 1.0
[grain239]
crystallite 1
(constituent)   phase 1 texture 239 fraction 1.0
[grain240]
crystallite 1
(constituent)   phase 1 texture 240 fraction 1.0
[grain241]
crystallite 1
(constituent)   phase 1 texture 241 fraction 1.0
[grain242]
crystallite 1
(constituent)   phase 1 texture 242 fraction 1.0
[grain243]
crystallite 1
(constituent)   phase 1 texture 243 fraction 1.0
[grain244]
crystallite 1
(constituent)   phase 1 texture 244 fraction 1.0
[grain245]
crystallite 1
(constituent)   phase 1 texture 245 fraction 1.0
[grain246]
crystallite 1
(constituent)   phase 1 texture 246 fraction 1.0
[grain247]
crystallite 1
(constituent)   phase 1 texture 247 fraction 1.0
[grain248]
crystallite 1
(constituent)   phase 1 texture 248 fraction 1.0
[grain249]
crystallite 1
(constituent)   phase 1 texture 249 fraction 1.0
[grain250]
crystallite 1
(constituent)   phase 1 texture 250 fraction 1.0
[grain251]
crystallite 1
(constituent)   phase 1 texture 251 fraction 1.0
[grain252]
crystallite 1
(constituent)   phase 1 texture 252 fraction 1.0
[grain253]
crystallite 1
(constituent)   phase 1 texture 253 fraction 1.0
[grain254]
crystallite 1
(constituent)   phase 1 texture 254 fraction 1.0
[grain255]
crystallite 1
(constituent)   phase 1 texture 255 fraction 1.0
[grain256]
crystallite 1
(constituent)   phase 1 texture 256 fraction 1.0
[grain257]
crystallite 1
(constituent)   phase 1 texture 257 fraction 1.0
[grain258]
crystallite 1
(constituent)   phase 1 texture 258 fraction 1.0
[grain259]
crystallite 1
(constituent)   phase 1 texture 259 fraction 1.0
[grain260]
crystallite 1
(constituent)   phase 1 texture 260 fraction 1.0
[grain261]
crystallite 1
(constituent)   phase 1 texture 261 fraction 1.0
[grain262]
crystallite 1
(constituent)   phase 1 texture 262 fraction 1.0
[grain263]
crystallite 1
(constituent)   phase 1 texture 263 fraction 1.0
[grain264]
crystallite 1
(constituent)   phase 1 texture 264 fraction 1.0
