#-------------------#
<homogenization>
#-------------------#

# [dummy]
# mech			isostrain
# type			none
# nconstituents	1

[SX]
mech 			none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#


# parameters excerped from:
# DAMASK – The Düsseldorf Advanced Material Simulation Kit for modeling multi-physics crystal plasticity, thermal, and damage phenomena from the single crystal up to the component scale
# Table 4


[nickel_phenopowerlaw]
# slip only
elasticity              hooke
plasticity              phenopowerlaw

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                totalshear
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                totalvolfrac_twin

lattice_structure       fcc
Nslip                   12              # per family
Ntwin                    0              # per family

c11                     251.0e9
c12                     150.0e9
c44                     124.0e9

gdot0_slip              0.001
n_slip                  83.3
tau0_slip               26.1e6                 # per family
tausat_slip             240.0e6                # per family
a_slip                  1.0
gdot0_twin              0.001
n_twin                  20
h0_slipslip             365e9  # This value is very suspicious but it was excerpted from the paper
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
atol_resistance         1

#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 79.423   Phi 36.640    phi2 327.862   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 269.584   Phi 142.269    phi2 39.864   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 228.773   Phi 67.205    phi2 107.723   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 222.500   Phi 71.122    phi2 298.128   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 35.471   Phi 117.912    phi2 241.107   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 75.226   Phi 38.960    phi2 150.138   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 41.191   Phi 116.427    phi2 245.699   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 321.740   Phi 66.182    phi2 64.060   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 81.068   Phi 31.852    phi2 238.175   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 48.708   Phi 113.430    phi2 338.922   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 40.749   Phi 112.915    phi2 155.897   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 328.559   Phi 68.054    phi2 325.782   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 277.768   Phi 137.803    phi2 225.942   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 228.360   Phi 64.019    phi2 20.324   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 326.003   Phi 72.685    phi2 62.445   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 220.962   Phi 68.275    phi2 21.685   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 45.155   Phi 113.748    phi2 343.890   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 45.155   Phi 113.748    phi2 343.890   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 267.326   Phi 143.842    phi2 126.599   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 218.618   Phi 59.798    phi2 201.198   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 86.359   Phi 39.318    phi2 234.842   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 44.596   Phi 116.115    phi2 157.016   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 223.314   Phi 69.794    phi2 22.067   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 85.316   Phi 40.400    phi2 50.783   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 320.114   Phi 64.308    phi2 238.531   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 40.749   Phi 112.915    phi2 155.897   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 261.013   Phi 141.476    phi2 32.921   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 221.691   Phi 60.352    phi2 119.178   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 269.386   Phi 143.821    phi2 44.728   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 275.558   Phi 143.927    phi2 45.892   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 326.947   Phi 67.415    phi2 333.886   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 218.175   Phi 61.686    phi2 291.667   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 45.166   Phi 118.751    phi2 71.233   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 264.449   Phi 154.270    phi2 300.403   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 323.991   Phi 74.247    phi2 337.505   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 86.608   Phi 37.240    phi2 137.401   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 91.761   Phi 31.480    phi2 50.103   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 320.321   Phi 67.372    phi2 70.785   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 262.004   Phi 147.613    phi2 125.384   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 323.813   Phi 71.676    phi2 63.260   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 267.650   Phi 139.219    phi2 307.004   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
