#-------------------#
<homogenization>
#-------------------#

# [SX]
# mech			isostrain
# type			none
# nconstituents	1

[SX]
mech 			none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[Ni_nonlocal]

elasticity              hooke
plasticity              nonlocal
/nonlocal/

# (output)                rho
# (output)                rho_sgl_mobile
# (output)                rho_sgl_immobile
# (output)                rho_sgl_edge_pos
# (output)                rho_sgl_edge_neg
# (output)                rho_sgl_screw_pos
# (output)                rho_sgl_screw_neg
# (output)                rho_dip_edge
# (output)                rho_dip_screw
# (output)                rho_forest
# (output)                accumulatedshear
# (output)                shearrate
# (output)                resolvedstress
# (output)                resistance
# (output)                velocity_edge_pos
# (output)                rho_dot_gen
# (output)                rho_dot_sgl2dip_edge
# (output)                rho_dot_sgl2dip_screw
# (output)                rho_dot_ann_ath
# (output)                rho_dot_ann_the_edge
# (output)                rho_dot_ann_the_screw
# (output)                rho_dot_edgejogs
# (output)                rho_dot_flux_edge
# (output)                rho_dot_flux_screw

lattice_structure       fcc
Nslip                   12               # number of slip systems per family
c11                     246.5e9
c12                     147.3e9
c44                     124.7e9
burgers                 2.48e-10         # Burgers vector in m
rhoSglEdgePos0          6e10             # Initial positive edge single dislocation density in m/m**3
rhoSglEdgeNeg0          6e10             # Initial negative edge single dislocation density in m/m**3
rhoSglScrewPos0         6e10             # Initial positive screw single dislocation density in m/m**3
rhoSglScrewNeg0         6e10             # Initial negative screw single dislocation density in m/m**3
rhoDipEdge0             0             # Initial edge dipole dislocation density in m/m**3
rhoDipScrew0            0             # Initial screw dipole dislocation density in m/m**3
rhoSglScatter           0
minimumDipoleHeightEdge 2.6e-9  # 3.0e-9       # minimum distance for stable edge dipoles in m
minimumDipoleHeightScrew 12.0e-9  # 50e-9      # minimum distance for stable screw dipoles in m
lambda0                 45  # 33           # prefactor for mean free path 
edgeMultiplication      0.1
randomMultiplication    0
atomicVolume            1.2e-29
selfdiffusionPrefactor  1.9e-4    # Gottstein p.168  # prefactor for self-diffusion coefficient
selfdiffusionEnergy     5.1e-19 # Gottstein p.168  # activation energy self-diffusion
solidSolutionEnergy     1.8e-19                    # activation energy of solid solution particles in J
solidSolutionConcentration 5e-7   # 1e-7
solidSolutionSize       1.0
peierlsStressEdge       1e5                      # Peierls stress for edges in Pa (per slip family)
peierlsStressScrew      1e5                      # Peierls stress for screws in Pa (per slip family)
doublekinkWidth         10                       # width of double kinks in multiples of burgers vector length b
viscosity               1e-3                       # viscosity for dislocation glide in Pa s
p                       1                        # exponent for thermal barrier profile
q                       1                        # exponent for thermal barrier profile
attackFrequency         50e9                     # attack frequency in Hz
surfaceTransmissivity   1.0            # transmissivity of free surfaces for dislocation flux
grainBoundaryTransmissivity   0.0
aTol_rho                1e100          # absolute tolerance for dislocation density in m/m**3
aTol_shear              1e10           # absolute tolerance for dislocation density in m/m**3
significantRho          1e8            # dislocation density considered relevant in m/m**3
significantN            1
shortRangeStressCorrection 0
CFLfactor               1.1                      # safety factor for CFL flux check (numerical parameter)
r                       1
interaction_SlipSlip    0  0  0.625  0.07  0.137  0.122  # Dislocation interaction coefficient
linetension             0.8
edgejog                 0.01   # 0.2
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 273.448   Phi 143.652    phi2 316.671   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 270.562   Phi 146.999    phi2 307.193   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 77.861   Phi 37.097    phi2 325.669   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 222.472   Phi 66.029    phi2 21.711   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 146.886   Phi 113.936    phi2 123.338   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 89.570   Phi 35.932    phi2 53.935   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 42.788   Phi 117.005    phi2 242.094   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 222.472   Phi 66.029    phi2 21.711   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 217.862   Phi 61.218    phi2 210.786   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 264.421   Phi 143.873    phi2 218.027   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 138.429   Phi 108.224    phi2 291.029   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 220.964   Phi 61.959    phi2 115.595   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 141.913   Phi 113.729    phi2 208.782   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 264.421   Phi 143.873    phi2 218.027   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 225.145   Phi 69.244    phi2 114.591   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 223.864   Phi 60.599    phi2 116.167   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 321.752   Phi 59.817    phi2 149.264   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 90.768   Phi 41.847    phi2 51.185   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 46.558   Phi 110.044    phi2 70.852   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 95.702   Phi 30.096    phi2 137.322   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 37.475   Phi 117.681    phi2 58.435   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 322.745   Phi 71.979    phi2 62.283   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 275.111   Phi 139.784    phi2 231.410   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 273.448   Phi 143.652    phi2 316.671   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 225.682   Phi 66.378    phi2 300.012   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 221.299   Phi 63.079    phi2 197.997   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 47.394   Phi 122.606    phi2 160.336   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 140.455   Phi 109.654    phi2 111.354   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 46.558   Phi 110.044    phi2 70.852   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 258.834   Phi 146.733    phi2 210.855   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 221.633   Phi 71.632    phi2 206.288   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 269.258   Phi 152.393    phi2 44.394   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 223.864   Phi 60.599    phi2 116.167   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 323.751   Phi 73.387    phi2 158.363   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 227.737   Phi 69.511    phi2 205.933   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 217.445   Phi 58.192    phi2 113.357   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 225.682   Phi 66.378    phi2 300.012   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 46.430   Phi 116.589    phi2 247.810   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 138.798   Phi 114.906    phi2 203.502   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 273.448   Phi 143.652    phi2 316.671   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 264.421   Phi 143.873    phi2 218.027   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 274.937   Phi 144.983    phi2 133.128   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 319.662   Phi 62.155    phi2 249.916   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 139.213   Phi 109.552    phi2 299.686   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 273.448   Phi 143.652    phi2 316.671   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 220.634   Phi 62.091    phi2 110.982   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 220.964   Phi 61.959    phi2 115.595   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 44.300   Phi 109.852    phi2 340.391   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 325.726   Phi 62.330    phi2 156.330   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 101.063   Phi 36.181    phi2 215.477   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 92.752   Phi 38.397    phi2 314.779   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 146.907   Phi 113.171    phi2 297.754   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 82.670   Phi 32.640    phi2 230.910   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 279.812   Phi 150.835    phi2 319.857   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 324.808   Phi 69.602    phi2 61.608   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 220.964   Phi 61.959    phi2 115.595   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 100.892   Phi 30.229    phi2 221.034   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 145.505   Phi 106.396    phi2 301.027   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 264.421   Phi 143.873    phi2 218.027   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 261.991   Phi 146.188    phi2 36.464   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 225.682   Phi 66.378    phi2 300.012   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 149.887   Phi 112.052    phi2 33.151   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 146.907   Phi 113.171    phi2 297.754   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 147.933   Phi 112.862    phi2 209.425   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 268.054   Phi 147.917    phi2 314.247   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 225.714   Phi 62.630    phi2 198.359   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 264.421   Phi 143.873    phi2 218.027   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 268.040   Phi 147.196    phi2 216.234   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 324.808   Phi 69.602    phi2 61.608   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 319.622   Phi 65.194    phi2 247.803   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 146.907   Phi 113.171    phi2 297.754   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 278.418   Phi 146.461    phi2 135.812   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 220.964   Phi 61.959    phi2 115.595   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 222.472   Phi 66.029    phi2 21.711   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 225.682   Phi 66.378    phi2 300.012   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 319.886   Phi 68.277    phi2 60.886   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 320.185   Phi 70.107    phi2 335.658   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 49.179   Phi 115.989    phi2 251.734   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 320.235   Phi 66.998    phi2 65.895   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 220.964   Phi 61.959    phi2 115.595   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 219.957   Phi 61.812    phi2 123.054   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 42.306   Phi 112.997    phi2 342.412   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 221.212   Phi 61.523    phi2 295.898   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 273.448   Phi 143.652    phi2 316.671   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 324.808   Phi 69.602    phi2 61.608   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 224.840   Phi 66.354    phi2 30.917   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 273.448   Phi 143.652    phi2 316.671   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 218.856   Phi 66.608    phi2 31.291   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 267.060   Phi 147.314    phi2 33.540   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 141.716   Phi 111.181    phi2 117.058   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
