#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 215.161   Phi 36.876    phi2 295.982   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 78.204   Phi 119.833    phi2 9.572   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 245.236   Phi 110.299    phi2 26.173   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 232.934   Phi 85.628    phi2 131.582   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 138.249   Phi 51.708    phi2 305.845   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 208.691   Phi 125.214    phi2 258.625   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 25.753   Phi 134.962    phi2 174.351   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 76.174   Phi 135.317    phi2 172.160   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 143.999   Phi 101.540    phi2 275.297   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 148.993   Phi 107.465    phi2 125.429   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 181.740   Phi 76.129    phi2 240.058   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 259.813   Phi 51.346    phi2 229.713   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 345.200   Phi 131.039    phi2 257.882   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 122.598   Phi 134.115    phi2 77.300   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 63.978   Phi 44.335    phi2 59.992   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 258.008   Phi 135.558    phi2 96.404   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 324.561   Phi 91.443    phi2 253.685   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 44.708   Phi 45.121    phi2 3.076   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 219.618   Phi 39.066    phi2 199.094   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 89.288   Phi 42.715    phi2 341.503   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 38.716   Phi 67.703    phi2 33.458   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 11.263   Phi 54.732    phi2 169.881   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 47.857   Phi 84.355    phi2 125.342   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 196.307   Phi 149.987    phi2 356.769   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 118.046   Phi 88.587    phi2 260.068   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 64.434   Phi 141.097    phi2 107.188   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 269.524   Phi 81.978    phi2 81.558   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 94.658   Phi 66.415    phi2 283.276   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 44.963   Phi 86.057    phi2 292.230   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 341.208   Phi 52.040    phi2 21.300   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 55.794   Phi 91.581    phi2 21.568   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 34.092   Phi 134.496    phi2 226.990   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 35.287   Phi 110.495    phi2 42.131   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 327.430   Phi 124.462    phi2 179.187   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 6.492   Phi 86.284    phi2 278.689   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 258.949   Phi 31.290    phi2 3.735   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 102.618   Phi 117.967    phi2 57.611   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 288.766   Phi 100.426    phi2 98.601   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 71.012   Phi 3.550    phi2 151.239   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 274.385   Phi 73.365    phi2 281.452   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 221.498   Phi 46.544    phi2 174.782   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 1.653   Phi 90.473    phi2 78.772   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 285.790   Phi 69.563    phi2 190.452   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 353.015   Phi 98.746    phi2 89.270   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 49.304   Phi 44.385    phi2 74.636   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 67.347   Phi 124.263    phi2 139.474   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 253.124   Phi 98.042    phi2 186.434   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 200.242   Phi 157.935    phi2 234.102   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 124.309   Phi 66.522    phi2 298.295   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 164.702   Phi 91.072    phi2 151.384   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 286.083   Phi 13.109    phi2 38.259   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 345.749   Phi 125.819    phi2 139.558   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 134.603   Phi 87.141    phi2 138.993   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 181.556   Phi 53.018    phi2 134.217   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 102.669   Phi 51.054    phi2 68.422   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 19.009   Phi 125.861    phi2 197.423   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 233.603   Phi 129.386    phi2 293.346   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 302.312   Phi 108.968    phi2 262.982   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 259.397   Phi 53.903    phi2 165.779   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 69.290   Phi 99.293    phi2 38.264   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
