#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 54.691   Phi 60.081    phi2 163.715   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 142.814   Phi 133.024    phi2 353.611   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 208.260   Phi 37.587    phi2 359.176   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 129.707   Phi 88.804    phi2 60.799   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 310.170   Phi 159.339    phi2 241.064   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 58.141   Phi 53.548    phi2 55.803   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 9.543   Phi 46.280    phi2 112.458   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 93.111   Phi 82.507    phi2 60.331   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 324.462   Phi 145.494    phi2 24.420   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 42.916   Phi 111.693    phi2 79.990   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 1.641   Phi 61.959    phi2 239.794   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 148.975   Phi 24.344    phi2 271.375   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 167.742   Phi 132.107    phi2 227.476   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 317.971   Phi 143.411    phi2 331.457   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 299.849   Phi 152.057    phi2 85.500   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 323.762   Phi 155.035    phi2 289.397   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 351.131   Phi 138.566    phi2 303.175   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 60.918   Phi 53.475    phi2 213.151   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 153.767   Phi 102.151    phi2 178.156   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 244.177   Phi 54.784    phi2 176.840   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 351.610   Phi 52.524    phi2 237.381   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 193.626   Phi 56.163    phi2 17.789   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 205.606   Phi 133.579    phi2 270.206   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 231.844   Phi 93.680    phi2 239.351   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 216.869   Phi 139.503    phi2 334.828   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 186.165   Phi 102.856    phi2 297.867   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 162.759   Phi 107.044    phi2 166.831   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 186.436   Phi 98.587    phi2 61.077   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 279.800   Phi 91.513    phi2 313.215   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 103.962   Phi 111.695    phi2 325.305   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 252.051   Phi 132.767    phi2 102.649   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 101.363   Phi 125.310    phi2 318.895   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 141.932   Phi 148.132    phi2 153.669   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 295.810   Phi 87.950    phi2 108.809   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 74.727   Phi 134.692    phi2 153.027   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 40.695   Phi 152.382    phi2 320.031   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 230.759   Phi 67.657    phi2 268.760   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 7.975   Phi 152.257    phi2 62.699   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 305.185   Phi 59.166    phi2 119.292   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 121.868   Phi 52.052    phi2 240.515   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 278.245   Phi 104.632    phi2 179.017   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 352.039   Phi 44.247    phi2 320.501   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 184.505   Phi 84.692    phi2 105.819   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 340.565   Phi 167.699    phi2 265.052   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 213.389   Phi 69.215    phi2 244.946   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 303.723   Phi 22.272    phi2 181.091   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 136.986   Phi 43.434    phi2 304.873   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 278.995   Phi 16.305    phi2 266.985   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 2.832   Phi 23.295    phi2 36.525   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 96.135   Phi 125.237    phi2 316.181   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 286.327   Phi 71.195    phi2 31.022   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 233.933   Phi 67.912    phi2 219.069   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 21.576   Phi 48.598    phi2 224.599   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 261.074   Phi 152.987    phi2 53.039   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 25.439   Phi 38.067    phi2 76.226   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 294.714   Phi 169.644    phi2 278.868   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 317.003   Phi 101.174    phi2 132.999   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 307.036   Phi 65.703    phi2 45.369   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 295.733   Phi 117.842    phi2 350.809   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 278.876   Phi 86.664    phi2 63.926   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 79.942   Phi 66.243    phi2 252.336   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 330.935   Phi 52.680    phi2 311.156   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 82.063   Phi 62.277    phi2 22.749   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 228.411   Phi 129.156    phi2 9.261   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 201.175   Phi 80.146    phi2 345.964   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 34.683   Phi 21.819    phi2 83.378   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 237.423   Phi 141.171    phi2 193.308   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 143.360   Phi 99.313    phi2 70.974   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 8.811   Phi 136.948    phi2 235.932   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 51.288   Phi 15.556    phi2 34.040   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 78.226   Phi 129.030    phi2 36.672   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 252.282   Phi 140.828    phi2 296.448   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 266.568   Phi 72.715    phi2 309.890   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 334.256   Phi 105.910    phi2 310.424   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 232.530   Phi 98.586    phi2 14.272   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 335.271   Phi 90.814    phi2 216.878   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 200.532   Phi 80.223    phi2 250.847   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 327.086   Phi 72.625    phi2 359.928   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 307.582   Phi 132.803    phi2 297.969   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 320.660   Phi 118.409    phi2 110.321   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 107.404   Phi 69.057    phi2 205.861   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 63.241   Phi 163.977    phi2 68.358   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 6.362   Phi 55.420    phi2 246.816   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 316.843   Phi 108.641    phi2 316.639   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 186.698   Phi 133.813    phi2 168.995   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 57.402   Phi 146.452    phi2 6.823   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 190.886   Phi 113.317    phi2 35.523   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 182.313   Phi 67.332    phi2 217.043   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 74.145   Phi 113.995    phi2 150.489   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 112.131   Phi 23.756    phi2 132.768   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 341.410   Phi 47.137    phi2 150.292   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 357.739   Phi 20.920    phi2 197.006   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 271.895   Phi 122.699    phi2 32.568   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 177.738   Phi 97.320    phi2 216.296   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 145.770   Phi 58.173    phi2 197.087   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 43.859   Phi 71.013    phi2 64.443   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 116.985   Phi 116.113    phi2 239.625   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 201.409   Phi 101.165    phi2 205.749   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 96.730   Phi 73.260    phi2 79.845   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 175.772   Phi 47.152    phi2 230.982   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 266.433   Phi 171.129    phi2 204.081   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 183.909   Phi 135.530    phi2 123.471   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 176.912   Phi 162.066    phi2 29.534   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 28.584   Phi 129.715    phi2 339.682   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 208.853   Phi 88.141    phi2 302.385   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 339.476   Phi 95.436    phi2 344.853   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 191.975   Phi 90.953    phi2 127.912   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 186.080   Phi 82.331    phi2 195.833   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 232.081   Phi 51.115    phi2 154.011   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 308.710   Phi 94.362    phi2 49.559   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 99.626   Phi 15.211    phi2 86.838   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
