#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
/echo/
[Mg]
plasticity            phenopowerlaw
elasticity            hooke

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                totalshear
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                totalvolfrac_twin

lattice_structure       hex
covera_ratio            1.62350                          # from Tromans 2011, Elastic Anisotropy of HCP Metal Crystals and Polycrystals
c11                     59.3e9                           #  - " -
c33                     61.5e9                           #  - " -
c44                     16.4e9                           #  - " -
c12                     25.7e9                           #  - " -
c13                     21.4e9                           #  - " -

#                      basal  prism  prism pyr(a) pyr(c+a) pyr(c+a)
Nslip                  3      3      0      6        0      6      # from Agnew et al 2006, Validating a polycrystal model for the elastoplastic response of mg alloy AZ32 using in situ neutron diffraction
#                      T1 C1 T2 C2         
Ntwin                  6  0  0  6                                  #  - " - 
#                      basal  prism  prism pyr(a) pyr(c+a) pyr(c+a)
tau0_slip               1.750000000000e+07 4.500000000000e+07  0  7.000000000000e+07  0.0  1.032379000760e+08     #  - " - table 1, pyr(a) set to pyr(c+a)
tausat_slip             4.500000000000e+07 1.300000000000e+08  0  1.500000000000e+08  0.0  1.500000000000e+08     #  - " - table 1, pyr(a) set to pyr(c+a)
#                      T1    C1   T2   C2 
tau0_twin               5.250000000000e+07  0.0  0.0  6.676209992400e+07                        #  - " - table 1, compressive twin guessed by Steffi, tensile twin modified to match 

h0_twintwin          5.500000000000e+07                                         #  - " - table 1, same range as theta_0
h0_slipslip          1.500000000000e+08                                         #  - " - table 1, same range as theta_0
h0_twinslip          5.400000000000e+08                                         # guessing

interaction_slipslip    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1    1 1 1 1 1 1 1 1 1 1    1 1 1 1 1 1 1 1 1 1   1 1  # just guessing
interaction_twintwin    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1                                                      #  - " - 
interaction_sliptwin    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1    1 1 1 1                                           #  - " - 
interaction_twinslip    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1    1 1 1 1                                           #  - " - 



####################################################
# open for discussion
####################################################
atol_resistance         1
atol_shear              0
atol_twinfrac           0

n_twin                  2.500000000000e+01
n_slip                  5.500000000000e+00

gdot0_twin              0.001
gdot0_slip              0.001

twin_b                  0
twin_c                  0
twin_d                  20
twin_e                  20

a_slip                  3.000000000000e+00
s_pr                    10.0                  # push-up factor for slip saturation due to twinning


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 182.032   Phi 143.307    phi2 33.622   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 222.813   Phi 67.297    phi2 93.547   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 333.327   Phi 48.432    phi2 23.599   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 349.313   Phi 69.593    phi2 305.479   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 330.198   Phi 98.602    phi2 176.385   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 41.645   Phi 66.483    phi2 0.214   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 54.374   Phi 18.638    phi2 220.641   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 331.920   Phi 81.426    phi2 253.621   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 13.092   Phi 114.840    phi2 286.061   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 183.237   Phi 113.958    phi2 214.803   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 194.653   Phi 70.991    phi2 57.721   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 288.372   Phi 106.238    phi2 196.530   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 60.475   Phi 142.396    phi2 172.688   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 33.658   Phi 25.826    phi2 27.285   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 78.845   Phi 29.237    phi2 301.161   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 26.197   Phi 40.694    phi2 314.928   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 172.748   Phi 14.812    phi2 327.847   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 196.429   Phi 100.325    phi2 83.143   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 54.374   Phi 18.638    phi2 220.641   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 278.848   Phi 102.400    phi2 242.052   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 20.398   Phi 76.725    phi2 51.058   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 250.347   Phi 71.141    phi2 97.400   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 175.718   Phi 95.107    phi2 14.972   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 66.698   Phi 139.300    phi2 205.716   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 122.472   Phi 51.564    phi2 16.517   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 12.540   Phi 59.121    phi2 101.576   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 213.266   Phi 80.583    phi2 62.528   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 35.747   Phi 116.020    phi2 245.411   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 341.208   Phi 57.628    phi2 195.246   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 24.874   Phi 84.854    phi2 112.598   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 208.854   Phi 96.277    phi2 304.196   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 169.162   Phi 77.449    phi2 64.785   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 139.434   Phi 81.985    phi2 251.378   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 91.513   Phi 103.263    phi2 3.406   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 7.289   Phi 65.915    phi2 154.140   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 154.163   Phi 69.440    phi2 228.644   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 41.719   Phi 152.159    phi2 201.266   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 58.530   Phi 127.734    phi2 317.499   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 181.991   Phi 92.364    phi2 63.397   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 200.242   Phi 27.664    phi2 258.586   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 320.986   Phi 120.921    phi2 2.708   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 341.328   Phi 95.771    phi2 170.197   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 161.586   Phi 107.631    phi2 132.091   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 247.286   Phi 103.773    phi2 353.394   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 291.517   Phi 142.727    phi2 8.651   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 234.211   Phi 71.365    phi2 36.650   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 273.144   Phi 53.227    phi2 274.302   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 222.557   Phi 74.425    phi2 158.345   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 98.800   Phi 78.797    phi2 321.833   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 296.049   Phi 124.378    phi2 52.520   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 93.256   Phi 57.906    phi2 66.788   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 70.010   Phi 29.343    phi2 53.311   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 56.135   Phi 75.669    phi2 63.874   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 160.030   Phi 57.071    phi2 53.613   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 13.976   Phi 84.429    phi2 29.579   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 180.541   Phi 89.261    phi2 96.255   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 348.111   Phi 75.577    phi2 175.226   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 86.345   Phi 34.068    phi2 198.920   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 54.750   Phi 92.402    phi2 266.598   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 250.989   Phi 94.616    phi2 117.209   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 199.898   Phi 99.234    phi2 67.779   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 308.214   Phi 73.633    phi2 12.507   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 291.803   Phi 123.319    phi2 146.111   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 292.739   Phi 60.456    phi2 343.416   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 357.851   Phi 84.203    phi2 117.624   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 323.048   Phi 100.171    phi2 17.363   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 162.352   Phi 98.325    phi2 252.512   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 253.931   Phi 105.763    phi2 54.791   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 158.416   Phi 154.133    phi2 213.216   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 36.441   Phi 115.540    phi2 12.524   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 102.031   Phi 171.943    phi2 195.410   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 59.785   Phi 79.587    phi2 133.880   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 120.586   Phi 67.186    phi2 12.259   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 332.361   Phi 43.546    phi2 336.022   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 219.759   Phi 14.916    phi2 316.259   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 85.924   Phi 138.546    phi2 21.906   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 132.364   Phi 108.728    phi2 172.243   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 81.904   Phi 36.112    phi2 60.869   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 211.428   Phi 81.267    phi2 270.296   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 228.780   Phi 149.354    phi2 288.877   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 244.839   Phi 31.496    phi2 242.463   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 211.428   Phi 81.267    phi2 270.296   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 154.510   Phi 100.922    phi2 310.014   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 104.016   Phi 102.475    phi2 108.558   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 214.988   Phi 116.150    phi2 96.764   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 91.511   Phi 86.793    phi2 181.661   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 42.144   Phi 95.174    phi2 114.778   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 295.052   Phi 65.304    phi2 156.303   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 102.398   Phi 50.577    phi2 228.866   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 67.570   Phi 70.414    phi2 21.062   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 348.634   Phi 75.821    phi2 292.527   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 89.223   Phi 73.309    phi2 117.470   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 211.807   Phi 149.565    phi2 333.071   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 335.544   Phi 141.403    phi2 142.429   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 215.648   Phi 122.152    phi2 331.764   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 300.193   Phi 163.887    phi2 9.876   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 287.401   Phi 37.007    phi2 291.337   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 191.554   Phi 150.701    phi2 265.411   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 329.524   Phi 130.823    phi2 5.419   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 293.195   Phi 62.302    phi2 48.636   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 134.521   Phi 98.644    phi2 11.547   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 179.335   Phi 33.963    phi2 113.719   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 326.551   Phi 95.922    phi2 265.754   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 243.528   Phi 117.193    phi2 93.340   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 291.517   Phi 142.727    phi2 8.651   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 314.063   Phi 93.268    phi2 266.699   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 342.176   Phi 87.786    phi2 115.129   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 13.092   Phi 114.840    phi2 286.061   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 36.241   Phi 11.595    phi2 329.704   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 90.198   Phi 107.732    phi2 84.873   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 65.470   Phi 40.858    phi2 41.861   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 297.351   Phi 74.483    phi2 57.204   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 93.256   Phi 57.906    phi2 66.788   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 309.451   Phi 82.636    phi2 119.674   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 66.698   Phi 139.300    phi2 205.716   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 295.830   Phi 119.494    phi2 221.013   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 357.051   Phi 63.514    phi2 209.979   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 315.556   Phi 55.910    phi2 79.751   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 126.724   Phi 112.160    phi2 261.344   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 291.517   Phi 142.727    phi2 8.651   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 27.680   Phi 75.580    phi2 295.475   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 10.799   Phi 44.331    phi2 347.790   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 228.693   Phi 96.548    phi2 259.704   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 158.328   Phi 63.943    phi2 33.228   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 124.768   Phi 107.912    phi2 270.263   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 32.177   Phi 87.880    phi2 286.789   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 93.477   Phi 52.633    phi2 347.295   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 312.619   Phi 73.105    phi2 47.179   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 240.340   Phi 102.313    phi2 299.698   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 318.222   Phi 40.484    phi2 40.016   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 113.024   Phi 80.364    phi2 151.235   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 126.307   Phi 69.083    phi2 186.933   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 318.167   Phi 66.403    phi2 148.068   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 87.981   Phi 155.205    phi2 182.299   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 142.851   Phi 107.497    phi2 293.394   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 328.675   Phi 69.455    phi2 340.508   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 26.045   Phi 54.793    phi2 230.688   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 28.343   Phi 111.028    phi2 291.087   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 215.648   Phi 122.152    phi2 331.764   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 185.086   Phi 46.738    phi2 249.954   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 162.140   Phi 163.540    phi2 226.265   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 138.589   Phi 116.299    phi2 208.817   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 2.424   Phi 117.600    phi2 222.524   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 55.666   Phi 78.454    phi2 143.852   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 59.057   Phi 73.070    phi2 60.419   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 13.092   Phi 114.840    phi2 286.061   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 246.654   Phi 74.689    phi2 328.214   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 212.668   Phi 16.191    phi2 261.319   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 345.266   Phi 95.900    phi2 127.802   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 276.776   Phi 91.342    phi2 251.426   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 165.816   Phi 88.394    phi2 206.163   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 13.092   Phi 114.840    phi2 286.061   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 60.475   Phi 142.396    phi2 172.688   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 97.837   Phi 92.142    phi2 139.009   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 166.521   Phi 63.521    phi2 197.944   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 236.703   Phi 147.730    phi2 267.688   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 179.861   Phi 64.587    phi2 345.068   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 103.884   Phi 132.519    phi2 226.704   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 28.944   Phi 84.314    phi2 188.712   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 222.557   Phi 74.425    phi2 158.345   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 137.900   Phi 90.197    phi2 213.943   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 217.734   Phi 113.937    phi2 203.755   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 200.740   Phi 83.257    phi2 263.144   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 317.632   Phi 94.244    phi2 340.268   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 104.501   Phi 82.684    phi2 301.641   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 191.496   Phi 90.917    phi2 198.408   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 101.771   Phi 114.171    phi2 24.705   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 327.150   Phi 53.333    phi2 109.067   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 104.863   Phi 67.300    phi2 290.424   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 223.031   Phi 94.904    phi2 341.375   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 224.898   Phi 151.281    phi2 183.383   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 28.343   Phi 111.028    phi2 291.087   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 211.494   Phi 86.801    phi2 208.309   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 223.281   Phi 80.117    phi2 195.431   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 81.971   Phi 66.599    phi2 293.680   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 222.365   Phi 82.437    phi2 295.637   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 7.422   Phi 43.601    phi2 335.455   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 350.888   Phi 108.123    phi2 317.884   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 348.001   Phi 35.350    phi2 261.406   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 99.053   Phi 55.740    phi2 252.754   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 157.243   Phi 133.681    phi2 25.363   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 271.352   Phi 80.495    phi2 254.944   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 86.087   Phi 151.214    phi2 344.655   scatter 0.0   fraction 1.0 
[grain184]
(gauss) phi1 12.540   Phi 59.121    phi2 101.576   scatter 0.0   fraction 1.0 
[grain185]
(gauss) phi1 280.642   Phi 125.326    phi2 116.153   scatter 0.0   fraction 1.0 
[grain186]
(gauss) phi1 93.256   Phi 57.906    phi2 66.788   scatter 0.0   fraction 1.0 
[grain187]
(gauss) phi1 29.452   Phi 109.045    phi2 65.125   scatter 0.0   fraction 1.0 
[grain188]
(gauss) phi1 202.507   Phi 50.502    phi2 198.465   scatter 0.0   fraction 1.0 
[grain189]
(gauss) phi1 73.825   Phi 54.244    phi2 219.249   scatter 0.0   fraction 1.0 
[grain190]
(gauss) phi1 165.468   Phi 108.567    phi2 61.262   scatter 0.0   fraction 1.0 
[grain191]
(gauss) phi1 348.544   Phi 93.722    phi2 12.921   scatter 0.0   fraction 1.0 
[grain192]
(gauss) phi1 182.001   Phi 107.523    phi2 111.432   scatter 0.0   fraction 1.0 
[grain193]
(gauss) phi1 336.177   Phi 79.283    phi2 88.900   scatter 0.0   fraction 1.0 
[grain194]
(gauss) phi1 142.335   Phi 42.591    phi2 58.175   scatter 0.0   fraction 1.0 
[grain195]
(gauss) phi1 248.605   Phi 96.033    phi2 168.858   scatter 0.0   fraction 1.0 
[grain196]
(gauss) phi1 163.427   Phi 114.770    phi2 312.089   scatter 0.0   fraction 1.0 
[grain197]
(gauss) phi1 32.177   Phi 87.880    phi2 286.789   scatter 0.0   fraction 1.0 
[grain198]
(gauss) phi1 64.495   Phi 27.132    phi2 133.516   scatter 0.0   fraction 1.0 
[grain199]
(gauss) phi1 247.961   Phi 42.746    phi2 113.863   scatter 0.0   fraction 1.0 
[grain200]
(gauss) phi1 126.279   Phi 140.034    phi2 60.293   scatter 0.0   fraction 1.0 
[grain201]
(gauss) phi1 337.968   Phi 62.655    phi2 222.917   scatter 0.0   fraction 1.0 
[grain202]
(gauss) phi1 306.573   Phi 90.711    phi2 79.884   scatter 0.0   fraction 1.0 
[grain203]
(gauss) phi1 241.081   Phi 98.120    phi2 114.187   scatter 0.0   fraction 1.0 
[grain204]
(gauss) phi1 326.089   Phi 80.080    phi2 93.463   scatter 0.0   fraction 1.0 
[grain205]
(gauss) phi1 36.441   Phi 62.172    phi2 53.154   scatter 0.0   fraction 1.0 
[grain206]
(gauss) phi1 36.125   Phi 83.216    phi2 196.942   scatter 0.0   fraction 1.0 
[grain207]
(gauss) phi1 28.343   Phi 111.028    phi2 291.087   scatter 0.0   fraction 1.0 
[grain208]
(gauss) phi1 346.217   Phi 74.160    phi2 86.878   scatter 0.0   fraction 1.0 
[grain209]
(gauss) phi1 178.364   Phi 151.339    phi2 359.905   scatter 0.0   fraction 1.0 
[grain210]
(gauss) phi1 336.177   Phi 79.283    phi2 88.900   scatter 0.0   fraction 1.0 
[grain211]
(gauss) phi1 260.573   Phi 86.983    phi2 241.938   scatter 0.0   fraction 1.0 
[grain212]
(gauss) phi1 315.345   Phi 44.101    phi2 197.820   scatter 0.0   fraction 1.0 
[grain213]
(gauss) phi1 8.757   Phi 92.112    phi2 79.922   scatter 0.0   fraction 1.0 
[grain214]
(gauss) phi1 74.348   Phi 130.537    phi2 347.933   scatter 0.0   fraction 1.0 
[grain215]
(gauss) phi1 348.634   Phi 75.821    phi2 292.527   scatter 0.0   fraction 1.0 
[grain216]
(gauss) phi1 116.260   Phi 122.656    phi2 214.047   scatter 0.0   fraction 1.0 
[grain217]
(gauss) phi1 201.186   Phi 95.234    phi2 175.935   scatter 0.0   fraction 1.0 
[grain218]
(gauss) phi1 234.547   Phi 118.425    phi2 351.020   scatter 0.0   fraction 1.0 
[grain219]
(gauss) phi1 301.025   Phi 78.556    phi2 164.455   scatter 0.0   fraction 1.0 
[grain220]
(gauss) phi1 45.917   Phi 35.980    phi2 343.126   scatter 0.0   fraction 1.0 
[grain221]
(gauss) phi1 318.167   Phi 66.403    phi2 148.068   scatter 0.0   fraction 1.0 
[grain222]
(gauss) phi1 350.077   Phi 106.626    phi2 150.113   scatter 0.0   fraction 1.0 
[grain223]
(gauss) phi1 150.022   Phi 70.267    phi2 203.567   scatter 0.0   fraction 1.0 
[grain224]
(gauss) phi1 66.698   Phi 139.300    phi2 205.716   scatter 0.0   fraction 1.0 
[grain225]
(gauss) phi1 129.040   Phi 49.146    phi2 1.420   scatter 0.0   fraction 1.0 
[grain226]
(gauss) phi1 35.747   Phi 116.020    phi2 245.411   scatter 0.0   fraction 1.0 
[grain227]
(gauss) phi1 262.232   Phi 43.433    phi2 189.730   scatter 0.0   fraction 1.0 
[grain228]
(gauss) phi1 180.541   Phi 89.261    phi2 96.255   scatter 0.0   fraction 1.0 
[grain229]
(gauss) phi1 182.032   Phi 143.307    phi2 33.622   scatter 0.0   fraction 1.0 
[grain230]
(gauss) phi1 349.313   Phi 69.593    phi2 305.479   scatter 0.0   fraction 1.0 
[grain231]
(gauss) phi1 57.660   Phi 122.555    phi2 303.303   scatter 0.0   fraction 1.0 
[grain232]
(gauss) phi1 173.791   Phi 91.353    phi2 274.761   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
[grain184]
crystallite 1
(constituent)   phase 1 texture 184 fraction 1.0
[grain185]
crystallite 1
(constituent)   phase 1 texture 185 fraction 1.0
[grain186]
crystallite 1
(constituent)   phase 1 texture 186 fraction 1.0
[grain187]
crystallite 1
(constituent)   phase 1 texture 187 fraction 1.0
[grain188]
crystallite 1
(constituent)   phase 1 texture 188 fraction 1.0
[grain189]
crystallite 1
(constituent)   phase 1 texture 189 fraction 1.0
[grain190]
crystallite 1
(constituent)   phase 1 texture 190 fraction 1.0
[grain191]
crystallite 1
(constituent)   phase 1 texture 191 fraction 1.0
[grain192]
crystallite 1
(constituent)   phase 1 texture 192 fraction 1.0
[grain193]
crystallite 1
(constituent)   phase 1 texture 193 fraction 1.0
[grain194]
crystallite 1
(constituent)   phase 1 texture 194 fraction 1.0
[grain195]
crystallite 1
(constituent)   phase 1 texture 195 fraction 1.0
[grain196]
crystallite 1
(constituent)   phase 1 texture 196 fraction 1.0
[grain197]
crystallite 1
(constituent)   phase 1 texture 197 fraction 1.0
[grain198]
crystallite 1
(constituent)   phase 1 texture 198 fraction 1.0
[grain199]
crystallite 1
(constituent)   phase 1 texture 199 fraction 1.0
[grain200]
crystallite 1
(constituent)   phase 1 texture 200 fraction 1.0
[grain201]
crystallite 1
(constituent)   phase 1 texture 201 fraction 1.0
[grain202]
crystallite 1
(constituent)   phase 1 texture 202 fraction 1.0
[grain203]
crystallite 1
(constituent)   phase 1 texture 203 fraction 1.0
[grain204]
crystallite 1
(constituent)   phase 1 texture 204 fraction 1.0
[grain205]
crystallite 1
(constituent)   phase 1 texture 205 fraction 1.0
[grain206]
crystallite 1
(constituent)   phase 1 texture 206 fraction 1.0
[grain207]
crystallite 1
(constituent)   phase 1 texture 207 fraction 1.0
[grain208]
crystallite 1
(constituent)   phase 1 texture 208 fraction 1.0
[grain209]
crystallite 1
(constituent)   phase 1 texture 209 fraction 1.0
[grain210]
crystallite 1
(constituent)   phase 1 texture 210 fraction 1.0
[grain211]
crystallite 1
(constituent)   phase 1 texture 211 fraction 1.0
[grain212]
crystallite 1
(constituent)   phase 1 texture 212 fraction 1.0
[grain213]
crystallite 1
(constituent)   phase 1 texture 213 fraction 1.0
[grain214]
crystallite 1
(constituent)   phase 1 texture 214 fraction 1.0
[grain215]
crystallite 1
(constituent)   phase 1 texture 215 fraction 1.0
[grain216]
crystallite 1
(constituent)   phase 1 texture 216 fraction 1.0
[grain217]
crystallite 1
(constituent)   phase 1 texture 217 fraction 1.0
[grain218]
crystallite 1
(constituent)   phase 1 texture 218 fraction 1.0
[grain219]
crystallite 1
(constituent)   phase 1 texture 219 fraction 1.0
[grain220]
crystallite 1
(constituent)   phase 1 texture 220 fraction 1.0
[grain221]
crystallite 1
(constituent)   phase 1 texture 221 fraction 1.0
[grain222]
crystallite 1
(constituent)   phase 1 texture 222 fraction 1.0
[grain223]
crystallite 1
(constituent)   phase 1 texture 223 fraction 1.0
[grain224]
crystallite 1
(constituent)   phase 1 texture 224 fraction 1.0
[grain225]
crystallite 1
(constituent)   phase 1 texture 225 fraction 1.0
[grain226]
crystallite 1
(constituent)   phase 1 texture 226 fraction 1.0
[grain227]
crystallite 1
(constituent)   phase 1 texture 227 fraction 1.0
[grain228]
crystallite 1
(constituent)   phase 1 texture 228 fraction 1.0
[grain229]
crystallite 1
(constituent)   phase 1 texture 229 fraction 1.0
[grain230]
crystallite 1
(constituent)   phase 1 texture 230 fraction 1.0
[grain231]
crystallite 1
(constituent)   phase 1 texture 231 fraction 1.0
[grain232]
crystallite 1
(constituent)   phase 1 texture 232 fraction 1.0
