[submodule "examples/DAMASK-Duel-phase-steel-BCC-structure"]
	path = examples/DAMASK-Duel-phase-steel-BCC-structure
	url = https://github.com/NotRealEngineering/DAMASK-Duel-phase-steel-BCC-structure
[submodule "examples/DAMASK-Magnesium-polycrystal-with-Twinning"]
	path = examples/DAMASK-Magnesium-polycrystal-with-Twinning
	url = https://github.com/NotRealEngineering/DAMASK-Magnesium-polycrystal-with-Twinning
[submodule "examples/DAMASK-2D-poly-crystalline-Aluminum"]
	path = examples/DAMASK-2D-poly-crystalline-Aluminum
	url = https://github.com/NotRealEngineering/DAMASK-2D-poly-crystalline-Aluminum
[submodule "DAMASK"]
	path = DAMASK
	url = https://github.com/eisenforschung/DAMASK
[submodule "matflow-damask"]
	path = matflow-damask
	url = https://github.com/LightForm-group/matflow-damask
[submodule "damask-parse"]
	path = damask-parse
	url = https://github.com/LightForm-group/damask-parse
[submodule "damask_plot"]
	path = damask_plot
	url = https://github.com/lukas-koschmieder/damask_plot
