[submodule "examples/DAMASK-Duel-phase-steel-BCC-structure"]
	path = examples/DAMASK-Duel-phase-steel-BCC-structure
	url = https://github.com/NotRealEngineering/DAMASK-Duel-phase-steel-BCC-structure
[submodule "examples/DAMASK-Magnesium-polycrystal-with-Twinning"]
	path = examples/DAMASK-Magnesium-polycrystal-with-Twinning
	url = https://github.com/NotRealEngineering/DAMASK-Magnesium-polycrystal-with-Twinning
[submodule "examples/DAMASK-2D-poly-crystalline-Aluminum"]
	path = examples/DAMASK-2D-poly-crystalline-Aluminum
	url = https://github.com/NotRealEngineering/DAMASK-2D-poly-crystalline-Aluminum
[submodule "matflow-damask"]
	path = matflow-damask
	url = https://github.com/LightForm-group/matflow-damask
[submodule "damask-parse"]
	path = damask-parse
	url = https://github.com/LightForm-group/damask-parse
[submodule "damask_plot"]
	path = damask_plot
	url = https://github.com/lukas-koschmieder/damask_plot
[submodule "MultilevelEstimators.jl"]
	path = MultilevelEstimators.jl
	url = https://github.com/PieterjanRobbe/MultilevelEstimators.jl
[submodule "DAMASK"]
	path = DAMASK
	url = git@github.com:eisenforschung/DAMASK.git
[submodule "aixplot"]
	path = aixplot
	url = https://github.com/lukas-koschmieder/aixplot
[submodule "DAMASK-Duel-phase-steel-BCC-structure"]
	path = DAMASK-Duel-phase-steel-BCC-structure
	url = https://github.com/NotRealEngineering/DAMASK-Duel-phase-steel-BCC-structure
[submodule "DAMASK-Magnesium-polycrystal-with-Twinning"]
	path = DAMASK-Magnesium-polycrystal-with-Twinning
	url = https://github.com/NotRealEngineering/DAMASK-Magnesium-polycrystal-with-Twinning
[submodule "DAMASK-2D-poly-crystalline-Aluminum"]
	path = DAMASK-2D-poly-crystalline-Aluminum
	url = https://github.com/NotRealEngineering/DAMASK-2D-poly-crystalline-Aluminum
[submodule "mimclib"]
	path = mimclib
	url = https://github.com/haji-ali/mimclib
[submodule "Reporter.jl"]
	path = Reporter.jl
	url = https://github.com/PieterjanRobbe/Reporter.jl
[submodule "CBayes-MLMF"]
	path = CBayes-MLMF
	url = https://github.com/TimWildey/CBayes-MLMF
[submodule "mimc-cpfem-simulations"]
	path = mimc-cpfem-simulations
	url = git@github.com:PieterjanRobbe/mimc-cpfem-simulations.git
[submodule "CBayes-matlab"]
	path = CBayes-matlab
	url = https://github.com/TimWildey/UQ-Project
[submodule "mtex"]
	path = mtex
	url = https://github.com/mtex-toolbox/mtex
[submodule "mfmc"]
	path = mfmc
	url = https://github.com/pehersto/mfmc
[submodule "SIAM-AN18-Tutorial"]
	path = SIAM-AN18-Tutorial
	url = git@github.com:eecsu/SIAM-AN18-Tutorial.git
