[submodule "examples/DAMASK-Duel-phase-steel-BCC-structure"]
	path = examples/DAMASK-Duel-phase-steel-BCC-structure
	url = https://github.com/NotRealEngineering/DAMASK-Duel-phase-steel-BCC-structure
[submodule "examples/DAMASK-Magnesium-polycrystal-with-Twinning"]
	path = examples/DAMASK-Magnesium-polycrystal-with-Twinning
	url = https://github.com/NotRealEngineering/DAMASK-Magnesium-polycrystal-with-Twinning
[submodule "examples/DAMASK-2D-poly-crystalline-Aluminum"]
	path = examples/DAMASK-2D-poly-crystalline-Aluminum
	url = https://github.com/NotRealEngineering/DAMASK-2D-poly-crystalline-Aluminum
