#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              1.000000000000e-03
n_slip                  1.664626692000e+01
a_slip                  8.000000000000e+00
tau0_slip               1.295206976616e+06
tausat_slip             9.000000000000e+09
h0_slipslip             7.269403102564e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 314.428   Phi 166.445    phi2 315.020   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 184.955   Phi 31.942    phi2 217.034   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 186.674   Phi 106.277    phi2 166.893   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 299.471   Phi 119.610    phi2 230.961   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 354.796   Phi 68.519    phi2 8.513   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 42.026   Phi 83.324    phi2 353.949   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 344.261   Phi 110.835    phi2 314.490   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 14.792   Phi 55.891    phi2 71.299   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 320.452   Phi 41.501    phi2 12.129   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 226.277   Phi 14.050    phi2 135.112   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 76.038   Phi 108.412    phi2 298.371   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 31.384   Phi 166.990    phi2 155.004   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 353.385   Phi 96.371    phi2 180.785   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 164.445   Phi 145.944    phi2 335.043   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 192.605   Phi 68.251    phi2 152.086   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 186.229   Phi 103.903    phi2 16.214   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 18.523   Phi 142.642    phi2 299.839   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 256.109   Phi 49.135    phi2 188.285   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 238.525   Phi 98.539    phi2 281.366   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 213.973   Phi 141.539    phi2 72.222   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 225.292   Phi 140.640    phi2 215.426   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 155.816   Phi 23.785    phi2 129.482   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 177.502   Phi 76.529    phi2 297.020   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 107.603   Phi 88.138    phi2 306.490   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 254.514   Phi 80.692    phi2 145.616   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 345.299   Phi 41.610    phi2 151.065   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 250.768   Phi 57.959    phi2 196.363   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 31.013   Phi 139.313    phi2 77.808   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 226.064   Phi 85.807    phi2 41.772   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 276.263   Phi 117.798    phi2 153.591   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 346.627   Phi 18.842    phi2 31.163   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 293.976   Phi 78.487    phi2 132.506   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 146.790   Phi 172.611    phi2 36.449   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 353.702   Phi 159.849    phi2 159.686   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 324.596   Phi 88.271    phi2 132.307   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 94.060   Phi 29.041    phi2 312.821   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 340.581   Phi 90.489    phi2 1.328   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 259.936   Phi 55.188    phi2 299.350   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 71.074   Phi 102.982    phi2 222.098   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 243.775   Phi 118.924    phi2 118.205   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 350.188   Phi 76.469    phi2 166.466   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 140.327   Phi 138.783    phi2 12.252   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 269.554   Phi 129.959    phi2 43.068   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 83.426   Phi 38.688    phi2 21.266   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 290.583   Phi 115.940    phi2 333.367   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 183.240   Phi 124.158    phi2 311.869   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 252.420   Phi 99.693    phi2 14.072   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 288.621   Phi 92.558    phi2 138.155   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 322.753   Phi 61.373    phi2 56.162   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 125.325   Phi 135.135    phi2 44.381   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 153.634   Phi 101.707    phi2 88.929   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 261.122   Phi 89.179    phi2 92.995   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 22.973   Phi 84.898    phi2 203.048   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 311.433   Phi 99.764    phi2 138.447   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 194.339   Phi 53.855    phi2 1.131   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 242.260   Phi 51.429    phi2 117.019   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 59.483   Phi 97.024    phi2 160.784   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 121.405   Phi 86.475    phi2 155.542   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 51.285   Phi 115.583    phi2 87.301   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 26.171   Phi 28.843    phi2 176.427   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 52.762   Phi 70.532    phi2 137.084   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 326.534   Phi 56.052    phi2 255.377   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 73.836   Phi 67.881    phi2 315.946   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 309.967   Phi 111.884    phi2 307.418   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
