#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 17.589   Phi 130.407    phi2 30.199   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 122.421   Phi 105.156    phi2 90.875   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 325.086   Phi 42.208    phi2 11.981   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 132.994   Phi 104.744    phi2 189.115   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 23.691   Phi 44.330    phi2 190.295   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 50.108   Phi 132.177    phi2 36.515   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 297.172   Phi 81.577    phi2 208.700   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 206.427   Phi 66.890    phi2 171.683   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 213.644   Phi 123.398    phi2 134.396   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 186.187   Phi 156.945    phi2 163.963   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 213.941   Phi 86.857    phi2 134.556   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 20.483   Phi 53.705    phi2 211.324   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 354.309   Phi 35.260    phi2 323.879   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 104.732   Phi 109.274    phi2 112.853   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 164.626   Phi 93.181    phi2 189.426   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 275.668   Phi 103.177    phi2 297.980   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 123.710   Phi 127.219    phi2 60.871   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 101.746   Phi 113.343    phi2 118.781   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 143.253   Phi 82.867    phi2 335.528   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 44.461   Phi 8.912    phi2 68.567   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 47.091   Phi 70.453    phi2 84.858   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 312.703   Phi 53.501    phi2 16.008   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 113.458   Phi 131.007    phi2 164.012   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 177.019   Phi 161.069    phi2 213.002   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 269.816   Phi 118.478    phi2 316.315   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 241.265   Phi 81.404    phi2 71.644   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 347.591   Phi 96.197    phi2 308.694   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 309.433   Phi 82.401    phi2 291.740   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 243.250   Phi 45.292    phi2 96.351   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 145.941   Phi 147.756    phi2 335.207   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 237.924   Phi 105.197    phi2 145.085   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 324.036   Phi 127.233    phi2 316.302   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 113.699   Phi 146.396    phi2 43.155   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 266.192   Phi 61.934    phi2 329.512   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 248.304   Phi 122.103    phi2 263.072   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 41.717   Phi 133.666    phi2 128.933   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 312.384   Phi 78.305    phi2 327.502   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 98.508   Phi 125.080    phi2 185.609   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 299.798   Phi 22.909    phi2 281.680   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 115.509   Phi 51.600    phi2 136.628   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 296.168   Phi 65.253    phi2 46.050   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 34.002   Phi 159.663    phi2 298.657   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 353.513   Phi 134.126    phi2 70.370   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 125.042   Phi 157.218    phi2 105.044   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 119.147   Phi 50.247    phi2 111.899   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 107.864   Phi 59.353    phi2 287.538   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 160.911   Phi 41.218    phi2 153.141   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 115.463   Phi 122.782    phi2 286.510   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 81.662   Phi 53.939    phi2 212.600   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 61.446   Phi 17.754    phi2 141.766   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 19.712   Phi 168.603    phi2 135.470   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 108.406   Phi 177.958    phi2 260.192   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 1.790   Phi 127.675    phi2 266.728   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 356.908   Phi 126.422    phi2 235.801   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 116.345   Phi 108.643    phi2 139.102   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 335.551   Phi 135.167    phi2 324.278   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 245.644   Phi 56.359    phi2 326.936   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 76.516   Phi 55.928    phi2 150.498   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 233.902   Phi 59.902    phi2 324.280   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
