#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 179.717   Phi 166.117    phi2 76.230   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 152.810   Phi 133.578    phi2 113.534   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 44.067   Phi 116.753    phi2 356.590   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 281.874   Phi 98.364    phi2 341.993   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 78.544   Phi 83.704    phi2 333.935   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 312.299   Phi 63.797    phi2 161.124   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 234.779   Phi 130.943    phi2 338.675   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 177.662   Phi 45.101    phi2 87.363   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 227.261   Phi 123.619    phi2 225.353   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 3.610   Phi 69.637    phi2 196.493   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 204.144   Phi 84.578    phi2 180.808   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 237.603   Phi 69.961    phi2 144.003   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 52.909   Phi 144.157    phi2 29.871   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 77.412   Phi 101.941    phi2 105.583   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 130.839   Phi 79.613    phi2 34.887   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 337.662   Phi 55.742    phi2 285.720   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 224.717   Phi 125.586    phi2 59.088   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 198.033   Phi 128.499    phi2 202.406   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 343.085   Phi 122.685    phi2 53.304   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 55.671   Phi 65.192    phi2 201.272   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 333.618   Phi 63.921    phi2 85.282   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 5.245   Phi 72.090    phi2 147.921   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 170.630   Phi 86.373    phi2 268.106   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 207.471   Phi 153.461    phi2 102.087   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 163.082   Phi 77.811    phi2 155.473   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 156.249   Phi 66.611    phi2 153.325   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 66.684   Phi 98.529    phi2 178.863   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 247.049   Phi 57.911    phi2 198.337   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 7.116   Phi 81.930    phi2 292.222   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 251.604   Phi 38.457    phi2 329.292   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 146.822   Phi 73.846    phi2 326.535   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 51.468   Phi 55.278    phi2 244.802   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 142.697   Phi 111.451    phi2 313.753   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 74.156   Phi 66.025    phi2 52.618   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 315.693   Phi 103.240    phi2 97.918   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 227.652   Phi 94.981    phi2 101.232   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 108.723   Phi 45.760    phi2 102.352   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 87.634   Phi 81.532    phi2 140.830   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 200.897   Phi 69.372    phi2 255.619   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 352.304   Phi 52.312    phi2 85.064   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 95.596   Phi 111.390    phi2 64.338   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 141.936   Phi 114.022    phi2 35.518   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 223.086   Phi 54.121    phi2 27.224   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 83.788   Phi 81.248    phi2 82.448   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 115.012   Phi 97.849    phi2 215.973   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 323.907   Phi 143.673    phi2 203.841   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 303.489   Phi 57.510    phi2 127.420   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 308.929   Phi 147.072    phi2 170.524   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 321.889   Phi 68.941    phi2 126.927   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 87.139   Phi 105.757    phi2 294.819   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 120.272   Phi 64.032    phi2 170.796   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 219.178   Phi 151.553    phi2 233.726   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 143.480   Phi 86.111    phi2 49.757   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 327.691   Phi 104.908    phi2 329.810   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 105.462   Phi 47.147    phi2 63.387   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 176.783   Phi 73.780    phi2 27.179   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 116.361   Phi 73.499    phi2 187.244   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 296.183   Phi 128.798    phi2 232.087   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 7.445   Phi 74.370    phi2 78.353   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 70.732   Phi 51.944    phi2 263.152   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 88.137   Phi 16.059    phi2 179.564   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 314.169   Phi 116.929    phi2 317.367   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 163.239   Phi 12.748    phi2 134.715   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 296.562   Phi 137.538    phi2 122.222   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 302.652   Phi 90.429    phi2 8.277   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 115.367   Phi 81.463    phi2 269.753   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 323.073   Phi 92.893    phi2 134.435   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 117.887   Phi 127.619    phi2 259.700   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 212.940   Phi 14.018    phi2 246.894   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 51.065   Phi 121.699    phi2 265.463   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 227.978   Phi 76.891    phi2 250.797   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 182.450   Phi 73.227    phi2 81.891   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 275.805   Phi 53.274    phi2 41.103   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 316.936   Phi 104.541    phi2 200.906   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 22.584   Phi 44.306    phi2 198.713   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 213.064   Phi 40.507    phi2 30.411   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 198.497   Phi 81.828    phi2 238.114   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 253.800   Phi 71.402    phi2 195.576   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 333.049   Phi 41.944    phi2 357.890   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 260.955   Phi 81.052    phi2 223.944   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 63.536   Phi 65.094    phi2 231.324   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 125.401   Phi 134.575    phi2 294.627   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 68.803   Phi 61.082    phi2 315.011   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 87.688   Phi 104.513    phi2 71.106   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 130.025   Phi 113.907    phi2 356.722   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 352.889   Phi 135.568    phi2 9.847   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 333.166   Phi 32.159    phi2 317.517   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 260.418   Phi 154.528    phi2 255.597   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 150.624   Phi 18.473    phi2 350.632   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 223.668   Phi 94.415    phi2 266.805   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 55.290   Phi 140.343    phi2 302.340   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 257.813   Phi 84.087    phi2 344.873   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 181.438   Phi 78.596    phi2 358.893   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 263.506   Phi 33.316    phi2 272.338   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 304.827   Phi 148.811    phi2 196.199   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 295.291   Phi 69.533    phi2 324.466   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 299.150   Phi 45.228    phi2 266.107   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 12.987   Phi 135.740    phi2 242.162   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 140.327   Phi 89.734    phi2 296.106   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 312.299   Phi 63.797    phi2 161.124   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 93.996   Phi 87.982    phi2 189.841   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 69.682   Phi 54.039    phi2 230.629   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 148.226   Phi 71.539    phi2 89.842   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 291.904   Phi 73.032    phi2 49.474   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 262.991   Phi 111.793    phi2 88.759   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 319.179   Phi 76.033    phi2 119.363   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 26.037   Phi 33.627    phi2 16.759   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 59.341   Phi 102.847    phi2 314.591   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 265.432   Phi 102.754    phi2 141.310   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 99.770   Phi 134.461    phi2 140.358   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 251.944   Phi 59.623    phi2 139.465   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 38.118   Phi 67.136    phi2 77.693   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 5.452   Phi 72.774    phi2 123.514   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 179.362   Phi 89.510    phi2 124.152   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 81.660   Phi 29.620    phi2 41.700   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 313.048   Phi 98.387    phi2 339.771   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 148.393   Phi 87.471    phi2 348.113   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 119.522   Phi 120.994    phi2 124.304   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 189.261   Phi 83.173    phi2 81.790   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 277.247   Phi 12.529    phi2 287.082   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 55.290   Phi 140.343    phi2 302.340   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 232.158   Phi 73.446    phi2 239.918   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 197.892   Phi 133.131    phi2 165.588   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 280.800   Phi 131.927    phi2 250.118   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 10.588   Phi 31.006    phi2 340.627   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 195.261   Phi 88.125    phi2 30.881   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 289.942   Phi 29.222    phi2 235.744   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 46.135   Phi 114.838    phi2 239.192   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 72.488   Phi 43.537    phi2 242.055   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 279.077   Phi 59.664    phi2 341.491   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 294.062   Phi 83.176    phi2 303.763   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 164.033   Phi 125.871    phi2 209.257   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 122.708   Phi 68.010    phi2 301.854   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 91.645   Phi 85.604    phi2 227.081   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 128.021   Phi 44.831    phi2 207.833   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 143.934   Phi 80.415    phi2 108.033   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 319.434   Phi 50.502    phi2 261.826   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 73.099   Phi 136.358    phi2 153.259   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 193.191   Phi 126.935    phi2 293.988   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 43.202   Phi 135.088    phi2 317.401   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 180.231   Phi 121.976    phi2 59.693   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 169.340   Phi 47.042    phi2 318.797   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 46.376   Phi 101.617    phi2 153.127   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 310.993   Phi 78.038    phi2 142.893   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 211.861   Phi 100.313    phi2 116.552   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 112.350   Phi 121.305    phi2 31.379   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 195.147   Phi 32.692    phi2 73.206   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 122.656   Phi 145.746    phi2 102.285   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 20.917   Phi 163.275    phi2 262.527   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 355.064   Phi 154.563    phi2 327.530   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 255.512   Phi 93.140    phi2 353.160   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 136.371   Phi 46.655    phi2 142.683   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 105.861   Phi 60.189    phi2 259.249   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 318.239   Phi 49.059    phi2 186.737   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 351.874   Phi 123.863    phi2 107.259   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 225.814   Phi 14.991    phi2 120.178   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 141.286   Phi 130.933    phi2 265.091   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 39.653   Phi 64.172    phi2 78.323   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 345.444   Phi 48.896    phi2 78.713   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 180.925   Phi 44.919    phi2 131.584   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 69.680   Phi 120.533    phi2 260.585   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 25.342   Phi 79.858    phi2 346.499   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 123.165   Phi 49.223    phi2 46.548   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 253.743   Phi 61.866    phi2 181.010   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 307.772   Phi 145.579    phi2 75.152   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 313.036   Phi 109.713    phi2 176.357   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 233.296   Phi 127.641    phi2 129.252   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 83.913   Phi 81.497    phi2 34.165   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 25.537   Phi 65.838    phi2 55.708   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 322.888   Phi 89.048    phi2 286.107   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 282.060   Phi 76.189    phi2 160.133   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 90.210   Phi 141.046    phi2 8.256   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 133.609   Phi 46.980    phi2 181.991   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 246.924   Phi 52.740    phi2 48.045   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 228.243   Phi 75.825    phi2 305.008   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 136.602   Phi 101.050    phi2 284.933   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 104.920   Phi 109.100    phi2 307.117   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 313.284   Phi 86.283    phi2 277.074   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 150.440   Phi 105.819    phi2 17.927   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 69.672   Phi 55.285    phi2 229.932   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 303.418   Phi 57.291    phi2 30.161   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 190.259   Phi 67.755    phi2 47.039   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 240.716   Phi 17.099    phi2 214.844   scatter 0.0   fraction 1.0 
[grain184]
(gauss) phi1 248.979   Phi 81.827    phi2 335.789   scatter 0.0   fraction 1.0 
[grain185]
(gauss) phi1 227.268   Phi 133.008    phi2 66.159   scatter 0.0   fraction 1.0 
[grain186]
(gauss) phi1 217.509   Phi 148.096    phi2 83.149   scatter 0.0   fraction 1.0 
[grain187]
(gauss) phi1 253.578   Phi 83.382    phi2 349.843   scatter 0.0   fraction 1.0 
[grain188]
(gauss) phi1 159.551   Phi 92.605    phi2 353.102   scatter 0.0   fraction 1.0 
[grain189]
(gauss) phi1 12.189   Phi 107.101    phi2 137.060   scatter 0.0   fraction 1.0 
[grain190]
(gauss) phi1 272.570   Phi 76.039    phi2 358.143   scatter 0.0   fraction 1.0 
[grain191]
(gauss) phi1 59.462   Phi 55.892    phi2 188.737   scatter 0.0   fraction 1.0 
[grain192]
(gauss) phi1 278.421   Phi 134.324    phi2 307.710   scatter 0.0   fraction 1.0 
[grain193]
(gauss) phi1 204.433   Phi 96.311    phi2 51.998   scatter 0.0   fraction 1.0 
[grain194]
(gauss) phi1 234.150   Phi 66.274    phi2 204.137   scatter 0.0   fraction 1.0 
[grain195]
(gauss) phi1 278.418   Phi 109.293    phi2 270.823   scatter 0.0   fraction 1.0 
[grain196]
(gauss) phi1 318.665   Phi 80.764    phi2 355.269   scatter 0.0   fraction 1.0 
[grain197]
(gauss) phi1 223.832   Phi 84.083    phi2 26.505   scatter 0.0   fraction 1.0 
[grain198]
(gauss) phi1 138.253   Phi 154.966    phi2 349.901   scatter 0.0   fraction 1.0 
[grain199]
(gauss) phi1 235.741   Phi 31.324    phi2 306.235   scatter 0.0   fraction 1.0 
[grain200]
(gauss) phi1 260.277   Phi 69.865    phi2 95.716   scatter 0.0   fraction 1.0 
[grain201]
(gauss) phi1 304.628   Phi 67.186    phi2 53.412   scatter 0.0   fraction 1.0 
[grain202]
(gauss) phi1 256.390   Phi 76.206    phi2 136.013   scatter 0.0   fraction 1.0 
[grain203]
(gauss) phi1 297.266   Phi 111.256    phi2 121.783   scatter 0.0   fraction 1.0 
[grain204]
(gauss) phi1 226.317   Phi 98.547    phi2 224.761   scatter 0.0   fraction 1.0 
[grain205]
(gauss) phi1 336.534   Phi 89.687    phi2 297.558   scatter 0.0   fraction 1.0 
[grain206]
(gauss) phi1 301.561   Phi 39.602    phi2 101.163   scatter 0.0   fraction 1.0 
[grain207]
(gauss) phi1 53.441   Phi 88.052    phi2 80.641   scatter 0.0   fraction 1.0 
[grain208]
(gauss) phi1 26.887   Phi 38.130    phi2 209.313   scatter 0.0   fraction 1.0 
[grain209]
(gauss) phi1 242.973   Phi 98.478    phi2 286.416   scatter 0.0   fraction 1.0 
[grain210]
(gauss) phi1 76.646   Phi 45.031    phi2 310.002   scatter 0.0   fraction 1.0 
[grain211]
(gauss) phi1 57.499   Phi 70.189    phi2 119.725   scatter 0.0   fraction 1.0 
[grain212]
(gauss) phi1 216.867   Phi 138.998    phi2 165.030   scatter 0.0   fraction 1.0 
[grain213]
(gauss) phi1 59.131   Phi 50.183    phi2 255.042   scatter 0.0   fraction 1.0 
[grain214]
(gauss) phi1 166.304   Phi 143.238    phi2 45.559   scatter 0.0   fraction 1.0 
[grain215]
(gauss) phi1 89.172   Phi 138.778    phi2 60.232   scatter 0.0   fraction 1.0 
[grain216]
(gauss) phi1 5.718   Phi 158.424    phi2 85.840   scatter 0.0   fraction 1.0 
[grain217]
(gauss) phi1 126.148   Phi 80.608    phi2 152.579   scatter 0.0   fraction 1.0 
[grain218]
(gauss) phi1 117.239   Phi 145.458    phi2 37.550   scatter 0.0   fraction 1.0 
[grain219]
(gauss) phi1 235.148   Phi 112.445    phi2 26.126   scatter 0.0   fraction 1.0 
[grain220]
(gauss) phi1 311.791   Phi 165.196    phi2 64.393   scatter 0.0   fraction 1.0 
[grain221]
(gauss) phi1 45.653   Phi 14.470    phi2 333.210   scatter 0.0   fraction 1.0 
[grain222]
(gauss) phi1 37.490   Phi 108.173    phi2 46.937   scatter 0.0   fraction 1.0 
[grain223]
(gauss) phi1 235.919   Phi 96.121    phi2 65.527   scatter 0.0   fraction 1.0 
[grain224]
(gauss) phi1 267.235   Phi 81.471    phi2 104.229   scatter 0.0   fraction 1.0 
[grain225]
(gauss) phi1 157.918   Phi 73.157    phi2 63.928   scatter 0.0   fraction 1.0 
[grain226]
(gauss) phi1 152.328   Phi 39.629    phi2 95.449   scatter 0.0   fraction 1.0 
[grain227]
(gauss) phi1 196.388   Phi 158.399    phi2 239.854   scatter 0.0   fraction 1.0 
[grain228]
(gauss) phi1 78.623   Phi 78.165    phi2 304.189   scatter 0.0   fraction 1.0 
[grain229]
(gauss) phi1 60.153   Phi 49.500    phi2 65.298   scatter 0.0   fraction 1.0 
[grain230]
(gauss) phi1 130.769   Phi 130.477    phi2 222.322   scatter 0.0   fraction 1.0 
[grain231]
(gauss) phi1 92.130   Phi 48.248    phi2 170.359   scatter 0.0   fraction 1.0 
[grain232]
(gauss) phi1 299.353   Phi 45.915    phi2 27.530   scatter 0.0   fraction 1.0 
[grain233]
(gauss) phi1 278.520   Phi 110.541    phi2 328.070   scatter 0.0   fraction 1.0 
[grain234]
(gauss) phi1 157.719   Phi 142.783    phi2 192.756   scatter 0.0   fraction 1.0 
[grain235]
(gauss) phi1 308.731   Phi 158.803    phi2 334.217   scatter 0.0   fraction 1.0 
[grain236]
(gauss) phi1 4.597   Phi 38.096    phi2 1.483   scatter 0.0   fraction 1.0 
[grain237]
(gauss) phi1 120.448   Phi 88.247    phi2 104.640   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
[grain184]
crystallite 1
(constituent)   phase 1 texture 184 fraction 1.0
[grain185]
crystallite 1
(constituent)   phase 1 texture 185 fraction 1.0
[grain186]
crystallite 1
(constituent)   phase 1 texture 186 fraction 1.0
[grain187]
crystallite 1
(constituent)   phase 1 texture 187 fraction 1.0
[grain188]
crystallite 1
(constituent)   phase 1 texture 188 fraction 1.0
[grain189]
crystallite 1
(constituent)   phase 1 texture 189 fraction 1.0
[grain190]
crystallite 1
(constituent)   phase 1 texture 190 fraction 1.0
[grain191]
crystallite 1
(constituent)   phase 1 texture 191 fraction 1.0
[grain192]
crystallite 1
(constituent)   phase 1 texture 192 fraction 1.0
[grain193]
crystallite 1
(constituent)   phase 1 texture 193 fraction 1.0
[grain194]
crystallite 1
(constituent)   phase 1 texture 194 fraction 1.0
[grain195]
crystallite 1
(constituent)   phase 1 texture 195 fraction 1.0
[grain196]
crystallite 1
(constituent)   phase 1 texture 196 fraction 1.0
[grain197]
crystallite 1
(constituent)   phase 1 texture 197 fraction 1.0
[grain198]
crystallite 1
(constituent)   phase 1 texture 198 fraction 1.0
[grain199]
crystallite 1
(constituent)   phase 1 texture 199 fraction 1.0
[grain200]
crystallite 1
(constituent)   phase 1 texture 200 fraction 1.0
[grain201]
crystallite 1
(constituent)   phase 1 texture 201 fraction 1.0
[grain202]
crystallite 1
(constituent)   phase 1 texture 202 fraction 1.0
[grain203]
crystallite 1
(constituent)   phase 1 texture 203 fraction 1.0
[grain204]
crystallite 1
(constituent)   phase 1 texture 204 fraction 1.0
[grain205]
crystallite 1
(constituent)   phase 1 texture 205 fraction 1.0
[grain206]
crystallite 1
(constituent)   phase 1 texture 206 fraction 1.0
[grain207]
crystallite 1
(constituent)   phase 1 texture 207 fraction 1.0
[grain208]
crystallite 1
(constituent)   phase 1 texture 208 fraction 1.0
[grain209]
crystallite 1
(constituent)   phase 1 texture 209 fraction 1.0
[grain210]
crystallite 1
(constituent)   phase 1 texture 210 fraction 1.0
[grain211]
crystallite 1
(constituent)   phase 1 texture 211 fraction 1.0
[grain212]
crystallite 1
(constituent)   phase 1 texture 212 fraction 1.0
[grain213]
crystallite 1
(constituent)   phase 1 texture 213 fraction 1.0
[grain214]
crystallite 1
(constituent)   phase 1 texture 214 fraction 1.0
[grain215]
crystallite 1
(constituent)   phase 1 texture 215 fraction 1.0
[grain216]
crystallite 1
(constituent)   phase 1 texture 216 fraction 1.0
[grain217]
crystallite 1
(constituent)   phase 1 texture 217 fraction 1.0
[grain218]
crystallite 1
(constituent)   phase 1 texture 218 fraction 1.0
[grain219]
crystallite 1
(constituent)   phase 1 texture 219 fraction 1.0
[grain220]
crystallite 1
(constituent)   phase 1 texture 220 fraction 1.0
[grain221]
crystallite 1
(constituent)   phase 1 texture 221 fraction 1.0
[grain222]
crystallite 1
(constituent)   phase 1 texture 222 fraction 1.0
[grain223]
crystallite 1
(constituent)   phase 1 texture 223 fraction 1.0
[grain224]
crystallite 1
(constituent)   phase 1 texture 224 fraction 1.0
[grain225]
crystallite 1
(constituent)   phase 1 texture 225 fraction 1.0
[grain226]
crystallite 1
(constituent)   phase 1 texture 226 fraction 1.0
[grain227]
crystallite 1
(constituent)   phase 1 texture 227 fraction 1.0
[grain228]
crystallite 1
(constituent)   phase 1 texture 228 fraction 1.0
[grain229]
crystallite 1
(constituent)   phase 1 texture 229 fraction 1.0
[grain230]
crystallite 1
(constituent)   phase 1 texture 230 fraction 1.0
[grain231]
crystallite 1
(constituent)   phase 1 texture 231 fraction 1.0
[grain232]
crystallite 1
(constituent)   phase 1 texture 232 fraction 1.0
[grain233]
crystallite 1
(constituent)   phase 1 texture 233 fraction 1.0
[grain234]
crystallite 1
(constituent)   phase 1 texture 234 fraction 1.0
[grain235]
crystallite 1
(constituent)   phase 1 texture 235 fraction 1.0
[grain236]
crystallite 1
(constituent)   phase 1 texture 236 fraction 1.0
[grain237]
crystallite 1
(constituent)   phase 1 texture 237 fraction 1.0
