#-------------------#
<homogenization>
#-------------------#

[dummy]
mech			isostrain
type			none
nconstituents	1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[Aluminum]

elasticity              hooke
plasticity              nonlocal
/nonlocal/

# (output)                rho
# (output)                rho_edge
# (output)                rho_screw
# (output)                rho_sgl
# (output)                rho_sgl_edge_pos
# (output)                rho_sgl_edge_neg
# (output)                rho_sgl_screw_pos
# (output)                rho_sgl_screw_neg
# (output)                rho_sgl_edge_pos_mobile
# (output)                rho_sgl_edge_neg_mobile
# (output)                rho_sgl_screw_pos_mobile
# (output)                rho_sgl_screw_neg_mobile
# (output)                rho_sgl_edge_pos_immobile
# (output)                rho_sgl_edge_neg_immobile
# (output)                rho_sgl_screw_pos_immobile
# (output)                rho_sgl_screw_neg_immobile
# (output)                rho_dip_edge
# (output)                rho_dip_screw
# (output)                rho_forest
# (output)                delta
# (output)                delta_sgl
# (output)                delta_dip
# (output)                shearrate
# (output)                resolvedstress
# (output)                resolvedstress_back
# (output)                resolvedstress_external
# (output)                resistance
# (output)                rho_dot
# (output)                rho_dot_sgl
# (output)                rho_dot_sgl_mobile
# (output)                rho_dot_dip
# (output)                rho_dot_gen_edge
# (output)                rho_dot_gen_screw
# (output)                rho_dot_sgl2dip_edge
# (output)                rho_dot_sgl2dip_screw
# (output)                rho_dot_ann_ath
# (output)                rho_dot_ann_the
# (output)                rho_dot_ann_the_edge
# (output)                rho_dot_ann_the_screw
# (output)                rho_dot_edgejogs
# (output)                rho_dot_flux
# (output)                rho_dot_flux_mobile
# (output)                rho_dot_flux_edge
# (output)                rho_dot_flux_screw
# (output)                velocity_edge_pos
# (output)                velocity_edge_neg
# (output)                velocity_screw_pos
# (output)                velocity_screw_neg
# (output)                maximumDipoleHeight_edge
# (output)                maximumDipoleHeight_screw
# (output)                accumulated_shear
# (output)                dislocationstress

lattice_structure       fcc
Nslip                   12                       # number of slip systems

c11                     106.75e9                 # elastic constants
c12                     60.41e9
c44                     28.34e9

burgers                 2.86e-10                 # Burgers vector in m
rhoSglEdgePos0          0.25e10                  # Initial positive edge single dislocation density in m/m**3 (per slip family)
rhoSglEdgeNeg0          0.25e10                  # Initial negative edge single dislocation density in m/m**3 (per slip family)
rhoSglScrewPos0         0.25e10                  # Initial positive screw single dislocation density in m/m**3 (per slip family)
rhoSglScrewNeg0         0.25e10                  # Initial negative screw single dislocation density in m/m**3 (per slip family)
rhoDipEdge0             1e8                      # Initial edge dipole dislocation density in m/m**3 (per slip family)
rhoDipScrew0            1e8                      # Initial screw dipole dislocation density in m/m**3 (per slip family)
rhoSglScatter           0                        # standard deviation of scatter in initial single dislocation density
#rhoSglRandom           1e12                     # randomly distributed total dislocation density (sum over all slip systems and types) in m/m**3
#rhoSglRandomBinning    1                        # binning size of randomly distributed dislocations (number of dislocations per ip volume)
minimumDipoleHeightEdge  2e-9                    # minimum distance for stable edge dipoles in m (per slip family)
minimumDipoleHeightScrew 2e-9                    # minimum distance for stable screw dipoles in m (per slip family)
lambda0                 80                       # prefactor for mean free path 
edgeMultiplication      0.1                      # factor to which edges contribute to multiplication
atomicVolume            1.7e-29                  # atomic volume in m**3
selfdiffusionPrefactor  1e-4                     # prefactor for self-diffusion coefficient in m**2/s
selfdiffusionEnergy     2.3e-19                  # activation enthalpy for seld-diffusion in J
solidSolutionEnergy     2e-19                    # activation energy of solid solution particles in J
solidSolutionConcentration 1e-5                  # concentration of solid solution in parts per b^3
solidSolutionSize       2                        # size of solid solution obstacles in multiples of burgers vector length
peierlsStressEdge       1e5                      # Peierls stress for edges in Pa (per slip family)
peierlsStressScrew      1e5                      # Peierls stress for screws in Pa (per slip family)
doublekinkWidth         10                       # width of double kinks in multiples of burgers vector length b
viscosity               1e-4                     # viscosity for dislocation glide in Pa s
p                       1                        # exponent for thermal barrier profile
q                       1                        # exponent for thermal barrier profile
attackFrequency         50e9                     # attack frequency in Hz
surfaceTransmissivity   1.0                      # transmissivity of free surfaces for dislocation flux
grainboundaryTransmissivity   0.0                # transmissivity of grain boundaries for dislocation flux (grain bundaries are identified as interfaces with different textures on both sides); if not set or set to negative number, the subroutine automatically determines the transmissivity at the grain boundary
interaction_SlipSlip    0  0  0.625  0.07  0.137  0.122  # Dislocation interaction coefficient
linetension             0.8                      # constant indicating the effect of the line tension on the hardening coefficients (0 to 1)
edgejog                 1.0                      # fraction of annihilated screw dipoles that forms edge jogs (0 to 1)
shortRangeStressCorrection 0                     # switch for use of short range correction stress
cutoffRadius            1e-3                     # cutoff radius for dislocation stress in m
CFLfactor               2.0                      # safety factor for CFL flux check (numerical parameter)
significantRho          1e6                      # minimum dislocation density considered relevant in m/m**3
#significantN           0.1                      # minimum dislocation number per ip considered relevant
aTol_density            1e4                      # absolute tolerance for dislocation density in m/m**3
aTol_shear              1e-20                    # absolute tolerance for plasgtic shear
randomMultiplication    0                        # switch for probabilistic extension of multiplication rate
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 39.898   Phi 115.508    phi2 242.974   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 323.837   Phi 59.693    phi2 328.579   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 275.004   Phi 142.805    phi2 137.074   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 226.487   Phi 66.085    phi2 203.247   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 146.754   Phi 108.524    phi2 33.741   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 327.093   Phi 66.396    phi2 147.346   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 89.078   Phi 30.083    phi2 48.909   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 272.801   Phi 144.325    phi2 226.926   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 324.134   Phi 71.713    phi2 247.545   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 326.178   Phi 65.582    phi2 145.789   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 94.075   Phi 36.055    phi2 311.054   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 219.738   Phi 65.395    phi2 32.223   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 221.830   Phi 63.795    phi2 198.934   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 227.081   Phi 67.235    phi2 114.349   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 323.707   Phi 71.033    phi2 150.674   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 44.414   Phi 113.764    phi2 339.765   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 95.621   Phi 35.201    phi2 42.647   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 320.173   Phi 66.105    phi2 237.431   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 224.710   Phi 66.822    phi2 112.267   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 272.801   Phi 144.325    phi2 226.926   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 40.818   Phi 108.224    phi2 156.298   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 221.897   Phi 67.844    phi2 105.465   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 39.898   Phi 115.508    phi2 242.974   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 221.897   Phi 67.844    phi2 105.465   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 221.897   Phi 67.844    phi2 105.465   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 83.160   Phi 36.469    phi2 230.829   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 143.140   Phi 116.703    phi2 113.432   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 140.214   Phi 114.214    phi2 28.797   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 87.271   Phi 31.111    phi2 326.234   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 140.214   Phi 114.214    phi2 28.797   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 274.025   Phi 150.419    phi2 228.956   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 221.897   Phi 67.844    phi2 105.465   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 39.898   Phi 115.508    phi2 242.974   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 318.526   Phi 64.939    phi2 72.747   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 219.066   Phi 67.909    phi2 27.853   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 219.738   Phi 65.395    phi2 32.223   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 321.306   Phi 71.326    phi2 331.363   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 143.029   Phi 116.753    phi2 210.743   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 39.898   Phi 115.508    phi2 242.974   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 269.610   Phi 152.290    phi2 221.604   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 42.597   Phi 118.116    phi2 158.043   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 328.583   Phi 61.780    phi2 241.658   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 219.738   Phi 65.395    phi2 32.223   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 322.381   Phi 66.891    phi2 61.261   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 141.088   Phi 115.603    phi2 207.610   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 227.042   Phi 60.803    phi2 21.141   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 42.597   Phi 118.116    phi2 158.043   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 327.093   Phi 66.396    phi2 147.346   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 147.241   Phi 116.346    phi2 31.299   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 42.879   Phi 108.832    phi2 156.648   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 139.149   Phi 110.071    phi2 297.878   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 321.306   Phi 71.326    phi2 331.363   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 327.213   Phi 61.787    phi2 149.971   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 146.754   Phi 108.524    phi2 33.741   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 39.898   Phi 115.508    phi2 242.974   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 90.982   Phi 32.097    phi2 314.947   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 81.233   Phi 37.208    phi2 323.267   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 47.875   Phi 108.312    phi2 332.217   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 258.774   Phi 145.295    phi2 30.279   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 219.738   Phi 65.395    phi2 32.223   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 320.247   Phi 71.268    phi2 337.298   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 321.306   Phi 71.326    phi2 331.363   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 81.233   Phi 37.208    phi2 323.267   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 262.673   Phi 149.225    phi2 37.658   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 321.352   Phi 65.941    phi2 245.835   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 321.352   Phi 65.941    phi2 245.835   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 40.434   Phi 117.881    phi2 157.855   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 327.093   Phi 66.396    phi2 147.346   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 225.523   Phi 70.015    phi2 197.213   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 220.918   Phi 64.840    phi2 294.241   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 84.969   Phi 36.174    phi2 237.678   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 45.911   Phi 111.882    phi2 331.067   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 148.791   Phi 114.821    phi2 22.693   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 44.208   Phi 108.523    phi2 241.848   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 262.628   Phi 139.559    phi2 305.919   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 320.302   Phi 65.694    phi2 243.932   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 218.813   Phi 61.171    phi2 200.131   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 40.911   Phi 113.889    phi2 65.902   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 143.181   Phi 115.742    phi2 113.400   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 327.213   Phi 61.787    phi2 149.971   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 39.898   Phi 115.508    phi2 242.974   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 218.619   Phi 63.803    phi2 30.079   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 38.285   Phi 109.127    phi2 240.836   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 320.247   Phi 71.268    phi2 337.298   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 264.119   Phi 142.170    phi2 127.962   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 38.313   Phi 120.536    phi2 242.435   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 91.624   Phi 28.144    phi2 139.637   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 272.184   Phi 144.061    phi2 315.094   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 318.659   Phi 62.745    phi2 343.265   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 221.897   Phi 67.844    phi2 105.465   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 86.973   Phi 35.118    phi2 55.950   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 81.233   Phi 37.208    phi2 323.267   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 225.523   Phi 70.015    phi2 197.213   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 219.738   Phi 65.395    phi2 32.223   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 81.233   Phi 37.208    phi2 323.267   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 225.236   Phi 59.928    phi2 208.022   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 42.597   Phi 118.116    phi2 158.043   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 328.133   Phi 65.284    phi2 236.600   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 321.149   Phi 70.827    phi2 64.007   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 146.359   Phi 117.079    phi2 298.391   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 320.247   Phi 71.268    phi2 337.298   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 140.214   Phi 114.214    phi2 28.797   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 327.213   Phi 61.787    phi2 149.971   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 81.233   Phi 37.208    phi2 323.267   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 81.233   Phi 37.208    phi2 323.267   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 222.784   Phi 69.411    phi2 29.016   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 141.843   Phi 114.570    phi2 298.352   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 225.523   Phi 70.015    phi2 197.213   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 86.500   Phi 32.443    phi2 138.888   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 43.960   Phi 110.404    phi2 340.044   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 225.523   Phi 70.015    phi2 197.213   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 147.162   Phi 114.287    phi2 21.151   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 221.337   Phi 62.041    phi2 26.796   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 267.637   Phi 140.950    phi2 221.480   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 319.159   Phi 70.309    phi2 70.604   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
