#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              1.969159996842e-02
n_slip                  5.022260839615e+01
a_slip                  2.576269653269e+00
tau0_slip               1.403024164111e+08
tausat_slip             9.045634465384e+08
h0_slipslip             5.856532460565e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 308.587   Phi 163.997    phi2 324.988   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 324.561   Phi 86.805    phi2 271.713   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 241.339   Phi 51.142    phi2 261.977   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 54.488   Phi 70.408    phi2 15.606   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 144.875   Phi 132.465    phi2 333.986   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 0.062   Phi 79.687    phi2 202.084   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 48.035   Phi 89.135    phi2 226.707   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 85.840   Phi 122.255    phi2 174.529   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 58.822   Phi 130.471    phi2 280.488   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 232.514   Phi 62.267    phi2 214.537   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 128.577   Phi 104.260    phi2 203.933   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 229.970   Phi 30.128    phi2 180.470   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 109.566   Phi 159.335    phi2 323.912   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 140.757   Phi 82.202    phi2 318.772   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 26.613   Phi 74.679    phi2 17.015   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 153.993   Phi 110.130    phi2 68.119   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 50.775   Phi 40.833    phi2 196.593   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 294.632   Phi 112.857    phi2 359.104   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 248.209   Phi 127.525    phi2 202.844   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 237.113   Phi 172.628    phi2 60.175   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 203.522   Phi 123.810    phi2 219.437   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 177.038   Phi 25.458    phi2 41.903   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 167.513   Phi 29.144    phi2 161.972   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 288.143   Phi 111.682    phi2 122.259   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 329.267   Phi 137.732    phi2 16.835   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 61.039   Phi 101.547    phi2 113.359   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 241.027   Phi 53.558    phi2 80.568   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 78.939   Phi 165.929    phi2 318.936   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 141.370   Phi 54.234    phi2 342.428   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 266.375   Phi 98.471    phi2 97.690   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 325.730   Phi 34.231    phi2 279.811   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 97.965   Phi 93.088    phi2 264.813   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 107.847   Phi 93.755    phi2 338.465   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 111.523   Phi 155.519    phi2 150.042   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 271.727   Phi 29.571    phi2 101.082   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 222.057   Phi 32.709    phi2 276.969   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 117.777   Phi 88.840    phi2 344.451   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 269.104   Phi 66.554    phi2 357.099   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 17.360   Phi 51.493    phi2 55.417   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 110.878   Phi 90.961    phi2 188.549   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 218.963   Phi 93.651    phi2 227.004   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 20.372   Phi 118.624    phi2 145.607   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 126.538   Phi 94.400    phi2 343.552   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 90.753   Phi 70.602    phi2 250.095   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 271.681   Phi 133.249    phi2 343.193   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 118.842   Phi 23.418    phi2 8.146   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 248.886   Phi 49.963    phi2 182.708   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 175.179   Phi 161.242    phi2 333.320   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 332.135   Phi 138.577    phi2 31.796   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 196.751   Phi 104.748    phi2 180.669   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 89.328   Phi 123.579    phi2 232.124   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 336.634   Phi 40.794    phi2 92.065   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 174.048   Phi 171.511    phi2 308.273   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 338.178   Phi 106.436    phi2 20.653   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 303.332   Phi 38.268    phi2 103.459   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 193.925   Phi 134.587    phi2 75.657   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 70.363   Phi 122.069    phi2 238.892   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 299.434   Phi 62.377    phi2 81.248   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 302.062   Phi 58.571    phi2 186.063   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 308.111   Phi 138.560    phi2 75.068   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 139.611   Phi 124.876    phi2 176.738   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 82.456   Phi 39.145    phi2 324.587   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 346.577   Phi 89.198    phi2 91.849   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 236.354   Phi 153.904    phi2 299.303   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
