#-------------------#
<homogenization>
#-------------------#

# [dummy]
# mech			isostrain
# type			none
# nconstituents	1

[SX]
mech 			none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#


# parameters excerped from:
# DAMASK – The Düsseldorf Advanced Material Simulation Kit for modeling multi-physics crystal plasticity, thermal, and damage phenomena from the single crystal up to the component scale
# Table 4


[nickel_phenopowerlaw]
# slip only
elasticity              hooke
plasticity              phenopowerlaw

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                totalshear
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                totalvolfrac_twin

lattice_structure       fcc
Nslip                   12              # per family
Ntwin                    0              # per family

c11                     251.0e9
c12                     150.0e9
c44                     124.0e9

gdot0_slip              0.001
n_slip                  83.3
tau0_slip               26.1e6                 # per family
tausat_slip             240.0e6                # per family
a_slip                  1.0
gdot0_twin              0.001
n_twin                  20
h0_slipslip             365e9  # This value is very suspicious but it was excerpted from the paper
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
atol_resistance         1

#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 49.731   Phi 112.430    phi2 253.138   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 224.059   Phi 65.700    phi2 21.211   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 321.886   Phi 67.115    phi2 241.201   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 140.513   Phi 113.480    phi2 207.672   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 219.096   Phi 65.235    phi2 300.540   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 327.699   Phi 62.756    phi2 146.429   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 144.269   Phi 105.072    phi2 202.971   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 90.578   Phi 39.558    phi2 52.242   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 219.305   Phi 62.401    phi2 30.638   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 219.841   Phi 67.478    phi2 112.664   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 140.887   Phi 114.335    phi2 210.298   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 224.976   Phi 72.582    phi2 298.330   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 41.277   Phi 107.625    phi2 64.875   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 43.220   Phi 119.384    phi2 161.220   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 258.162   Phi 144.352    phi2 28.458   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 322.755   Phi 64.175    phi2 248.365   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 217.434   Phi 59.225    phi2 28.112   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 141.172   Phi 104.241    phi2 203.274   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 322.755   Phi 64.175    phi2 248.365   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 37.134   Phi 112.057    phi2 237.120   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 278.055   Phi 144.713    phi2 139.928   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 274.880   Phi 138.592    phi2 227.053   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 327.699   Phi 62.756    phi2 146.429   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 324.563   Phi 74.167    phi2 242.067   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 142.118   Phi 112.556    phi2 293.272   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 140.144   Phi 105.931    phi2 296.418   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 140.314   Phi 110.058    phi2 300.391   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 271.291   Phi 153.023    phi2 217.394   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 269.486   Phi 143.122    phi2 128.843   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 322.092   Phi 70.344    phi2 333.094   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 319.253   Phi 61.590    phi2 156.937   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 319.716   Phi 67.471    phi2 152.561   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 149.905   Phi 115.827    phi2 123.345   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 324.564   Phi 76.234    phi2 65.660   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 274.880   Phi 138.592    phi2 227.053   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 138.169   Phi 112.924    phi2 111.455   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 35.709   Phi 115.706    phi2 236.985   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 146.412   Phi 114.734    phi2 201.074   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 225.220   Phi 67.420    phi2 119.378   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 323.711   Phi 65.384    phi2 66.114   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 145.897   Phi 115.444    phi2 23.267   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 146.412   Phi 114.734    phi2 201.074   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 94.743   Phi 39.556    phi2 222.834   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 219.305   Phi 62.401    phi2 30.638   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 140.144   Phi 105.931    phi2 296.418   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 140.513   Phi 113.480    phi2 207.672   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 140.637   Phi 118.005    phi2 27.508   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 328.147   Phi 68.847    phi2 237.278   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 323.488   Phi 69.857    phi2 243.317   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 317.952   Phi 73.667    phi2 334.533   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 38.397   Phi 116.614    phi2 66.617   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 224.059   Phi 65.700    phi2 21.211   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 88.820   Phi 36.417    phi2 48.904   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 320.192   Phi 71.982    phi2 332.932   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 95.205   Phi 33.284    phi2 223.324   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 225.453   Phi 70.423    phi2 18.087   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 145.442   Phi 108.172    phi2 206.440   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 221.806   Phi 58.676    phi2 290.652   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 94.844   Phi 41.752    phi2 135.861   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 224.316   Phi 64.211    phi2 299.587   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 140.144   Phi 105.931    phi2 296.418   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 43.502   Phi 112.213    phi2 343.146   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 322.755   Phi 64.175    phi2 248.365   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 140.513   Phi 113.480    phi2 207.672   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 96.822   Phi 37.567    phi2 311.804   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 224.571   Phi 69.412    phi2 293.152   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 321.287   Phi 66.736    phi2 63.105   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 268.819   Phi 138.824    phi2 129.121   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 86.488   Phi 36.898    phi2 54.874   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
