#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              1.000000000000e-03
n_slip                  4.969109100000e+01
a_slip                  5.000000000000e+00
tau0_slip               8.000000000000e+09
tausat_slip             1.012652732414e+07
h0_slipslip             4.044856699624e+06


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 43.795   Phi 116.704    phi2 285.490   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 334.472   Phi 129.616    phi2 293.010   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 123.164   Phi 68.273    phi2 326.886   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 134.977   Phi 117.194    phi2 121.845   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 158.510   Phi 85.104    phi2 150.019   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 88.198   Phi 168.927    phi2 30.370   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 216.938   Phi 75.707    phi2 69.085   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 142.327   Phi 55.946    phi2 215.142   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 111.287   Phi 67.131    phi2 204.830   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 92.236   Phi 134.675    phi2 57.981   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 2.559   Phi 116.918    phi2 139.239   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 263.958   Phi 78.757    phi2 29.081   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 12.472   Phi 132.888    phi2 142.373   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 321.138   Phi 155.785    phi2 272.009   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 96.398   Phi 72.389    phi2 257.337   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 48.402   Phi 79.204    phi2 278.687   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 158.882   Phi 86.627    phi2 32.170   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 188.259   Phi 110.448    phi2 116.338   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 65.091   Phi 64.384    phi2 24.101   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 309.686   Phi 114.625    phi2 109.638   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 266.916   Phi 50.070    phi2 51.533   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 336.286   Phi 65.709    phi2 341.932   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 91.044   Phi 43.670    phi2 354.876   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 266.159   Phi 94.795    phi2 23.202   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 7.550   Phi 134.313    phi2 202.588   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 74.367   Phi 57.547    phi2 315.378   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 255.672   Phi 130.892    phi2 310.803   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 176.357   Phi 86.740    phi2 291.460   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 357.333   Phi 71.730    phi2 62.763   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 146.029   Phi 76.876    phi2 342.688   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 135.261   Phi 99.590    phi2 65.018   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 68.717   Phi 73.912    phi2 170.201   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 355.677   Phi 65.400    phi2 198.590   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 110.162   Phi 153.619    phi2 60.165   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 41.076   Phi 144.136    phi2 152.184   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 143.791   Phi 117.858    phi2 213.739   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 3.255   Phi 89.505    phi2 217.725   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 86.344   Phi 99.717    phi2 204.765   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 311.985   Phi 132.422    phi2 9.668   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 327.911   Phi 24.381    phi2 238.520   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 77.631   Phi 20.912    phi2 130.895   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 32.714   Phi 41.221    phi2 281.799   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 36.998   Phi 36.035    phi2 310.053   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 134.511   Phi 117.578    phi2 92.380   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 16.984   Phi 43.942    phi2 327.925   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 183.042   Phi 62.161    phi2 164.113   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 310.334   Phi 113.474    phi2 290.219   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 140.139   Phi 64.471    phi2 350.248   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 314.237   Phi 74.021    phi2 308.374   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 320.298   Phi 150.847    phi2 340.900   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 244.508   Phi 103.995    phi2 247.900   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 65.143   Phi 53.590    phi2 1.140   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 15.524   Phi 47.724    phi2 100.100   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 300.377   Phi 63.828    phi2 246.908   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 51.579   Phi 101.484    phi2 257.840   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 44.038   Phi 109.801    phi2 125.478   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 345.153   Phi 104.335    phi2 65.314   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 343.475   Phi 6.513    phi2 83.132   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 98.643   Phi 95.205    phi2 161.435   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 265.787   Phi 134.387    phi2 222.076   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 27.616   Phi 122.137    phi2 195.801   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 248.264   Phi 55.468    phi2 335.881   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 233.075   Phi 84.029    phi2 152.586   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 342.127   Phi 69.964    phi2 55.644   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
