#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[cpTi-alpha]
plasticity	phenopowerlaw
elasticity	hooke

# (output)                resistance_slip
# (output)                shearrate_slip
# (output)                resolvedstress_slip
# (output)                totalshear
# (output)                resistance_twin
# (output)                shearrate_twin
# (output)                resolvedstress_twin
# (output)                totalvolfrac_twin

lattice_structure	hex
covera_ratio	1.587

# M. Levy, Handbook of Elastic Properties of Solids, Liquids, and Gases (2001)
c11	160.0e9
c12	 90.0e9
c13	 66.0e9
c33	181.7e9
c44	 46.5e9
# C. Zambaldi, "Orientation informed nanoindentation of a-titanium: Indentation pileup in hexagonal metals deforming by prismatic slip", J. Mater. Res., Vol. 27, No. 1, Jan 14, 2012
gdot0_slip	0.001
n_slip	20
nslip	            3        3 0        6 0 0
tau0_slip	  349.3e6    150e6 0 1107.9e6 0 0
tausat_slip	  568.6e6 1502.2e6 0 3420.1e6 0 0
a_slip	2
ntwin	0 0 0 0
gdot0_twin	0.001 0 0 0
n_twin	20
tau0_twin	31e6 0 0 0 0
s_pr	0
twin_b	0
twin_c	0
twin_d	0
twin_e	0
h0_slipslip	15e6
h0_twinslip	15e6
h0_twintwin	15e6
atol_resistance	1
#atol_shear	1e-6
#atol_twinfrac	1e-7

interaction_slipslip	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_sliptwin	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twinslip	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twintwin	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
#nonschmid_coefficients	0
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 1.269   Phi 81.007    phi2 31.081   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 206.095   Phi 9.477    phi2 166.903   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 171.472   Phi 84.815    phi2 66.067   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 77.247   Phi 77.927    phi2 182.740   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 106.261   Phi 98.305    phi2 276.465   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 174.401   Phi 97.399    phi2 14.929   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 357.222   Phi 88.985    phi2 193.824   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 78.412   Phi 87.192    phi2 80.178   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 84.293   Phi 78.631    phi2 7.086   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 263.075   Phi 9.974    phi2 175.314   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 176.666   Phi 95.458    phi2 0.773   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 358.683   Phi 96.841    phi2 353.479   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 79.982   Phi 64.777    phi2 79.556   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 95.413   Phi 71.653    phi2 69.694   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 303.749   Phi 53.776    phi2 211.529   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 315.679   Phi 4.890    phi2 228.789   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 180.935   Phi 101.400    phi2 199.035   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 98.705   Phi 104.318    phi2 264.490   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 350.627   Phi 0.526    phi2 193.190   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 91.219   Phi 66.873    phi2 91.850   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 148.156   Phi 14.861    phi2 205.106   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 34.375   Phi 167.544    phi2 293.816   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 83.423   Phi 92.343    phi2 194.139   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 189.214   Phi 98.443    phi2 259.765   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 164.854   Phi 22.809    phi2 95.278   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 260.246   Phi 97.740    phi2 166.993   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 118.939   Phi 164.917    phi2 124.694   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 260.275   Phi 102.059    phi2 350.351   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 77.362   Phi 14.549    phi2 110.496   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 85.705   Phi 19.162    phi2 179.956   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 290.004   Phi 170.192    phi2 33.568   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 258.086   Phi 76.565    phi2 272.693   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 250.300   Phi 19.561    phi2 298.955   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 3.594   Phi 159.384    phi2 4.890   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 33.054   Phi 17.857    phi2 136.513   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 2.619   Phi 91.779    phi2 166.936   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 286.917   Phi 9.458    phi2 318.930   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 171.472   Phi 84.815    phi2 66.067   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 178.461   Phi 79.297    phi2 264.426   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 161.337   Phi 89.389    phi2 178.243   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 93.112   Phi 66.465    phi2 1.961   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 288.090   Phi 98.487    phi2 176.382   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 250.744   Phi 92.545    phi2 90.791   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 315.679   Phi 4.890    phi2 228.789   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 178.541   Phi 7.231    phi2 358.462   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 162.781   Phi 14.578    phi2 314.663   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 253.209   Phi 102.566    phi2 74.916   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 163.815   Phi 98.928    phi2 257.122   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 258.450   Phi 7.342    phi2 15.503   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 196.929   Phi 21.921    phi2 157.983   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 173.547   Phi 82.236    phi2 99.915   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 152.462   Phi 37.607    phi2 249.718   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 261.615   Phi 71.073    phi2 4.227   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 174.123   Phi 88.696    phi2 358.074   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 22.955   Phi 164.963    phi2 225.756   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 2.619   Phi 91.779    phi2 166.936   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 215.625   Phi 12.460    phi2 233.106   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 176.184   Phi 98.750    phi2 80.406   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 66.480   Phi 84.049    phi2 356.436   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 357.222   Phi 88.985    phi2 193.824   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 357.222   Phi 88.985    phi2 193.824   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 83.423   Phi 92.343    phi2 194.139   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 239.551   Phi 174.806    phi2 74.210   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 77.958   Phi 92.030    phi2 349.105   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 346.817   Phi 90.094    phi2 353.734   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 46.584   Phi 6.161    phi2 141.188   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 190.881   Phi 98.078    phi2 290.336   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 258.108   Phi 98.857    phi2 98.772   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 90.769   Phi 112.867    phi2 245.785   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 194.055   Phi 58.599    phi2 200.317   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 152.464   Phi 170.014    phi2 345.176   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 207.747   Phi 58.541    phi2 171.701   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 335.519   Phi 9.685    phi2 277.453   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 104.317   Phi 84.985    phi2 353.669   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 87.421   Phi 87.636    phi2 4.335   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 83.423   Phi 92.343    phi2 194.139   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 356.694   Phi 95.954    phi2 7.691   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 254.061   Phi 93.380    phi2 77.297   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 265.998   Phi 78.031    phi2 356.237   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 5.120   Phi 157.110    phi2 99.012   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 184.608   Phi 86.235    phi2 259.500   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 162.012   Phi 90.698    phi2 88.833   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 83.423   Phi 92.343    phi2 194.139   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 284.512   Phi 96.720    phi2 280.429   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
