#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 109.851   Phi 97.040    phi2 309.415   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 270.785   Phi 51.641    phi2 55.600   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 178.485   Phi 47.482    phi2 260.392   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 56.250   Phi 64.919    phi2 220.885   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 108.005   Phi 147.182    phi2 280.983   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 321.379   Phi 139.031    phi2 227.370   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 321.803   Phi 149.981    phi2 58.648   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 75.064   Phi 63.435    phi2 202.054   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 165.712   Phi 173.812    phi2 212.371   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 41.569   Phi 103.662    phi2 63.790   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 302.524   Phi 39.367    phi2 298.150   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 63.052   Phi 147.949    phi2 253.762   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 265.656   Phi 98.167    phi2 299.861   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 177.230   Phi 60.564    phi2 193.715   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 95.093   Phi 70.231    phi2 85.798   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 38.279   Phi 73.071    phi2 144.273   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 183.682   Phi 54.494    phi2 227.130   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 102.548   Phi 169.515    phi2 222.401   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 340.081   Phi 153.262    phi2 262.227   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 97.568   Phi 88.270    phi2 179.404   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 212.069   Phi 152.043    phi2 160.088   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 281.996   Phi 72.915    phi2 296.911   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 110.002   Phi 104.702    phi2 264.578   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 91.943   Phi 105.917    phi2 230.678   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 294.948   Phi 88.156    phi2 106.652   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 186.637   Phi 73.928    phi2 256.808   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 83.243   Phi 153.794    phi2 273.669   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 262.372   Phi 125.899    phi2 143.088   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 68.026   Phi 115.431    phi2 171.711   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 341.888   Phi 58.621    phi2 66.372   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 0.388   Phi 132.937    phi2 313.800   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 292.619   Phi 135.859    phi2 18.823   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 50.806   Phi 129.263    phi2 153.868   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 269.108   Phi 146.647    phi2 174.656   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 239.203   Phi 44.923    phi2 223.302   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 220.586   Phi 51.124    phi2 100.406   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 210.691   Phi 155.413    phi2 64.396   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 241.072   Phi 86.102    phi2 106.557   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 16.002   Phi 102.806    phi2 24.103   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 248.732   Phi 91.748    phi2 289.566   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 214.180   Phi 126.500    phi2 315.358   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 323.647   Phi 153.773    phi2 306.734   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 265.282   Phi 38.084    phi2 320.467   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 214.296   Phi 122.187    phi2 97.279   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 166.401   Phi 90.037    phi2 213.985   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 88.038   Phi 42.487    phi2 173.619   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 327.609   Phi 150.853    phi2 47.086   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 356.375   Phi 121.748    phi2 320.946   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 201.314   Phi 137.176    phi2 51.054   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 140.841   Phi 42.105    phi2 158.141   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 71.096   Phi 135.328    phi2 203.104   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 351.891   Phi 118.219    phi2 22.837   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 165.682   Phi 130.596    phi2 264.957   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 321.509   Phi 114.098    phi2 177.980   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 331.496   Phi 70.134    phi2 17.371   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 85.007   Phi 98.960    phi2 308.428   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 153.264   Phi 97.628    phi2 261.295   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 287.582   Phi 134.094    phi2 288.455   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 36.776   Phi 25.636    phi2 283.718   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 56.797   Phi 125.282    phi2 108.254   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 153.568   Phi 116.845    phi2 352.482   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 123.550   Phi 128.256    phi2 149.824   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 315.209   Phi 85.093    phi2 160.654   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 121.013   Phi 142.343    phi2 63.954   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 339.642   Phi 67.608    phi2 251.970   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 135.236   Phi 124.645    phi2 307.335   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 119.344   Phi 151.227    phi2 30.581   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 106.710   Phi 112.074    phi2 227.694   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 327.958   Phi 24.108    phi2 156.216   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 39.178   Phi 117.618    phi2 317.688   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 64.267   Phi 14.873    phi2 43.190   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 315.229   Phi 88.999    phi2 358.823   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 337.752   Phi 49.312    phi2 116.911   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 105.941   Phi 80.205    phi2 142.249   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 75.249   Phi 57.736    phi2 150.963   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 213.343   Phi 57.810    phi2 301.362   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 110.861   Phi 72.667    phi2 335.517   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 130.383   Phi 48.127    phi2 269.225   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 219.493   Phi 74.777    phi2 0.022   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 46.619   Phi 74.769    phi2 147.441   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 106.103   Phi 141.715    phi2 233.662   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 70.315   Phi 54.452    phi2 46.302   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 144.758   Phi 60.255    phi2 124.710   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 338.709   Phi 86.802    phi2 249.314   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 210.896   Phi 77.466    phi2 78.413   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 200.016   Phi 75.767    phi2 172.729   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 228.918   Phi 115.562    phi2 274.004   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 205.917   Phi 24.398    phi2 215.087   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 3.947   Phi 112.742    phi2 305.596   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 105.546   Phi 107.062    phi2 107.656   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 181.641   Phi 53.929    phi2 165.411   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 63.173   Phi 64.468    phi2 307.754   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 226.455   Phi 99.492    phi2 219.455   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 204.142   Phi 146.603    phi2 68.170   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 281.660   Phi 27.107    phi2 248.862   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 272.385   Phi 45.124    phi2 151.174   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 262.347   Phi 115.531    phi2 11.127   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 282.500   Phi 64.487    phi2 110.233   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 50.468   Phi 92.147    phi2 35.447   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 135.125   Phi 65.686    phi2 108.330   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 204.142   Phi 146.603    phi2 68.170   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 250.304   Phi 95.641    phi2 205.668   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 227.216   Phi 145.772    phi2 254.958   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 237.665   Phi 4.677    phi2 153.481   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 313.433   Phi 131.496    phi2 270.159   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 75.298   Phi 153.346    phi2 181.983   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 319.583   Phi 107.260    phi2 323.641   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 146.719   Phi 74.402    phi2 204.176   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 221.044   Phi 95.593    phi2 298.047   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 316.796   Phi 45.790    phi2 64.851   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
