#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 162.154   Phi 42.979    phi2 107.296   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 204.947   Phi 104.748    phi2 315.446   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 114.994   Phi 127.648    phi2 310.336   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 145.416   Phi 43.337    phi2 220.713   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 53.470   Phi 107.179    phi2 10.369   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 196.764   Phi 33.045    phi2 185.666   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 281.660   Phi 44.108    phi2 260.732   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 344.461   Phi 72.074    phi2 88.866   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 87.100   Phi 103.587    phi2 291.309   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 16.187   Phi 93.880    phi2 109.956   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 176.684   Phi 150.128    phi2 107.797   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 171.876   Phi 89.633    phi2 319.917   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 245.132   Phi 112.805    phi2 30.744   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 181.846   Phi 89.275    phi2 273.408   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 142.310   Phi 104.476    phi2 14.960   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 266.204   Phi 115.581    phi2 51.514   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 37.238   Phi 101.002    phi2 345.343   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 128.226   Phi 103.201    phi2 285.615   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 104.471   Phi 83.333    phi2 124.686   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 71.161   Phi 63.264    phi2 330.054   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 161.477   Phi 27.908    phi2 294.759   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 10.726   Phi 109.636    phi2 227.432   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 76.359   Phi 95.037    phi2 243.419   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 275.092   Phi 137.202    phi2 206.318   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 34.160   Phi 89.962    phi2 273.076   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 111.428   Phi 25.975    phi2 265.549   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 61.586   Phi 121.832    phi2 139.287   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 220.379   Phi 122.031    phi2 85.304   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 185.600   Phi 162.614    phi2 324.898   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 111.485   Phi 51.854    phi2 56.333   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 81.350   Phi 147.371    phi2 8.787   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 232.271   Phi 48.685    phi2 216.375   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 329.929   Phi 95.272    phi2 85.520   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 181.783   Phi 84.166    phi2 218.168   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 259.904   Phi 50.633    phi2 270.792   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 166.439   Phi 45.311    phi2 204.194   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 231.158   Phi 49.004    phi2 355.783   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 214.919   Phi 101.409    phi2 222.238   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 34.164   Phi 55.583    phi2 278.795   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 173.129   Phi 152.574    phi2 200.178   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 71.929   Phi 120.655    phi2 70.651   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 249.967   Phi 127.279    phi2 307.254   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 142.235   Phi 55.230    phi2 157.943   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 224.837   Phi 110.381    phi2 276.159   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 234.620   Phi 87.322    phi2 159.536   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 175.650   Phi 12.661    phi2 105.133   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 263.680   Phi 102.967    phi2 357.879   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 50.656   Phi 38.732    phi2 278.775   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 349.551   Phi 162.492    phi2 304.156   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 154.262   Phi 96.849    phi2 4.497   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 236.744   Phi 112.467    phi2 328.291   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 48.263   Phi 68.957    phi2 102.439   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 96.440   Phi 56.488    phi2 251.897   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 12.132   Phi 63.208    phi2 284.715   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 340.720   Phi 83.593    phi2 134.732   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 192.652   Phi 97.387    phi2 31.145   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 32.877   Phi 73.818    phi2 275.409   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 213.828   Phi 132.293    phi2 257.978   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 167.754   Phi 46.996    phi2 347.884   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 341.819   Phi 74.104    phi2 176.858   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 264.064   Phi 85.945    phi2 152.105   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 219.238   Phi 106.078    phi2 274.903   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 149.806   Phi 88.380    phi2 221.115   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 253.197   Phi 62.313    phi2 332.636   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 124.030   Phi 48.554    phi2 204.608   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 58.441   Phi 93.945    phi2 122.353   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 38.978   Phi 64.156    phi2 307.584   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 233.330   Phi 104.389    phi2 37.620   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 24.939   Phi 87.863    phi2 140.426   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 2.659   Phi 28.187    phi2 179.154   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 132.664   Phi 116.992    phi2 195.652   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 171.197   Phi 165.855    phi2 209.095   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 18.627   Phi 121.137    phi2 99.976   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 47.101   Phi 61.674    phi2 342.959   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 18.012   Phi 49.008    phi2 235.079   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 124.153   Phi 43.074    phi2 291.911   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 242.591   Phi 132.469    phi2 209.087   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 291.189   Phi 56.132    phi2 265.843   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 276.520   Phi 148.143    phi2 222.068   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 85.097   Phi 53.533    phi2 316.669   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 114.933   Phi 18.714    phi2 240.963   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 188.467   Phi 100.768    phi2 4.092   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 299.945   Phi 82.648    phi2 302.040   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 257.499   Phi 109.524    phi2 172.854   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 141.548   Phi 144.036    phi2 276.981   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 151.869   Phi 142.252    phi2 138.683   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 307.559   Phi 31.355    phi2 84.233   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 177.106   Phi 31.214    phi2 335.227   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 326.250   Phi 138.717    phi2 81.161   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 310.023   Phi 136.483    phi2 359.060   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 83.773   Phi 75.630    phi2 225.519   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 118.462   Phi 130.928    phi2 12.979   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 44.084   Phi 72.842    phi2 339.270   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 46.156   Phi 75.911    phi2 13.394   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 135.804   Phi 110.514    phi2 120.029   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 32.673   Phi 78.447    phi2 271.005   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 325.770   Phi 125.083    phi2 136.838   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 165.891   Phi 24.509    phi2 67.081   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 299.945   Phi 82.648    phi2 302.040   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
