#-------------------#
<homogenization>
#-------------------#

[dummy]
mech			isostrain
type			none
nconstituents	1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[Aluminum]
elasticity              hooke
plasticity              phenopowerlaw

# (output)                resistance_slip
# (output)                shearrate_slip
# (output)                resolvedstress_slip
# (output)                accumulated_shear_slip

lattice_structure       fcc
Nslip                   12                # per family
Ntwin                    0                # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

gdot0_slip              0.001
n_slip                  20
tau0_slip                 31e6                # per family
tausat_slip               63e6                # per family
a_slip                  2.25
h0_slipslip             75e6
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
atol_resistance         1
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 327.820   Phi 116.012    phi2 211.355   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 301.798   Phi 123.178    phi2 331.065   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 248.096   Phi 79.961    phi2 307.770   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 326.530   Phi 43.169    phi2 74.314   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 290.321   Phi 91.859    phi2 190.962   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 225.465   Phi 18.124    phi2 350.909   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 186.336   Phi 45.807    phi2 138.913   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 69.408   Phi 25.092    phi2 318.060   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 256.162   Phi 60.438    phi2 66.183   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 331.550   Phi 162.882    phi2 113.070   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 111.488   Phi 27.544    phi2 185.076   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 142.758   Phi 89.723    phi2 13.832   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 74.852   Phi 154.515    phi2 303.080   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 94.986   Phi 76.177    phi2 249.154   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 74.339   Phi 20.188    phi2 193.484   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 158.462   Phi 137.097    phi2 122.537   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 174.935   Phi 63.581    phi2 91.117   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 13.419   Phi 90.554    phi2 273.081   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 238.221   Phi 109.001    phi2 239.476   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 186.336   Phi 45.807    phi2 138.913   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 294.922   Phi 41.888    phi2 72.330   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 94.428   Phi 161.338    phi2 322.001   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 122.342   Phi 98.231    phi2 98.023   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 320.318   Phi 49.414    phi2 162.715   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 335.481   Phi 118.773    phi2 205.041   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 243.270   Phi 171.210    phi2 219.394   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 67.454   Phi 79.857    phi2 338.615   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 249.132   Phi 123.246    phi2 74.695   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 318.501   Phi 52.700    phi2 242.862   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 252.476   Phi 69.077    phi2 311.267   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 37.082   Phi 97.416    phi2 35.450   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 94.345   Phi 66.254    phi2 40.503   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 265.511   Phi 43.701    phi2 272.805   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 183.325   Phi 95.229    phi2 301.702   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 241.550   Phi 126.034    phi2 79.178   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 331.711   Phi 45.001    phi2 358.223   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 85.571   Phi 29.509    phi2 146.167   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 266.463   Phi 30.772    phi2 196.045   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 326.231   Phi 102.833    phi2 260.117   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 192.967   Phi 134.753    phi2 232.547   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 21.731   Phi 95.145    phi2 82.104   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 316.979   Phi 53.429    phi2 275.652   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 316.547   Phi 16.228    phi2 105.551   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 293.686   Phi 93.460    phi2 31.481   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 212.310   Phi 97.440    phi2 181.004   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 132.114   Phi 95.755    phi2 138.382   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 90.088   Phi 145.422    phi2 165.876   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 116.818   Phi 100.486    phi2 320.583   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 12.297   Phi 82.733    phi2 224.392   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 226.482   Phi 112.834    phi2 228.794   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 148.404   Phi 55.274    phi2 133.397   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 37.592   Phi 101.071    phi2 215.791   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 346.627   Phi 157.627    phi2 274.343   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 114.787   Phi 152.222    phi2 68.262   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 116.818   Phi 100.486    phi2 320.583   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 92.660   Phi 135.103    phi2 41.807   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 315.565   Phi 93.590    phi2 236.589   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 176.614   Phi 69.659    phi2 111.747   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 11.118   Phi 51.031    phi2 125.015   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 79.681   Phi 77.834    phi2 197.027   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 129.923   Phi 11.598    phi2 163.583   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 202.077   Phi 68.768    phi2 336.997   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 274.073   Phi 62.155    phi2 240.952   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 210.467   Phi 145.889    phi2 285.813   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 314.711   Phi 74.610    phi2 220.384   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 273.504   Phi 176.989    phi2 197.984   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 222.850   Phi 42.955    phi2 89.958   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 100.366   Phi 105.653    phi2 161.795   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 153.465   Phi 82.132    phi2 154.211   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 163.919   Phi 127.029    phi2 76.175   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 78.482   Phi 69.821    phi2 80.492   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 147.243   Phi 49.474    phi2 346.950   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 214.895   Phi 74.545    phi2 54.096   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 106.301   Phi 61.915    phi2 239.251   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 258.158   Phi 165.032    phi2 251.447   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 228.027   Phi 130.490    phi2 147.330   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 357.044   Phi 130.276    phi2 203.396   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 196.466   Phi 91.431    phi2 218.112   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 344.347   Phi 113.726    phi2 171.161   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 63.526   Phi 44.400    phi2 144.234   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 245.213   Phi 131.039    phi2 330.351   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 91.313   Phi 89.570    phi2 329.030   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 239.584   Phi 42.771    phi2 59.816   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 36.690   Phi 93.549    phi2 352.382   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 243.601   Phi 22.949    phi2 154.303   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 243.270   Phi 171.210    phi2 219.394   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 155.255   Phi 59.252    phi2 152.127   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 354.407   Phi 121.400    phi2 133.650   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
