#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 131.843   Phi 96.175    phi2 27.802   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 27.924   Phi 110.304    phi2 154.748   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 164.925   Phi 132.131    phi2 151.370   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 315.419   Phi 81.804    phi2 136.741   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 300.382   Phi 23.195    phi2 142.280   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 213.806   Phi 25.505    phi2 39.429   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 278.793   Phi 105.511    phi2 208.085   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 183.837   Phi 133.417    phi2 304.020   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 302.811   Phi 112.528    phi2 88.512   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 158.300   Phi 126.343    phi2 197.621   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 296.717   Phi 126.452    phi2 357.082   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 72.473   Phi 47.699    phi2 15.064   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 118.997   Phi 45.259    phi2 308.995   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 154.489   Phi 128.343    phi2 341.117   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 2.908   Phi 132.695    phi2 100.103   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 343.537   Phi 153.810    phi2 279.477   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 44.455   Phi 54.123    phi2 60.637   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 273.651   Phi 150.512    phi2 223.704   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 223.727   Phi 84.044    phi2 198.845   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 207.409   Phi 130.131    phi2 174.838   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 262.007   Phi 22.077    phi2 23.349   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 320.700   Phi 132.205    phi2 34.352   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 87.482   Phi 109.806    phi2 153.600   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 283.986   Phi 77.300    phi2 232.140   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 319.142   Phi 72.147    phi2 320.289   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 163.739   Phi 5.196    phi2 316.072   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 354.551   Phi 95.604    phi2 53.190   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 257.858   Phi 131.239    phi2 133.505   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 8.776   Phi 129.570    phi2 337.479   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 229.200   Phi 106.273    phi2 142.816   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 94.032   Phi 121.426    phi2 37.097   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 198.937   Phi 94.026    phi2 77.411   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 125.672   Phi 79.864    phi2 321.015   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 226.464   Phi 130.716    phi2 6.525   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 200.696   Phi 84.566    phi2 328.634   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 334.740   Phi 123.304    phi2 331.333   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 208.754   Phi 169.535    phi2 263.009   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 161.287   Phi 168.268    phi2 158.755   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 14.764   Phi 106.626    phi2 39.678   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 275.707   Phi 112.640    phi2 33.094   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 31.974   Phi 84.129    phi2 191.411   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 96.043   Phi 17.611    phi2 334.612   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 316.014   Phi 72.855    phi2 185.175   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 70.984   Phi 88.502    phi2 297.148   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 291.834   Phi 67.870    phi2 199.668   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 306.803   Phi 50.595    phi2 261.577   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 116.141   Phi 160.181    phi2 27.406   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 53.869   Phi 41.894    phi2 68.357   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 51.674   Phi 36.877    phi2 224.941   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 235.923   Phi 79.894    phi2 76.662   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 296.994   Phi 107.929    phi2 252.029   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 55.803   Phi 142.401    phi2 12.937   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 338.259   Phi 64.374    phi2 354.013   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 226.295   Phi 67.570    phi2 271.581   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 285.628   Phi 145.054    phi2 115.083   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 110.726   Phi 83.143    phi2 89.821   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 70.216   Phi 131.588    phi2 75.367   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 60.889   Phi 74.263    phi2 50.399   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 61.778   Phi 117.361    phi2 34.840   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 225.272   Phi 167.261    phi2 159.822   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 244.358   Phi 50.417    phi2 163.039   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 207.959   Phi 113.400    phi2 243.733   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 357.834   Phi 35.752    phi2 221.751   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 41.479   Phi 77.634    phi2 211.355   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 188.243   Phi 89.593    phi2 319.972   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 255.046   Phi 81.788    phi2 311.011   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 332.032   Phi 135.394    phi2 341.190   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 161.243   Phi 97.235    phi2 188.758   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 64.838   Phi 67.589    phi2 228.847   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 293.238   Phi 100.199    phi2 352.971   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 174.962   Phi 103.291    phi2 126.019   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 148.385   Phi 44.486    phi2 334.411   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 178.829   Phi 167.164    phi2 123.909   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 300.034   Phi 39.011    phi2 95.470   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 333.378   Phi 130.443    phi2 263.843   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 67.583   Phi 31.939    phi2 203.293   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 296.175   Phi 173.159    phi2 253.875   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 69.170   Phi 64.782    phi2 103.011   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 20.729   Phi 124.387    phi2 47.711   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 91.117   Phi 82.060    phi2 141.015   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 349.132   Phi 140.967    phi2 90.209   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 250.476   Phi 49.490    phi2 144.300   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 116.945   Phi 110.921    phi2 283.685   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 338.392   Phi 117.588    phi2 109.257   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 261.968   Phi 154.345    phi2 111.044   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 185.306   Phi 104.616    phi2 252.956   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 191.608   Phi 39.454    phi2 48.038   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 57.408   Phi 108.682    phi2 199.441   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 10.282   Phi 133.245    phi2 335.692   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 321.954   Phi 79.915    phi2 209.634   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 280.009   Phi 94.036    phi2 73.286   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 204.786   Phi 25.192    phi2 19.189   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 103.037   Phi 96.761    phi2 233.852   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 5.441   Phi 121.573    phi2 137.262   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 197.291   Phi 57.104    phi2 38.480   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 68.712   Phi 77.148    phi2 128.481   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 189.038   Phi 125.947    phi2 47.678   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 189.815   Phi 154.202    phi2 265.701   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 332.117   Phi 54.493    phi2 233.616   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 266.380   Phi 47.865    phi2 44.207   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 226.642   Phi 130.526    phi2 351.075   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 357.151   Phi 121.744    phi2 181.983   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 310.862   Phi 134.568    phi2 198.485   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 268.034   Phi 17.138    phi2 226.952   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 137.987   Phi 93.469    phi2 92.363   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 16.769   Phi 86.404    phi2 41.539   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 26.165   Phi 61.808    phi2 294.748   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 220.171   Phi 139.663    phi2 133.555   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 307.273   Phi 107.265    phi2 133.712   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 291.935   Phi 129.610    phi2 155.956   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 257.352   Phi 29.402    phi2 141.475   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 150.320   Phi 98.485    phi2 161.954   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 86.782   Phi 69.314    phi2 189.619   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 279.376   Phi 120.593    phi2 208.495   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 12.361   Phi 147.259    phi2 160.023   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 148.529   Phi 101.270    phi2 230.892   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 286.951   Phi 100.626    phi2 169.122   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 212.487   Phi 69.052    phi2 130.279   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 230.074   Phi 12.165    phi2 77.744   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 259.632   Phi 143.703    phi2 202.400   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 108.958   Phi 159.354    phi2 82.996   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 84.009   Phi 165.515    phi2 33.124   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 118.768   Phi 136.459    phi2 160.554   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 52.990   Phi 95.416    phi2 217.861   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 347.046   Phi 37.504    phi2 269.317   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 135.047   Phi 49.379    phi2 195.504   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 142.779   Phi 102.833    phi2 136.950   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 102.914   Phi 138.875    phi2 173.436   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 169.092   Phi 101.287    phi2 172.486   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 298.537   Phi 74.362    phi2 39.678   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 70.725   Phi 70.513    phi2 13.801   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 248.860   Phi 111.197    phi2 4.694   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 300.128   Phi 151.867    phi2 298.244   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 67.772   Phi 97.314    phi2 153.202   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 293.359   Phi 134.916    phi2 207.631   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 343.635   Phi 131.385    phi2 71.433   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 318.349   Phi 28.791    phi2 267.193   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 50.549   Phi 76.713    phi2 111.776   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 326.501   Phi 50.061    phi2 18.239   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 313.492   Phi 57.356    phi2 169.553   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 170.675   Phi 45.828    phi2 105.591   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 57.113   Phi 154.055    phi2 162.070   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 302.768   Phi 106.805    phi2 194.951   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 39.414   Phi 75.571    phi2 308.920   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 326.416   Phi 113.512    phi2 216.298   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 193.549   Phi 61.249    phi2 28.592   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 176.485   Phi 50.437    phi2 342.378   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 42.190   Phi 41.522    phi2 72.311   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 175.100   Phi 93.427    phi2 297.807   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 39.542   Phi 56.896    phi2 112.804   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 226.121   Phi 122.441    phi2 219.511   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 213.778   Phi 53.106    phi2 330.298   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 174.297   Phi 111.081    phi2 353.250   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 183.209   Phi 89.447    phi2 13.438   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 11.539   Phi 58.925    phi2 285.840   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 158.449   Phi 59.682    phi2 217.254   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 5.056   Phi 7.367    phi2 174.104   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 215.314   Phi 131.686    phi2 13.914   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 42.039   Phi 48.378    phi2 303.343   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 124.352   Phi 143.085    phi2 305.940   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 198.944   Phi 69.866    phi2 165.558   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 183.062   Phi 67.329    phi2 238.476   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 318.850   Phi 59.122    phi2 28.967   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 328.491   Phi 64.981    phi2 231.182   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 64.997   Phi 133.590    phi2 216.958   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 202.703   Phi 135.461    phi2 352.400   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 234.585   Phi 65.474    phi2 34.225   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 216.885   Phi 32.030    phi2 318.275   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 226.207   Phi 120.148    phi2 151.908   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 332.097   Phi 69.237    phi2 290.823   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 156.385   Phi 4.867    phi2 64.672   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 221.019   Phi 87.256    phi2 196.045   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 53.526   Phi 48.109    phi2 121.672   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 240.327   Phi 135.371    phi2 58.490   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 126.776   Phi 136.252    phi2 264.564   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 302.974   Phi 143.989    phi2 280.906   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 269.087   Phi 53.875    phi2 227.206   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 47.314   Phi 113.678    phi2 207.045   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 96.880   Phi 37.278    phi2 275.735   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 107.026   Phi 100.152    phi2 229.177   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 222.877   Phi 72.447    phi2 126.555   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 305.812   Phi 43.978    phi2 94.603   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 241.779   Phi 45.344    phi2 101.867   scatter 0.0   fraction 1.0 
[grain184]
(gauss) phi1 198.464   Phi 147.160    phi2 14.350   scatter 0.0   fraction 1.0 
[grain185]
(gauss) phi1 276.281   Phi 44.867    phi2 132.916   scatter 0.0   fraction 1.0 
[grain186]
(gauss) phi1 209.908   Phi 140.706    phi2 156.017   scatter 0.0   fraction 1.0 
[grain187]
(gauss) phi1 210.238   Phi 67.841    phi2 277.647   scatter 0.0   fraction 1.0 
[grain188]
(gauss) phi1 221.241   Phi 43.998    phi2 76.033   scatter 0.0   fraction 1.0 
[grain189]
(gauss) phi1 107.359   Phi 40.143    phi2 127.893   scatter 0.0   fraction 1.0 
[grain190]
(gauss) phi1 280.091   Phi 56.365    phi2 150.100   scatter 0.0   fraction 1.0 
[grain191]
(gauss) phi1 116.475   Phi 122.136    phi2 82.025   scatter 0.0   fraction 1.0 
[grain192]
(gauss) phi1 126.632   Phi 24.063    phi2 83.474   scatter 0.0   fraction 1.0 
[grain193]
(gauss) phi1 139.465   Phi 132.022    phi2 209.386   scatter 0.0   fraction 1.0 
[grain194]
(gauss) phi1 30.885   Phi 117.245    phi2 299.852   scatter 0.0   fraction 1.0 
[grain195]
(gauss) phi1 319.202   Phi 9.715    phi2 219.221   scatter 0.0   fraction 1.0 
[grain196]
(gauss) phi1 341.230   Phi 51.777    phi2 269.891   scatter 0.0   fraction 1.0 
[grain197]
(gauss) phi1 292.770   Phi 80.203    phi2 200.608   scatter 0.0   fraction 1.0 
[grain198]
(gauss) phi1 199.030   Phi 107.152    phi2 214.409   scatter 0.0   fraction 1.0 
[grain199]
(gauss) phi1 26.806   Phi 58.509    phi2 345.787   scatter 0.0   fraction 1.0 
[grain200]
(gauss) phi1 95.463   Phi 151.951    phi2 115.746   scatter 0.0   fraction 1.0 
[grain201]
(gauss) phi1 185.254   Phi 88.905    phi2 288.552   scatter 0.0   fraction 1.0 
[grain202]
(gauss) phi1 64.236   Phi 13.854    phi2 253.330   scatter 0.0   fraction 1.0 
[grain203]
(gauss) phi1 113.188   Phi 72.276    phi2 320.833   scatter 0.0   fraction 1.0 
[grain204]
(gauss) phi1 230.652   Phi 72.289    phi2 136.150   scatter 0.0   fraction 1.0 
[grain205]
(gauss) phi1 16.863   Phi 80.915    phi2 86.970   scatter 0.0   fraction 1.0 
[grain206]
(gauss) phi1 100.522   Phi 64.061    phi2 110.251   scatter 0.0   fraction 1.0 
[grain207]
(gauss) phi1 295.645   Phi 72.071    phi2 286.854   scatter 0.0   fraction 1.0 
[grain208]
(gauss) phi1 300.775   Phi 27.655    phi2 189.334   scatter 0.0   fraction 1.0 
[grain209]
(gauss) phi1 289.850   Phi 77.022    phi2 128.875   scatter 0.0   fraction 1.0 
[grain210]
(gauss) phi1 327.464   Phi 72.066    phi2 30.989   scatter 0.0   fraction 1.0 
[grain211]
(gauss) phi1 177.829   Phi 110.264    phi2 88.427   scatter 0.0   fraction 1.0 
[grain212]
(gauss) phi1 318.809   Phi 98.808    phi2 43.888   scatter 0.0   fraction 1.0 
[grain213]
(gauss) phi1 130.552   Phi 115.995    phi2 310.655   scatter 0.0   fraction 1.0 
[grain214]
(gauss) phi1 58.004   Phi 117.803    phi2 238.346   scatter 0.0   fraction 1.0 
[grain215]
(gauss) phi1 73.269   Phi 170.044    phi2 329.606   scatter 0.0   fraction 1.0 
[grain216]
(gauss) phi1 94.459   Phi 160.046    phi2 263.667   scatter 0.0   fraction 1.0 
[grain217]
(gauss) phi1 142.722   Phi 113.541    phi2 112.766   scatter 0.0   fraction 1.0 
[grain218]
(gauss) phi1 150.767   Phi 83.177    phi2 294.508   scatter 0.0   fraction 1.0 
[grain219]
(gauss) phi1 294.676   Phi 61.057    phi2 311.209   scatter 0.0   fraction 1.0 
[grain220]
(gauss) phi1 245.027   Phi 90.757    phi2 188.065   scatter 0.0   fraction 1.0 
[grain221]
(gauss) phi1 161.439   Phi 58.924    phi2 255.750   scatter 0.0   fraction 1.0 
[grain222]
(gauss) phi1 98.229   Phi 144.569    phi2 327.666   scatter 0.0   fraction 1.0 
[grain223]
(gauss) phi1 317.337   Phi 104.671    phi2 322.809   scatter 0.0   fraction 1.0 
[grain224]
(gauss) phi1 300.236   Phi 97.493    phi2 265.092   scatter 0.0   fraction 1.0 
[grain225]
(gauss) phi1 25.611   Phi 97.493    phi2 41.560   scatter 0.0   fraction 1.0 
[grain226]
(gauss) phi1 75.965   Phi 32.497    phi2 306.829   scatter 0.0   fraction 1.0 
[grain227]
(gauss) phi1 270.705   Phi 146.024    phi2 187.250   scatter 0.0   fraction 1.0 
[grain228]
(gauss) phi1 219.734   Phi 42.032    phi2 0.383   scatter 0.0   fraction 1.0 
[grain229]
(gauss) phi1 74.036   Phi 137.525    phi2 349.794   scatter 0.0   fraction 1.0 
[grain230]
(gauss) phi1 357.879   Phi 38.009    phi2 46.292   scatter 0.0   fraction 1.0 
[grain231]
(gauss) phi1 230.910   Phi 83.109    phi2 309.610   scatter 0.0   fraction 1.0 
[grain232]
(gauss) phi1 304.533   Phi 142.348    phi2 256.009   scatter 0.0   fraction 1.0 
[grain233]
(gauss) phi1 97.864   Phi 112.079    phi2 54.777   scatter 0.0   fraction 1.0 
[grain234]
(gauss) phi1 314.747   Phi 92.131    phi2 62.116   scatter 0.0   fraction 1.0 
[grain235]
(gauss) phi1 338.238   Phi 72.844    phi2 32.888   scatter 0.0   fraction 1.0 
[grain236]
(gauss) phi1 310.630   Phi 104.866    phi2 217.543   scatter 0.0   fraction 1.0 
[grain237]
(gauss) phi1 260.871   Phi 116.538    phi2 241.421   scatter 0.0   fraction 1.0 
[grain238]
(gauss) phi1 318.410   Phi 40.803    phi2 327.471   scatter 0.0   fraction 1.0 
[grain239]
(gauss) phi1 302.795   Phi 39.967    phi2 172.258   scatter 0.0   fraction 1.0 
[grain240]
(gauss) phi1 153.129   Phi 139.557    phi2 336.859   scatter 0.0   fraction 1.0 
[grain241]
(gauss) phi1 210.437   Phi 113.854    phi2 295.681   scatter 0.0   fraction 1.0 
[grain242]
(gauss) phi1 61.060   Phi 116.506    phi2 219.217   scatter 0.0   fraction 1.0 
[grain243]
(gauss) phi1 99.457   Phi 66.186    phi2 6.468   scatter 0.0   fraction 1.0 
[grain244]
(gauss) phi1 65.410   Phi 57.430    phi2 291.554   scatter 0.0   fraction 1.0 
[grain245]
(gauss) phi1 145.030   Phi 70.420    phi2 94.490   scatter 0.0   fraction 1.0 
[grain246]
(gauss) phi1 18.088   Phi 51.191    phi2 228.564   scatter 0.0   fraction 1.0 
[grain247]
(gauss) phi1 307.504   Phi 84.602    phi2 264.615   scatter 0.0   fraction 1.0 
[grain248]
(gauss) phi1 55.761   Phi 149.120    phi2 236.933   scatter 0.0   fraction 1.0 
[grain249]
(gauss) phi1 259.889   Phi 12.430    phi2 147.015   scatter 0.0   fraction 1.0 
[grain250]
(gauss) phi1 47.785   Phi 109.359    phi2 151.096   scatter 0.0   fraction 1.0 
[grain251]
(gauss) phi1 310.301   Phi 102.175    phi2 308.485   scatter 0.0   fraction 1.0 
[grain252]
(gauss) phi1 189.587   Phi 70.495    phi2 125.153   scatter 0.0   fraction 1.0 
[grain253]
(gauss) phi1 247.300   Phi 54.515    phi2 245.982   scatter 0.0   fraction 1.0 
[grain254]
(gauss) phi1 292.539   Phi 89.255    phi2 46.341   scatter 0.0   fraction 1.0 
[grain255]
(gauss) phi1 40.822   Phi 64.839    phi2 224.686   scatter 0.0   fraction 1.0 
[grain256]
(gauss) phi1 313.676   Phi 39.951    phi2 261.177   scatter 0.0   fraction 1.0 
[grain257]
(gauss) phi1 229.665   Phi 90.266    phi2 291.820   scatter 0.0   fraction 1.0 
[grain258]
(gauss) phi1 265.104   Phi 124.246    phi2 269.759   scatter 0.0   fraction 1.0 
[grain259]
(gauss) phi1 300.774   Phi 161.408    phi2 1.402   scatter 0.0   fraction 1.0 
[grain260]
(gauss) phi1 268.273   Phi 101.686    phi2 237.613   scatter 0.0   fraction 1.0 
[grain261]
(gauss) phi1 334.694   Phi 55.121    phi2 274.942   scatter 0.0   fraction 1.0 
[grain262]
(gauss) phi1 112.713   Phi 117.345    phi2 31.965   scatter 0.0   fraction 1.0 
[grain263]
(gauss) phi1 266.760   Phi 95.186    phi2 236.324   scatter 0.0   fraction 1.0 
[grain264]
(gauss) phi1 13.647   Phi 37.959    phi2 342.013   scatter 0.0   fraction 1.0 
[grain265]
(gauss) phi1 137.529   Phi 96.023    phi2 197.255   scatter 0.0   fraction 1.0 
[grain266]
(gauss) phi1 221.670   Phi 161.034    phi2 138.219   scatter 0.0   fraction 1.0 
[grain267]
(gauss) phi1 55.326   Phi 101.610    phi2 339.664   scatter 0.0   fraction 1.0 
[grain268]
(gauss) phi1 81.554   Phi 142.023    phi2 37.440   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
[grain184]
crystallite 1
(constituent)   phase 1 texture 184 fraction 1.0
[grain185]
crystallite 1
(constituent)   phase 1 texture 185 fraction 1.0
[grain186]
crystallite 1
(constituent)   phase 1 texture 186 fraction 1.0
[grain187]
crystallite 1
(constituent)   phase 1 texture 187 fraction 1.0
[grain188]
crystallite 1
(constituent)   phase 1 texture 188 fraction 1.0
[grain189]
crystallite 1
(constituent)   phase 1 texture 189 fraction 1.0
[grain190]
crystallite 1
(constituent)   phase 1 texture 190 fraction 1.0
[grain191]
crystallite 1
(constituent)   phase 1 texture 191 fraction 1.0
[grain192]
crystallite 1
(constituent)   phase 1 texture 192 fraction 1.0
[grain193]
crystallite 1
(constituent)   phase 1 texture 193 fraction 1.0
[grain194]
crystallite 1
(constituent)   phase 1 texture 194 fraction 1.0
[grain195]
crystallite 1
(constituent)   phase 1 texture 195 fraction 1.0
[grain196]
crystallite 1
(constituent)   phase 1 texture 196 fraction 1.0
[grain197]
crystallite 1
(constituent)   phase 1 texture 197 fraction 1.0
[grain198]
crystallite 1
(constituent)   phase 1 texture 198 fraction 1.0
[grain199]
crystallite 1
(constituent)   phase 1 texture 199 fraction 1.0
[grain200]
crystallite 1
(constituent)   phase 1 texture 200 fraction 1.0
[grain201]
crystallite 1
(constituent)   phase 1 texture 201 fraction 1.0
[grain202]
crystallite 1
(constituent)   phase 1 texture 202 fraction 1.0
[grain203]
crystallite 1
(constituent)   phase 1 texture 203 fraction 1.0
[grain204]
crystallite 1
(constituent)   phase 1 texture 204 fraction 1.0
[grain205]
crystallite 1
(constituent)   phase 1 texture 205 fraction 1.0
[grain206]
crystallite 1
(constituent)   phase 1 texture 206 fraction 1.0
[grain207]
crystallite 1
(constituent)   phase 1 texture 207 fraction 1.0
[grain208]
crystallite 1
(constituent)   phase 1 texture 208 fraction 1.0
[grain209]
crystallite 1
(constituent)   phase 1 texture 209 fraction 1.0
[grain210]
crystallite 1
(constituent)   phase 1 texture 210 fraction 1.0
[grain211]
crystallite 1
(constituent)   phase 1 texture 211 fraction 1.0
[grain212]
crystallite 1
(constituent)   phase 1 texture 212 fraction 1.0
[grain213]
crystallite 1
(constituent)   phase 1 texture 213 fraction 1.0
[grain214]
crystallite 1
(constituent)   phase 1 texture 214 fraction 1.0
[grain215]
crystallite 1
(constituent)   phase 1 texture 215 fraction 1.0
[grain216]
crystallite 1
(constituent)   phase 1 texture 216 fraction 1.0
[grain217]
crystallite 1
(constituent)   phase 1 texture 217 fraction 1.0
[grain218]
crystallite 1
(constituent)   phase 1 texture 218 fraction 1.0
[grain219]
crystallite 1
(constituent)   phase 1 texture 219 fraction 1.0
[grain220]
crystallite 1
(constituent)   phase 1 texture 220 fraction 1.0
[grain221]
crystallite 1
(constituent)   phase 1 texture 221 fraction 1.0
[grain222]
crystallite 1
(constituent)   phase 1 texture 222 fraction 1.0
[grain223]
crystallite 1
(constituent)   phase 1 texture 223 fraction 1.0
[grain224]
crystallite 1
(constituent)   phase 1 texture 224 fraction 1.0
[grain225]
crystallite 1
(constituent)   phase 1 texture 225 fraction 1.0
[grain226]
crystallite 1
(constituent)   phase 1 texture 226 fraction 1.0
[grain227]
crystallite 1
(constituent)   phase 1 texture 227 fraction 1.0
[grain228]
crystallite 1
(constituent)   phase 1 texture 228 fraction 1.0
[grain229]
crystallite 1
(constituent)   phase 1 texture 229 fraction 1.0
[grain230]
crystallite 1
(constituent)   phase 1 texture 230 fraction 1.0
[grain231]
crystallite 1
(constituent)   phase 1 texture 231 fraction 1.0
[grain232]
crystallite 1
(constituent)   phase 1 texture 232 fraction 1.0
[grain233]
crystallite 1
(constituent)   phase 1 texture 233 fraction 1.0
[grain234]
crystallite 1
(constituent)   phase 1 texture 234 fraction 1.0
[grain235]
crystallite 1
(constituent)   phase 1 texture 235 fraction 1.0
[grain236]
crystallite 1
(constituent)   phase 1 texture 236 fraction 1.0
[grain237]
crystallite 1
(constituent)   phase 1 texture 237 fraction 1.0
[grain238]
crystallite 1
(constituent)   phase 1 texture 238 fraction 1.0
[grain239]
crystallite 1
(constituent)   phase 1 texture 239 fraction 1.0
[grain240]
crystallite 1
(constituent)   phase 1 texture 240 fraction 1.0
[grain241]
crystallite 1
(constituent)   phase 1 texture 241 fraction 1.0
[grain242]
crystallite 1
(constituent)   phase 1 texture 242 fraction 1.0
[grain243]
crystallite 1
(constituent)   phase 1 texture 243 fraction 1.0
[grain244]
crystallite 1
(constituent)   phase 1 texture 244 fraction 1.0
[grain245]
crystallite 1
(constituent)   phase 1 texture 245 fraction 1.0
[grain246]
crystallite 1
(constituent)   phase 1 texture 246 fraction 1.0
[grain247]
crystallite 1
(constituent)   phase 1 texture 247 fraction 1.0
[grain248]
crystallite 1
(constituent)   phase 1 texture 248 fraction 1.0
[grain249]
crystallite 1
(constituent)   phase 1 texture 249 fraction 1.0
[grain250]
crystallite 1
(constituent)   phase 1 texture 250 fraction 1.0
[grain251]
crystallite 1
(constituent)   phase 1 texture 251 fraction 1.0
[grain252]
crystallite 1
(constituent)   phase 1 texture 252 fraction 1.0
[grain253]
crystallite 1
(constituent)   phase 1 texture 253 fraction 1.0
[grain254]
crystallite 1
(constituent)   phase 1 texture 254 fraction 1.0
[grain255]
crystallite 1
(constituent)   phase 1 texture 255 fraction 1.0
[grain256]
crystallite 1
(constituent)   phase 1 texture 256 fraction 1.0
[grain257]
crystallite 1
(constituent)   phase 1 texture 257 fraction 1.0
[grain258]
crystallite 1
(constituent)   phase 1 texture 258 fraction 1.0
[grain259]
crystallite 1
(constituent)   phase 1 texture 259 fraction 1.0
[grain260]
crystallite 1
(constituent)   phase 1 texture 260 fraction 1.0
[grain261]
crystallite 1
(constituent)   phase 1 texture 261 fraction 1.0
[grain262]
crystallite 1
(constituent)   phase 1 texture 262 fraction 1.0
[grain263]
crystallite 1
(constituent)   phase 1 texture 263 fraction 1.0
[grain264]
crystallite 1
(constituent)   phase 1 texture 264 fraction 1.0
[grain265]
crystallite 1
(constituent)   phase 1 texture 265 fraction 1.0
[grain266]
crystallite 1
(constituent)   phase 1 texture 266 fraction 1.0
[grain267]
crystallite 1
(constituent)   phase 1 texture 267 fraction 1.0
[grain268]
crystallite 1
(constituent)   phase 1 texture 268 fraction 1.0
