#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              2.359121981200e-02
n_slip                  1.200000000000e+02
a_slip                  8.000000000000e+00
tau0_slip               3.743404925813e+06
tausat_slip             9.000000000000e+09
h0_slipslip             1.000000000000e+10


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 255.109   Phi 109.039    phi2 43.217   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 268.210   Phi 91.338    phi2 15.558   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 81.578   Phi 74.520    phi2 277.788   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 312.758   Phi 114.586    phi2 57.869   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 198.808   Phi 119.787    phi2 113.570   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 106.586   Phi 69.437    phi2 6.198   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 331.583   Phi 153.155    phi2 309.187   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 185.582   Phi 24.764    phi2 311.255   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 133.005   Phi 82.786    phi2 57.387   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 225.569   Phi 108.412    phi2 325.836   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 65.588   Phi 145.989    phi2 333.735   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 95.085   Phi 150.992    phi2 73.163   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 227.601   Phi 163.973    phi2 93.759   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 290.986   Phi 150.512    phi2 196.077   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 307.525   Phi 123.457    phi2 42.002   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 283.283   Phi 124.967    phi2 140.227   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 213.609   Phi 69.436    phi2 224.189   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 64.420   Phi 22.579    phi2 231.699   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 233.488   Phi 159.995    phi2 165.789   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 322.772   Phi 120.321    phi2 111.385   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 252.118   Phi 28.117    phi2 278.632   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 182.214   Phi 112.795    phi2 353.719   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 211.206   Phi 88.345    phi2 165.948   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 352.828   Phi 62.485    phi2 201.007   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 161.812   Phi 137.136    phi2 351.538   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 198.973   Phi 159.773    phi2 206.392   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 15.379   Phi 149.259    phi2 28.198   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 237.406   Phi 54.407    phi2 292.407   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 305.456   Phi 167.753    phi2 156.660   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 246.767   Phi 41.290    phi2 159.894   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 29.645   Phi 94.033    phi2 354.673   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 285.163   Phi 107.935    phi2 199.919   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 38.227   Phi 21.213    phi2 35.107   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 331.537   Phi 69.826    phi2 17.748   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 26.151   Phi 137.902    phi2 201.230   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 78.373   Phi 52.089    phi2 254.471   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 210.315   Phi 42.806    phi2 31.967   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 16.456   Phi 32.961    phi2 268.924   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 154.403   Phi 35.173    phi2 304.039   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 224.979   Phi 112.424    phi2 144.999   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 32.553   Phi 144.499    phi2 302.535   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 187.001   Phi 108.568    phi2 46.735   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 0.198   Phi 137.692    phi2 53.182   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 210.262   Phi 66.067    phi2 174.577   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 329.983   Phi 110.203    phi2 126.544   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 251.304   Phi 26.932    phi2 272.557   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 283.728   Phi 103.636    phi2 234.786   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 98.459   Phi 119.878    phi2 304.408   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 297.967   Phi 37.995    phi2 302.114   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 223.113   Phi 102.620    phi2 6.363   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 33.549   Phi 45.529    phi2 268.753   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 56.269   Phi 80.658    phi2 73.447   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 102.238   Phi 98.366    phi2 14.981   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 352.439   Phi 133.921    phi2 175.069   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 13.759   Phi 24.729    phi2 152.453   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 153.190   Phi 88.105    phi2 80.101   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 89.942   Phi 79.639    phi2 207.960   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 206.115   Phi 149.033    phi2 161.813   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 274.169   Phi 101.217    phi2 251.429   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 356.137   Phi 52.005    phi2 46.106   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 274.182   Phi 124.412    phi2 108.162   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 291.666   Phi 124.746    phi2 277.065   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 257.962   Phi 103.436    phi2 293.700   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 163.746   Phi 58.760    phi2 196.632   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
