#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[Aluminum]

elasticity              hooke
plasticity              nonlocal
/nonlocal/

(output)                rho
(output)                rho_edge
(output)                rho_screw
(output)                rho_sgl
(output)                rho_sgl_edge_pos
(output)                rho_sgl_edge_neg
(output)                rho_sgl_screw_pos
(output)                rho_sgl_screw_neg
(output)                rho_sgl_edge_pos_mobile
(output)                rho_sgl_edge_neg_mobile
(output)                rho_sgl_screw_pos_mobile
(output)                rho_sgl_screw_neg_mobile
(output)                rho_sgl_edge_pos_immobile
(output)                rho_sgl_edge_neg_immobile
(output)                rho_sgl_screw_pos_immobile
(output)                rho_sgl_screw_neg_immobile
(output)                rho_dip_edge
(output)                rho_dip_screw
(output)                rho_forest
(output)                delta
(output)                delta_sgl
(output)                delta_dip
(output)                shearrate
(output)                resolvedstress
(output)                resolvedstress_back
(output)                resolvedstress_external
(output)                resistance
(output)                rho_dot
(output)                rho_dot_sgl
(output)                rho_dot_sgl_mobile
(output)                rho_dot_dip
(output)                rho_dot_gen_edge
(output)                rho_dot_gen_screw
(output)                rho_dot_sgl2dip_edge
(output)                rho_dot_sgl2dip_screw
(output)                rho_dot_ann_ath
(output)                rho_dot_ann_the
(output)                rho_dot_ann_the_edge
(output)                rho_dot_ann_the_screw
(output)                rho_dot_edgejogs
(output)                rho_dot_flux
(output)                rho_dot_flux_mobile
(output)                rho_dot_flux_edge
(output)                rho_dot_flux_screw
(output)                velocity_edge_pos
(output)                velocity_edge_neg
(output)                velocity_screw_pos
(output)                velocity_screw_neg
(output)                maximumDipoleHeight_edge
(output)                maximumDipoleHeight_screw
(output)                accumulated_shear
(output)                dislocationstress

lattice_structure       fcc
Nslip                   12                       # number of slip systems

c11                     106.75e9                 # elastic constants
c12                     60.41e9
c44                     28.34e9

burgers                 2.86e-10                 # Burgers vector in m
rhoSglEdgePos0          0.25e10                  # Initial positive edge single dislocation density in m/m**3 (per slip family)
rhoSglEdgeNeg0          0.25e10                  # Initial negative edge single dislocation density in m/m**3 (per slip family)
rhoSglScrewPos0         0.25e10                  # Initial positive screw single dislocation density in m/m**3 (per slip family)
rhoSglScrewNeg0         0.25e10                  # Initial negative screw single dislocation density in m/m**3 (per slip family)
rhoDipEdge0             1e8                      # Initial edge dipole dislocation density in m/m**3 (per slip family)
rhoDipScrew0            1e8                      # Initial screw dipole dislocation density in m/m**3 (per slip family)
rhoSglScatter           0                        # standard deviation of scatter in initial single dislocation density
#rhoSglRandom           1e12                     # randomly distributed total dislocation density (sum over all slip systems and types) in m/m**3
#rhoSglRandomBinning    1                        # binning size of randomly distributed dislocations (number of dislocations per ip volume)
minimumDipoleHeightEdge  2e-9                    # minimum distance for stable edge dipoles in m (per slip family)
minimumDipoleHeightScrew 2e-9                    # minimum distance for stable screw dipoles in m (per slip family)
lambda0                 80                       # prefactor for mean free path 
edgeMultiplication      0.1                      # factor to which edges contribute to multiplication
atomicVolume            1.7e-29                  # atomic volume in m**3
selfdiffusionPrefactor  1e-4                     # prefactor for self-diffusion coefficient in m**2/s
selfdiffusionEnergy     2.3e-19                  # activation enthalpy for seld-diffusion in J
solidSolutionEnergy     2e-19                    # activation energy of solid solution particles in J
solidSolutionConcentration 1e-5                  # concentration of solid solution in parts per b^3
solidSolutionSize       2                        # size of solid solution obstacles in multiples of burgers vector length
peierlsStressEdge       1e5                      # Peierls stress for edges in Pa (per slip family)
peierlsStressScrew      1e5                      # Peierls stress for screws in Pa (per slip family)
doublekinkWidth         10                       # width of double kinks in multiples of burgers vector length b
viscosity               1e-4                     # viscosity for dislocation glide in Pa s
p                       1                        # exponent for thermal barrier profile
q                       1                        # exponent for thermal barrier profile
attackFrequency         50e9                     # attack frequency in Hz
surfaceTransmissivity   1.0                      # transmissivity of free surfaces for dislocation flux
grainboundaryTransmissivity   0.0                # transmissivity of grain boundaries for dislocation flux (grain bundaries are identified as interfaces with different textures on both sides); if not set or set to negative number, the subroutine automatically determines the transmissivity at the grain boundary
interaction_SlipSlip    0  0  0.625  0.07  0.137  0.122  # Dislocation interaction coefficient
linetension             0.8                      # constant indicating the effect of the line tension on the hardening coefficients (0 to 1)
edgejog                 1.0                      # fraction of annihilated screw dipoles that forms edge jogs (0 to 1)
shortRangeStressCorrection 0                     # switch for use of short range correction stress
cutoffRadius            1e-3                     # cutoff radius for dislocation stress in m
CFLfactor               2.0                      # safety factor for CFL flux check (numerical parameter)
significantRho          1e6                      # minimum dislocation density considered relevant in m/m**3
#significantN           0.1                      # minimum dislocation number per ip considered relevant
aTol_density            1e4                      # absolute tolerance for dislocation density in m/m**3
aTol_shear              1e-20                    # absolute tolerance for plasgtic shear
randomMultiplication    0                        # switch for probabilistic extension of multiplication rate
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 83.687   Phi 77.349    phi2 188.855   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 166.529   Phi 79.236    phi2 76.509   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 352.711   Phi 1.236    phi2 85.551   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 102.427   Phi 160.441    phi2 271.988   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 2.965   Phi 82.349    phi2 163.586   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 165.209   Phi 84.853    phi2 355.582   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 352.711   Phi 1.236    phi2 85.551   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 165.268   Phi 97.804    phi2 270.933   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 7.930   Phi 84.718    phi2 160.112   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 267.904   Phi 86.756    phi2 5.193   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 356.760   Phi 72.318    phi2 4.713   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 179.077   Phi 102.321    phi2 272.960   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 352.711   Phi 1.236    phi2 85.551   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 277.213   Phi 171.898    phi2 207.877   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 123.501   Phi 14.011    phi2 217.707   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 67.507   Phi 77.782    phi2 267.869   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 256.114   Phi 93.924    phi2 265.542   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 14.168   Phi 87.753    phi2 83.148   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 351.248   Phi 85.776    phi2 14.431   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 254.070   Phi 91.800    phi2 173.324   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 168.731   Phi 14.935    phi2 296.540   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 208.838   Phi 16.360    phi2 150.702   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 317.349   Phi 87.532    phi2 173.569   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 357.212   Phi 109.040    phi2 279.279   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 279.457   Phi 45.008    phi2 34.251   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 115.917   Phi 120.322    phi2 150.568   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 170.329   Phi 9.634    phi2 255.568   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 259.949   Phi 79.236    phi2 274.330   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 352.711   Phi 1.236    phi2 85.551   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 165.209   Phi 84.853    phi2 355.582   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 250.739   Phi 90.515    phi2 168.855   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 68.910   Phi 162.627    phi2 148.453   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 143.265   Phi 14.527    phi2 28.226   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 228.586   Phi 16.700    phi2 144.185   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 105.611   Phi 158.742    phi2 198.181   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 146.471   Phi 1.427    phi2 310.918   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 343.135   Phi 101.407    phi2 92.636   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 10.810   Phi 6.563    phi2 333.846   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 59.498   Phi 94.766    phi2 91.386   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 354.003   Phi 101.523    phi2 190.248   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 94.959   Phi 171.632    phi2 256.757   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 251.526   Phi 50.931    phi2 136.025   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 269.641   Phi 22.076    phi2 77.859   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 123.501   Phi 14.011    phi2 217.707   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 166.529   Phi 79.236    phi2 76.509   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 59.498   Phi 94.766    phi2 91.386   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 77.513   Phi 84.950    phi2 266.290   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 342.516   Phi 179.747    phi2 87.069   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 184.629   Phi 125.180    phi2 310.979   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 86.190   Phi 85.939    phi2 101.722   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 162.802   Phi 175.806    phi2 81.773   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 104.639   Phi 109.983    phi2 233.855   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 326.173   Phi 11.653    phi2 30.159   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 75.258   Phi 79.575    phi2 174.720   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 83.687   Phi 77.349    phi2 188.855   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 182.976   Phi 87.303    phi2 168.104   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 92.277   Phi 163.203    phi2 11.053   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 72.448   Phi 92.792    phi2 78.793   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 342.516   Phi 179.747    phi2 87.069   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 350.291   Phi 91.965    phi2 13.790   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 162.728   Phi 7.480    phi2 206.921   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 347.055   Phi 157.969    phi2 343.376   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 132.794   Phi 120.305    phi2 58.253   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 138.508   Phi 164.005    phi2 53.541   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 84.741   Phi 157.415    phi2 267.466   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 8.022   Phi 165.501    phi2 14.212   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 294.801   Phi 172.380    phi2 186.035   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 146.471   Phi 1.427    phi2 310.918   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 10.613   Phi 80.807    phi2 99.135   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 358.191   Phi 86.446    phi2 73.240   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 352.014   Phi 97.835    phi2 350.491   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 168.731   Phi 14.935    phi2 296.540   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 87.541   Phi 102.083    phi2 185.414   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 59.498   Phi 94.766    phi2 91.386   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 146.471   Phi 1.427    phi2 310.918   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 76.770   Phi 156.974    phi2 258.337   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 83.687   Phi 77.349    phi2 188.855   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 13.517   Phi 118.806    phi2 329.418   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 261.141   Phi 72.078    phi2 189.446   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 1.125   Phi 96.228    phi2 171.536   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 282.417   Phi 89.020    phi2 92.381   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 289.030   Phi 18.979    phi2 160.585   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 177.563   Phi 106.062    phi2 0.275   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 59.498   Phi 94.766    phi2 91.386   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 57.519   Phi 169.831    phi2 66.574   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 84.103   Phi 170.653    phi2 186.986   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 357.832   Phi 72.200    phi2 185.156   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 256.509   Phi 97.569    phi2 80.412   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 208.838   Phi 16.360    phi2 150.702   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 146.471   Phi 1.427    phi2 310.918   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 5.092   Phi 68.092    phi2 266.318   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 253.907   Phi 86.844    phi2 276.849   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
