#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              0.001
n_slip                  83.3
a_slip                  2.25
tau0_slip               95.e6
tausat_slip             222.e6
h0_slipslip             1.0e6


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 158.818   Phi 136.310    phi2 117.100   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 269.458   Phi 80.501    phi2 275.664   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 317.483   Phi 80.886    phi2 231.248   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 102.041   Phi 117.338    phi2 39.149   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 357.186   Phi 89.596    phi2 110.969   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 241.816   Phi 35.993    phi2 358.484   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 25.621   Phi 102.934    phi2 124.578   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 123.090   Phi 124.925    phi2 146.881   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 298.985   Phi 59.633    phi2 34.544   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 247.621   Phi 164.268    phi2 69.291   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 328.629   Phi 96.140    phi2 34.203   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 146.441   Phi 101.801    phi2 239.328   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 5.414   Phi 20.781    phi2 205.924   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 1.036   Phi 132.154    phi2 177.008   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 265.279   Phi 152.560    phi2 152.970   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 29.852   Phi 89.855    phi2 56.074   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 173.322   Phi 107.419    phi2 248.458   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 189.282   Phi 135.124    phi2 320.849   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 149.882   Phi 76.992    phi2 45.689   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 42.893   Phi 85.762    phi2 235.362   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 15.421   Phi 171.484    phi2 135.931   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 28.648   Phi 112.960    phi2 246.018   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 94.674   Phi 145.868    phi2 132.862   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 267.947   Phi 124.812    phi2 146.345   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 207.004   Phi 101.259    phi2 290.260   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 311.500   Phi 7.140    phi2 224.421   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 141.601   Phi 16.376    phi2 141.993   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 232.162   Phi 125.982    phi2 68.532   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 46.570   Phi 62.385    phi2 103.178   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 104.803   Phi 104.310    phi2 196.695   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 27.943   Phi 75.122    phi2 225.890   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 91.579   Phi 65.395    phi2 217.820   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 291.648   Phi 88.212    phi2 127.202   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 85.684   Phi 115.120    phi2 344.510   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 81.044   Phi 41.973    phi2 108.847   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 44.677   Phi 133.840    phi2 95.674   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 23.458   Phi 90.125    phi2 214.621   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 238.228   Phi 165.176    phi2 349.071   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 71.936   Phi 119.969    phi2 100.632   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 36.778   Phi 119.311    phi2 13.270   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 55.329   Phi 122.541    phi2 59.335   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 175.939   Phi 34.479    phi2 109.967   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 334.135   Phi 34.963    phi2 349.899   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 208.889   Phi 143.123    phi2 252.508   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 358.964   Phi 123.088    phi2 287.183   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 66.685   Phi 50.557    phi2 277.195   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 221.975   Phi 123.859    phi2 213.619   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 279.916   Phi 78.429    phi2 86.165   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 232.900   Phi 141.749    phi2 201.029   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 329.261   Phi 103.398    phi2 272.857   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 326.260   Phi 94.855    phi2 157.179   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 125.425   Phi 25.096    phi2 100.975   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 150.208   Phi 15.553    phi2 265.840   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 337.106   Phi 142.687    phi2 327.667   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 1.965   Phi 25.357    phi2 179.417   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 294.467   Phi 66.532    phi2 222.586   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 292.693   Phi 141.259    phi2 72.491   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 182.256   Phi 87.712    phi2 185.185   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 229.752   Phi 74.302    phi2 337.242   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 299.161   Phi 120.002    phi2 157.849   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 3.700   Phi 113.965    phi2 232.296   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 184.920   Phi 77.238    phi2 165.424   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 182.444   Phi 67.525    phi2 180.900   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 5.270   Phi 41.241    phi2 46.221   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
