#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              5.961925185456e-03
n_slip                  7.666700143744e+01
a_slip                  4.740714727389e+00
tau0_slip               8.036751529837e+06
tausat_slip             3.788864854795e+06
h0_slipslip             5.992086996324e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 51.912   Phi 151.108    phi2 30.687   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 237.308   Phi 26.778    phi2 170.343   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 215.660   Phi 31.912    phi2 322.526   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 351.766   Phi 83.425    phi2 205.019   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 286.876   Phi 149.010    phi2 312.594   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 186.881   Phi 76.012    phi2 311.144   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 131.393   Phi 48.901    phi2 232.984   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 86.030   Phi 82.954    phi2 317.977   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 251.717   Phi 47.495    phi2 263.816   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 209.638   Phi 101.762    phi2 22.007   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 19.397   Phi 76.647    phi2 231.499   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 18.870   Phi 107.245    phi2 6.975   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 346.048   Phi 84.152    phi2 187.195   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 225.942   Phi 107.463    phi2 330.245   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 142.938   Phi 137.156    phi2 277.423   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 166.953   Phi 90.446    phi2 14.591   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 204.129   Phi 102.299    phi2 82.269   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 315.659   Phi 99.873    phi2 34.384   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 252.526   Phi 142.680    phi2 161.192   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 351.275   Phi 33.702    phi2 292.396   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 12.098   Phi 132.371    phi2 306.715   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 260.632   Phi 16.252    phi2 297.066   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 283.140   Phi 22.130    phi2 326.354   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 164.621   Phi 58.121    phi2 190.891   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 54.280   Phi 125.530    phi2 22.440   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 315.522   Phi 103.058    phi2 68.520   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 91.562   Phi 45.017    phi2 223.741   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 159.247   Phi 137.757    phi2 171.558   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 102.902   Phi 87.333    phi2 124.120   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 33.382   Phi 61.365    phi2 121.164   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 81.938   Phi 128.598    phi2 25.688   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 199.815   Phi 29.019    phi2 131.450   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 335.163   Phi 134.378    phi2 156.774   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 66.374   Phi 129.409    phi2 326.271   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 209.992   Phi 146.405    phi2 66.102   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 291.735   Phi 96.831    phi2 140.719   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 137.786   Phi 62.997    phi2 74.479   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 143.812   Phi 125.265    phi2 314.729   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 18.321   Phi 121.069    phi2 213.243   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 242.337   Phi 108.260    phi2 279.278   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 47.854   Phi 63.442    phi2 313.714   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 33.441   Phi 101.766    phi2 94.501   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 325.686   Phi 85.116    phi2 314.762   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 73.264   Phi 50.552    phi2 201.163   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 85.214   Phi 89.998    phi2 34.662   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 133.112   Phi 74.208    phi2 297.428   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 65.714   Phi 26.041    phi2 132.232   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 228.167   Phi 85.017    phi2 301.265   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 21.337   Phi 112.863    phi2 186.232   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 291.387   Phi 92.992    phi2 143.334   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 191.009   Phi 48.383    phi2 162.689   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 212.969   Phi 101.135    phi2 40.917   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 303.045   Phi 18.868    phi2 187.984   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 245.046   Phi 56.327    phi2 228.073   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 3.704   Phi 37.390    phi2 19.423   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 217.914   Phi 128.184    phi2 354.228   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 208.953   Phi 77.599    phi2 182.331   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 240.386   Phi 143.095    phi2 199.249   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 107.409   Phi 147.478    phi2 70.302   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 203.670   Phi 85.761    phi2 178.039   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 216.048   Phi 57.397    phi2 229.646   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 84.861   Phi 69.271    phi2 326.818   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 343.212   Phi 141.816    phi2 55.110   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 137.219   Phi 98.239    phi2 287.329   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
