#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 345.227   Phi 156.852    phi2 156.424   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 34.806   Phi 141.527    phi2 104.935   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 289.482   Phi 27.921    phi2 87.378   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 42.785   Phi 135.110    phi2 179.846   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 331.548   Phi 115.028    phi2 159.997   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 160.868   Phi 104.383    phi2 113.002   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 44.926   Phi 162.719    phi2 77.113   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 220.209   Phi 43.691    phi2 234.099   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 103.754   Phi 79.869    phi2 2.645   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 2.276   Phi 93.597    phi2 194.798   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 218.554   Phi 85.193    phi2 45.299   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 146.274   Phi 58.390    phi2 56.266   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 217.993   Phi 75.095    phi2 203.796   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 8.136   Phi 24.332    phi2 35.283   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 304.478   Phi 141.022    phi2 219.184   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 114.406   Phi 100.854    phi2 32.067   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 327.383   Phi 156.296    phi2 84.081   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 194.762   Phi 64.026    phi2 27.113   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 245.741   Phi 59.602    phi2 239.910   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 96.180   Phi 136.104    phi2 273.402   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 7.195   Phi 31.100    phi2 126.865   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 201.548   Phi 69.855    phi2 199.042   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 41.929   Phi 43.811    phi2 116.272   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 315.296   Phi 82.374    phi2 348.391   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 277.888   Phi 75.184    phi2 102.233   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 359.569   Phi 84.402    phi2 39.276   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 267.438   Phi 47.506    phi2 218.066   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 87.465   Phi 45.524    phi2 135.288   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 330.900   Phi 117.034    phi2 308.380   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 150.433   Phi 20.569    phi2 24.204   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 199.956   Phi 23.378    phi2 62.906   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 184.787   Phi 107.608    phi2 175.909   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 334.184   Phi 137.899    phi2 257.331   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 130.106   Phi 52.778    phi2 211.102   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 269.458   Phi 15.514    phi2 343.907   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 305.498   Phi 110.109    phi2 308.516   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 250.443   Phi 34.352    phi2 209.326   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 35.285   Phi 30.839    phi2 311.690   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 152.723   Phi 70.336    phi2 310.446   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 315.179   Phi 23.939    phi2 0.672   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 14.188   Phi 54.399    phi2 299.774   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 84.031   Phi 51.820    phi2 323.622   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 8.984   Phi 119.172    phi2 319.485   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 190.731   Phi 70.856    phi2 91.542   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 351.176   Phi 139.578    phi2 183.971   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 154.426   Phi 84.472    phi2 115.630   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 209.478   Phi 60.609    phi2 2.175   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 21.780   Phi 64.198    phi2 277.664   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 217.612   Phi 62.160    phi2 237.764   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 347.830   Phi 55.499    phi2 175.576   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 170.351   Phi 141.579    phi2 93.395   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 351.966   Phi 70.920    phi2 314.002   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 150.639   Phi 36.094    phi2 336.258   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 243.092   Phi 73.873    phi2 333.472   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 350.112   Phi 69.545    phi2 194.459   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 67.260   Phi 9.307    phi2 83.159   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 115.924   Phi 37.465    phi2 338.325   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 22.188   Phi 113.069    phi2 319.893   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 309.895   Phi 114.898    phi2 110.849   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 47.765   Phi 124.136    phi2 45.535   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 150.177   Phi 42.702    phi2 310.030   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 15.081   Phi 105.351    phi2 306.373   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 295.379   Phi 102.096    phi2 236.712   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 7.408   Phi 112.682    phi2 306.532   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 170.628   Phi 29.028    phi2 169.763   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 34.437   Phi 104.510    phi2 20.587   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 63.256   Phi 113.943    phi2 230.266   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 226.353   Phi 76.885    phi2 341.844   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 148.271   Phi 51.188    phi2 147.532   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 253.394   Phi 51.577    phi2 108.771   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 222.429   Phi 172.595    phi2 290.404   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 221.041   Phi 64.851    phi2 357.176   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 26.447   Phi 92.686    phi2 232.673   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 325.124   Phi 122.397    phi2 206.343   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 322.317   Phi 15.463    phi2 184.638   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 260.073   Phi 149.325    phi2 8.997   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 203.504   Phi 171.630    phi2 275.161   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 44.042   Phi 163.676    phi2 30.285   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 5.593   Phi 61.181    phi2 174.573   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 182.765   Phi 46.054    phi2 127.217   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 19.517   Phi 42.181    phi2 122.407   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 191.822   Phi 143.388    phi2 316.857   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 250.143   Phi 73.188    phi2 344.929   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 160.566   Phi 137.434    phi2 233.934   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 25.949   Phi 83.714    phi2 342.891   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 19.228   Phi 124.325    phi2 40.966   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 101.690   Phi 41.093    phi2 223.856   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 4.357   Phi 104.146    phi2 319.981   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 139.414   Phi 17.249    phi2 283.394   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 177.329   Phi 83.878    phi2 171.340   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 289.235   Phi 61.281    phi2 250.200   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 193.204   Phi 54.439    phi2 334.548   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 300.804   Phi 44.771    phi2 199.224   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 36.466   Phi 15.434    phi2 341.175   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 66.910   Phi 60.104    phi2 283.786   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 238.889   Phi 102.395    phi2 52.039   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 189.040   Phi 54.915    phi2 204.141   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 328.035   Phi 47.481    phi2 119.713   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 39.949   Phi 59.502    phi2 32.761   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 67.099   Phi 130.133    phi2 202.005   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 152.114   Phi 60.449    phi2 316.965   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 161.408   Phi 96.939    phi2 11.471   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 57.243   Phi 62.612    phi2 259.521   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 196.607   Phi 154.162    phi2 212.361   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
