#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 84.391   Phi 35.483    phi2 71.939   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 217.510   Phi 130.924    phi2 269.830   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 98.312   Phi 58.699    phi2 191.386   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 189.300   Phi 130.132    phi2 206.037   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 112.260   Phi 103.131    phi2 39.421   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 24.546   Phi 123.400    phi2 145.733   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 219.414   Phi 106.634    phi2 143.817   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 278.302   Phi 47.335    phi2 124.884   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 283.069   Phi 119.912    phi2 262.016   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 282.368   Phi 112.182    phi2 68.209   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 102.857   Phi 137.567    phi2 340.843   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 110.840   Phi 79.924    phi2 161.025   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 204.217   Phi 40.230    phi2 91.296   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 200.146   Phi 140.009    phi2 237.578   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 250.284   Phi 160.212    phi2 2.390   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 111.089   Phi 92.028    phi2 11.197   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 56.785   Phi 39.657    phi2 249.106   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 250.413   Phi 133.430    phi2 84.170   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 169.691   Phi 63.526    phi2 284.224   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 262.003   Phi 95.989    phi2 56.066   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 64.033   Phi 118.743    phi2 114.962   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 131.699   Phi 131.941    phi2 127.343   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 199.321   Phi 63.407    phi2 37.081   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 170.972   Phi 60.444    phi2 16.634   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 329.561   Phi 75.943    phi2 14.286   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 76.930   Phi 69.755    phi2 243.291   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 268.555   Phi 18.667    phi2 33.731   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 261.408   Phi 151.786    phi2 288.293   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 4.987   Phi 93.198    phi2 323.893   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 208.393   Phi 39.232    phi2 296.052   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 315.203   Phi 104.753    phi2 58.462   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 195.330   Phi 109.893    phi2 292.857   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 273.488   Phi 119.246    phi2 315.694   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 86.215   Phi 19.020    phi2 319.622   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 215.096   Phi 76.345    phi2 220.195   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 111.020   Phi 87.920    phi2 183.157   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 182.152   Phi 120.594    phi2 357.545   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 356.664   Phi 68.317    phi2 304.684   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 155.033   Phi 57.649    phi2 63.759   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 253.908   Phi 92.917    phi2 234.720   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 18.849   Phi 50.447    phi2 293.139   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 158.854   Phi 46.857    phi2 59.895   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 88.493   Phi 142.104    phi2 14.121   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 34.447   Phi 35.325    phi2 116.660   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 154.497   Phi 75.221    phi2 314.417   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 140.334   Phi 60.228    phi2 219.071   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 127.748   Phi 65.564    phi2 147.026   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 278.122   Phi 151.175    phi2 79.291   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 134.522   Phi 111.132    phi2 333.610   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 207.915   Phi 73.376    phi2 215.353   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 109.773   Phi 41.867    phi2 131.304   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 338.323   Phi 81.716    phi2 163.057   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 178.964   Phi 109.105    phi2 301.124   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 135.594   Phi 65.018    phi2 174.867   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 107.443   Phi 49.177    phi2 227.929   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 124.102   Phi 72.737    phi2 207.305   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 20.979   Phi 117.219    phi2 278.597   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 107.947   Phi 41.925    phi2 110.013   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 262.040   Phi 135.722    phi2 75.139   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 206.960   Phi 53.227    phi2 123.380   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 86.968   Phi 149.060    phi2 74.674   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 15.721   Phi 87.123    phi2 63.760   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 214.235   Phi 52.778    phi2 209.801   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 156.010   Phi 99.144    phi2 287.234   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 139.222   Phi 116.987    phi2 305.022   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 249.963   Phi 49.773    phi2 164.370   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 350.851   Phi 102.652    phi2 41.596   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 241.627   Phi 81.636    phi2 213.839   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 253.984   Phi 129.255    phi2 17.296   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 316.291   Phi 78.984    phi2 163.491   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 22.096   Phi 79.867    phi2 330.145   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 339.030   Phi 75.903    phi2 137.882   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 354.034   Phi 55.816    phi2 318.439   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 136.532   Phi 122.622    phi2 128.798   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 295.382   Phi 57.861    phi2 338.132   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 137.303   Phi 117.558    phi2 301.775   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 138.401   Phi 83.813    phi2 319.907   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 253.984   Phi 129.255    phi2 17.296   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 290.415   Phi 154.152    phi2 263.682   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 16.030   Phi 143.883    phi2 235.765   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 332.761   Phi 48.768    phi2 248.781   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 347.539   Phi 125.636    phi2 75.900   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 221.635   Phi 117.844    phi2 247.201   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 351.036   Phi 126.470    phi2 78.490   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 334.904   Phi 126.587    phi2 111.492   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 88.094   Phi 77.147    phi2 262.019   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 122.550   Phi 91.006    phi2 293.323   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 250.284   Phi 160.212    phi2 2.390   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 166.467   Phi 23.575    phi2 149.076   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 302.019   Phi 92.380    phi2 36.129   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 48.421   Phi 58.891    phi2 318.168   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 256.697   Phi 58.929    phi2 165.336   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 227.835   Phi 27.986    phi2 42.128   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 73.827   Phi 22.440    phi2 67.732   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 73.063   Phi 51.422    phi2 133.941   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 330.420   Phi 21.205    phi2 313.760   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 181.157   Phi 90.043    phi2 298.930   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 258.526   Phi 106.300    phi2 352.600   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 38.958   Phi 111.462    phi2 123.264   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 338.666   Phi 49.249    phi2 48.408   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 29.492   Phi 113.549    phi2 359.530   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 118.594   Phi 70.930    phi2 344.222   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 226.336   Phi 62.131    phi2 200.467   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 41.054   Phi 44.858    phi2 142.222   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 85.530   Phi 90.305    phi2 111.355   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 78.756   Phi 131.226    phi2 274.529   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 260.426   Phi 102.682    phi2 341.470   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 43.204   Phi 30.792    phi2 200.421   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 294.630   Phi 120.288    phi2 170.900   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 335.963   Phi 53.618    phi2 158.449   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 217.619   Phi 101.315    phi2 13.534   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 138.614   Phi 146.584    phi2 238.718   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 231.820   Phi 45.195    phi2 82.641   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 243.977   Phi 125.182    phi2 198.284   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 90.965   Phi 132.704    phi2 74.738   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 24.393   Phi 54.744    phi2 311.703   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 291.142   Phi 90.794    phi2 209.213   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 144.658   Phi 58.993    phi2 256.332   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 310.653   Phi 50.995    phi2 25.456   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 63.095   Phi 54.293    phi2 2.690   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 154.525   Phi 138.921    phi2 109.121   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 109.996   Phi 170.305    phi2 286.482   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 153.211   Phi 149.120    phi2 288.301   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 346.721   Phi 110.789    phi2 346.628   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 50.881   Phi 165.509    phi2 194.123   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 17.016   Phi 123.044    phi2 221.449   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 226.488   Phi 94.672    phi2 201.171   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 79.378   Phi 86.992    phi2 229.425   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 232.642   Phi 132.410    phi2 274.378   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 354.496   Phi 105.787    phi2 172.932   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 51.716   Phi 66.960    phi2 221.761   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 31.261   Phi 109.314    phi2 322.214   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 215.536   Phi 122.592    phi2 15.486   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 290.328   Phi 112.388    phi2 65.091   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 121.589   Phi 140.123    phi2 352.410   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 210.475   Phi 69.768    phi2 128.635   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 151.847   Phi 147.758    phi2 96.834   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 171.376   Phi 81.385    phi2 53.372   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 241.914   Phi 111.826    phi2 68.185   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 313.977   Phi 98.413    phi2 278.486   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 118.430   Phi 98.042    phi2 219.225   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 146.704   Phi 62.579    phi2 105.675   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 359.373   Phi 56.842    phi2 114.037   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 129.784   Phi 98.627    phi2 166.824   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 341.794   Phi 168.701    phi2 18.610   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 114.366   Phi 112.338    phi2 96.875   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 27.888   Phi 148.539    phi2 233.911   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 104.866   Phi 101.481    phi2 341.131   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 345.748   Phi 72.260    phi2 223.519   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 264.378   Phi 172.515    phi2 17.586   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 76.769   Phi 114.371    phi2 217.832   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 250.284   Phi 160.212    phi2 2.390   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 168.737   Phi 84.998    phi2 135.398   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 125.388   Phi 149.941    phi2 131.891   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 5.086   Phi 133.712    phi2 292.915   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 343.731   Phi 92.742    phi2 211.051   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 283.267   Phi 76.072    phi2 334.365   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 84.852   Phi 51.868    phi2 233.927   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 225.763   Phi 120.960    phi2 43.703   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 265.188   Phi 142.018    phi2 275.534   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 231.473   Phi 83.807    phi2 128.195   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 203.835   Phi 90.258    phi2 69.789   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 187.850   Phi 83.698    phi2 73.200   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 226.803   Phi 95.248    phi2 246.356   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 13.270   Phi 25.596    phi2 266.989   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 132.887   Phi 16.277    phi2 201.490   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 189.094   Phi 135.836    phi2 122.093   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 98.277   Phi 161.757    phi2 203.805   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 89.938   Phi 79.391    phi2 252.987   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 100.977   Phi 148.189    phi2 5.266   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 294.255   Phi 140.666    phi2 273.005   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 245.089   Phi 152.977    phi2 144.128   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 143.449   Phi 123.993    phi2 224.321   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 102.857   Phi 137.567    phi2 340.843   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 330.790   Phi 132.517    phi2 267.949   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 208.900   Phi 38.317    phi2 322.883   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 242.189   Phi 125.694    phi2 149.104   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 286.273   Phi 72.929    phi2 100.251   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 271.378   Phi 137.253    phi2 216.180   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 217.288   Phi 94.679    phi2 55.143   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 305.788   Phi 46.931    phi2 183.119   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 21.992   Phi 54.381    phi2 216.651   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 55.731   Phi 117.527    phi2 332.672   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
