#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 50.048   Phi 30.033    phi2 136.178   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 335.253   Phi 82.815    phi2 1.759   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 127.586   Phi 63.702    phi2 314.909   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 310.005   Phi 124.695    phi2 303.570   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 113.990   Phi 100.441    phi2 120.896   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 138.174   Phi 45.935    phi2 356.486   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 349.774   Phi 117.760    phi2 53.533   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 142.117   Phi 110.939    phi2 226.460   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 322.427   Phi 78.739    phi2 133.898   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 286.439   Phi 152.144    phi2 40.386   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 259.474   Phi 173.183    phi2 57.972   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 205.889   Phi 133.103    phi2 353.501   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 164.568   Phi 95.719    phi2 258.972   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 290.621   Phi 129.970    phi2 323.364   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 10.659   Phi 117.232    phi2 266.512   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 120.198   Phi 21.887    phi2 138.298   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 15.464   Phi 115.014    phi2 279.217   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 88.688   Phi 81.134    phi2 255.356   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 103.568   Phi 147.944    phi2 311.259   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 26.901   Phi 23.238    phi2 277.796   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 227.032   Phi 109.625    phi2 227.964   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 334.383   Phi 130.296    phi2 340.528   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 119.712   Phi 111.837    phi2 215.079   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 36.024   Phi 134.422    phi2 165.133   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 127.220   Phi 85.129    phi2 142.523   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 150.624   Phi 130.805    phi2 96.275   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 18.499   Phi 25.017    phi2 5.593   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 104.673   Phi 140.687    phi2 249.622   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 344.573   Phi 138.656    phi2 203.143   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 347.758   Phi 70.293    phi2 216.713   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 121.880   Phi 104.797    phi2 151.585   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 80.254   Phi 71.746    phi2 279.998   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 290.907   Phi 142.027    phi2 313.963   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 142.882   Phi 82.971    phi2 320.239   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 46.832   Phi 109.977    phi2 127.400   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 342.641   Phi 126.389    phi2 358.466   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 163.172   Phi 164.414    phi2 94.444   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 188.085   Phi 155.161    phi2 51.325   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 15.430   Phi 79.103    phi2 217.104   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 358.361   Phi 138.060    phi2 41.931   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 131.579   Phi 103.159    phi2 131.515   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 92.528   Phi 78.415    phi2 244.815   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 230.734   Phi 112.050    phi2 156.500   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 83.026   Phi 81.987    phi2 339.404   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 232.062   Phi 141.142    phi2 189.585   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 172.748   Phi 122.268    phi2 337.880   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 343.991   Phi 66.186    phi2 227.888   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 181.047   Phi 60.307    phi2 298.683   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 90.048   Phi 64.213    phi2 221.052   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 121.312   Phi 138.180    phi2 13.850   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 227.302   Phi 7.037    phi2 286.655   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 319.319   Phi 80.509    phi2 52.257   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 179.910   Phi 45.895    phi2 203.859   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 174.831   Phi 116.496    phi2 138.471   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 94.281   Phi 131.185    phi2 313.842   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 337.740   Phi 119.923    phi2 307.514   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 249.259   Phi 157.813    phi2 53.283   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 234.572   Phi 44.860    phi2 158.821   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 169.288   Phi 52.953    phi2 51.606   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 97.367   Phi 39.643    phi2 232.492   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 161.497   Phi 24.168    phi2 354.037   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
