#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 181.886   Phi 122.342    phi2 13.273   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 260.705   Phi 145.893    phi2 125.956   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 229.431   Phi 138.978    phi2 25.236   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 93.650   Phi 70.103    phi2 191.492   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 305.993   Phi 124.865    phi2 137.855   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 123.592   Phi 96.877    phi2 308.527   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 66.164   Phi 87.499    phi2 22.003   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 122.644   Phi 79.834    phi2 25.055   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 268.761   Phi 99.595    phi2 20.431   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 334.323   Phi 105.575    phi2 149.027   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 264.018   Phi 115.524    phi2 187.411   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 149.624   Phi 149.631    phi2 231.238   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 321.652   Phi 94.323    phi2 49.462   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 134.046   Phi 88.352    phi2 152.745   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 72.734   Phi 129.690    phi2 30.644   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 147.788   Phi 165.481    phi2 213.004   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 296.183   Phi 120.191    phi2 176.822   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 171.871   Phi 91.146    phi2 88.315   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 94.585   Phi 113.138    phi2 171.194   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 266.388   Phi 54.539    phi2 42.209   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 230.408   Phi 154.098    phi2 111.509   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 131.777   Phi 39.629    phi2 137.828   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 148.518   Phi 48.294    phi2 83.937   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 313.816   Phi 91.507    phi2 214.086   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 10.490   Phi 44.712    phi2 303.059   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 344.216   Phi 17.301    phi2 84.091   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 26.950   Phi 96.017    phi2 210.222   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 13.982   Phi 64.633    phi2 207.234   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 66.296   Phi 27.121    phi2 13.036   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 182.872   Phi 108.719    phi2 179.469   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 76.429   Phi 69.094    phi2 188.395   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 245.276   Phi 30.732    phi2 51.210   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 78.027   Phi 137.835    phi2 305.539   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 152.304   Phi 68.398    phi2 97.951   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 140.383   Phi 79.311    phi2 37.039   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 278.572   Phi 164.376    phi2 232.418   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 309.484   Phi 92.583    phi2 45.545   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 252.500   Phi 167.072    phi2 314.746   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 273.707   Phi 37.033    phi2 17.279   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 79.812   Phi 30.331    phi2 62.950   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 5.600   Phi 60.603    phi2 353.796   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 209.372   Phi 84.051    phi2 253.904   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 261.880   Phi 46.113    phi2 122.469   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 269.967   Phi 126.143    phi2 32.339   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 56.450   Phi 40.852    phi2 312.604   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 156.890   Phi 39.420    phi2 81.831   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 168.084   Phi 70.262    phi2 169.051   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 265.916   Phi 67.939    phi2 12.393   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 216.626   Phi 153.294    phi2 78.214   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 84.501   Phi 53.353    phi2 224.166   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 241.599   Phi 59.272    phi2 269.148   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 323.413   Phi 31.328    phi2 154.861   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 221.697   Phi 75.554    phi2 237.153   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 96.870   Phi 151.688    phi2 59.478   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 26.792   Phi 57.955    phi2 291.524   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 280.394   Phi 97.338    phi2 247.353   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 97.887   Phi 106.923    phi2 181.415   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 321.769   Phi 20.437    phi2 165.788   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 303.135   Phi 27.770    phi2 17.534   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 243.163   Phi 159.643    phi2 95.262   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 304.960   Phi 55.745    phi2 200.441   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 110.455   Phi 51.686    phi2 219.535   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 78.824   Phi 50.533    phi2 229.198   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 108.631   Phi 130.411    phi2 323.957   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 129.760   Phi 54.564    phi2 329.331   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 46.365   Phi 45.569    phi2 106.608   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 356.581   Phi 115.519    phi2 176.135   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 204.397   Phi 118.183    phi2 245.097   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 354.473   Phi 133.247    phi2 17.283   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 235.421   Phi 58.103    phi2 178.600   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 215.679   Phi 80.464    phi2 88.428   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 330.696   Phi 80.104    phi2 56.993   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 152.329   Phi 133.731    phi2 22.052   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 358.437   Phi 121.953    phi2 102.144   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 200.646   Phi 39.714    phi2 69.498   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 215.894   Phi 52.934    phi2 113.693   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 359.945   Phi 53.132    phi2 117.932   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 252.525   Phi 172.238    phi2 148.182   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 55.149   Phi 105.308    phi2 95.462   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 213.663   Phi 43.045    phi2 156.848   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 5.657   Phi 129.160    phi2 218.987   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 332.901   Phi 136.317    phi2 82.636   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 127.385   Phi 100.990    phi2 304.434   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 174.364   Phi 151.342    phi2 235.852   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 7.483   Phi 56.181    phi2 358.004   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 137.189   Phi 145.634    phi2 40.550   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 206.266   Phi 127.002    phi2 241.135   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 204.104   Phi 117.304    phi2 335.733   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 202.331   Phi 46.074    phi2 215.869   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 156.928   Phi 133.723    phi2 350.711   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 151.752   Phi 138.920    phi2 189.703   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 204.274   Phi 36.820    phi2 221.847   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 166.051   Phi 51.502    phi2 49.142   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 1.063   Phi 70.761    phi2 24.821   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 163.186   Phi 147.513    phi2 203.272   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 205.713   Phi 100.574    phi2 15.353   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 284.033   Phi 79.857    phi2 309.457   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 85.364   Phi 136.576    phi2 151.718   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 52.792   Phi 126.990    phi2 293.034   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 292.373   Phi 90.787    phi2 174.030   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 15.159   Phi 129.228    phi2 156.974   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 190.930   Phi 14.588    phi2 232.352   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 241.456   Phi 108.935    phi2 69.641   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 54.265   Phi 54.987    phi2 259.833   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 349.620   Phi 109.671    phi2 256.633   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 249.689   Phi 73.979    phi2 57.714   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 0.660   Phi 55.741    phi2 278.554   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 276.523   Phi 33.121    phi2 28.461   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 137.432   Phi 68.368    phi2 213.712   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 333.471   Phi 41.252    phi2 159.027   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 214.938   Phi 131.165    phi2 64.845   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 343.782   Phi 122.220    phi2 43.114   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 235.945   Phi 88.820    phi2 94.057   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 137.098   Phi 61.109    phi2 52.928   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 53.649   Phi 108.256    phi2 329.142   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 329.253   Phi 49.464    phi2 70.081   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 187.059   Phi 60.775    phi2 308.516   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 74.874   Phi 74.331    phi2 188.204   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 7.759   Phi 58.956    phi2 136.439   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 222.644   Phi 93.263    phi2 351.074   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 223.693   Phi 95.611    phi2 256.296   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 16.244   Phi 87.506    phi2 258.099   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 317.059   Phi 134.578    phi2 29.460   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 228.793   Phi 129.251    phi2 106.481   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 222.413   Phi 131.153    phi2 168.699   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 332.493   Phi 48.323    phi2 147.055   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 237.544   Phi 93.043    phi2 146.404   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 359.328   Phi 123.951    phi2 72.891   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 161.220   Phi 42.825    phi2 257.327   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 231.168   Phi 126.699    phi2 26.498   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 232.528   Phi 139.290    phi2 357.305   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 170.639   Phi 123.783    phi2 232.193   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 4.480   Phi 116.715    phi2 32.105   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 182.591   Phi 44.525    phi2 222.538   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 124.838   Phi 130.689    phi2 194.069   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 305.299   Phi 55.818    phi2 203.734   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 82.542   Phi 131.943    phi2 162.797   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 209.687   Phi 53.330    phi2 234.117   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 344.146   Phi 41.291    phi2 270.774   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 104.528   Phi 92.935    phi2 262.905   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 255.960   Phi 30.875    phi2 7.361   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 121.433   Phi 149.039    phi2 33.316   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 206.182   Phi 113.849    phi2 255.594   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 67.562   Phi 141.372    phi2 0.321   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 156.093   Phi 172.341    phi2 93.117   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 92.903   Phi 133.456    phi2 182.912   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 230.408   Phi 154.098    phi2 111.509   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 310.337   Phi 151.376    phi2 355.271   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 302.341   Phi 35.200    phi2 8.467   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 333.913   Phi 55.347    phi2 179.634   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 296.260   Phi 44.221    phi2 139.032   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 208.339   Phi 57.430    phi2 109.021   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 14.447   Phi 119.080    phi2 130.074   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 267.441   Phi 48.252    phi2 141.202   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 180.243   Phi 66.269    phi2 135.107   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 236.491   Phi 112.903    phi2 223.422   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 266.042   Phi 147.974    phi2 271.579   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 171.085   Phi 24.187    phi2 161.335   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 84.545   Phi 109.057    phi2 220.921   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 308.705   Phi 45.801    phi2 197.706   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 262.711   Phi 48.157    phi2 254.175   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 239.491   Phi 77.438    phi2 34.768   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 187.330   Phi 62.567    phi2 221.686   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 115.035   Phi 143.314    phi2 288.237   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 285.685   Phi 54.540    phi2 171.806   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 233.043   Phi 124.312    phi2 43.480   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 106.086   Phi 126.474    phi2 48.222   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 90.592   Phi 135.361    phi2 51.692   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 270.784   Phi 78.477    phi2 203.529   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 322.755   Phi 138.679    phi2 188.510   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 241.352   Phi 77.833    phi2 196.803   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 39.876   Phi 114.911    phi2 354.818   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
