#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              1.000000000000e-03
n_slip                  3.000000000000e+00
a_slip                  8.000000000000e+00
tau0_slip               9.000000000000e+06
tausat_slip             9.000000000000e+09
h0_slipslip             1.000000000000e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 200.497   Phi 41.917    phi2 81.443   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 296.845   Phi 107.348    phi2 158.086   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 357.885   Phi 42.399    phi2 57.270   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 169.890   Phi 92.622    phi2 70.830   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 206.699   Phi 50.629    phi2 279.229   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 59.229   Phi 154.385    phi2 223.406   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 114.640   Phi 126.981    phi2 245.005   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 132.399   Phi 107.945    phi2 34.046   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 203.996   Phi 125.794    phi2 266.526   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 50.375   Phi 85.180    phi2 256.088   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 12.623   Phi 133.203    phi2 207.496   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 319.715   Phi 48.273    phi2 261.779   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 265.119   Phi 90.062    phi2 117.430   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 45.578   Phi 141.497    phi2 36.532   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 33.909   Phi 131.739    phi2 273.262   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 322.873   Phi 164.330    phi2 332.620   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 234.278   Phi 78.051    phi2 62.725   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 318.818   Phi 48.333    phi2 110.704   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 140.379   Phi 42.592    phi2 293.351   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 121.695   Phi 63.951    phi2 39.948   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 240.937   Phi 69.289    phi2 132.208   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 88.667   Phi 33.557    phi2 216.490   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 135.707   Phi 87.608    phi2 23.811   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 238.368   Phi 84.488    phi2 297.094   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 197.713   Phi 51.126    phi2 188.959   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 200.164   Phi 123.357    phi2 153.475   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 213.720   Phi 45.707    phi2 255.424   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 94.034   Phi 87.248    phi2 250.175   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 206.093   Phi 54.883    phi2 66.324   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 210.534   Phi 128.600    phi2 283.266   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 164.006   Phi 156.094    phi2 21.290   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 36.010   Phi 69.941    phi2 106.624   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 34.905   Phi 66.007    phi2 126.853   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 329.021   Phi 90.565    phi2 270.895   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 336.278   Phi 163.031    phi2 299.728   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 157.127   Phi 73.607    phi2 72.409   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 232.517   Phi 147.967    phi2 298.426   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 45.382   Phi 74.298    phi2 36.673   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 160.078   Phi 67.799    phi2 217.345   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 330.508   Phi 87.035    phi2 193.803   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 0.351   Phi 107.886    phi2 74.457   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 12.101   Phi 106.784    phi2 209.885   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 325.093   Phi 87.386    phi2 249.093   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 14.245   Phi 66.298    phi2 223.936   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 83.434   Phi 39.053    phi2 79.977   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 274.087   Phi 164.496    phi2 302.554   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 194.625   Phi 23.851    phi2 331.712   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 16.428   Phi 35.302    phi2 279.248   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 267.150   Phi 92.518    phi2 309.913   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 136.479   Phi 94.920    phi2 118.317   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 4.765   Phi 144.192    phi2 161.354   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 245.205   Phi 108.079    phi2 127.874   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 125.474   Phi 102.317    phi2 88.547   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 163.373   Phi 72.380    phi2 78.830   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 5.222   Phi 175.924    phi2 165.771   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 165.541   Phi 25.124    phi2 9.858   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 230.508   Phi 87.354    phi2 227.286   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 320.661   Phi 22.175    phi2 85.879   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 150.572   Phi 38.369    phi2 174.510   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 311.207   Phi 150.060    phi2 89.801   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 149.747   Phi 64.542    phi2 61.273   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 89.989   Phi 45.999    phi2 219.804   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 288.018   Phi 129.545    phi2 10.229   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 98.728   Phi 119.079    phi2 132.975   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
