#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              3.502888820800e-02
n_slip                  1.000000000000e+01
a_slip                  1.000000000000e+00
tau0_slip               5.583813092429e+06
tausat_slip             1.291454981878e+09
h0_slipslip             8.000000000000e+09


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 289.301   Phi 11.632    phi2 268.959   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 31.023   Phi 112.662    phi2 222.676   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 143.131   Phi 116.354    phi2 219.419   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 158.606   Phi 91.643    phi2 53.524   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 312.337   Phi 172.054    phi2 185.940   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 245.237   Phi 125.109    phi2 270.018   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 115.184   Phi 66.711    phi2 185.805   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 124.821   Phi 114.802    phi2 265.771   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 44.669   Phi 130.836    phi2 359.229   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 8.178   Phi 43.148    phi2 0.903   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 272.799   Phi 28.052    phi2 333.237   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 49.281   Phi 124.167    phi2 220.864   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 138.585   Phi 123.496    phi2 63.048   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 39.421   Phi 118.847    phi2 68.602   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 169.500   Phi 163.350    phi2 345.368   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 55.828   Phi 80.015    phi2 170.132   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 199.728   Phi 101.619    phi2 141.173   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 114.340   Phi 40.761    phi2 294.826   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 85.905   Phi 75.861    phi2 137.846   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 95.333   Phi 47.258    phi2 6.601   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 70.220   Phi 113.819    phi2 87.805   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 205.529   Phi 75.400    phi2 103.477   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 238.115   Phi 61.334    phi2 85.289   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 16.607   Phi 70.322    phi2 76.872   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 207.899   Phi 96.742    phi2 33.454   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 16.030   Phi 57.166    phi2 137.343   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 50.086   Phi 131.528    phi2 309.673   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 21.618   Phi 48.511    phi2 232.647   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 326.462   Phi 14.294    phi2 90.630   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 339.188   Phi 132.089    phi2 25.124   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 295.109   Phi 39.832    phi2 203.145   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 36.087   Phi 78.687    phi2 147.626   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 208.697   Phi 93.631    phi2 279.942   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 256.177   Phi 93.137    phi2 271.734   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 291.134   Phi 69.892    phi2 0.239   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 236.845   Phi 53.308    phi2 21.024   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 25.545   Phi 153.354    phi2 146.928   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 156.091   Phi 62.602    phi2 157.612   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 152.569   Phi 44.260    phi2 250.216   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 54.427   Phi 58.276    phi2 325.699   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 88.707   Phi 32.348    phi2 74.874   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 36.051   Phi 31.527    phi2 226.566   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 224.668   Phi 102.158    phi2 288.938   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 262.222   Phi 95.248    phi2 316.851   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 216.030   Phi 155.283    phi2 78.077   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 18.045   Phi 62.207    phi2 220.009   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 51.937   Phi 133.772    phi2 314.335   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 277.538   Phi 126.375    phi2 250.769   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 127.320   Phi 46.497    phi2 173.684   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 186.054   Phi 32.382    phi2 290.144   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 347.005   Phi 50.723    phi2 319.224   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 187.176   Phi 98.013    phi2 142.317   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 81.967   Phi 50.554    phi2 55.114   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 149.869   Phi 120.725    phi2 124.592   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 27.464   Phi 127.410    phi2 337.519   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 191.521   Phi 32.440    phi2 76.972   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 122.087   Phi 91.570    phi2 102.178   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 246.240   Phi 118.752    phi2 20.147   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 215.986   Phi 55.209    phi2 42.275   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 12.189   Phi 90.285    phi2 241.165   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 300.699   Phi 81.206    phi2 266.842   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 247.160   Phi 45.868    phi2 308.640   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 291.700   Phi 78.938    phi2 244.681   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 204.562   Phi 32.535    phi2 315.483   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
