#-------------------#
<homogenization>
#-------------------#

[dummy]
mech			isostrain
type			none
nconstituents	1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[Aluminum]

elasticity              hooke
plasticity              nonlocal
/nonlocal/

(output)                rho
(output)                rho_edge
(output)                rho_screw
(output)                rho_sgl
(output)                rho_sgl_edge_pos
(output)                rho_sgl_edge_neg
(output)                rho_sgl_screw_pos
(output)                rho_sgl_screw_neg
(output)                rho_sgl_edge_pos_mobile
(output)                rho_sgl_edge_neg_mobile
(output)                rho_sgl_screw_pos_mobile
(output)                rho_sgl_screw_neg_mobile
(output)                rho_sgl_edge_pos_immobile
(output)                rho_sgl_edge_neg_immobile
(output)                rho_sgl_screw_pos_immobile
(output)                rho_sgl_screw_neg_immobile
(output)                rho_dip_edge
(output)                rho_dip_screw
(output)                rho_forest
(output)                delta
(output)                delta_sgl
(output)                delta_dip
(output)                shearrate
(output)                resolvedstress
(output)                resolvedstress_back
(output)                resolvedstress_external
(output)                resistance
(output)                rho_dot
(output)                rho_dot_sgl
(output)                rho_dot_sgl_mobile
(output)                rho_dot_dip
(output)                rho_dot_gen_edge
(output)                rho_dot_gen_screw
(output)                rho_dot_sgl2dip_edge
(output)                rho_dot_sgl2dip_screw
(output)                rho_dot_ann_ath
(output)                rho_dot_ann_the
(output)                rho_dot_ann_the_edge
(output)                rho_dot_ann_the_screw
(output)                rho_dot_edgejogs
(output)                rho_dot_flux
(output)                rho_dot_flux_mobile
(output)                rho_dot_flux_edge
(output)                rho_dot_flux_screw
(output)                velocity_edge_pos
(output)                velocity_edge_neg
(output)                velocity_screw_pos
(output)                velocity_screw_neg
(output)                maximumDipoleHeight_edge
(output)                maximumDipoleHeight_screw
(output)                accumulated_shear
(output)                dislocationstress

lattice_structure       fcc
Nslip                   12                       # number of slip systems

c11                     106.75e9                 # elastic constants
c12                     60.41e9
c44                     28.34e9

burgers                 2.86e-10                 # Burgers vector in m
rhoSglEdgePos0          0.25e10                  # Initial positive edge single dislocation density in m/m**3 (per slip family)
rhoSglEdgeNeg0          0.25e10                  # Initial negative edge single dislocation density in m/m**3 (per slip family)
rhoSglScrewPos0         0.25e10                  # Initial positive screw single dislocation density in m/m**3 (per slip family)
rhoSglScrewNeg0         0.25e10                  # Initial negative screw single dislocation density in m/m**3 (per slip family)
rhoDipEdge0             1e8                      # Initial edge dipole dislocation density in m/m**3 (per slip family)
rhoDipScrew0            1e8                      # Initial screw dipole dislocation density in m/m**3 (per slip family)
rhoSglScatter           0                        # standard deviation of scatter in initial single dislocation density
#rhoSglRandom           1e12                     # randomly distributed total dislocation density (sum over all slip systems and types) in m/m**3
#rhoSglRandomBinning    1                        # binning size of randomly distributed dislocations (number of dislocations per ip volume)
minimumDipoleHeightEdge  2e-9                    # minimum distance for stable edge dipoles in m (per slip family)
minimumDipoleHeightScrew 2e-9                    # minimum distance for stable screw dipoles in m (per slip family)
lambda0                 80                       # prefactor for mean free path 
edgeMultiplication      0.1                      # factor to which edges contribute to multiplication
atomicVolume            1.7e-29                  # atomic volume in m**3
selfdiffusionPrefactor  1e-4                     # prefactor for self-diffusion coefficient in m**2/s
selfdiffusionEnergy     2.3e-19                  # activation enthalpy for seld-diffusion in J
solidSolutionEnergy     2e-19                    # activation energy of solid solution particles in J
solidSolutionConcentration 1e-5                  # concentration of solid solution in parts per b^3
solidSolutionSize       2                        # size of solid solution obstacles in multiples of burgers vector length
peierlsStressEdge       1e5                      # Peierls stress for edges in Pa (per slip family)
peierlsStressScrew      1e5                      # Peierls stress for screws in Pa (per slip family)
doublekinkWidth         10                       # width of double kinks in multiples of burgers vector length b
viscosity               1e-4                     # viscosity for dislocation glide in Pa s
p                       1                        # exponent for thermal barrier profile
q                       1                        # exponent for thermal barrier profile
attackFrequency         50e9                     # attack frequency in Hz
surfaceTransmissivity   1.0                      # transmissivity of free surfaces for dislocation flux
grainboundaryTransmissivity   0.0                # transmissivity of grain boundaries for dislocation flux (grain bundaries are identified as interfaces with different textures on both sides); if not set or set to negative number, the subroutine automatically determines the transmissivity at the grain boundary
interaction_SlipSlip    0  0  0.625  0.07  0.137  0.122  # Dislocation interaction coefficient
linetension             0.8                      # constant indicating the effect of the line tension on the hardening coefficients (0 to 1)
edgejog                 1.0                      # fraction of annihilated screw dipoles that forms edge jogs (0 to 1)
shortRangeStressCorrection 0                     # switch for use of short range correction stress
cutoffRadius            1e-3                     # cutoff radius for dislocation stress in m
CFLfactor               2.0                      # safety factor for CFL flux check (numerical parameter)
significantRho          1e6                      # minimum dislocation density considered relevant in m/m**3
#significantN           0.1                      # minimum dislocation number per ip considered relevant
aTol_density            1e4                      # absolute tolerance for dislocation density in m/m**3
aTol_shear              1e-20                    # absolute tolerance for plasgtic shear
randomMultiplication    0                        # switch for probabilistic extension of multiplication rate
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 340.699   Phi 76.821    phi2 99.760   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 42.059   Phi 14.301    phi2 309.875   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 40.102   Phi 91.300    phi2 287.516   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 240.153   Phi 13.915    phi2 295.800   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 180.944   Phi 94.385    phi2 172.687   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 275.737   Phi 98.133    phi2 8.098   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 252.921   Phi 93.538    phi2 356.345   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 250.026   Phi 80.620    phi2 274.525   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 276.525   Phi 99.308    phi2 106.871   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 258.734   Phi 18.530    phi2 112.447   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 146.092   Phi 12.693    phi2 19.849   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 191.575   Phi 165.912    phi2 202.334   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 85.842   Phi 75.470    phi2 14.990   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 41.154   Phi 166.202    phi2 216.348   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 22.888   Phi 102.811    phi2 282.186   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 64.278   Phi 156.924    phi2 66.976   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 102.889   Phi 83.935    phi2 260.622   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 285.933   Phi 167.885    phi2 112.535   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 26.015   Phi 168.839    phi2 301.488   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 146.092   Phi 12.693    phi2 19.849   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 264.060   Phi 101.214    phi2 87.326   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 348.808   Phi 100.087    phi2 262.426   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 232.483   Phi 3.373    phi2 292.827   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 262.614   Phi 80.552    phi2 100.724   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 357.020   Phi 83.132    phi2 93.205   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 80.367   Phi 89.586    phi2 175.945   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 319.649   Phi 5.129    phi2 211.693   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 176.604   Phi 106.667    phi2 267.738   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 359.448   Phi 76.096    phi2 104.234   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 282.678   Phi 92.046    phi2 2.317   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 346.253   Phi 83.219    phi2 105.601   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 12.417   Phi 83.164    phi2 350.797   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 90.250   Phi 72.597    phi2 186.179   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 270.388   Phi 77.611    phi2 2.295   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 47.197   Phi 6.680    phi2 320.156   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 131.576   Phi 134.278    phi2 246.302   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 274.266   Phi 142.306    phi2 116.329   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 84.968   Phi 76.763    phi2 81.868   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 25.401   Phi 7.847    phi2 91.921   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 90.206   Phi 19.803    phi2 89.250   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 357.579   Phi 89.221    phi2 259.623   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 311.883   Phi 9.646    phi2 123.275   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 299.638   Phi 6.398    phi2 54.692   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 346.253   Phi 83.219    phi2 105.601   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 50.738   Phi 7.419    phi2 208.635   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 346.253   Phi 83.219    phi2 105.601   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 280.329   Phi 3.393    phi2 253.227   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 191.979   Phi 93.966    phi2 260.470   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 109.030   Phi 77.116    phi2 268.100   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 351.335   Phi 101.068    phi2 277.122   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 342.986   Phi 98.418    phi2 184.894   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 262.446   Phi 129.026    phi2 38.135   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 349.142   Phi 84.055    phi2 208.916   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 184.526   Phi 108.220    phi2 99.258   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 26.015   Phi 168.839    phi2 301.488   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 345.598   Phi 147.922    phi2 192.341   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 183.902   Phi 23.589    phi2 72.660   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 8.763   Phi 8.233    phi2 256.811   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 271.768   Phi 97.797    phi2 81.739   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 8.495   Phi 167.410    phi2 191.685   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 34.484   Phi 122.031    phi2 342.298   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 83.753   Phi 168.102    phi2 86.045   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 250.026   Phi 80.620    phi2 274.525   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 265.905   Phi 81.110    phi2 99.779   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 230.195   Phi 17.218    phi2 301.839   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 179.777   Phi 91.435    phi2 164.865   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 66.604   Phi 82.725    phi2 177.092   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 247.358   Phi 46.721    phi2 213.780   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 181.474   Phi 107.522    phi2 187.397   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 80.470   Phi 169.277    phi2 72.648   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 187.416   Phi 93.583    phi2 89.066   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 278.691   Phi 85.574    phi2 186.031   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 310.327   Phi 42.249    phi2 59.731   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 359.951   Phi 80.013    phi2 272.139   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 186.089   Phi 98.549    phi2 264.571   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 174.410   Phi 82.330    phi2 184.673   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 290.834   Phi 13.616    phi2 336.557   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 356.630   Phi 94.486    phi2 282.090   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
