#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 344.426   Phi 142.622    phi2 232.199   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 87.209   Phi 117.905    phi2 179.678   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 4.356   Phi 28.713    phi2 83.599   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 329.377   Phi 43.655    phi2 242.557   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 92.379   Phi 132.659    phi2 0.667   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 262.715   Phi 40.232    phi2 72.417   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 92.895   Phi 81.253    phi2 16.580   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 323.894   Phi 84.132    phi2 184.938   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 193.513   Phi 80.832    phi2 266.473   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 232.388   Phi 43.636    phi2 261.474   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 315.911   Phi 24.694    phi2 91.344   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 53.599   Phi 59.225    phi2 186.722   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 120.294   Phi 157.382    phi2 346.566   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 198.528   Phi 80.598    phi2 260.502   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 110.151   Phi 99.295    phi2 157.863   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 133.092   Phi 60.337    phi2 34.927   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 257.423   Phi 39.446    phi2 150.652   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 155.135   Phi 57.979    phi2 51.184   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 325.298   Phi 95.346    phi2 197.917   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 111.070   Phi 125.104    phi2 334.340   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 249.271   Phi 9.983    phi2 11.300   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 37.329   Phi 57.610    phi2 212.194   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 31.346   Phi 113.002    phi2 344.364   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 133.209   Phi 86.101    phi2 234.963   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 115.718   Phi 94.458    phi2 108.932   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 82.735   Phi 91.932    phi2 171.205   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 108.511   Phi 50.379    phi2 44.499   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 201.409   Phi 165.216    phi2 256.312   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 274.422   Phi 58.205    phi2 224.167   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 91.169   Phi 141.559    phi2 141.971   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 124.096   Phi 31.455    phi2 266.627   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 295.727   Phi 72.289    phi2 93.900   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 45.552   Phi 34.634    phi2 8.613   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 226.999   Phi 144.254    phi2 338.174   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 26.089   Phi 116.735    phi2 295.924   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 309.194   Phi 165.532    phi2 58.571   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 310.884   Phi 129.378    phi2 23.733   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 103.896   Phi 28.771    phi2 121.967   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 17.609   Phi 139.267    phi2 237.431   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 201.282   Phi 150.770    phi2 85.246   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 252.797   Phi 147.827    phi2 287.423   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 269.701   Phi 67.850    phi2 196.925   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 40.027   Phi 23.504    phi2 173.738   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 307.590   Phi 113.921    phi2 345.730   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 48.050   Phi 98.021    phi2 301.698   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 348.386   Phi 130.216    phi2 43.069   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 59.336   Phi 76.885    phi2 180.824   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 272.619   Phi 53.945    phi2 22.962   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 114.058   Phi 71.195    phi2 112.781   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 76.074   Phi 86.165    phi2 351.096   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 294.740   Phi 96.474    phi2 157.669   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 98.598   Phi 38.258    phi2 58.686   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 346.029   Phi 45.554    phi2 67.300   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
