#-------------------#
<homogenization>
#-------------------#

[dummy]
mech			isostrain
type			none
nconstituents	1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[Aluminum]
elasticity              hooke
plasticity              phenopowerlaw

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                accumulatedshear_slip
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                accumulatedshear_twin

lattice_structure       fcc
Nslip                   12                # per family
Ntwin                    0                # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

gdot0_slip              0.001
n_slip                  20
tau0_slip                 31e6                # per family
tausat_slip               63e6                # per family
a_slip                  2.25
gdot0_twin              0.001
n_twin                  20
tau0_twin                 31e6                # per family
s_pr                    0                     # push-up factor for slip saturation due to twinning
twin_b                  0
twin_c                  0
twin_d                  0
twin_e                  0
h0_slipslip             75e6
h0_sliptwin             0
h0_twinslip             0
h0_twintwin             0
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
interaction_sliptwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twinslip    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twintwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
atol_resistance         1

#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 322.281   Phi 67.965    phi2 251.098   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 218.821   Phi 64.557    phi2 294.929   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 98.164   Phi 36.617    phi2 309.484   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 221.008   Phi 62.407    phi2 204.382   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 141.812   Phi 117.845    phi2 31.032   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 76.032   Phi 38.304    phi2 150.550   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 98.164   Phi 36.617    phi2 309.484   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 221.085   Phi 68.780    phi2 116.326   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 322.281   Phi 67.965    phi2 251.098   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 322.506   Phi 76.560    phi2 67.979   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 92.659   Phi 30.351    phi2 44.872   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 80.506   Phi 38.063    phi2 324.013   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 322.076   Phi 62.543    phi2 155.425   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 143.341   Phi 116.010    phi2 31.376   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 91.357   Phi 32.928    phi2 317.646   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 141.562   Phi 120.945    phi2 209.303   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 325.730   Phi 71.308    phi2 249.354   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 264.920   Phi 147.437    phi2 215.430   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 261.368   Phi 146.570    phi2 214.646   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 265.733   Phi 150.343    phi2 38.454   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 98.164   Phi 36.617    phi2 309.484   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 41.577   Phi 109.998    phi2 341.856   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 40.391   Phi 119.811    phi2 155.114   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 143.440   Phi 112.990    phi2 124.037   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 47.988   Phi 106.961    phi2 153.584   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 144.549   Phi 114.106    phi2 26.281   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 41.022   Phi 115.485    phi2 248.030   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 223.698   Phi 65.702    phi2 208.854   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 220.675   Phi 64.467    phi2 17.855   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 94.732   Phi 30.341    phi2 312.104   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 98.164   Phi 36.617    phi2 309.484   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 324.308   Phi 63.068    phi2 62.846   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 143.440   Phi 112.990    phi2 124.037   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 267.010   Phi 148.618    phi2 221.415   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 139.378   Phi 106.842    phi2 295.928   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 41.502   Phi 112.450    phi2 152.410   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 222.070   Phi 65.546    phi2 287.400   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 143.440   Phi 112.990    phi2 124.037   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 227.354   Phi 64.363    phi2 112.820   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 143.440   Phi 112.990    phi2 124.037   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 42.732   Phi 115.677    phi2 64.225   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 143.440   Phi 112.990    phi2 124.037   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
