#-------------------#
<homogenization>
#-------------------#

[dummy]
mech			isostrain
type			none
nconstituents	1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[Aluminum]
elasticity              hooke
plasticity              phenopowerlaw

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                accumulatedshear_slip
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                accumulatedshear_twin

lattice_structure       fcc
Nslip                   12                # per family
Ntwin                    0                # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

gdot0_slip              0.001
n_slip                  20
tau0_slip                 31e6                # per family
tausat_slip               63e6                # per family
a_slip                  2.25
gdot0_twin              0.001
n_twin                  20
tau0_twin                 31e6                # per family
s_pr                    0                     # push-up factor for slip saturation due to twinning
twin_b                  0
twin_c                  0
twin_d                  0
twin_e                  0
h0_slipslip             75e6
h0_sliptwin             0
h0_twinslip             0
h0_twintwin             0
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
interaction_sliptwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twinslip    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twintwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
atol_resistance         1

#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 268.634   Phi 148.624    phi2 126.817   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 96.789   Phi 36.828    phi2 36.535   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 276.615   Phi 141.074    phi2 133.242   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 94.462   Phi 38.382    phi2 311.155   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 140.957   Phi 120.218    phi2 299.285   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 223.704   Phi 71.656    phi2 290.054   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 228.032   Phi 67.671    phi2 197.293   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 145.927   Phi 105.984    phi2 292.870   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 323.137   Phi 66.041    phi2 153.881   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 223.735   Phi 62.712    phi2 207.338   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 45.187   Phi 120.175    phi2 67.764   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 41.397   Phi 113.220    phi2 60.622   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 144.175   Phi 110.890    phi2 25.063   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 80.101   Phi 34.769    phi2 56.802   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 219.199   Phi 59.943    phi2 206.888   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 138.218   Phi 114.733    phi2 200.033   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 40.736   Phi 114.700    phi2 162.117   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 263.444   Phi 154.793    phi2 30.945   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 321.510   Phi 69.912    phi2 337.161   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 142.719   Phi 114.904    phi2 26.962   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 79.471   Phi 28.341    phi2 55.534   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 37.821   Phi 113.713    phi2 56.591   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 94.462   Phi 38.382    phi2 311.155   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 99.673   Phi 37.035    phi2 38.028   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 222.043   Phi 73.155    phi2 27.123   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 217.930   Phi 68.841    phi2 209.307   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 327.029   Phi 69.608    phi2 241.890   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 276.003   Phi 147.054    phi2 223.896   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 221.363   Phi 72.610    phi2 293.395   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 273.523   Phi 141.078    phi2 47.685   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 266.031   Phi 147.192    phi2 308.612   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 228.032   Phi 67.671    phi2 197.293   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 44.592   Phi 110.351    phi2 68.764   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 258.261   Phi 147.570    phi2 31.024   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 227.171   Phi 57.690    phi2 200.621   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 87.852   Phi 39.256    phi2 145.047   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 145.927   Phi 105.984    phi2 292.870   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 38.797   Phi 115.699    phi2 58.111   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 324.909   Phi 68.706    phi2 244.565   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 275.471   Phi 147.140    phi2 321.150   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 216.436   Phi 62.866    phi2 214.314   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 81.859   Phi 34.780    phi2 239.462   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 262.451   Phi 152.281    phi2 34.196   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 42.837   Phi 118.937    phi2 329.195   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 273.280   Phi 149.945    phi2 309.945   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 100.586   Phi 34.818    phi2 38.914   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 144.868   Phi 116.482    phi2 204.992   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 218.425   Phi 59.015    phi2 21.993   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 138.218   Phi 114.733    phi2 200.033   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 219.011   Phi 62.042    phi2 292.084   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 138.609   Phi 108.655    phi2 119.491   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
