#-------------------#
<homogenization>
#-------------------#

[dummy]
mech			isostrain
type			none
nconstituents	1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[Aluminum]
elasticity              hooke
plasticity              phenopowerlaw

# (output)                resistance_slip
# (output)                shearrate_slip
# (output)                resolvedstress_slip
# (output)                accumulated_shear_slip

lattice_structure       fcc
Nslip                   12                # per family
Ntwin                    0                # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

gdot0_slip              0.001
n_slip                  20
tau0_slip                 31e6                # per family
tausat_slip               63e6                # per family
a_slip                  2.25
h0_slipslip             75e6
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
atol_resistance         1
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 325.102   Phi 152.921    phi2 70.380   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 351.173   Phi 83.359    phi2 174.675   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 90.508   Phi 62.740    phi2 143.808   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 312.087   Phi 50.621    phi2 184.952   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 124.988   Phi 59.017    phi2 125.907   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 303.046   Phi 138.992    phi2 113.240   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 135.886   Phi 98.632    phi2 131.427   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 15.386   Phi 171.347    phi2 98.079   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 131.038   Phi 58.701    phi2 214.937   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 350.168   Phi 48.241    phi2 225.093   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 219.963   Phi 98.420    phi2 94.242   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 105.210   Phi 107.071    phi2 278.765   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 53.478   Phi 104.254    phi2 325.173   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 256.919   Phi 126.178    phi2 164.533   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 249.830   Phi 90.074    phi2 284.669   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 33.938   Phi 66.060    phi2 44.006   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 129.963   Phi 44.361    phi2 279.187   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 323.236   Phi 78.426    phi2 6.679   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 290.540   Phi 110.830    phi2 115.031   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 53.602   Phi 42.186    phi2 40.665   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 325.651   Phi 122.804    phi2 348.767   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 259.273   Phi 106.948    phi2 36.080   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 339.587   Phi 64.695    phi2 325.222   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 241.157   Phi 25.372    phi2 277.418   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 11.668   Phi 130.162    phi2 271.205   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 215.703   Phi 85.756    phi2 68.991   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 312.870   Phi 116.056    phi2 287.926   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 102.742   Phi 74.236    phi2 69.451   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 251.399   Phi 29.659    phi2 98.490   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 128.693   Phi 72.897    phi2 289.261   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 26.327   Phi 91.976    phi2 134.916   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 188.789   Phi 44.642    phi2 6.317   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 137.408   Phi 157.519    phi2 268.091   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 146.054   Phi 34.951    phi2 137.392   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 31.671   Phi 164.001    phi2 151.007   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 220.986   Phi 135.070    phi2 178.485   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 43.925   Phi 17.257    phi2 35.014   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 106.131   Phi 131.844    phi2 146.391   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 257.438   Phi 39.502    phi2 149.665   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 252.856   Phi 71.630    phi2 129.064   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
