#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 1.837   Phi 112.391    phi2 220.920   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 249.938   Phi 84.649    phi2 158.308   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 269.795   Phi 58.040    phi2 330.900   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 320.619   Phi 135.172    phi2 90.550   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 257.471   Phi 133.884    phi2 301.528   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 304.588   Phi 59.263    phi2 328.635   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 91.150   Phi 81.335    phi2 66.050   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 321.988   Phi 76.576    phi2 93.865   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 80.156   Phi 93.883    phi2 325.537   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 346.361   Phi 42.162    phi2 248.456   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 305.888   Phi 121.660    phi2 243.533   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 221.770   Phi 106.363    phi2 241.959   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 229.367   Phi 140.761    phi2 277.919   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 273.326   Phi 38.777    phi2 235.978   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 81.860   Phi 58.869    phi2 99.962   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 275.850   Phi 36.847    phi2 280.918   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 40.266   Phi 63.568    phi2 178.099   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 3.797   Phi 84.500    phi2 184.562   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 127.487   Phi 119.793    phi2 102.753   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 142.243   Phi 84.113    phi2 318.588   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 235.338   Phi 53.960    phi2 168.404   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 85.919   Phi 19.911    phi2 47.319   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 46.599   Phi 134.844    phi2 208.169   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 208.907   Phi 93.094    phi2 74.759   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 301.831   Phi 13.183    phi2 359.917   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 108.194   Phi 72.091    phi2 9.917   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 290.767   Phi 92.542    phi2 201.595   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 293.028   Phi 151.491    phi2 157.717   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 36.188   Phi 86.242    phi2 282.503   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 158.680   Phi 80.824    phi2 159.417   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 34.534   Phi 148.480    phi2 161.002   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 195.766   Phi 118.043    phi2 70.860   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 29.462   Phi 77.169    phi2 308.978   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 69.677   Phi 173.967    phi2 122.208   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 40.785   Phi 106.609    phi2 156.919   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 105.929   Phi 39.349    phi2 305.786   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 33.121   Phi 85.703    phi2 211.973   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 267.589   Phi 22.396    phi2 93.857   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 345.234   Phi 102.258    phi2 320.943   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 347.275   Phi 96.749    phi2 190.330   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 233.711   Phi 29.660    phi2 120.953   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 254.116   Phi 135.188    phi2 163.748   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 55.062   Phi 50.002    phi2 80.830   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 312.709   Phi 29.158    phi2 237.991   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 21.415   Phi 111.799    phi2 104.606   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 13.455   Phi 76.514    phi2 151.969   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 223.842   Phi 154.834    phi2 24.885   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 107.428   Phi 54.340    phi2 245.418   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 327.593   Phi 124.881    phi2 272.375   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 214.004   Phi 88.377    phi2 162.938   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 353.651   Phi 134.163    phi2 157.956   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 54.832   Phi 157.359    phi2 189.562   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 11.460   Phi 134.533    phi2 76.454   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 229.058   Phi 151.087    phi2 224.223   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 288.528   Phi 119.859    phi2 242.148   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 184.491   Phi 30.592    phi2 282.072   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 231.457   Phi 143.618    phi2 332.066   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 57.468   Phi 62.002    phi2 89.246   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 275.509   Phi 122.013    phi2 150.107   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 243.150   Phi 156.557    phi2 232.846   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 125.081   Phi 131.701    phi2 202.146   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 23.180   Phi 49.979    phi2 65.323   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 309.027   Phi 139.939    phi2 294.653   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 177.880   Phi 34.096    phi2 221.945   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 101.971   Phi 137.607    phi2 310.768   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 194.931   Phi 128.871    phi2 238.200   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 80.224   Phi 57.161    phi2 331.816   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 124.651   Phi 72.173    phi2 163.312   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 342.234   Phi 77.219    phi2 295.053   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 24.312   Phi 70.238    phi2 266.969   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 191.834   Phi 80.172    phi2 99.945   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 108.270   Phi 86.937    phi2 101.041   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 111.858   Phi 131.021    phi2 272.121   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 249.394   Phi 83.542    phi2 29.591   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 192.623   Phi 95.121    phi2 18.949   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 21.367   Phi 141.433    phi2 111.588   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 95.922   Phi 100.554    phi2 99.718   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 72.498   Phi 46.889    phi2 236.673   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 116.238   Phi 66.772    phi2 169.624   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 96.445   Phi 60.440    phi2 187.306   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 138.756   Phi 68.770    phi2 123.560   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 285.618   Phi 105.189    phi2 52.563   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 278.814   Phi 41.673    phi2 159.606   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 333.834   Phi 59.642    phi2 173.709   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 90.163   Phi 79.763    phi2 152.952   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 139.699   Phi 122.201    phi2 283.774   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 327.300   Phi 154.440    phi2 243.857   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 311.116   Phi 55.534    phi2 28.422   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 300.298   Phi 155.853    phi2 190.877   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 217.201   Phi 138.365    phi2 85.065   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 33.410   Phi 80.663    phi2 167.184   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 345.844   Phi 46.470    phi2 246.457   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 278.951   Phi 140.644    phi2 220.630   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 277.561   Phi 139.008    phi2 46.000   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 3.744   Phi 66.174    phi2 223.325   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 99.528   Phi 74.024    phi2 247.121   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 353.319   Phi 2.967    phi2 194.462   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 333.672   Phi 96.677    phi2 213.583   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 304.522   Phi 45.210    phi2 67.919   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 153.665   Phi 51.966    phi2 148.340   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 266.341   Phi 60.461    phi2 228.841   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 263.305   Phi 53.546    phi2 11.102   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 102.541   Phi 138.545    phi2 275.616   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 284.884   Phi 81.489    phi2 18.058   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 219.528   Phi 102.632    phi2 190.370   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 209.146   Phi 131.270    phi2 215.821   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 7.497   Phi 114.332    phi2 316.996   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 312.210   Phi 168.811    phi2 67.107   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 332.720   Phi 90.040    phi2 252.590   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 226.087   Phi 149.456    phi2 242.639   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 296.922   Phi 61.115    phi2 221.576   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 336.096   Phi 33.112    phi2 299.227   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 207.141   Phi 61.200    phi2 330.734   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 111.783   Phi 147.305    phi2 205.445   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
