#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 54.705   Phi 37.959    phi2 294.357   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 303.727   Phi 125.747    phi2 164.210   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 52.180   Phi 104.774    phi2 127.028   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 128.799   Phi 158.263    phi2 198.854   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 351.997   Phi 63.408    phi2 161.750   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 76.213   Phi 143.832    phi2 349.244   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 90.991   Phi 114.823    phi2 336.076   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 224.099   Phi 36.143    phi2 160.694   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 253.453   Phi 58.643    phi2 306.520   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 55.395   Phi 76.350    phi2 4.716   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 131.767   Phi 129.842    phi2 349.082   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 222.693   Phi 102.488    phi2 247.686   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 170.138   Phi 132.869    phi2 209.487   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 9.840   Phi 70.622    phi2 226.790   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 193.991   Phi 56.461    phi2 39.904   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 226.260   Phi 115.310    phi2 212.889   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 138.056   Phi 157.615    phi2 96.979   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 117.848   Phi 30.657    phi2 122.018   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 176.425   Phi 107.094    phi2 6.133   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 74.087   Phi 110.041    phi2 30.923   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 72.835   Phi 53.822    phi2 111.666   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 336.252   Phi 135.724    phi2 46.320   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 184.332   Phi 126.018    phi2 335.813   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 61.690   Phi 136.310    phi2 290.006   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 129.108   Phi 81.493    phi2 300.591   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 12.212   Phi 96.866    phi2 46.512   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 5.599   Phi 87.408    phi2 215.767   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 125.254   Phi 45.229    phi2 157.306   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 243.608   Phi 40.513    phi2 334.686   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 303.285   Phi 98.713    phi2 255.261   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 185.283   Phi 48.571    phi2 225.954   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 94.610   Phi 17.605    phi2 243.599   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 210.133   Phi 110.163    phi2 181.284   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 321.683   Phi 130.967    phi2 253.207   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 260.385   Phi 155.220    phi2 214.372   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 266.680   Phi 169.205    phi2 56.671   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 76.200   Phi 101.086    phi2 74.465   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 163.802   Phi 83.050    phi2 43.245   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 1.415   Phi 95.686    phi2 323.634   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 190.629   Phi 107.253    phi2 355.637   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 39.159   Phi 33.486    phi2 123.832   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 27.359   Phi 111.687    phi2 168.449   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 193.681   Phi 53.930    phi2 253.274   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 267.455   Phi 73.540    phi2 266.067   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 173.296   Phi 71.294    phi2 205.373   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 334.628   Phi 83.545    phi2 134.279   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 216.589   Phi 87.205    phi2 141.695   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 235.127   Phi 120.758    phi2 282.264   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 103.619   Phi 95.816    phi2 64.098   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 51.503   Phi 77.915    phi2 319.372   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 320.050   Phi 103.072    phi2 279.192   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 36.414   Phi 45.464    phi2 277.029   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 290.174   Phi 30.617    phi2 26.868   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 238.216   Phi 118.095    phi2 181.774   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 300.709   Phi 96.870    phi2 4.942   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 65.714   Phi 115.000    phi2 344.121   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 264.006   Phi 114.058    phi2 127.249   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 132.426   Phi 126.740    phi2 29.240   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 98.068   Phi 26.448    phi2 318.138   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
