#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              4.432144591600e-02
n_slip                  1.473239004600e+01
a_slip                  8.000000000000e+00
tau0_slip               2.749750925066e+05
tausat_slip             9.000000000000e+09
h0_slipslip             1.000000000000e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 311.254   Phi 139.214    phi2 260.662   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 110.981   Phi 106.503    phi2 110.096   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 85.958   Phi 56.215    phi2 209.189   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 349.709   Phi 65.602    phi2 355.601   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 301.654   Phi 127.478    phi2 336.981   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 182.306   Phi 87.301    phi2 74.371   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 33.341   Phi 88.301    phi2 264.503   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 166.768   Phi 19.234    phi2 83.832   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 243.688   Phi 92.635    phi2 201.027   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 40.051   Phi 127.210    phi2 169.068   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 7.602   Phi 24.899    phi2 131.395   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 162.225   Phi 54.553    phi2 94.325   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 26.841   Phi 51.562    phi2 27.342   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 317.383   Phi 78.655    phi2 84.164   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 344.153   Phi 100.087    phi2 70.633   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 120.314   Phi 94.022    phi2 104.025   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 85.443   Phi 74.339    phi2 100.738   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 255.402   Phi 128.963    phi2 30.063   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 317.290   Phi 88.693    phi2 111.974   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 154.089   Phi 155.509    phi2 15.333   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 128.795   Phi 12.535    phi2 15.667   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 222.943   Phi 138.752    phi2 169.736   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 285.130   Phi 121.704    phi2 199.172   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 213.346   Phi 75.826    phi2 46.948   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 297.660   Phi 123.294    phi2 254.089   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 17.307   Phi 110.460    phi2 211.390   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 345.331   Phi 98.123    phi2 248.516   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 124.608   Phi 77.404    phi2 235.464   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 178.318   Phi 134.216    phi2 203.962   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 139.951   Phi 49.474    phi2 347.575   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 140.169   Phi 59.687    phi2 204.660   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 332.917   Phi 52.262    phi2 307.603   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 299.612   Phi 81.126    phi2 352.752   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 235.317   Phi 22.299    phi2 293.027   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 207.956   Phi 22.126    phi2 74.117   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 0.782   Phi 75.893    phi2 286.079   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 284.132   Phi 45.637    phi2 292.132   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 4.786   Phi 70.963    phi2 88.360   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 121.083   Phi 44.532    phi2 48.321   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 303.447   Phi 124.628    phi2 269.953   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 324.675   Phi 159.892    phi2 44.946   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 113.230   Phi 10.394    phi2 335.385   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 321.663   Phi 64.001    phi2 40.825   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 14.697   Phi 85.424    phi2 256.080   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 76.490   Phi 108.899    phi2 53.448   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 230.430   Phi 60.679    phi2 54.759   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 32.863   Phi 139.055    phi2 17.018   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 143.254   Phi 146.096    phi2 63.207   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 129.810   Phi 73.097    phi2 231.413   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 57.850   Phi 41.327    phi2 114.020   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 163.637   Phi 130.479    phi2 172.506   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 328.869   Phi 33.301    phi2 340.119   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 252.362   Phi 136.640    phi2 177.519   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 224.128   Phi 38.315    phi2 201.574   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 272.522   Phi 128.919    phi2 184.221   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 247.652   Phi 143.568    phi2 43.779   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 181.393   Phi 71.106    phi2 228.869   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 215.785   Phi 54.180    phi2 251.722   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 111.644   Phi 127.831    phi2 80.247   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 193.607   Phi 121.623    phi2 226.453   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 97.062   Phi 76.449    phi2 348.814   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 202.578   Phi 141.651    phi2 58.765   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 236.326   Phi 125.157    phi2 215.504   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 32.304   Phi 137.488    phi2 339.507   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
