#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              5.929862634400e-02
n_slip                  6.864354381000e+01
a_slip                  4.279997609000e+00
tau0_slip               9.000000000000e+06
tausat_slip             4.919355742471e+09
h0_slipslip             4.834086062513e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 191.609   Phi 95.195    phi2 171.477   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 294.371   Phi 72.831    phi2 228.210   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 329.375   Phi 9.427    phi2 358.312   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 359.332   Phi 136.537    phi2 124.755   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 132.109   Phi 145.373    phi2 1.157   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 161.619   Phi 64.306    phi2 290.360   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 210.041   Phi 63.939    phi2 280.104   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 312.498   Phi 122.240    phi2 50.781   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 237.960   Phi 42.250    phi2 343.578   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 96.275   Phi 70.310    phi2 343.683   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 192.986   Phi 75.451    phi2 236.072   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 14.790   Phi 62.671    phi2 132.215   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 188.199   Phi 57.899    phi2 161.199   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 130.229   Phi 92.965    phi2 319.465   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 28.539   Phi 137.202    phi2 131.110   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 151.172   Phi 148.463    phi2 289.521   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 276.815   Phi 129.704    phi2 142.273   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 78.906   Phi 118.382    phi2 346.215   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 242.998   Phi 129.585    phi2 242.699   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 61.342   Phi 125.914    phi2 312.812   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 21.535   Phi 124.347    phi2 261.315   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 305.317   Phi 142.263    phi2 151.401   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 231.240   Phi 148.926    phi2 172.701   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 250.220   Phi 77.415    phi2 319.052   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 281.696   Phi 99.581    phi2 220.601   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 110.053   Phi 78.293    phi2 323.349   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 236.984   Phi 70.644    phi2 166.978   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 325.694   Phi 34.830    phi2 97.541   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 283.504   Phi 47.473    phi2 74.204   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 1.680   Phi 91.298    phi2 198.703   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 257.443   Phi 66.568    phi2 358.347   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 243.103   Phi 111.292    phi2 265.574   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 285.272   Phi 109.672    phi2 118.801   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 32.459   Phi 44.037    phi2 214.414   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 55.889   Phi 154.646    phi2 159.762   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 137.112   Phi 145.528    phi2 211.097   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 172.848   Phi 75.198    phi2 199.137   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 250.843   Phi 109.641    phi2 27.649   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 225.991   Phi 125.277    phi2 264.726   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 204.316   Phi 130.321    phi2 125.701   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 265.617   Phi 130.199    phi2 298.736   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 233.969   Phi 94.318    phi2 296.318   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 338.933   Phi 123.653    phi2 296.267   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 217.733   Phi 56.645    phi2 299.376   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 206.931   Phi 70.143    phi2 285.437   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 63.241   Phi 124.434    phi2 222.661   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 25.597   Phi 134.254    phi2 101.363   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 281.754   Phi 83.090    phi2 242.184   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 297.923   Phi 67.913    phi2 35.653   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 273.216   Phi 88.179    phi2 214.655   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 256.514   Phi 143.354    phi2 211.867   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 339.857   Phi 59.224    phi2 5.812   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 350.018   Phi 95.613    phi2 35.741   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 4.646   Phi 44.412    phi2 18.009   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 214.185   Phi 126.843    phi2 81.501   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 222.789   Phi 72.430    phi2 166.184   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 78.367   Phi 81.560    phi2 166.722   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 147.379   Phi 96.059    phi2 43.461   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 144.080   Phi 162.599    phi2 49.570   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 212.646   Phi 63.234    phi2 37.622   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 179.607   Phi 99.566    phi2 226.536   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 311.223   Phi 131.733    phi2 121.550   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 44.374   Phi 85.445    phi2 62.429   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 15.296   Phi 82.807    phi2 313.683   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
