#-------------------#
<homogenization>
#-------------------#

[dummy]
mech			isostrain
type			none
nconstituents	1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[Aluminum]

elasticity              hooke
plasticity              nonlocal
/nonlocal/

(output)                rho
(output)                rho_edge
(output)                rho_screw
(output)                rho_sgl
(output)                rho_sgl_edge_pos
(output)                rho_sgl_edge_neg
(output)                rho_sgl_screw_pos
(output)                rho_sgl_screw_neg
(output)                rho_sgl_edge_pos_mobile
(output)                rho_sgl_edge_neg_mobile
(output)                rho_sgl_screw_pos_mobile
(output)                rho_sgl_screw_neg_mobile
(output)                rho_sgl_edge_pos_immobile
(output)                rho_sgl_edge_neg_immobile
(output)                rho_sgl_screw_pos_immobile
(output)                rho_sgl_screw_neg_immobile
(output)                rho_dip_edge
(output)                rho_dip_screw
(output)                rho_forest
(output)                delta
(output)                delta_sgl
(output)                delta_dip
(output)                shearrate
(output)                resolvedstress
(output)                resolvedstress_back
(output)                resolvedstress_external
(output)                resistance
(output)                rho_dot
(output)                rho_dot_sgl
(output)                rho_dot_sgl_mobile
(output)                rho_dot_dip
(output)                rho_dot_gen_edge
(output)                rho_dot_gen_screw
(output)                rho_dot_sgl2dip_edge
(output)                rho_dot_sgl2dip_screw
(output)                rho_dot_ann_ath
(output)                rho_dot_ann_the
(output)                rho_dot_ann_the_edge
(output)                rho_dot_ann_the_screw
(output)                rho_dot_edgejogs
(output)                rho_dot_flux
(output)                rho_dot_flux_mobile
(output)                rho_dot_flux_edge
(output)                rho_dot_flux_screw
(output)                velocity_edge_pos
(output)                velocity_edge_neg
(output)                velocity_screw_pos
(output)                velocity_screw_neg
(output)                maximumDipoleHeight_edge
(output)                maximumDipoleHeight_screw
(output)                accumulated_shear
(output)                dislocationstress

lattice_structure       fcc
Nslip                   12                       # number of slip systems

c11                     106.75e9                 # elastic constants
c12                     60.41e9
c44                     28.34e9

burgers                 2.86e-10                 # Burgers vector in m
rhoSglEdgePos0          0.25e10                  # Initial positive edge single dislocation density in m/m**3 (per slip family)
rhoSglEdgeNeg0          0.25e10                  # Initial negative edge single dislocation density in m/m**3 (per slip family)
rhoSglScrewPos0         0.25e10                  # Initial positive screw single dislocation density in m/m**3 (per slip family)
rhoSglScrewNeg0         0.25e10                  # Initial negative screw single dislocation density in m/m**3 (per slip family)
rhoDipEdge0             1e8                      # Initial edge dipole dislocation density in m/m**3 (per slip family)
rhoDipScrew0            1e8                      # Initial screw dipole dislocation density in m/m**3 (per slip family)
rhoSglScatter           0                        # standard deviation of scatter in initial single dislocation density
#rhoSglRandom           1e12                     # randomly distributed total dislocation density (sum over all slip systems and types) in m/m**3
#rhoSglRandomBinning    1                        # binning size of randomly distributed dislocations (number of dislocations per ip volume)
minimumDipoleHeightEdge  2e-9                    # minimum distance for stable edge dipoles in m (per slip family)
minimumDipoleHeightScrew 2e-9                    # minimum distance for stable screw dipoles in m (per slip family)
lambda0                 80                       # prefactor for mean free path 
edgeMultiplication      0.1                      # factor to which edges contribute to multiplication
atomicVolume            1.7e-29                  # atomic volume in m**3
selfdiffusionPrefactor  1e-4                     # prefactor for self-diffusion coefficient in m**2/s
selfdiffusionEnergy     2.3e-19                  # activation enthalpy for seld-diffusion in J
solidSolutionEnergy     2e-19                    # activation energy of solid solution particles in J
solidSolutionConcentration 1e-5                  # concentration of solid solution in parts per b^3
solidSolutionSize       2                        # size of solid solution obstacles in multiples of burgers vector length
peierlsStressEdge       1e5                      # Peierls stress for edges in Pa (per slip family)
peierlsStressScrew      1e5                      # Peierls stress for screws in Pa (per slip family)
doublekinkWidth         10                       # width of double kinks in multiples of burgers vector length b
viscosity               1e-4                     # viscosity for dislocation glide in Pa s
p                       1                        # exponent for thermal barrier profile
q                       1                        # exponent for thermal barrier profile
attackFrequency         50e9                     # attack frequency in Hz
surfaceTransmissivity   1.0                      # transmissivity of free surfaces for dislocation flux
grainboundaryTransmissivity   0.0                # transmissivity of grain boundaries for dislocation flux (grain bundaries are identified as interfaces with different textures on both sides); if not set or set to negative number, the subroutine automatically determines the transmissivity at the grain boundary
interaction_SlipSlip    0  0  0.625  0.07  0.137  0.122  # Dislocation interaction coefficient
linetension             0.8                      # constant indicating the effect of the line tension on the hardening coefficients (0 to 1)
edgejog                 1.0                      # fraction of annihilated screw dipoles that forms edge jogs (0 to 1)
shortRangeStressCorrection 0                     # switch for use of short range correction stress
cutoffRadius            1e-3                     # cutoff radius for dislocation stress in m
CFLfactor               2.0                      # safety factor for CFL flux check (numerical parameter)
significantRho          1e6                      # minimum dislocation density considered relevant in m/m**3
#significantN           0.1                      # minimum dislocation number per ip considered relevant
aTol_density            1e4                      # absolute tolerance for dislocation density in m/m**3
aTol_shear              1e-20                    # absolute tolerance for plasgtic shear
randomMultiplication    0                        # switch for probabilistic extension of multiplication rate
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 179.180   Phi 94.433    phi2 77.863   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 266.759   Phi 86.622    phi2 85.913   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 146.210   Phi 2.582    phi2 303.196   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 354.022   Phi 116.989    phi2 28.162   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 266.118   Phi 70.435    phi2 88.259   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 266.118   Phi 70.435    phi2 88.259   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 3.579   Phi 95.798    phi2 281.048   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 262.604   Phi 107.197    phi2 83.782   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 299.792   Phi 116.885    phi2 140.059   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 80.014   Phi 72.396    phi2 90.684   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 94.331   Phi 81.504    phi2 268.165   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 13.904   Phi 131.637    phi2 329.795   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 266.118   Phi 70.435    phi2 88.259   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 194.930   Phi 14.493    phi2 351.178   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 43.216   Phi 159.245    phi2 320.269   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 182.562   Phi 110.071    phi2 72.506   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 265.122   Phi 93.013    phi2 176.756   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 352.345   Phi 81.169    phi2 289.396   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 0.189   Phi 68.111    phi2 275.332   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 172.506   Phi 96.036    phi2 185.568   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 182.562   Phi 110.071    phi2 72.506   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 72.346   Phi 9.463    phi2 284.272   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 176.314   Phi 15.972    phi2 170.962   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 264.530   Phi 86.724    phi2 284.387   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 173.698   Phi 100.522    phi2 97.586   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 96.527   Phi 96.709    phi2 82.423   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 58.116   Phi 155.100    phi2 325.837   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 354.899   Phi 78.753    phi2 24.767   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 10.732   Phi 85.473    phi2 184.544   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 51.274   Phi 103.547    phi2 79.164   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 102.332   Phi 92.433    phi2 345.756   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 61.303   Phi 157.618    phi2 328.218   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 72.590   Phi 77.857    phi2 3.302   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 148.120   Phi 6.959    phi2 208.500   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 102.463   Phi 98.183    phi2 79.286   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 353.012   Phi 108.951    phi2 282.279   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 100.076   Phi 91.596    phi2 220.958   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 35.620   Phi 7.792    phi2 67.244   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 353.676   Phi 131.506    phi2 218.238   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 10.732   Phi 85.473    phi2 184.544   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 220.399   Phi 168.917    phi2 309.348   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 210.682   Phi 171.227    phi2 303.298   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 253.138   Phi 104.169    phi2 282.677   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 178.907   Phi 76.789    phi2 269.318   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 266.759   Phi 86.622    phi2 85.913   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 305.410   Phi 169.510    phi2 310.507   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 203.492   Phi 16.380    phi2 329.338   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 167.660   Phi 82.992    phi2 187.633   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 346.954   Phi 88.685    phi2 288.448   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 49.415   Phi 171.508    phi2 49.719   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 357.211   Phi 79.264    phi2 265.061   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 264.715   Phi 108.788    phi2 177.061   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 51.573   Phi 168.978    phi2 144.904   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 307.299   Phi 15.117    phi2 324.781   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 231.493   Phi 123.257    phi2 126.152   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 357.211   Phi 79.264    phi2 265.061   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 266.118   Phi 70.435    phi2 88.259   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 96.754   Phi 90.438    phi2 170.006   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 243.382   Phi 170.585    phi2 338.164   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 153.713   Phi 13.348    phi2 129.737   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 326.606   Phi 160.787    phi2 166.474   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 97.444   Phi 90.049    phi2 74.106   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 97.104   Phi 88.109    phi2 161.765   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 267.206   Phi 83.476    phi2 175.923   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 285.591   Phi 91.701    phi2 85.588   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 254.424   Phi 107.835    phi2 6.057   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 297.232   Phi 166.000    phi2 27.438   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 41.070   Phi 172.235    phi2 32.026   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 339.560   Phi 79.498    phi2 291.145   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 177.547   Phi 101.549    phi2 86.866   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 51.573   Phi 168.978    phi2 144.904   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 92.278   Phi 95.051    phi2 87.147   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 273.103   Phi 70.517    phi2 92.610   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 333.461   Phi 16.103    phi2 199.754   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 261.529   Phi 77.388    phi2 78.970   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 345.590   Phi 85.241    phi2 95.322   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 328.544   Phi 11.264    phi2 113.560   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 267.340   Phi 102.183    phi2 109.747   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 95.150   Phi 90.514    phi2 172.760   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 263.438   Phi 101.088    phi2 359.519   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 261.744   Phi 102.184    phi2 171.035   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 8.462   Phi 12.854    phi2 180.976   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 179.085   Phi 169.596    phi2 8.397   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 78.601   Phi 101.705    phi2 75.975   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 51.573   Phi 168.978    phi2 144.904   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 265.122   Phi 93.013    phi2 176.756   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 178.534   Phi 95.743    phi2 71.233   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 69.844   Phi 162.492    phi2 74.998   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 351.081   Phi 73.782    phi2 79.734   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 284.985   Phi 87.496    phi2 353.479   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 205.561   Phi 11.212    phi2 339.648   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 146.210   Phi 2.582    phi2 303.196   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 61.303   Phi 157.618    phi2 328.218   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 84.278   Phi 81.354    phi2 15.518   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 182.562   Phi 110.071    phi2 72.506   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 99.834   Phi 78.384    phi2 255.280   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 17.737   Phi 163.965    phi2 40.423   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 61.303   Phi 157.618    phi2 328.218   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 137.833   Phi 161.037    phi2 322.924   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 0.295   Phi 89.142    phi2 175.958   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 168.373   Phi 93.942    phi2 15.520   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 268.590   Phi 110.907    phi2 182.054   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 264.530   Phi 86.724    phi2 284.387   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 190.785   Phi 93.300    phi2 274.773   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 61.303   Phi 157.618    phi2 328.218   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 0.515   Phi 172.844    phi2 86.667   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 168.406   Phi 81.862    phi2 354.092   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
