#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 56.448   Phi 20.358    phi2 114.974   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 191.859   Phi 55.475    phi2 261.172   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 87.241   Phi 18.022    phi2 110.532   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 190.532   Phi 22.508    phi2 79.282   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 165.718   Phi 77.929    phi2 278.997   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 216.125   Phi 107.103    phi2 139.712   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 185.114   Phi 110.311    phi2 60.705   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 160.889   Phi 66.096    phi2 351.996   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 114.981   Phi 127.788    phi2 241.951   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 102.751   Phi 79.038    phi2 274.612   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 270.604   Phi 101.583    phi2 272.542   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 296.884   Phi 177.040    phi2 114.596   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 352.833   Phi 177.591    phi2 137.017   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 263.685   Phi 155.077    phi2 40.447   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 313.869   Phi 85.508    phi2 80.293   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 211.102   Phi 68.765    phi2 288.516   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 231.437   Phi 58.326    phi2 70.921   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 275.290   Phi 147.663    phi2 208.855   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 326.726   Phi 76.376    phi2 122.652   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 175.418   Phi 148.268    phi2 161.169   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 47.063   Phi 147.776    phi2 194.863   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 321.401   Phi 116.127    phi2 252.660   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 149.709   Phi 90.986    phi2 234.752   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 167.979   Phi 153.783    phi2 146.216   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 191.473   Phi 28.812    phi2 285.443   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 316.737   Phi 145.831    phi2 315.166   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 167.858   Phi 38.679    phi2 290.191   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 246.741   Phi 133.840    phi2 82.024   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 171.661   Phi 160.728    phi2 16.650   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 178.671   Phi 110.807    phi2 100.148   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 279.064   Phi 13.175    phi2 4.350   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 11.795   Phi 81.885    phi2 346.308   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 324.480   Phi 18.397    phi2 232.715   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 249.373   Phi 121.766    phi2 39.687   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 335.426   Phi 125.242    phi2 104.278   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 5.482   Phi 135.859    phi2 160.343   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 4.541   Phi 41.821    phi2 265.292   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 11.190   Phi 81.515    phi2 240.311   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 222.299   Phi 101.479    phi2 6.058   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 283.614   Phi 73.616    phi2 4.586   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 175.809   Phi 24.028    phi2 345.314   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 54.067   Phi 56.779    phi2 294.041   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 334.621   Phi 130.399    phi2 321.580   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 332.068   Phi 43.363    phi2 122.795   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 166.386   Phi 112.517    phi2 87.646   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 222.414   Phi 133.312    phi2 280.695   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 267.583   Phi 76.329    phi2 77.304   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 1.327   Phi 93.229    phi2 300.545   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 327.003   Phi 47.885    phi2 329.731   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 311.477   Phi 169.020    phi2 163.784   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 285.007   Phi 103.467    phi2 99.400   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 82.408   Phi 121.708    phi2 137.724   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 328.522   Phi 134.637    phi2 70.470   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 37.558   Phi 116.334    phi2 54.100   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 259.840   Phi 70.723    phi2 335.128   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 89.743   Phi 83.923    phi2 103.888   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 283.970   Phi 86.889    phi2 257.221   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 214.523   Phi 150.072    phi2 83.615   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 323.030   Phi 20.652    phi2 194.533   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 214.015   Phi 71.325    phi2 326.994   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 187.890   Phi 148.149    phi2 122.076   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 108.580   Phi 42.758    phi2 6.578   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 215.804   Phi 34.121    phi2 326.279   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 128.904   Phi 125.141    phi2 235.057   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 4.541   Phi 41.821    phi2 265.292   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 217.601   Phi 15.755    phi2 249.604   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 176.487   Phi 77.503    phi2 56.663   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 321.256   Phi 70.007    phi2 139.355   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 316.547   Phi 149.087    phi2 347.266   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 66.857   Phi 43.721    phi2 78.684   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 146.815   Phi 115.829    phi2 35.496   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 125.990   Phi 37.489    phi2 57.538   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 54.808   Phi 96.269    phi2 280.301   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 269.318   Phi 135.008    phi2 110.202   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 339.441   Phi 96.032    phi2 195.855   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 287.811   Phi 78.756    phi2 291.885   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 86.284   Phi 117.137    phi2 351.199   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 164.919   Phi 151.385    phi2 117.490   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 347.180   Phi 61.287    phi2 310.493   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 325.932   Phi 157.653    phi2 61.929   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 143.376   Phi 116.618    phi2 298.614   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 234.423   Phi 126.482    phi2 304.285   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 76.900   Phi 94.272    phi2 140.100   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 32.598   Phi 46.880    phi2 193.168   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 278.899   Phi 43.035    phi2 220.599   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 254.328   Phi 98.134    phi2 265.231   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 305.583   Phi 86.248    phi2 135.720   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 342.129   Phi 47.759    phi2 88.764   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 40.159   Phi 81.511    phi2 34.173   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 98.991   Phi 47.519    phi2 33.806   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 73.158   Phi 65.421    phi2 33.942   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 27.323   Phi 51.555    phi2 16.594   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 74.646   Phi 146.284    phi2 287.858   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 78.504   Phi 58.400    phi2 45.339   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 349.472   Phi 129.632    phi2 153.533   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 217.121   Phi 52.875    phi2 169.172   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 215.616   Phi 66.625    phi2 317.244   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 152.214   Phi 171.622    phi2 40.399   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 42.747   Phi 117.422    phi2 87.272   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 40.174   Phi 156.765    phi2 76.298   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 43.357   Phi 91.963    phi2 135.777   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 324.681   Phi 154.472    phi2 10.931   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 358.777   Phi 45.072    phi2 104.558   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 258.636   Phi 106.243    phi2 77.368   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 7.208   Phi 44.719    phi2 114.058   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 351.549   Phi 128.502    phi2 22.534   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 324.736   Phi 117.303    phi2 275.182   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 91.284   Phi 70.885    phi2 335.922   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 113.554   Phi 37.057    phi2 179.324   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 122.210   Phi 31.480    phi2 136.998   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 282.681   Phi 71.008    phi2 99.821   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 280.971   Phi 133.294    phi2 141.806   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 19.515   Phi 39.177    phi2 301.106   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 305.233   Phi 126.926    phi2 67.577   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 294.755   Phi 127.615    phi2 41.838   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 66.787   Phi 112.827    phi2 249.349   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 86.860   Phi 166.648    phi2 318.178   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 199.154   Phi 126.811    phi2 35.008   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 49.970   Phi 83.638    phi2 217.409   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 190.374   Phi 121.251    phi2 122.642   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 320.315   Phi 102.962    phi2 60.376   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 68.828   Phi 89.557    phi2 224.388   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 325.493   Phi 115.623    phi2 182.060   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 227.725   Phi 38.494    phi2 108.576   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 37.748   Phi 169.557    phi2 117.253   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 204.010   Phi 94.742    phi2 62.399   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 334.621   Phi 130.399    phi2 321.580   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 136.177   Phi 112.834    phi2 131.477   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 217.907   Phi 104.822    phi2 323.966   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 156.513   Phi 58.068    phi2 65.398   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 101.289   Phi 68.564    phi2 61.173   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 352.889   Phi 113.794    phi2 229.891   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 95.531   Phi 169.238    phi2 192.235   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 308.978   Phi 89.821    phi2 233.685   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 247.025   Phi 131.601    phi2 307.437   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 345.200   Phi 163.410    phi2 259.266   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 131.991   Phi 164.441    phi2 81.285   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 42.315   Phi 12.403    phi2 227.041   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 355.522   Phi 56.706    phi2 207.850   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 231.744   Phi 63.547    phi2 57.348   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 332.573   Phi 129.787    phi2 101.829   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 272.407   Phi 67.038    phi2 161.619   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 90.483   Phi 131.637    phi2 203.069   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 215.334   Phi 162.811    phi2 286.915   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 139.002   Phi 38.697    phi2 86.942   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 94.480   Phi 57.742    phi2 11.588   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 312.505   Phi 147.471    phi2 124.766   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 319.125   Phi 86.839    phi2 213.514   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 83.263   Phi 37.629    phi2 150.819   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 34.100   Phi 125.345    phi2 83.633   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 221.495   Phi 45.503    phi2 312.626   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 230.047   Phi 107.380    phi2 98.762   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 229.529   Phi 137.332    phi2 309.010   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 130.875   Phi 122.762    phi2 117.032   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 193.841   Phi 49.853    phi2 129.810   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 215.334   Phi 162.811    phi2 286.915   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 174.193   Phi 123.524    phi2 246.443   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 196.840   Phi 7.029    phi2 116.560   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 125.178   Phi 47.322    phi2 16.386   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 39.994   Phi 66.567    phi2 198.679   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 25.825   Phi 42.627    phi2 275.289   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 121.536   Phi 92.737    phi2 82.206   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 103.386   Phi 129.268    phi2 246.095   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 195.820   Phi 151.873    phi2 168.631   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 341.037   Phi 2.585    phi2 6.604   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 255.171   Phi 35.082    phi2 272.865   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 35.846   Phi 91.868    phi2 144.888   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 78.562   Phi 76.380    phi2 51.943   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 136.564   Phi 70.473    phi2 172.690   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 17.778   Phi 55.462    phi2 57.338   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 123.506   Phi 110.343    phi2 140.796   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 287.012   Phi 111.886    phi2 89.019   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 92.481   Phi 69.525    phi2 44.922   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 208.906   Phi 149.171    phi2 88.109   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 76.615   Phi 134.624    phi2 328.219   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 66.418   Phi 43.991    phi2 318.990   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 149.283   Phi 104.100    phi2 302.680   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 13.808   Phi 109.142    phi2 28.512   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 156.184   Phi 20.124    phi2 13.867   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 114.041   Phi 41.355    phi2 136.444   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 168.805   Phi 113.865    phi2 110.725   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 144.619   Phi 65.301    phi2 75.727   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 242.641   Phi 85.994    phi2 252.388   scatter 0.0   fraction 1.0 
[grain184]
(gauss) phi1 334.840   Phi 123.418    phi2 205.028   scatter 0.0   fraction 1.0 
[grain185]
(gauss) phi1 161.444   Phi 118.417    phi2 358.109   scatter 0.0   fraction 1.0 
[grain186]
(gauss) phi1 138.787   Phi 73.442    phi2 85.140   scatter 0.0   fraction 1.0 
[grain187]
(gauss) phi1 187.605   Phi 104.858    phi2 148.770   scatter 0.0   fraction 1.0 
[grain188]
(gauss) phi1 139.732   Phi 136.275    phi2 183.399   scatter 0.0   fraction 1.0 
[grain189]
(gauss) phi1 314.036   Phi 69.371    phi2 305.764   scatter 0.0   fraction 1.0 
[grain190]
(gauss) phi1 184.969   Phi 69.969    phi2 125.777   scatter 0.0   fraction 1.0 
[grain191]
(gauss) phi1 358.996   Phi 105.579    phi2 153.683   scatter 0.0   fraction 1.0 
[grain192]
(gauss) phi1 296.884   Phi 177.040    phi2 114.596   scatter 0.0   fraction 1.0 
[grain193]
(gauss) phi1 237.167   Phi 96.448    phi2 156.753   scatter 0.0   fraction 1.0 
[grain194]
(gauss) phi1 270.695   Phi 140.976    phi2 324.099   scatter 0.0   fraction 1.0 
[grain195]
(gauss) phi1 115.301   Phi 39.947    phi2 259.948   scatter 0.0   fraction 1.0 
[grain196]
(gauss) phi1 179.311   Phi 81.269    phi2 287.699   scatter 0.0   fraction 1.0 
[grain197]
(gauss) phi1 190.827   Phi 83.182    phi2 322.887   scatter 0.0   fraction 1.0 
[grain198]
(gauss) phi1 161.783   Phi 91.618    phi2 109.661   scatter 0.0   fraction 1.0 
[grain199]
(gauss) phi1 355.409   Phi 50.689    phi2 235.000   scatter 0.0   fraction 1.0 
[grain200]
(gauss) phi1 133.458   Phi 71.495    phi2 53.299   scatter 0.0   fraction 1.0 
[grain201]
(gauss) phi1 238.953   Phi 111.857    phi2 127.788   scatter 0.0   fraction 1.0 
[grain202]
(gauss) phi1 268.573   Phi 157.899    phi2 258.738   scatter 0.0   fraction 1.0 
[grain203]
(gauss) phi1 84.494   Phi 93.066    phi2 307.546   scatter 0.0   fraction 1.0 
[grain204]
(gauss) phi1 2.891   Phi 127.458    phi2 245.724   scatter 0.0   fraction 1.0 
[grain205]
(gauss) phi1 246.550   Phi 71.060    phi2 50.969   scatter 0.0   fraction 1.0 
[grain206]
(gauss) phi1 168.229   Phi 74.997    phi2 51.010   scatter 0.0   fraction 1.0 
[grain207]
(gauss) phi1 196.991   Phi 105.756    phi2 49.288   scatter 0.0   fraction 1.0 
[grain208]
(gauss) phi1 82.230   Phi 118.255    phi2 280.109   scatter 0.0   fraction 1.0 
[grain209]
(gauss) phi1 102.395   Phi 25.067    phi2 198.506   scatter 0.0   fraction 1.0 
[grain210]
(gauss) phi1 71.921   Phi 138.296    phi2 314.210   scatter 0.0   fraction 1.0 
[grain211]
(gauss) phi1 98.389   Phi 159.057    phi2 292.316   scatter 0.0   fraction 1.0 
[grain212]
(gauss) phi1 43.562   Phi 123.359    phi2 280.830   scatter 0.0   fraction 1.0 
[grain213]
(gauss) phi1 287.919   Phi 28.204    phi2 93.854   scatter 0.0   fraction 1.0 
[grain214]
(gauss) phi1 294.753   Phi 60.370    phi2 47.206   scatter 0.0   fraction 1.0 
[grain215]
(gauss) phi1 102.336   Phi 67.915    phi2 50.268   scatter 0.0   fraction 1.0 
[grain216]
(gauss) phi1 8.045   Phi 29.533    phi2 26.575   scatter 0.0   fraction 1.0 
[grain217]
(gauss) phi1 348.146   Phi 98.539    phi2 123.781   scatter 0.0   fraction 1.0 
[grain218]
(gauss) phi1 237.197   Phi 110.950    phi2 353.302   scatter 0.0   fraction 1.0 
[grain219]
(gauss) phi1 72.319   Phi 37.360    phi2 34.848   scatter 0.0   fraction 1.0 
[grain220]
(gauss) phi1 94.266   Phi 94.705    phi2 240.786   scatter 0.0   fraction 1.0 
[grain221]
(gauss) phi1 254.058   Phi 171.819    phi2 230.564   scatter 0.0   fraction 1.0 
[grain222]
(gauss) phi1 310.924   Phi 121.452    phi2 231.590   scatter 0.0   fraction 1.0 
[grain223]
(gauss) phi1 97.929   Phi 58.086    phi2 258.659   scatter 0.0   fraction 1.0 
[grain224]
(gauss) phi1 282.794   Phi 151.618    phi2 174.100   scatter 0.0   fraction 1.0 
[grain225]
(gauss) phi1 277.930   Phi 34.625    phi2 125.711   scatter 0.0   fraction 1.0 
[grain226]
(gauss) phi1 37.977   Phi 29.885    phi2 147.622   scatter 0.0   fraction 1.0 
[grain227]
(gauss) phi1 130.587   Phi 102.671    phi2 140.096   scatter 0.0   fraction 1.0 
[grain228]
(gauss) phi1 198.824   Phi 89.678    phi2 215.360   scatter 0.0   fraction 1.0 
[grain229]
(gauss) phi1 299.706   Phi 125.934    phi2 135.711   scatter 0.0   fraction 1.0 
[grain230]
(gauss) phi1 87.130   Phi 124.875    phi2 291.976   scatter 0.0   fraction 1.0 
[grain231]
(gauss) phi1 84.417   Phi 110.660    phi2 276.549   scatter 0.0   fraction 1.0 
[grain232]
(gauss) phi1 321.028   Phi 60.812    phi2 62.048   scatter 0.0   fraction 1.0 
[grain233]
(gauss) phi1 142.390   Phi 43.873    phi2 23.589   scatter 0.0   fraction 1.0 
[grain234]
(gauss) phi1 324.736   Phi 117.303    phi2 275.182   scatter 0.0   fraction 1.0 
[grain235]
(gauss) phi1 17.270   Phi 13.725    phi2 242.714   scatter 0.0   fraction 1.0 
[grain236]
(gauss) phi1 261.389   Phi 76.639    phi2 155.572   scatter 0.0   fraction 1.0 
[grain237]
(gauss) phi1 125.472   Phi 81.447    phi2 185.694   scatter 0.0   fraction 1.0 
[grain238]
(gauss) phi1 307.277   Phi 135.634    phi2 146.831   scatter 0.0   fraction 1.0 
[grain239]
(gauss) phi1 200.651   Phi 130.338    phi2 329.349   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
[grain184]
crystallite 1
(constituent)   phase 1 texture 184 fraction 1.0
[grain185]
crystallite 1
(constituent)   phase 1 texture 185 fraction 1.0
[grain186]
crystallite 1
(constituent)   phase 1 texture 186 fraction 1.0
[grain187]
crystallite 1
(constituent)   phase 1 texture 187 fraction 1.0
[grain188]
crystallite 1
(constituent)   phase 1 texture 188 fraction 1.0
[grain189]
crystallite 1
(constituent)   phase 1 texture 189 fraction 1.0
[grain190]
crystallite 1
(constituent)   phase 1 texture 190 fraction 1.0
[grain191]
crystallite 1
(constituent)   phase 1 texture 191 fraction 1.0
[grain192]
crystallite 1
(constituent)   phase 1 texture 192 fraction 1.0
[grain193]
crystallite 1
(constituent)   phase 1 texture 193 fraction 1.0
[grain194]
crystallite 1
(constituent)   phase 1 texture 194 fraction 1.0
[grain195]
crystallite 1
(constituent)   phase 1 texture 195 fraction 1.0
[grain196]
crystallite 1
(constituent)   phase 1 texture 196 fraction 1.0
[grain197]
crystallite 1
(constituent)   phase 1 texture 197 fraction 1.0
[grain198]
crystallite 1
(constituent)   phase 1 texture 198 fraction 1.0
[grain199]
crystallite 1
(constituent)   phase 1 texture 199 fraction 1.0
[grain200]
crystallite 1
(constituent)   phase 1 texture 200 fraction 1.0
[grain201]
crystallite 1
(constituent)   phase 1 texture 201 fraction 1.0
[grain202]
crystallite 1
(constituent)   phase 1 texture 202 fraction 1.0
[grain203]
crystallite 1
(constituent)   phase 1 texture 203 fraction 1.0
[grain204]
crystallite 1
(constituent)   phase 1 texture 204 fraction 1.0
[grain205]
crystallite 1
(constituent)   phase 1 texture 205 fraction 1.0
[grain206]
crystallite 1
(constituent)   phase 1 texture 206 fraction 1.0
[grain207]
crystallite 1
(constituent)   phase 1 texture 207 fraction 1.0
[grain208]
crystallite 1
(constituent)   phase 1 texture 208 fraction 1.0
[grain209]
crystallite 1
(constituent)   phase 1 texture 209 fraction 1.0
[grain210]
crystallite 1
(constituent)   phase 1 texture 210 fraction 1.0
[grain211]
crystallite 1
(constituent)   phase 1 texture 211 fraction 1.0
[grain212]
crystallite 1
(constituent)   phase 1 texture 212 fraction 1.0
[grain213]
crystallite 1
(constituent)   phase 1 texture 213 fraction 1.0
[grain214]
crystallite 1
(constituent)   phase 1 texture 214 fraction 1.0
[grain215]
crystallite 1
(constituent)   phase 1 texture 215 fraction 1.0
[grain216]
crystallite 1
(constituent)   phase 1 texture 216 fraction 1.0
[grain217]
crystallite 1
(constituent)   phase 1 texture 217 fraction 1.0
[grain218]
crystallite 1
(constituent)   phase 1 texture 218 fraction 1.0
[grain219]
crystallite 1
(constituent)   phase 1 texture 219 fraction 1.0
[grain220]
crystallite 1
(constituent)   phase 1 texture 220 fraction 1.0
[grain221]
crystallite 1
(constituent)   phase 1 texture 221 fraction 1.0
[grain222]
crystallite 1
(constituent)   phase 1 texture 222 fraction 1.0
[grain223]
crystallite 1
(constituent)   phase 1 texture 223 fraction 1.0
[grain224]
crystallite 1
(constituent)   phase 1 texture 224 fraction 1.0
[grain225]
crystallite 1
(constituent)   phase 1 texture 225 fraction 1.0
[grain226]
crystallite 1
(constituent)   phase 1 texture 226 fraction 1.0
[grain227]
crystallite 1
(constituent)   phase 1 texture 227 fraction 1.0
[grain228]
crystallite 1
(constituent)   phase 1 texture 228 fraction 1.0
[grain229]
crystallite 1
(constituent)   phase 1 texture 229 fraction 1.0
[grain230]
crystallite 1
(constituent)   phase 1 texture 230 fraction 1.0
[grain231]
crystallite 1
(constituent)   phase 1 texture 231 fraction 1.0
[grain232]
crystallite 1
(constituent)   phase 1 texture 232 fraction 1.0
[grain233]
crystallite 1
(constituent)   phase 1 texture 233 fraction 1.0
[grain234]
crystallite 1
(constituent)   phase 1 texture 234 fraction 1.0
[grain235]
crystallite 1
(constituent)   phase 1 texture 235 fraction 1.0
[grain236]
crystallite 1
(constituent)   phase 1 texture 236 fraction 1.0
[grain237]
crystallite 1
(constituent)   phase 1 texture 237 fraction 1.0
[grain238]
crystallite 1
(constituent)   phase 1 texture 238 fraction 1.0
[grain239]
crystallite 1
(constituent)   phase 1 texture 239 fraction 1.0
