#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[Tantalum]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       bcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     267.0e9   # Lim, Hojun, et al. "Grain-scale experimental validation of crystal plasticity finite element simulations of tantalum oligocrystals." International Journal of Plasticity 60 (2014): 1-18.
c12                     161.0e9   # Lim, Hojun, et al. "Grain-scale experimental validation of crystal plasticity finite element simulations of tantalum oligocrystals." International Journal of Plasticity 60 (2014): 1-18.
c44                     82.5e9    # Lim, Hojun, et al. "Grain-scale experimental validation of crystal plasticity finite element simulations of tantalum oligocrystals." International Journal of Plasticity 60 (2014): 1-18.

gdot0_slip              0.0010
n_slip                  4.527257128800e+01
a_slip                  2.000000000000e+02
tau0_slip               6.746410656280e+07
tausat_slip             7.976815208713e+09
h0_slipslip             1.959131977219e+09


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 237.305   Phi 8.009    phi2 308.494   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 357.119   Phi 90.822    phi2 267.563   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 355.080   Phi 86.737    phi2 359.970   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 351.416   Phi 82.426    phi2 355.849   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 356.790   Phi 93.388    phi2 97.440   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 31.864   Phi 169.902    phi2 135.145   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 347.784   Phi 175.992    phi2 259.468   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 178.207   Phi 98.182    phi2 352.503   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 351.236   Phi 77.047    phi2 89.050   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
