#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              1.000000000000e-03
n_slip                  2.487916155000e+01
a_slip                  1.675520676000e+00
tau0_slip               1.000000000000e+06
tausat_slip             8.000000000000e+09
h0_slipslip             6.149519657684e+07


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 201.301   Phi 45.230    phi2 62.319   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 62.412   Phi 118.673    phi2 124.868   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 108.383   Phi 92.632    phi2 185.943   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 237.603   Phi 14.100    phi2 204.007   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 294.167   Phi 8.871    phi2 40.372   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 132.499   Phi 82.311    phi2 138.490   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 339.750   Phi 69.223    phi2 140.231   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 275.655   Phi 142.184    phi2 126.576   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 322.708   Phi 114.370    phi2 309.103   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 239.910   Phi 13.711    phi2 311.080   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 91.722   Phi 68.372    phi2 302.180   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 132.556   Phi 121.993    phi2 353.214   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 320.765   Phi 134.722    phi2 322.491   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 266.388   Phi 162.000    phi2 234.973   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 355.116   Phi 103.826    phi2 15.620   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 328.665   Phi 65.003    phi2 10.997   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 48.143   Phi 23.162    phi2 157.319   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 229.707   Phi 102.448    phi2 214.401   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 350.068   Phi 89.032    phi2 146.088   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 118.947   Phi 169.138    phi2 347.326   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 181.471   Phi 105.981    phi2 105.113   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 214.456   Phi 38.271    phi2 10.234   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 283.581   Phi 57.094    phi2 39.791   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 71.334   Phi 79.550    phi2 13.097   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 40.432   Phi 17.102    phi2 158.093   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 50.772   Phi 121.830    phi2 130.268   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 348.258   Phi 108.277    phi2 347.267   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 344.237   Phi 141.555    phi2 295.071   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 268.334   Phi 67.489    phi2 192.437   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 3.596   Phi 68.926    phi2 27.770   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 209.210   Phi 118.702    phi2 148.837   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 46.590   Phi 118.167    phi2 31.669   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 309.812   Phi 22.921    phi2 190.031   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 11.154   Phi 128.998    phi2 239.546   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 197.733   Phi 133.796    phi2 139.698   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 22.143   Phi 61.746    phi2 129.631   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 204.837   Phi 114.635    phi2 299.447   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 285.943   Phi 154.514    phi2 46.875   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 151.789   Phi 160.889    phi2 51.490   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 209.540   Phi 117.855    phi2 36.858   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 311.770   Phi 81.329    phi2 281.503   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 228.056   Phi 99.237    phi2 30.471   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 25.816   Phi 39.226    phi2 195.463   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 169.156   Phi 152.582    phi2 51.747   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 324.978   Phi 115.404    phi2 308.294   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 172.176   Phi 89.507    phi2 125.818   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 311.947   Phi 33.409    phi2 290.347   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 319.018   Phi 131.864    phi2 101.833   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 84.961   Phi 100.846    phi2 307.938   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 31.971   Phi 44.248    phi2 129.771   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 295.467   Phi 108.703    phi2 49.647   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 160.430   Phi 129.072    phi2 327.800   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 128.318   Phi 103.761    phi2 23.342   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 72.634   Phi 66.002    phi2 281.947   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 243.875   Phi 97.131    phi2 314.257   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 79.653   Phi 74.218    phi2 73.943   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 292.912   Phi 95.240    phi2 144.794   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 28.868   Phi 75.856    phi2 302.113   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 62.141   Phi 106.339    phi2 339.114   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 283.794   Phi 81.552    phi2 75.373   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 132.085   Phi 117.020    phi2 305.053   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 144.711   Phi 89.291    phi2 251.620   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 64.026   Phi 132.722    phi2 136.344   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 314.677   Phi 68.264    phi2 106.371   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
