#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.5790e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 163.046   Phi 103.197    phi2 317.039   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 93.466   Phi 122.651    phi2 164.115   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 112.755   Phi 45.600    phi2 300.113   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 262.460   Phi 90.960    phi2 252.246   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 44.236   Phi 85.132    phi2 238.569   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 129.752   Phi 72.596    phi2 234.233   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 296.966   Phi 28.512    phi2 284.801   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 186.833   Phi 55.503    phi2 127.362   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 50.846   Phi 113.424    phi2 136.710   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 236.125   Phi 96.909    phi2 82.922   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 197.622   Phi 114.651    phi2 240.572   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 90.643   Phi 147.094    phi2 267.374   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 303.028   Phi 77.062    phi2 167.091   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 277.843   Phi 66.767    phi2 125.966   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 80.143   Phi 141.263    phi2 41.475   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 89.412   Phi 77.702    phi2 228.357   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 189.092   Phi 104.996    phi2 110.429   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 70.236   Phi 145.264    phi2 160.027   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 174.331   Phi 23.198    phi2 153.319   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 210.076   Phi 145.441    phi2 169.953   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 311.363   Phi 118.297    phi2 62.083   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 66.773   Phi 29.939    phi2 286.065   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 202.080   Phi 126.751    phi2 307.863   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 324.372   Phi 57.801    phi2 335.637   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 305.370   Phi 97.920    phi2 119.164   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 267.359   Phi 172.350    phi2 168.895   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 146.383   Phi 60.364    phi2 214.764   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 290.854   Phi 132.950    phi2 117.369   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 196.886   Phi 120.818    phi2 51.958   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 130.519   Phi 66.674    phi2 295.623   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 341.178   Phi 98.987    phi2 99.211   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 32.102   Phi 41.760    phi2 188.224   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 41.957   Phi 131.475    phi2 343.915   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 203.042   Phi 99.490    phi2 196.452   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 165.605   Phi 74.743    phi2 354.680   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
