#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 167.429   Phi 105.805    phi2 353.983   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 55.737   Phi 117.452    phi2 182.858   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 350.469   Phi 169.762    phi2 349.814   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 185.339   Phi 79.039    phi2 42.671   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 219.266   Phi 62.836    phi2 45.568   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 62.798   Phi 96.063    phi2 293.638   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 19.483   Phi 71.133    phi2 216.866   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 324.270   Phi 47.074    phi2 187.046   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 56.625   Phi 81.278    phi2 24.055   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 271.035   Phi 75.580    phi2 213.603   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 141.489   Phi 116.270    phi2 233.570   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 147.309   Phi 100.502    phi2 152.323   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 336.015   Phi 102.761    phi2 13.201   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 293.009   Phi 120.077    phi2 265.950   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 55.652   Phi 115.993    phi2 173.546   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 320.185   Phi 61.790    phi2 232.747   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 71.581   Phi 137.227    phi2 289.661   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 94.538   Phi 61.346    phi2 346.675   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 333.450   Phi 164.502    phi2 40.417   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 202.519   Phi 129.768    phi2 339.198   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 220.088   Phi 44.260    phi2 27.099   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 346.863   Phi 70.247    phi2 168.710   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 68.238   Phi 89.258    phi2 285.133   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 67.283   Phi 113.057    phi2 46.470   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 54.448   Phi 104.115    phi2 136.334   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 30.889   Phi 78.288    phi2 217.878   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 295.899   Phi 51.986    phi2 304.097   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 80.700   Phi 59.440    phi2 90.398   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 315.064   Phi 21.868    phi2 203.411   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 146.750   Phi 154.217    phi2 290.370   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 16.207   Phi 67.942    phi2 224.671   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 91.676   Phi 109.384    phi2 40.012   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 40.463   Phi 131.759    phi2 72.960   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 204.888   Phi 163.666    phi2 179.420   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 283.524   Phi 67.065    phi2 63.606   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 10.717   Phi 46.279    phi2 69.956   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 219.471   Phi 110.273    phi2 44.675   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 158.826   Phi 85.406    phi2 184.965   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 41.816   Phi 126.223    phi2 175.204   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 36.654   Phi 121.846    phi2 267.506   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 27.846   Phi 67.182    phi2 225.371   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 58.511   Phi 72.126    phi2 192.528   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 261.329   Phi 104.214    phi2 351.468   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 53.304   Phi 54.700    phi2 342.032   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 256.812   Phi 117.832    phi2 338.153   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 46.626   Phi 87.241    phi2 276.982   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 317.354   Phi 102.939    phi2 311.354   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 210.322   Phi 67.082    phi2 159.051   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 13.273   Phi 169.957    phi2 147.387   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 29.644   Phi 91.117    phi2 33.046   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 296.952   Phi 49.632    phi2 19.506   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 64.213   Phi 106.715    phi2 267.105   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 59.650   Phi 56.809    phi2 191.862   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 162.616   Phi 131.482    phi2 305.709   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 12.226   Phi 123.398    phi2 219.526   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 89.446   Phi 106.186    phi2 151.972   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 40.040   Phi 88.538    phi2 7.847   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 174.420   Phi 28.018    phi2 319.762   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 241.022   Phi 120.568    phi2 161.646   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 298.340   Phi 125.838    phi2 47.350   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
