#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 337.339   Phi 154.956    phi2 90.310   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 76.292   Phi 104.655    phi2 308.193   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 88.583   Phi 35.040    phi2 163.973   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 283.385   Phi 90.166    phi2 154.935   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 165.915   Phi 95.887    phi2 301.487   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 45.463   Phi 86.600    phi2 45.299   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 57.686   Phi 70.989    phi2 191.962   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 80.620   Phi 138.231    phi2 216.828   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 217.068   Phi 122.945    phi2 218.941   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 92.534   Phi 148.797    phi2 312.278   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 146.704   Phi 59.442    phi2 21.944   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 338.559   Phi 78.496    phi2 140.089   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 8.237   Phi 63.046    phi2 45.666   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 274.365   Phi 155.897    phi2 233.804   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 197.592   Phi 62.980    phi2 128.271   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 335.090   Phi 132.623    phi2 262.966   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 41.923   Phi 131.848    phi2 82.375   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 175.340   Phi 113.717    phi2 264.428   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 318.908   Phi 85.108    phi2 44.082   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 191.834   Phi 106.792    phi2 311.365   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 70.768   Phi 94.257    phi2 343.395   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 116.497   Phi 82.605    phi2 26.682   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 72.675   Phi 174.878    phi2 153.113   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 348.698   Phi 41.911    phi2 127.292   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 122.260   Phi 53.711    phi2 322.484   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 333.165   Phi 110.168    phi2 337.607   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 348.211   Phi 129.027    phi2 44.910   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 46.463   Phi 22.481    phi2 203.805   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 12.641   Phi 82.277    phi2 285.388   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 270.972   Phi 114.457    phi2 43.054   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 335.977   Phi 138.595    phi2 36.320   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 255.860   Phi 81.004    phi2 125.668   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 99.611   Phi 81.750    phi2 240.168   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 223.656   Phi 142.131    phi2 332.372   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 208.051   Phi 46.558    phi2 214.290   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 207.878   Phi 46.873    phi2 345.094   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 164.692   Phi 56.182    phi2 63.970   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 13.944   Phi 41.483    phi2 81.057   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 198.708   Phi 31.717    phi2 49.630   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 322.422   Phi 137.292    phi2 286.174   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 182.284   Phi 66.454    phi2 224.397   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 190.983   Phi 139.169    phi2 318.356   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 18.046   Phi 51.018    phi2 4.921   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 269.012   Phi 53.845    phi2 293.640   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 230.739   Phi 155.325    phi2 133.644   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 108.621   Phi 73.103    phi2 346.216   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 215.731   Phi 66.136    phi2 108.008   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 265.721   Phi 115.461    phi2 287.122   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 320.673   Phi 98.624    phi2 125.297   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 29.095   Phi 125.527    phi2 11.895   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 112.146   Phi 99.371    phi2 279.328   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 123.302   Phi 136.627    phi2 3.251   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 12.092   Phi 87.529    phi2 9.326   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 255.820   Phi 96.307    phi2 36.695   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 115.365   Phi 85.586    phi2 120.655   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 53.746   Phi 103.821    phi2 226.918   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 307.417   Phi 42.876    phi2 140.166   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 262.707   Phi 43.585    phi2 340.356   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 77.859   Phi 110.057    phi2 342.134   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 34.197   Phi 57.617    phi2 304.040   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 28.787   Phi 149.248    phi2 296.047   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 304.594   Phi 141.689    phi2 170.847   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 73.677   Phi 64.352    phi2 316.758   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 82.426   Phi 37.059    phi2 183.191   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 113.034   Phi 63.959    phi2 146.284   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 19.972   Phi 92.965    phi2 34.469   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 326.740   Phi 134.388    phi2 338.032   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 159.374   Phi 140.613    phi2 5.149   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 109.680   Phi 107.863    phi2 280.263   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 47.343   Phi 58.484    phi2 22.163   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 96.328   Phi 146.421    phi2 105.776   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 306.428   Phi 99.562    phi2 137.409   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 67.562   Phi 109.454    phi2 196.046   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 258.383   Phi 104.849    phi2 43.557   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 354.485   Phi 105.682    phi2 198.524   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 177.178   Phi 69.991    phi2 350.602   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 296.898   Phi 90.238    phi2 140.416   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 73.870   Phi 81.231    phi2 138.737   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 279.389   Phi 67.284    phi2 331.810   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 106.476   Phi 70.885    phi2 2.958   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 339.671   Phi 110.538    phi2 69.025   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 90.934   Phi 77.266    phi2 138.359   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 245.016   Phi 54.449    phi2 26.318   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 272.697   Phi 163.448    phi2 350.881   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 57.145   Phi 109.812    phi2 300.698   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 32.539   Phi 97.072    phi2 162.909   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 237.732   Phi 117.217    phi2 221.082   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 356.669   Phi 152.175    phi2 155.750   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 305.914   Phi 109.536    phi2 217.538   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 37.761   Phi 124.995    phi2 184.529   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 229.072   Phi 117.221    phi2 310.035   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 258.247   Phi 119.714    phi2 143.327   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 143.433   Phi 32.542    phi2 331.541   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 46.816   Phi 58.701    phi2 352.560   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 26.032   Phi 148.106    phi2 259.745   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 285.082   Phi 88.176    phi2 279.309   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 309.149   Phi 60.186    phi2 57.848   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 43.298   Phi 55.003    phi2 34.155   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 271.843   Phi 96.473    phi2 146.512   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 15.896   Phi 131.305    phi2 203.250   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 193.192   Phi 87.405    phi2 355.701   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 200.112   Phi 29.868    phi2 35.504   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 180.692   Phi 126.595    phi2 320.112   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 346.578   Phi 87.995    phi2 52.514   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 307.191   Phi 138.323    phi2 30.712   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 0.240   Phi 86.792    phi2 190.508   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 329.742   Phi 52.769    phi2 288.852   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 105.831   Phi 53.455    phi2 149.843   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 0.304   Phi 129.772    phi2 205.917   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 157.163   Phi 139.563    phi2 21.431   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 224.372   Phi 160.245    phi2 118.074   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 190.441   Phi 137.138    phi2 54.106   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 159.085   Phi 125.598    phi2 303.123   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 134.291   Phi 103.410    phi2 132.056   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 133.151   Phi 103.113    phi2 358.886   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 282.403   Phi 23.984    phi2 259.307   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 42.567   Phi 149.220    phi2 107.005   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 276.655   Phi 109.970    phi2 241.740   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 327.708   Phi 115.426    phi2 358.592   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 327.060   Phi 92.013    phi2 326.246   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 92.604   Phi 147.383    phi2 314.688   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 159.159   Phi 35.963    phi2 133.163   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 247.641   Phi 104.494    phi2 293.351   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 346.578   Phi 87.995    phi2 52.514   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 180.700   Phi 108.719    phi2 165.256   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 316.304   Phi 69.733    phi2 199.168   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 344.358   Phi 71.769    phi2 71.093   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 218.325   Phi 84.889    phi2 345.536   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
