#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 251.050   Phi 61.064    phi2 198.996   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 326.573   Phi 140.642    phi2 5.059   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 180.630   Phi 107.098    phi2 357.432   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 78.523   Phi 100.866    phi2 98.980   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 225.555   Phi 114.544    phi2 136.198   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 201.430   Phi 110.094    phi2 112.357   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 238.919   Phi 119.529    phi2 30.704   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 98.168   Phi 141.361    phi2 267.215   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 340.449   Phi 75.045    phi2 29.248   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 337.254   Phi 40.254    phi2 114.072   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 346.809   Phi 100.763    phi2 216.350   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 158.478   Phi 129.516    phi2 77.546   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 113.626   Phi 85.210    phi2 110.795   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 31.405   Phi 84.529    phi2 314.531   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 264.739   Phi 102.805    phi2 121.596   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 228.503   Phi 118.760    phi2 76.837   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 131.399   Phi 98.961    phi2 132.390   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 124.770   Phi 73.017    phi2 75.991   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 82.179   Phi 90.626    phi2 107.202   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 339.944   Phi 67.413    phi2 318.582   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 159.533   Phi 77.913    phi2 278.198   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 96.774   Phi 123.298    phi2 185.276   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 40.447   Phi 105.427    phi2 129.901   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 317.090   Phi 80.088    phi2 331.675   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 154.738   Phi 146.629    phi2 277.012   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 125.572   Phi 62.499    phi2 300.255   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 182.953   Phi 118.644    phi2 131.189   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 339.883   Phi 93.696    phi2 176.256   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 4.508   Phi 100.375    phi2 281.139   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 271.709   Phi 108.659    phi2 225.024   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 171.380   Phi 65.142    phi2 245.371   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 49.593   Phi 106.343    phi2 51.474   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 143.876   Phi 13.050    phi2 113.152   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 76.785   Phi 96.866    phi2 284.642   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 296.249   Phi 80.838    phi2 313.477   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 135.773   Phi 82.300    phi2 13.249   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 184.675   Phi 163.189    phi2 197.329   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 123.936   Phi 55.860    phi2 34.042   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 200.038   Phi 144.049    phi2 35.561   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 105.586   Phi 87.671    phi2 124.901   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 44.044   Phi 90.722    phi2 220.099   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 96.014   Phi 109.740    phi2 77.750   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 294.690   Phi 83.820    phi2 52.252   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 248.934   Phi 44.082    phi2 52.442   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 236.000   Phi 30.723    phi2 298.685   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 344.343   Phi 74.491    phi2 295.687   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 36.384   Phi 88.676    phi2 83.731   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 329.284   Phi 104.806    phi2 288.626   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 304.367   Phi 144.736    phi2 187.454   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 96.078   Phi 103.443    phi2 197.097   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 73.684   Phi 118.197    phi2 181.274   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 327.587   Phi 118.710    phi2 250.578   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 97.583   Phi 35.929    phi2 343.491   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 91.020   Phi 81.841    phi2 263.157   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 81.339   Phi 95.230    phi2 230.424   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 29.658   Phi 145.657    phi2 95.938   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 338.011   Phi 88.689    phi2 31.337   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 326.936   Phi 16.988    phi2 153.256   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 39.426   Phi 66.665    phi2 46.594   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 196.680   Phi 36.334    phi2 273.824   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 293.473   Phi 41.199    phi2 187.752   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 56.134   Phi 53.184    phi2 82.604   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 94.044   Phi 157.108    phi2 85.807   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 55.277   Phi 55.286    phi2 224.618   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 91.202   Phi 115.899    phi2 309.081   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 345.665   Phi 150.366    phi2 12.721   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 213.736   Phi 126.861    phi2 356.005   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 294.922   Phi 115.835    phi2 183.390   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 127.689   Phi 35.294    phi2 78.936   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 326.745   Phi 65.346    phi2 190.321   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 121.925   Phi 110.719    phi2 228.006   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 316.827   Phi 75.095    phi2 69.605   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 227.900   Phi 35.963    phi2 45.058   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 15.042   Phi 174.546    phi2 287.386   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 104.458   Phi 73.714    phi2 204.073   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 315.948   Phi 101.114    phi2 279.225   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 354.008   Phi 7.546    phi2 84.974   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 95.375   Phi 168.097    phi2 212.907   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 312.347   Phi 43.980    phi2 91.158   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 205.109   Phi 102.252    phi2 96.576   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 80.103   Phi 95.176    phi2 244.585   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 130.038   Phi 44.256    phi2 122.381   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 224.796   Phi 117.962    phi2 236.375   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 100.669   Phi 6.717    phi2 251.259   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 327.685   Phi 131.399    phi2 198.149   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 89.096   Phi 93.269    phi2 33.058   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 23.862   Phi 55.117    phi2 306.170   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 140.302   Phi 140.453    phi2 68.321   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 299.621   Phi 34.075    phi2 63.468   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 0.528   Phi 64.522    phi2 204.915   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 292.084   Phi 78.257    phi2 89.051   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 303.664   Phi 102.531    phi2 83.922   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 327.462   Phi 120.988    phi2 217.712   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 109.762   Phi 124.768    phi2 111.031   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 194.601   Phi 108.565    phi2 110.029   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 354.008   Phi 7.546    phi2 84.974   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 31.513   Phi 129.557    phi2 176.550   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 316.835   Phi 127.771    phi2 302.533   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 311.330   Phi 74.342    phi2 0.668   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 229.128   Phi 72.385    phi2 145.341   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 169.708   Phi 69.758    phi2 21.973   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 179.049   Phi 91.444    phi2 293.697   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 50.706   Phi 48.146    phi2 324.394   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 178.143   Phi 84.895    phi2 88.169   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 113.103   Phi 134.182    phi2 59.372   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 113.356   Phi 50.929    phi2 80.009   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 36.689   Phi 47.681    phi2 135.798   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 23.581   Phi 106.387    phi2 148.050   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 25.681   Phi 42.198    phi2 303.099   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 94.043   Phi 16.582    phi2 313.400   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 83.739   Phi 130.781    phi2 46.150   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 273.613   Phi 135.375    phi2 141.561   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 61.031   Phi 115.199    phi2 135.262   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 337.381   Phi 120.554    phi2 243.279   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 327.253   Phi 66.411    phi2 310.385   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 320.543   Phi 79.774    phi2 137.003   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 171.541   Phi 61.898    phi2 178.172   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 278.401   Phi 151.943    phi2 185.934   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 316.348   Phi 132.853    phi2 311.170   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 181.060   Phi 85.888    phi2 272.324   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 59.515   Phi 103.903    phi2 57.443   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 51.419   Phi 159.681    phi2 259.748   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 73.997   Phi 122.776    phi2 32.744   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 123.568   Phi 125.291    phi2 59.920   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 40.143   Phi 28.962    phi2 20.066   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 359.054   Phi 126.286    phi2 127.536   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 260.050   Phi 106.332    phi2 197.766   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 288.575   Phi 126.701    phi2 49.431   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 306.597   Phi 90.946    phi2 58.236   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 238.730   Phi 87.122    phi2 144.054   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 253.349   Phi 154.824    phi2 254.236   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 17.767   Phi 115.604    phi2 319.265   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 270.716   Phi 103.198    phi2 63.757   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 168.629   Phi 60.970    phi2 139.537   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 9.609   Phi 106.541    phi2 31.613   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 7.790   Phi 100.961    phi2 320.140   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 117.530   Phi 107.133    phi2 13.549   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 212.116   Phi 112.414    phi2 148.272   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 204.484   Phi 39.607    phi2 332.995   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 164.055   Phi 117.356    phi2 228.769   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 341.959   Phi 142.930    phi2 99.880   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 184.473   Phi 54.782    phi2 101.830   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 327.413   Phi 115.856    phi2 288.296   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 347.286   Phi 109.702    phi2 179.900   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 209.665   Phi 85.517    phi2 182.109   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 186.923   Phi 71.936    phi2 220.395   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 260.844   Phi 52.358    phi2 58.228   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 112.119   Phi 84.751    phi2 355.189   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 102.696   Phi 71.121    phi2 162.909   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 313.834   Phi 52.160    phi2 15.674   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 108.718   Phi 84.352    phi2 70.673   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 336.671   Phi 21.523    phi2 293.619   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 46.537   Phi 80.453    phi2 342.532   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 74.831   Phi 141.227    phi2 84.539   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 22.380   Phi 91.648    phi2 250.026   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 173.164   Phi 63.185    phi2 267.502   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 312.272   Phi 85.160    phi2 303.320   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 232.549   Phi 67.208    phi2 73.930   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 24.296   Phi 90.515    phi2 278.028   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 228.288   Phi 105.215    phi2 82.031   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 144.964   Phi 116.744    phi2 314.736   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 217.178   Phi 71.739    phi2 355.901   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 77.107   Phi 57.768    phi2 240.664   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 188.831   Phi 137.978    phi2 302.151   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 275.134   Phi 118.594    phi2 176.433   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 166.889   Phi 137.987    phi2 322.286   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 308.840   Phi 83.594    phi2 172.068   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 171.640   Phi 25.210    phi2 144.747   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 232.270   Phi 41.994    phi2 182.836   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 73.374   Phi 82.751    phi2 294.230   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 56.940   Phi 134.911    phi2 246.298   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 352.614   Phi 55.873    phi2 203.092   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 322.652   Phi 155.916    phi2 354.525   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 191.442   Phi 122.217    phi2 241.752   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 206.467   Phi 80.275    phi2 291.794   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 319.805   Phi 135.789    phi2 272.635   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 143.964   Phi 129.935    phi2 113.852   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 135.994   Phi 22.839    phi2 1.808   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 284.916   Phi 84.148    phi2 2.903   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 350.542   Phi 107.548    phi2 322.960   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 247.943   Phi 64.484    phi2 1.762   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 250.585   Phi 42.675    phi2 137.270   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 130.165   Phi 112.783    phi2 136.891   scatter 0.0   fraction 1.0 
[grain184]
(gauss) phi1 256.233   Phi 57.873    phi2 56.165   scatter 0.0   fraction 1.0 
[grain185]
(gauss) phi1 316.997   Phi 42.381    phi2 7.956   scatter 0.0   fraction 1.0 
[grain186]
(gauss) phi1 177.649   Phi 54.543    phi2 187.159   scatter 0.0   fraction 1.0 
[grain187]
(gauss) phi1 347.508   Phi 56.342    phi2 215.241   scatter 0.0   fraction 1.0 
[grain188]
(gauss) phi1 129.653   Phi 68.314    phi2 309.482   scatter 0.0   fraction 1.0 
[grain189]
(gauss) phi1 196.807   Phi 23.613    phi2 267.149   scatter 0.0   fraction 1.0 
[grain190]
(gauss) phi1 208.727   Phi 134.609    phi2 353.709   scatter 0.0   fraction 1.0 
[grain191]
(gauss) phi1 343.666   Phi 106.184    phi2 74.929   scatter 0.0   fraction 1.0 
[grain192]
(gauss) phi1 42.120   Phi 134.148    phi2 161.367   scatter 0.0   fraction 1.0 
[grain193]
(gauss) phi1 64.461   Phi 120.951    phi2 78.811   scatter 0.0   fraction 1.0 
[grain194]
(gauss) phi1 94.940   Phi 156.342    phi2 235.265   scatter 0.0   fraction 1.0 
[grain195]
(gauss) phi1 144.791   Phi 81.053    phi2 37.257   scatter 0.0   fraction 1.0 
[grain196]
(gauss) phi1 128.922   Phi 34.773    phi2 318.407   scatter 0.0   fraction 1.0 
[grain197]
(gauss) phi1 25.730   Phi 27.705    phi2 257.983   scatter 0.0   fraction 1.0 
[grain198]
(gauss) phi1 296.184   Phi 12.581    phi2 24.860   scatter 0.0   fraction 1.0 
[grain199]
(gauss) phi1 287.266   Phi 96.316    phi2 281.950   scatter 0.0   fraction 1.0 
[grain200]
(gauss) phi1 188.060   Phi 136.709    phi2 54.675   scatter 0.0   fraction 1.0 
[grain201]
(gauss) phi1 298.239   Phi 45.383    phi2 119.444   scatter 0.0   fraction 1.0 
[grain202]
(gauss) phi1 75.782   Phi 118.813    phi2 33.171   scatter 0.0   fraction 1.0 
[grain203]
(gauss) phi1 29.829   Phi 94.720    phi2 75.792   scatter 0.0   fraction 1.0 
[grain204]
(gauss) phi1 93.568   Phi 150.854    phi2 217.025   scatter 0.0   fraction 1.0 
[grain205]
(gauss) phi1 321.531   Phi 132.494    phi2 309.531   scatter 0.0   fraction 1.0 
[grain206]
(gauss) phi1 231.823   Phi 105.934    phi2 223.693   scatter 0.0   fraction 1.0 
[grain207]
(gauss) phi1 28.803   Phi 114.329    phi2 125.358   scatter 0.0   fraction 1.0 
[grain208]
(gauss) phi1 109.370   Phi 56.208    phi2 178.156   scatter 0.0   fraction 1.0 
[grain209]
(gauss) phi1 338.015   Phi 50.222    phi2 185.741   scatter 0.0   fraction 1.0 
[grain210]
(gauss) phi1 152.785   Phi 103.992    phi2 154.214   scatter 0.0   fraction 1.0 
[grain211]
(gauss) phi1 354.446   Phi 95.012    phi2 85.263   scatter 0.0   fraction 1.0 
[grain212]
(gauss) phi1 287.257   Phi 49.091    phi2 316.337   scatter 0.0   fraction 1.0 
[grain213]
(gauss) phi1 254.732   Phi 108.699    phi2 273.165   scatter 0.0   fraction 1.0 
[grain214]
(gauss) phi1 156.750   Phi 135.849    phi2 263.363   scatter 0.0   fraction 1.0 
[grain215]
(gauss) phi1 85.186   Phi 75.334    phi2 151.855   scatter 0.0   fraction 1.0 
[grain216]
(gauss) phi1 270.007   Phi 115.493    phi2 185.485   scatter 0.0   fraction 1.0 
[grain217]
(gauss) phi1 173.348   Phi 106.359    phi2 30.014   scatter 0.0   fraction 1.0 
[grain218]
(gauss) phi1 42.280   Phi 89.631    phi2 343.497   scatter 0.0   fraction 1.0 
[grain219]
(gauss) phi1 156.247   Phi 66.670    phi2 348.948   scatter 0.0   fraction 1.0 
[grain220]
(gauss) phi1 83.340   Phi 92.001    phi2 46.509   scatter 0.0   fraction 1.0 
[grain221]
(gauss) phi1 224.741   Phi 64.888    phi2 127.241   scatter 0.0   fraction 1.0 
[grain222]
(gauss) phi1 148.284   Phi 58.479    phi2 270.020   scatter 0.0   fraction 1.0 
[grain223]
(gauss) phi1 272.698   Phi 117.623    phi2 342.483   scatter 0.0   fraction 1.0 
[grain224]
(gauss) phi1 153.864   Phi 67.057    phi2 68.053   scatter 0.0   fraction 1.0 
[grain225]
(gauss) phi1 68.277   Phi 38.284    phi2 334.278   scatter 0.0   fraction 1.0 
[grain226]
(gauss) phi1 69.614   Phi 57.759    phi2 29.549   scatter 0.0   fraction 1.0 
[grain227]
(gauss) phi1 23.805   Phi 68.386    phi2 161.791   scatter 0.0   fraction 1.0 
[grain228]
(gauss) phi1 43.382   Phi 126.638    phi2 227.957   scatter 0.0   fraction 1.0 
[grain229]
(gauss) phi1 133.374   Phi 110.656    phi2 218.960   scatter 0.0   fraction 1.0 
[grain230]
(gauss) phi1 315.306   Phi 89.746    phi2 134.801   scatter 0.0   fraction 1.0 
[grain231]
(gauss) phi1 355.548   Phi 134.026    phi2 312.598   scatter 0.0   fraction 1.0 
[grain232]
(gauss) phi1 263.557   Phi 92.721    phi2 92.806   scatter 0.0   fraction 1.0 
[grain233]
(gauss) phi1 258.999   Phi 89.748    phi2 210.378   scatter 0.0   fraction 1.0 
[grain234]
(gauss) phi1 199.143   Phi 83.213    phi2 154.952   scatter 0.0   fraction 1.0 
[grain235]
(gauss) phi1 162.252   Phi 6.036    phi2 41.837   scatter 0.0   fraction 1.0 
[grain236]
(gauss) phi1 67.071   Phi 96.795    phi2 226.506   scatter 0.0   fraction 1.0 
[grain237]
(gauss) phi1 139.572   Phi 67.630    phi2 330.411   scatter 0.0   fraction 1.0 
[grain238]
(gauss) phi1 135.467   Phi 92.160    phi2 261.659   scatter 0.0   fraction 1.0 
[grain239]
(gauss) phi1 123.936   Phi 55.860    phi2 34.042   scatter 0.0   fraction 1.0 
[grain240]
(gauss) phi1 168.180   Phi 126.622    phi2 113.720   scatter 0.0   fraction 1.0 
[grain241]
(gauss) phi1 216.872   Phi 53.653    phi2 270.200   scatter 0.0   fraction 1.0 
[grain242]
(gauss) phi1 343.568   Phi 106.839    phi2 70.417   scatter 0.0   fraction 1.0 
[grain243]
(gauss) phi1 193.237   Phi 80.263    phi2 241.874   scatter 0.0   fraction 1.0 
[grain244]
(gauss) phi1 349.577   Phi 63.888    phi2 162.802   scatter 0.0   fraction 1.0 
[grain245]
(gauss) phi1 304.772   Phi 105.517    phi2 128.657   scatter 0.0   fraction 1.0 
[grain246]
(gauss) phi1 111.529   Phi 163.124    phi2 132.446   scatter 0.0   fraction 1.0 
[grain247]
(gauss) phi1 342.978   Phi 106.702    phi2 353.401   scatter 0.0   fraction 1.0 
[grain248]
(gauss) phi1 132.517   Phi 82.118    phi2 61.346   scatter 0.0   fraction 1.0 
[grain249]
(gauss) phi1 243.879   Phi 165.731    phi2 286.398   scatter 0.0   fraction 1.0 
[grain250]
(gauss) phi1 245.488   Phi 144.830    phi2 128.870   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
[grain184]
crystallite 1
(constituent)   phase 1 texture 184 fraction 1.0
[grain185]
crystallite 1
(constituent)   phase 1 texture 185 fraction 1.0
[grain186]
crystallite 1
(constituent)   phase 1 texture 186 fraction 1.0
[grain187]
crystallite 1
(constituent)   phase 1 texture 187 fraction 1.0
[grain188]
crystallite 1
(constituent)   phase 1 texture 188 fraction 1.0
[grain189]
crystallite 1
(constituent)   phase 1 texture 189 fraction 1.0
[grain190]
crystallite 1
(constituent)   phase 1 texture 190 fraction 1.0
[grain191]
crystallite 1
(constituent)   phase 1 texture 191 fraction 1.0
[grain192]
crystallite 1
(constituent)   phase 1 texture 192 fraction 1.0
[grain193]
crystallite 1
(constituent)   phase 1 texture 193 fraction 1.0
[grain194]
crystallite 1
(constituent)   phase 1 texture 194 fraction 1.0
[grain195]
crystallite 1
(constituent)   phase 1 texture 195 fraction 1.0
[grain196]
crystallite 1
(constituent)   phase 1 texture 196 fraction 1.0
[grain197]
crystallite 1
(constituent)   phase 1 texture 197 fraction 1.0
[grain198]
crystallite 1
(constituent)   phase 1 texture 198 fraction 1.0
[grain199]
crystallite 1
(constituent)   phase 1 texture 199 fraction 1.0
[grain200]
crystallite 1
(constituent)   phase 1 texture 200 fraction 1.0
[grain201]
crystallite 1
(constituent)   phase 1 texture 201 fraction 1.0
[grain202]
crystallite 1
(constituent)   phase 1 texture 202 fraction 1.0
[grain203]
crystallite 1
(constituent)   phase 1 texture 203 fraction 1.0
[grain204]
crystallite 1
(constituent)   phase 1 texture 204 fraction 1.0
[grain205]
crystallite 1
(constituent)   phase 1 texture 205 fraction 1.0
[grain206]
crystallite 1
(constituent)   phase 1 texture 206 fraction 1.0
[grain207]
crystallite 1
(constituent)   phase 1 texture 207 fraction 1.0
[grain208]
crystallite 1
(constituent)   phase 1 texture 208 fraction 1.0
[grain209]
crystallite 1
(constituent)   phase 1 texture 209 fraction 1.0
[grain210]
crystallite 1
(constituent)   phase 1 texture 210 fraction 1.0
[grain211]
crystallite 1
(constituent)   phase 1 texture 211 fraction 1.0
[grain212]
crystallite 1
(constituent)   phase 1 texture 212 fraction 1.0
[grain213]
crystallite 1
(constituent)   phase 1 texture 213 fraction 1.0
[grain214]
crystallite 1
(constituent)   phase 1 texture 214 fraction 1.0
[grain215]
crystallite 1
(constituent)   phase 1 texture 215 fraction 1.0
[grain216]
crystallite 1
(constituent)   phase 1 texture 216 fraction 1.0
[grain217]
crystallite 1
(constituent)   phase 1 texture 217 fraction 1.0
[grain218]
crystallite 1
(constituent)   phase 1 texture 218 fraction 1.0
[grain219]
crystallite 1
(constituent)   phase 1 texture 219 fraction 1.0
[grain220]
crystallite 1
(constituent)   phase 1 texture 220 fraction 1.0
[grain221]
crystallite 1
(constituent)   phase 1 texture 221 fraction 1.0
[grain222]
crystallite 1
(constituent)   phase 1 texture 222 fraction 1.0
[grain223]
crystallite 1
(constituent)   phase 1 texture 223 fraction 1.0
[grain224]
crystallite 1
(constituent)   phase 1 texture 224 fraction 1.0
[grain225]
crystallite 1
(constituent)   phase 1 texture 225 fraction 1.0
[grain226]
crystallite 1
(constituent)   phase 1 texture 226 fraction 1.0
[grain227]
crystallite 1
(constituent)   phase 1 texture 227 fraction 1.0
[grain228]
crystallite 1
(constituent)   phase 1 texture 228 fraction 1.0
[grain229]
crystallite 1
(constituent)   phase 1 texture 229 fraction 1.0
[grain230]
crystallite 1
(constituent)   phase 1 texture 230 fraction 1.0
[grain231]
crystallite 1
(constituent)   phase 1 texture 231 fraction 1.0
[grain232]
crystallite 1
(constituent)   phase 1 texture 232 fraction 1.0
[grain233]
crystallite 1
(constituent)   phase 1 texture 233 fraction 1.0
[grain234]
crystallite 1
(constituent)   phase 1 texture 234 fraction 1.0
[grain235]
crystallite 1
(constituent)   phase 1 texture 235 fraction 1.0
[grain236]
crystallite 1
(constituent)   phase 1 texture 236 fraction 1.0
[grain237]
crystallite 1
(constituent)   phase 1 texture 237 fraction 1.0
[grain238]
crystallite 1
(constituent)   phase 1 texture 238 fraction 1.0
[grain239]
crystallite 1
(constituent)   phase 1 texture 239 fraction 1.0
[grain240]
crystallite 1
(constituent)   phase 1 texture 240 fraction 1.0
[grain241]
crystallite 1
(constituent)   phase 1 texture 241 fraction 1.0
[grain242]
crystallite 1
(constituent)   phase 1 texture 242 fraction 1.0
[grain243]
crystallite 1
(constituent)   phase 1 texture 243 fraction 1.0
[grain244]
crystallite 1
(constituent)   phase 1 texture 244 fraction 1.0
[grain245]
crystallite 1
(constituent)   phase 1 texture 245 fraction 1.0
[grain246]
crystallite 1
(constituent)   phase 1 texture 246 fraction 1.0
[grain247]
crystallite 1
(constituent)   phase 1 texture 247 fraction 1.0
[grain248]
crystallite 1
(constituent)   phase 1 texture 248 fraction 1.0
[grain249]
crystallite 1
(constituent)   phase 1 texture 249 fraction 1.0
[grain250]
crystallite 1
(constituent)   phase 1 texture 250 fraction 1.0
