#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 160.871   Phi 72.381    phi2 355.883   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 208.578   Phi 61.723    phi2 101.454   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 237.287   Phi 100.311    phi2 132.762   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 220.157   Phi 94.394    phi2 293.231   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 80.954   Phi 50.223    phi2 80.136   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 74.444   Phi 134.401    phi2 312.694   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 314.013   Phi 93.469    phi2 179.305   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 205.765   Phi 53.010    phi2 116.253   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 189.683   Phi 58.530    phi2 196.163   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 111.126   Phi 53.214    phi2 90.661   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 64.808   Phi 92.926    phi2 314.042   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 201.202   Phi 86.374    phi2 306.467   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 299.423   Phi 50.533    phi2 82.629   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 42.843   Phi 76.040    phi2 209.368   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 118.022   Phi 125.693    phi2 192.844   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 4.316   Phi 117.972    phi2 178.340   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 133.446   Phi 106.443    phi2 227.536   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 317.001   Phi 28.351    phi2 207.568   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 143.415   Phi 120.785    phi2 157.250   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 279.668   Phi 115.411    phi2 11.927   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 329.338   Phi 106.462    phi2 102.381   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 233.652   Phi 78.734    phi2 216.596   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 85.395   Phi 51.441    phi2 299.914   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 332.912   Phi 155.464    phi2 332.444   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 339.849   Phi 67.242    phi2 181.914   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 88.941   Phi 132.865    phi2 94.172   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 246.194   Phi 89.742    phi2 31.678   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 32.197   Phi 116.679    phi2 300.008   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 158.859   Phi 83.786    phi2 75.962   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 274.662   Phi 59.695    phi2 146.361   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 138.828   Phi 75.875    phi2 295.415   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 236.741   Phi 102.699    phi2 229.328   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 222.511   Phi 59.875    phi2 40.839   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 312.287   Phi 16.704    phi2 225.548   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 182.483   Phi 105.568    phi2 85.500   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 113.311   Phi 133.989    phi2 98.142   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 28.683   Phi 79.707    phi2 351.096   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 105.618   Phi 86.733    phi2 225.063   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 67.198   Phi 79.540    phi2 331.167   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 242.136   Phi 68.039    phi2 64.269   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 176.744   Phi 65.003    phi2 210.002   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 19.112   Phi 75.962    phi2 303.066   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 305.083   Phi 77.487    phi2 181.823   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 195.266   Phi 102.956    phi2 302.363   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 58.470   Phi 132.048    phi2 168.458   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 200.250   Phi 41.109    phi2 106.856   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 39.505   Phi 73.556    phi2 227.510   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 289.354   Phi 170.765    phi2 331.577   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 307.605   Phi 78.036    phi2 160.054   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 2.290   Phi 144.234    phi2 83.182   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 279.136   Phi 55.853    phi2 268.386   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 319.178   Phi 91.043    phi2 140.712   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 336.598   Phi 79.357    phi2 354.322   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
