#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 117.959   Phi 51.103    phi2 156.804   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 346.625   Phi 116.511    phi2 130.987   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 42.168   Phi 162.849    phi2 53.627   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 128.267   Phi 62.752    phi2 21.923   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 170.032   Phi 63.895    phi2 242.800   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 250.351   Phi 89.059    phi2 213.689   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 351.266   Phi 152.740    phi2 212.917   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 294.310   Phi 50.373    phi2 75.013   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 68.124   Phi 144.139    phi2 68.966   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 314.211   Phi 51.375    phi2 31.925   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 169.770   Phi 157.333    phi2 276.649   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 207.514   Phi 46.501    phi2 250.583   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 275.941   Phi 131.229    phi2 72.527   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 27.264   Phi 97.117    phi2 204.748   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 256.230   Phi 90.007    phi2 153.328   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 49.252   Phi 172.198    phi2 264.157   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 19.509   Phi 81.995    phi2 333.214   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 111.048   Phi 52.718    phi2 276.888   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 0.166   Phi 48.640    phi2 139.388   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 136.668   Phi 143.971    phi2 143.068   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 298.797   Phi 69.521    phi2 175.734   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 354.817   Phi 57.985    phi2 151.631   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 347.291   Phi 133.259    phi2 282.992   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 5.224   Phi 118.126    phi2 153.458   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 6.522   Phi 103.805    phi2 204.699   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 107.259   Phi 106.171    phi2 264.101   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 81.094   Phi 14.453    phi2 19.224   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 183.741   Phi 20.522    phi2 176.594   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 142.789   Phi 131.212    phi2 270.804   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 165.845   Phi 75.913    phi2 275.169   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 251.653   Phi 61.627    phi2 247.240   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 284.635   Phi 34.267    phi2 118.994   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 242.871   Phi 10.380    phi2 136.963   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 216.185   Phi 58.695    phi2 58.325   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 358.033   Phi 119.854    phi2 104.439   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 244.547   Phi 81.642    phi2 43.166   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 144.744   Phi 124.905    phi2 35.213   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 66.913   Phi 101.908    phi2 181.253   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 127.825   Phi 128.369    phi2 166.277   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 162.079   Phi 101.672    phi2 287.783   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 327.982   Phi 83.527    phi2 124.701   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 69.033   Phi 90.556    phi2 333.738   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 265.283   Phi 89.802    phi2 117.043   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 357.289   Phi 18.555    phi2 64.745   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 235.942   Phi 83.289    phi2 312.236   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 235.856   Phi 122.669    phi2 41.691   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 269.009   Phi 55.349    phi2 193.181   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 309.412   Phi 88.072    phi2 153.653   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 250.560   Phi 77.865    phi2 294.225   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 12.264   Phi 50.993    phi2 142.535   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 70.002   Phi 109.187    phi2 34.035   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 38.175   Phi 96.552    phi2 12.125   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 37.544   Phi 146.851    phi2 169.597   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 88.989   Phi 84.111    phi2 290.283   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 186.776   Phi 104.489    phi2 150.358   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 35.156   Phi 68.607    phi2 154.723   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 180.223   Phi 45.393    phi2 95.601   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 41.785   Phi 108.849    phi2 45.804   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 186.223   Phi 139.707    phi2 77.042   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 144.654   Phi 81.651    phi2 201.298   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 121.818   Phi 85.379    phi2 187.086   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 314.320   Phi 75.153    phi2 44.301   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 299.349   Phi 76.210    phi2 47.814   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 34.017   Phi 140.089    phi2 330.087   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 339.068   Phi 67.748    phi2 354.142   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 119.275   Phi 56.018    phi2 64.533   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 235.105   Phi 50.573    phi2 349.787   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 48.467   Phi 134.125    phi2 318.514   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 68.874   Phi 139.545    phi2 291.187   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 303.848   Phi 44.590    phi2 321.208   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 12.807   Phi 89.134    phi2 124.181   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 54.490   Phi 135.044    phi2 175.938   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 235.005   Phi 102.235    phi2 321.577   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 47.760   Phi 31.212    phi2 229.398   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 121.486   Phi 62.197    phi2 122.940   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 255.075   Phi 120.570    phi2 324.150   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 75.619   Phi 23.065    phi2 328.678   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 52.086   Phi 76.423    phi2 125.008   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 276.309   Phi 148.931    phi2 272.692   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 55.224   Phi 64.135    phi2 174.327   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 32.719   Phi 27.992    phi2 329.834   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 307.756   Phi 38.616    phi2 317.661   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 293.044   Phi 68.376    phi2 158.556   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 220.562   Phi 126.908    phi2 162.636   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 175.263   Phi 39.391    phi2 143.514   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 314.905   Phi 103.122    phi2 264.513   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 49.897   Phi 153.309    phi2 348.819   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 306.407   Phi 100.820    phi2 216.730   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 41.020   Phi 47.075    phi2 259.585   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 72.798   Phi 152.006    phi2 249.458   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 226.804   Phi 48.024    phi2 86.681   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 345.241   Phi 87.648    phi2 125.521   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 143.775   Phi 20.135    phi2 261.419   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 161.698   Phi 78.300    phi2 184.440   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 220.335   Phi 107.154    phi2 152.636   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 137.897   Phi 52.096    phi2 282.962   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 182.621   Phi 53.870    phi2 279.104   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 203.393   Phi 43.162    phi2 250.658   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 116.664   Phi 83.538    phi2 134.827   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 159.207   Phi 79.033    phi2 337.603   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 246.243   Phi 82.092    phi2 22.467   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 84.853   Phi 144.584    phi2 259.155   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 181.430   Phi 64.574    phi2 33.068   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 280.246   Phi 138.624    phi2 187.051   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 61.600   Phi 46.559    phi2 98.956   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 203.930   Phi 56.858    phi2 279.800   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 102.176   Phi 73.354    phi2 22.713   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 150.385   Phi 81.365    phi2 332.475   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 240.114   Phi 104.780    phi2 263.478   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 44.346   Phi 82.705    phi2 20.026   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 38.486   Phi 99.339    phi2 69.247   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 16.903   Phi 62.376    phi2 212.099   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 288.703   Phi 100.886    phi2 167.895   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 258.175   Phi 158.885    phi2 119.369   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 297.090   Phi 87.171    phi2 159.431   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 126.618   Phi 159.048    phi2 334.445   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 3.516   Phi 32.209    phi2 172.260   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 215.478   Phi 133.620    phi2 97.939   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 253.891   Phi 149.561    phi2 142.427   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 92.319   Phi 69.941    phi2 129.273   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 245.483   Phi 79.453    phi2 248.513   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 291.452   Phi 44.609    phi2 204.029   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 2.773   Phi 152.270    phi2 216.051   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 227.012   Phi 35.115    phi2 178.511   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 180.259   Phi 69.650    phi2 21.562   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 234.205   Phi 140.855    phi2 193.457   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 309.851   Phi 79.249    phi2 309.671   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 124.650   Phi 63.329    phi2 71.484   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 267.092   Phi 132.750    phi2 130.145   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 1.977   Phi 67.642    phi2 236.575   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 148.114   Phi 134.057    phi2 291.612   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 77.792   Phi 89.855    phi2 211.949   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 270.173   Phi 74.681    phi2 49.564   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 229.173   Phi 120.465    phi2 55.998   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 10.695   Phi 111.039    phi2 167.347   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 312.018   Phi 111.703    phi2 34.315   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 232.214   Phi 133.789    phi2 101.267   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 70.235   Phi 107.264    phi2 163.227   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 179.338   Phi 103.019    phi2 106.626   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 145.950   Phi 85.652    phi2 167.476   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 185.236   Phi 134.921    phi2 130.974   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 19.942   Phi 53.339    phi2 84.721   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 114.451   Phi 170.755    phi2 314.070   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 89.178   Phi 88.464    phi2 315.666   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 127.031   Phi 113.765    phi2 307.965   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 184.139   Phi 39.329    phi2 63.081   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 13.468   Phi 42.823    phi2 210.092   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 16.845   Phi 60.759    phi2 198.408   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 146.069   Phi 68.275    phi2 107.066   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 132.147   Phi 98.090    phi2 152.353   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 34.837   Phi 16.087    phi2 67.807   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 27.171   Phi 110.950    phi2 199.459   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 306.728   Phi 62.338    phi2 34.586   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 292.652   Phi 134.787    phi2 89.469   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 198.168   Phi 62.481    phi2 253.063   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 205.154   Phi 56.936    phi2 10.073   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 104.434   Phi 134.134    phi2 237.642   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 115.393   Phi 161.020    phi2 37.414   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 43.915   Phi 124.374    phi2 86.486   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 61.222   Phi 129.666    phi2 135.062   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 331.581   Phi 125.830    phi2 246.814   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 321.151   Phi 114.335    phi2 357.777   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 66.815   Phi 169.520    phi2 36.678   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 279.586   Phi 15.511    phi2 295.364   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 288.911   Phi 173.606    phi2 22.507   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 289.569   Phi 133.729    phi2 248.125   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 191.907   Phi 53.475    phi2 292.606   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 214.892   Phi 103.028    phi2 217.080   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 130.697   Phi 118.209    phi2 292.769   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 49.468   Phi 34.655    phi2 241.026   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 183.807   Phi 98.614    phi2 284.363   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 319.004   Phi 15.787    phi2 116.995   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 131.305   Phi 84.592    phi2 324.742   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 302.346   Phi 45.735    phi2 94.849   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 311.618   Phi 107.358    phi2 260.941   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 305.041   Phi 69.911    phi2 232.426   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 206.334   Phi 153.710    phi2 195.662   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 347.120   Phi 52.122    phi2 147.250   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 213.124   Phi 54.673    phi2 289.198   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 29.640   Phi 149.348    phi2 307.190   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 277.248   Phi 54.973    phi2 219.425   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 19.156   Phi 167.991    phi2 208.415   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 279.271   Phi 132.484    phi2 250.955   scatter 0.0   fraction 1.0 
[grain184]
(gauss) phi1 340.626   Phi 106.126    phi2 334.664   scatter 0.0   fraction 1.0 
[grain185]
(gauss) phi1 221.767   Phi 72.471    phi2 272.286   scatter 0.0   fraction 1.0 
[grain186]
(gauss) phi1 215.241   Phi 87.790    phi2 199.796   scatter 0.0   fraction 1.0 
[grain187]
(gauss) phi1 240.520   Phi 50.123    phi2 321.079   scatter 0.0   fraction 1.0 
[grain188]
(gauss) phi1 180.689   Phi 28.019    phi2 293.075   scatter 0.0   fraction 1.0 
[grain189]
(gauss) phi1 202.509   Phi 36.972    phi2 81.553   scatter 0.0   fraction 1.0 
[grain190]
(gauss) phi1 62.478   Phi 80.435    phi2 282.141   scatter 0.0   fraction 1.0 
[grain191]
(gauss) phi1 148.216   Phi 88.807    phi2 87.019   scatter 0.0   fraction 1.0 
[grain192]
(gauss) phi1 296.030   Phi 166.686    phi2 216.635   scatter 0.0   fraction 1.0 
[grain193]
(gauss) phi1 59.688   Phi 127.773    phi2 181.539   scatter 0.0   fraction 1.0 
[grain194]
(gauss) phi1 348.707   Phi 35.820    phi2 153.029   scatter 0.0   fraction 1.0 
[grain195]
(gauss) phi1 317.832   Phi 41.044    phi2 227.905   scatter 0.0   fraction 1.0 
[grain196]
(gauss) phi1 43.321   Phi 91.896    phi2 113.604   scatter 0.0   fraction 1.0 
[grain197]
(gauss) phi1 255.526   Phi 142.687    phi2 270.093   scatter 0.0   fraction 1.0 
[grain198]
(gauss) phi1 188.797   Phi 80.737    phi2 202.356   scatter 0.0   fraction 1.0 
[grain199]
(gauss) phi1 74.173   Phi 40.539    phi2 259.439   scatter 0.0   fraction 1.0 
[grain200]
(gauss) phi1 244.738   Phi 95.259    phi2 266.930   scatter 0.0   fraction 1.0 
[grain201]
(gauss) phi1 220.559   Phi 132.336    phi2 7.764   scatter 0.0   fraction 1.0 
[grain202]
(gauss) phi1 226.473   Phi 93.985    phi2 76.778   scatter 0.0   fraction 1.0 
[grain203]
(gauss) phi1 69.655   Phi 160.033    phi2 170.185   scatter 0.0   fraction 1.0 
[grain204]
(gauss) phi1 344.164   Phi 122.717    phi2 296.223   scatter 0.0   fraction 1.0 
[grain205]
(gauss) phi1 220.943   Phi 130.730    phi2 195.881   scatter 0.0   fraction 1.0 
[grain206]
(gauss) phi1 336.858   Phi 67.273    phi2 308.541   scatter 0.0   fraction 1.0 
[grain207]
(gauss) phi1 105.610   Phi 80.188    phi2 110.511   scatter 0.0   fraction 1.0 
[grain208]
(gauss) phi1 224.923   Phi 47.361    phi2 279.295   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
[grain184]
crystallite 1
(constituent)   phase 1 texture 184 fraction 1.0
[grain185]
crystallite 1
(constituent)   phase 1 texture 185 fraction 1.0
[grain186]
crystallite 1
(constituent)   phase 1 texture 186 fraction 1.0
[grain187]
crystallite 1
(constituent)   phase 1 texture 187 fraction 1.0
[grain188]
crystallite 1
(constituent)   phase 1 texture 188 fraction 1.0
[grain189]
crystallite 1
(constituent)   phase 1 texture 189 fraction 1.0
[grain190]
crystallite 1
(constituent)   phase 1 texture 190 fraction 1.0
[grain191]
crystallite 1
(constituent)   phase 1 texture 191 fraction 1.0
[grain192]
crystallite 1
(constituent)   phase 1 texture 192 fraction 1.0
[grain193]
crystallite 1
(constituent)   phase 1 texture 193 fraction 1.0
[grain194]
crystallite 1
(constituent)   phase 1 texture 194 fraction 1.0
[grain195]
crystallite 1
(constituent)   phase 1 texture 195 fraction 1.0
[grain196]
crystallite 1
(constituent)   phase 1 texture 196 fraction 1.0
[grain197]
crystallite 1
(constituent)   phase 1 texture 197 fraction 1.0
[grain198]
crystallite 1
(constituent)   phase 1 texture 198 fraction 1.0
[grain199]
crystallite 1
(constituent)   phase 1 texture 199 fraction 1.0
[grain200]
crystallite 1
(constituent)   phase 1 texture 200 fraction 1.0
[grain201]
crystallite 1
(constituent)   phase 1 texture 201 fraction 1.0
[grain202]
crystallite 1
(constituent)   phase 1 texture 202 fraction 1.0
[grain203]
crystallite 1
(constituent)   phase 1 texture 203 fraction 1.0
[grain204]
crystallite 1
(constituent)   phase 1 texture 204 fraction 1.0
[grain205]
crystallite 1
(constituent)   phase 1 texture 205 fraction 1.0
[grain206]
crystallite 1
(constituent)   phase 1 texture 206 fraction 1.0
[grain207]
crystallite 1
(constituent)   phase 1 texture 207 fraction 1.0
[grain208]
crystallite 1
(constituent)   phase 1 texture 208 fraction 1.0
