#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              1.000000000000e-03
n_slip                  7.968300720600e+01
a_slip                  1.000000000000e+00
tau0_slip               4.365117776007e+05
tausat_slip             7.242929349889e+09
h0_slipslip             5.385706222653e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 240.588   Phi 136.607    phi2 184.497   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 14.034   Phi 69.388    phi2 315.117   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 322.466   Phi 93.231    phi2 260.562   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 304.116   Phi 129.707    phi2 319.068   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 183.340   Phi 112.497    phi2 208.521   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 339.328   Phi 135.583    phi2 324.766   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 285.369   Phi 63.727    phi2 246.381   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 190.443   Phi 118.388    phi2 167.985   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 98.538   Phi 54.010    phi2 265.919   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 334.998   Phi 66.823    phi2 188.945   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 189.200   Phi 141.037    phi2 39.187   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 83.347   Phi 47.469    phi2 131.440   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 225.526   Phi 156.277    phi2 186.544   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 185.787   Phi 107.969    phi2 236.428   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 3.149   Phi 80.402    phi2 148.410   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 164.401   Phi 88.334    phi2 177.049   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 341.724   Phi 109.649    phi2 115.064   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 173.777   Phi 70.673    phi2 336.499   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 44.903   Phi 104.353    phi2 224.700   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 74.725   Phi 49.913    phi2 44.931   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 25.085   Phi 102.000    phi2 164.948   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 8.837   Phi 137.238    phi2 46.737   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 134.765   Phi 92.923    phi2 52.145   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 87.396   Phi 101.518    phi2 331.413   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 29.742   Phi 126.428    phi2 143.201   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 221.766   Phi 128.583    phi2 222.563   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 96.627   Phi 33.279    phi2 13.093   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 115.863   Phi 71.498    phi2 156.757   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 321.114   Phi 62.868    phi2 57.768   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 51.296   Phi 84.309    phi2 129.880   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 12.630   Phi 118.104    phi2 236.592   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 335.746   Phi 106.187    phi2 174.415   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 24.606   Phi 131.078    phi2 135.511   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 66.650   Phi 92.945    phi2 263.048   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 0.551   Phi 86.262    phi2 99.088   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 122.702   Phi 84.444    phi2 224.009   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 65.057   Phi 127.832    phi2 321.220   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 306.180   Phi 79.816    phi2 134.779   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 232.878   Phi 84.171    phi2 345.574   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 147.016   Phi 135.574    phi2 91.941   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 80.440   Phi 123.072    phi2 270.395   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 13.685   Phi 22.982    phi2 157.128   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 226.716   Phi 69.095    phi2 200.282   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 94.733   Phi 28.409    phi2 33.692   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 306.099   Phi 54.351    phi2 69.306   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 56.974   Phi 120.362    phi2 234.146   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 345.057   Phi 128.571    phi2 124.315   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 126.518   Phi 130.041    phi2 62.241   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 116.159   Phi 83.114    phi2 17.695   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 327.633   Phi 142.567    phi2 319.411   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 115.324   Phi 51.892    phi2 136.227   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 234.776   Phi 158.966    phi2 126.379   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 226.245   Phi 103.509    phi2 222.992   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 311.963   Phi 160.762    phi2 329.484   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 27.717   Phi 91.912    phi2 203.345   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 273.431   Phi 177.199    phi2 91.587   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 162.435   Phi 77.146    phi2 110.817   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 107.116   Phi 116.430    phi2 86.411   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 302.911   Phi 145.751    phi2 122.095   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 34.783   Phi 111.300    phi2 231.600   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 270.537   Phi 44.044    phi2 143.391   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 160.566   Phi 59.794    phi2 284.098   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 180.199   Phi 125.328    phi2 315.196   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 42.251   Phi 73.903    phi2 323.575   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
