#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              0.0010
n_slip                  1.200000000000e+00
a_slip                  1.000000000000e+00
tau0_slip               1.000000000000e+06
tausat_slip             1.000000000000e+08
h0_slipslip             1.000000000000e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 107.618   Phi 123.834    phi2 157.209   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 350.265   Phi 107.267    phi2 214.604   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 78.230   Phi 109.425    phi2 286.744   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 145.403   Phi 63.050    phi2 236.156   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 38.770   Phi 60.384    phi2 36.262   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 135.533   Phi 132.921    phi2 20.812   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 225.925   Phi 115.725    phi2 35.443   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 350.192   Phi 89.704    phi2 20.976   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 148.473   Phi 33.258    phi2 208.998   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 283.083   Phi 101.164    phi2 122.709   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 341.375   Phi 47.202    phi2 104.569   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 42.254   Phi 59.822    phi2 315.745   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 266.783   Phi 105.426    phi2 82.097   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 24.521   Phi 154.592    phi2 112.665   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 18.089   Phi 53.471    phi2 322.186   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 251.239   Phi 142.945    phi2 125.737   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 300.529   Phi 103.818    phi2 178.313   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 135.406   Phi 33.844    phi2 249.592   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 102.968   Phi 65.369    phi2 307.404   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 263.874   Phi 114.733    phi2 344.687   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 152.178   Phi 100.746    phi2 0.734   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 245.114   Phi 54.277    phi2 110.046   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 30.150   Phi 103.782    phi2 277.948   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 263.519   Phi 65.632    phi2 193.894   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 334.891   Phi 35.721    phi2 47.101   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 215.488   Phi 127.627    phi2 275.868   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 129.180   Phi 58.057    phi2 296.677   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 204.914   Phi 85.483    phi2 42.390   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 180.694   Phi 69.282    phi2 292.887   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 9.871   Phi 141.615    phi2 283.005   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 66.386   Phi 53.324    phi2 47.258   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 8.370   Phi 114.421    phi2 226.067   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 153.819   Phi 45.624    phi2 356.367   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 285.901   Phi 166.926    phi2 325.334   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 58.758   Phi 43.018    phi2 182.627   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 207.885   Phi 78.493    phi2 116.559   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 175.873   Phi 104.169    phi2 328.956   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 285.386   Phi 77.828    phi2 233.081   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 186.725   Phi 72.880    phi2 347.446   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 28.650   Phi 90.646    phi2 72.904   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 267.554   Phi 69.170    phi2 173.568   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 282.417   Phi 105.708    phi2 37.340   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 153.602   Phi 126.585    phi2 298.466   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 239.191   Phi 79.116    phi2 19.448   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 68.667   Phi 41.832    phi2 166.240   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 66.273   Phi 88.129    phi2 173.431   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 133.961   Phi 126.965    phi2 77.096   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 349.283   Phi 167.477    phi2 195.270   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 214.901   Phi 71.260    phi2 41.596   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 16.154   Phi 66.369    phi2 267.904   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 152.108   Phi 150.145    phi2 43.813   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 213.126   Phi 126.521    phi2 200.734   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 315.776   Phi 68.018    phi2 334.815   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 212.669   Phi 101.559    phi2 78.327   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 312.911   Phi 74.795    phi2 156.995   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 354.790   Phi 77.068    phi2 309.660   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 137.355   Phi 138.558    phi2 169.216   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 110.640   Phi 100.064    phi2 147.337   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 91.999   Phi 144.631    phi2 351.150   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 34.219   Phi 82.134    phi2 85.577   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 241.849   Phi 44.032    phi2 167.229   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 162.475   Phi 82.079    phi2 349.936   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 266.780   Phi 99.351    phi2 245.937   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 174.284   Phi 117.645    phi2 149.473   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
