#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              5.721365982400e-02
n_slip                  2.278609510800e+01
a_slip                  7.877500609000e+00
tau0_slip               2.236306912535e+06
tausat_slip             3.470773168924e+09
h0_slipslip             1.000000000000e+10


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 182.850   Phi 56.696    phi2 321.887   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 24.256   Phi 33.272    phi2 54.746   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 314.238   Phi 123.062    phi2 328.652   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 199.432   Phi 133.665    phi2 138.298   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 29.545   Phi 168.820    phi2 157.159   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 129.009   Phi 118.350    phi2 247.722   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 231.164   Phi 60.776    phi2 60.345   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 327.988   Phi 50.533    phi2 99.856   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 164.384   Phi 139.517    phi2 168.340   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 271.548   Phi 65.208    phi2 50.852   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 25.496   Phi 130.164    phi2 145.138   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 227.747   Phi 45.595    phi2 339.149   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 49.613   Phi 94.433    phi2 3.709   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 166.999   Phi 72.438    phi2 194.528   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 267.086   Phi 107.709    phi2 161.988   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 282.578   Phi 146.648    phi2 316.905   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 248.144   Phi 76.543    phi2 97.788   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 22.521   Phi 117.162    phi2 19.337   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 208.162   Phi 45.418    phi2 212.679   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 268.334   Phi 45.572    phi2 112.901   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 85.081   Phi 110.320    phi2 42.707   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 356.203   Phi 61.301    phi2 274.803   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 339.501   Phi 31.489    phi2 84.310   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 163.415   Phi 130.515    phi2 336.890   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 116.999   Phi 147.146    phi2 103.216   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 275.524   Phi 121.869    phi2 114.303   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 66.487   Phi 49.633    phi2 355.337   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 349.709   Phi 145.514    phi2 149.196   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 233.380   Phi 56.970    phi2 247.331   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 337.205   Phi 103.145    phi2 21.804   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 277.254   Phi 61.215    phi2 207.186   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 67.038   Phi 101.230    phi2 42.635   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 60.250   Phi 52.796    phi2 6.496   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 170.518   Phi 66.850    phi2 71.260   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 209.970   Phi 69.412    phi2 39.840   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 9.922   Phi 79.512    phi2 109.289   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 91.396   Phi 66.335    phi2 188.615   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 297.337   Phi 149.260    phi2 233.459   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 271.681   Phi 95.131    phi2 218.573   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 295.982   Phi 104.920    phi2 311.565   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 116.265   Phi 75.407    phi2 320.412   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 206.643   Phi 112.330    phi2 4.492   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 47.299   Phi 60.015    phi2 166.466   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 167.002   Phi 154.731    phi2 106.935   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 124.077   Phi 110.299    phi2 148.875   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 4.447   Phi 166.495    phi2 165.537   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 24.323   Phi 95.636    phi2 191.857   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 303.075   Phi 43.526    phi2 118.437   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 58.945   Phi 53.426    phi2 317.009   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 298.881   Phi 97.830    phi2 201.398   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 178.622   Phi 77.032    phi2 346.911   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 208.618   Phi 149.344    phi2 89.827   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 41.726   Phi 81.467    phi2 353.912   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 294.140   Phi 142.533    phi2 290.058   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 280.618   Phi 157.256    phi2 226.885   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 294.566   Phi 38.990    phi2 145.310   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 128.581   Phi 126.104    phi2 250.604   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 138.142   Phi 72.850    phi2 83.077   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 237.135   Phi 53.084    phi2 152.372   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 98.186   Phi 25.231    phi2 70.015   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 73.805   Phi 108.740    phi2 272.321   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 321.661   Phi 99.696    phi2 260.760   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 305.430   Phi 64.918    phi2 276.401   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 197.900   Phi 72.924    phi2 167.595   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
