#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              5.673542767431e-02
n_slip                  6.761647988754e+01
a_slip                  1.422229458536e+00
tau0_slip               3.094861394163e+09
tausat_slip             3.101642081054e+06
h0_slipslip             2.178118603905e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 147.407   Phi 51.098    phi2 299.764   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 85.514   Phi 82.679    phi2 250.564   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 138.775   Phi 63.612    phi2 16.632   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 335.006   Phi 140.974    phi2 30.699   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 269.911   Phi 34.452    phi2 298.680   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 110.108   Phi 85.725    phi2 337.311   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 2.810   Phi 51.326    phi2 249.042   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 23.164   Phi 116.247    phi2 3.086   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 223.788   Phi 49.013    phi2 245.870   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 59.915   Phi 31.456    phi2 300.213   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 156.240   Phi 23.209    phi2 340.975   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 319.928   Phi 72.598    phi2 339.196   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 37.142   Phi 97.174    phi2 115.429   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 317.590   Phi 99.916    phi2 293.187   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 307.754   Phi 63.179    phi2 346.274   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 341.737   Phi 142.427    phi2 186.044   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 56.233   Phi 45.091    phi2 252.787   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 297.752   Phi 9.271    phi2 100.183   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 137.353   Phi 142.872    phi2 168.855   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 20.469   Phi 89.215    phi2 274.423   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 115.725   Phi 138.183    phi2 293.876   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 175.623   Phi 137.216    phi2 79.299   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 232.922   Phi 90.797    phi2 236.353   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 219.509   Phi 115.818    phi2 84.144   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 202.245   Phi 101.013    phi2 307.994   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 222.299   Phi 126.032    phi2 61.421   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 26.631   Phi 117.424    phi2 70.681   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 148.520   Phi 53.559    phi2 175.766   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 42.881   Phi 129.295    phi2 117.128   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 120.823   Phi 80.887    phi2 173.182   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 273.118   Phi 119.643    phi2 297.185   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 109.909   Phi 139.561    phi2 286.300   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 230.439   Phi 61.688    phi2 154.235   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 162.464   Phi 31.868    phi2 48.404   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 253.085   Phi 115.752    phi2 25.281   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 9.232   Phi 37.364    phi2 122.760   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 323.874   Phi 48.576    phi2 331.988   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 157.559   Phi 49.970    phi2 108.009   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 144.149   Phi 37.757    phi2 332.045   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 337.290   Phi 60.024    phi2 82.697   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 337.871   Phi 39.339    phi2 51.253   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 259.460   Phi 28.030    phi2 178.773   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 188.555   Phi 107.820    phi2 18.995   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 33.662   Phi 120.685    phi2 240.642   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 227.129   Phi 60.800    phi2 157.961   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 93.068   Phi 56.455    phi2 294.430   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 172.978   Phi 168.314    phi2 40.618   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 299.702   Phi 116.473    phi2 1.812   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 72.791   Phi 57.401    phi2 269.986   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 182.584   Phi 44.300    phi2 176.221   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 176.459   Phi 86.251    phi2 340.416   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 163.805   Phi 121.624    phi2 340.266   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 150.014   Phi 41.177    phi2 194.736   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 269.012   Phi 114.626    phi2 304.305   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 117.982   Phi 152.647    phi2 46.303   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 21.634   Phi 77.926    phi2 266.371   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 107.281   Phi 84.219    phi2 190.381   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 226.661   Phi 21.125    phi2 283.115   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 227.920   Phi 34.038    phi2 109.422   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 19.805   Phi 102.394    phi2 226.733   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 225.604   Phi 4.949    phi2 220.376   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 3.391   Phi 128.709    phi2 11.503   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 50.150   Phi 54.827    phi2 125.016   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 93.664   Phi 61.548    phi2 21.941   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
