#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              0.001
n_slip                  83.3
a_slip                  2.25
tau0_slip               95.e6
tausat_slip             222.e6
h0_slipslip             1.0e6


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 305.043   Phi 134.061    phi2 342.631   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 305.962   Phi 125.694    phi2 324.133   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 136.408   Phi 103.653    phi2 18.533   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 154.901   Phi 108.212    phi2 72.902   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 284.798   Phi 60.347    phi2 43.660   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 213.026   Phi 54.701    phi2 158.484   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 271.485   Phi 12.674    phi2 66.726   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 60.619   Phi 148.071    phi2 289.526   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 1.494   Phi 71.825    phi2 211.597   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 301.956   Phi 144.522    phi2 62.344   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 238.756   Phi 56.752    phi2 152.007   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 122.038   Phi 91.649    phi2 229.919   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 141.792   Phi 90.584    phi2 152.883   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 9.565   Phi 94.533    phi2 40.534   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 0.617   Phi 93.833    phi2 289.938   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 227.639   Phi 49.424    phi2 260.305   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 261.322   Phi 76.320    phi2 146.906   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 284.422   Phi 127.446    phi2 225.662   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 25.424   Phi 99.305    phi2 341.347   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 174.274   Phi 61.308    phi2 359.608   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 250.044   Phi 130.325    phi2 98.612   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 314.900   Phi 106.140    phi2 304.556   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 337.272   Phi 41.671    phi2 210.884   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 153.468   Phi 113.372    phi2 113.629   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 140.429   Phi 124.623    phi2 64.587   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 253.999   Phi 129.352    phi2 37.730   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 346.549   Phi 31.969    phi2 298.103   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 225.625   Phi 108.078    phi2 154.637   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 90.023   Phi 82.161    phi2 162.006   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 113.366   Phi 154.627    phi2 288.273   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 110.577   Phi 93.113    phi2 281.161   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 135.732   Phi 108.760    phi2 142.946   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 295.336   Phi 135.284    phi2 332.594   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 313.464   Phi 97.312    phi2 140.290   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 69.560   Phi 115.203    phi2 99.247   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 235.267   Phi 146.587    phi2 356.640   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 75.321   Phi 92.304    phi2 314.751   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 313.938   Phi 134.985    phi2 252.460   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 10.650   Phi 108.122    phi2 141.239   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 40.822   Phi 50.530    phi2 160.979   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 171.114   Phi 75.320    phi2 283.199   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 338.408   Phi 16.484    phi2 219.151   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 130.458   Phi 68.128    phi2 127.118   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 41.152   Phi 130.057    phi2 171.578   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 304.504   Phi 32.767    phi2 241.034   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 68.121   Phi 91.596    phi2 99.420   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 188.383   Phi 160.748    phi2 248.561   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 99.059   Phi 93.556    phi2 230.475   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 283.843   Phi 90.099    phi2 38.717   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 193.405   Phi 146.023    phi2 171.700   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 110.364   Phi 77.382    phi2 50.421   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 252.113   Phi 89.106    phi2 155.062   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 175.304   Phi 161.452    phi2 201.729   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 62.243   Phi 121.689    phi2 321.920   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 229.629   Phi 88.452    phi2 78.797   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 111.989   Phi 39.692    phi2 190.677   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 155.325   Phi 55.055    phi2 336.297   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 344.886   Phi 101.197    phi2 6.444   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 153.473   Phi 27.971    phi2 202.076   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 167.315   Phi 26.829    phi2 106.253   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 309.956   Phi 101.520    phi2 120.121   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 194.574   Phi 29.853    phi2 194.761   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 258.996   Phi 57.630    phi2 60.545   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 189.528   Phi 97.323    phi2 266.106   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
