#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 161.941   Phi 98.229    phi2 16.388   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 155.644   Phi 162.278    phi2 29.392   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 321.766   Phi 38.779    phi2 276.382   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 352.319   Phi 95.527    phi2 58.129   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 266.561   Phi 14.620    phi2 264.446   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 190.244   Phi 75.225    phi2 8.260   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 62.826   Phi 122.041    phi2 88.364   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 352.720   Phi 105.887    phi2 236.956   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 35.890   Phi 145.901    phi2 235.495   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 349.734   Phi 59.289    phi2 89.128   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 185.052   Phi 57.722    phi2 146.633   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 69.722   Phi 142.526    phi2 60.056   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 136.693   Phi 59.637    phi2 49.029   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 306.310   Phi 103.871    phi2 18.795   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 33.953   Phi 55.765    phi2 22.827   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 198.814   Phi 140.892    phi2 130.869   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 51.767   Phi 64.454    phi2 193.684   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 313.838   Phi 120.327    phi2 139.111   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 10.557   Phi 57.293    phi2 96.183   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 291.155   Phi 57.819    phi2 327.300   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 241.698   Phi 54.283    phi2 47.877   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 252.699   Phi 127.251    phi2 155.660   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 269.106   Phi 102.574    phi2 73.960   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 335.591   Phi 116.496    phi2 188.434   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 36.305   Phi 103.722    phi2 262.359   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 233.716   Phi 105.284    phi2 78.252   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 314.877   Phi 32.093    phi2 277.714   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 303.178   Phi 82.119    phi2 169.387   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 249.349   Phi 92.302    phi2 133.177   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 331.118   Phi 47.717    phi2 156.806   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 214.768   Phi 104.904    phi2 111.749   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 44.248   Phi 99.686    phi2 223.924   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 270.368   Phi 5.849    phi2 229.762   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 137.917   Phi 121.820    phi2 87.490   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 51.666   Phi 107.345    phi2 326.616   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 39.653   Phi 82.568    phi2 157.171   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 248.515   Phi 93.849    phi2 5.353   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 113.961   Phi 133.179    phi2 68.200   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 38.061   Phi 102.393    phi2 124.026   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 168.639   Phi 57.316    phi2 84.419   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 33.980   Phi 28.888    phi2 85.241   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 207.669   Phi 10.281    phi2 51.086   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 219.788   Phi 105.049    phi2 127.458   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 8.407   Phi 55.185    phi2 285.286   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 334.412   Phi 87.541    phi2 228.627   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 238.160   Phi 123.416    phi2 289.561   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 290.706   Phi 63.865    phi2 79.880   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 125.568   Phi 53.234    phi2 63.412   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 334.490   Phi 9.809    phi2 24.912   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 21.249   Phi 124.053    phi2 187.268   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 138.164   Phi 131.951    phi2 89.660   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 71.933   Phi 152.625    phi2 172.468   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 318.306   Phi 142.865    phi2 99.592   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 221.819   Phi 82.791    phi2 297.893   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 7.418   Phi 42.296    phi2 92.098   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 185.043   Phi 61.625    phi2 48.343   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 235.849   Phi 74.117    phi2 131.006   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 126.465   Phi 123.264    phi2 271.134   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 89.297   Phi 125.664    phi2 80.294   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 257.420   Phi 125.619    phi2 164.696   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 44.240   Phi 104.581    phi2 97.054   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
