#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 327.851   Phi 61.015    phi2 76.064   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 135.100   Phi 94.490    phi2 225.773   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 293.965   Phi 58.211    phi2 218.577   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 114.283   Phi 162.859    phi2 32.838   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 317.079   Phi 59.403    phi2 343.061   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 15.417   Phi 85.800    phi2 313.882   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 125.631   Phi 92.799    phi2 157.015   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 165.492   Phi 29.004    phi2 276.079   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 298.632   Phi 153.970    phi2 49.978   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 84.517   Phi 45.058    phi2 176.323   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 332.280   Phi 50.807    phi2 116.400   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 136.915   Phi 20.520    phi2 192.665   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 98.878   Phi 71.499    phi2 285.056   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 152.063   Phi 131.702    phi2 52.626   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 103.414   Phi 62.103    phi2 69.884   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 143.875   Phi 107.074    phi2 137.011   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 252.979   Phi 17.090    phi2 29.592   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 93.647   Phi 82.396    phi2 99.724   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 88.844   Phi 44.880    phi2 168.026   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 355.324   Phi 35.636    phi2 213.134   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 242.439   Phi 150.077    phi2 221.770   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 52.333   Phi 40.783    phi2 116.119   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 232.463   Phi 105.687    phi2 295.687   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 181.435   Phi 96.853    phi2 0.188   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 148.987   Phi 160.774    phi2 46.071   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 34.596   Phi 42.118    phi2 250.011   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 236.907   Phi 118.041    phi2 172.574   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 64.094   Phi 52.052    phi2 113.820   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 40.732   Phi 71.197    phi2 22.173   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 166.252   Phi 49.361    phi2 193.347   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 55.600   Phi 121.312    phi2 123.524   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 27.456   Phi 63.397    phi2 297.624   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 134.988   Phi 87.598    phi2 118.424   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 152.088   Phi 73.432    phi2 290.049   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 159.486   Phi 146.344    phi2 231.311   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 205.360   Phi 21.568    phi2 212.278   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 241.745   Phi 66.113    phi2 220.189   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 21.964   Phi 20.853    phi2 101.187   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 285.479   Phi 34.138    phi2 126.566   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 3.160   Phi 81.001    phi2 202.748   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 297.757   Phi 131.935    phi2 4.158   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 323.220   Phi 61.579    phi2 139.151   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 321.627   Phi 107.360    phi2 315.736   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 292.005   Phi 39.806    phi2 130.289   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 270.080   Phi 138.287    phi2 258.142   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 261.275   Phi 110.381    phi2 338.479   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 187.095   Phi 106.288    phi2 165.937   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 32.899   Phi 114.623    phi2 279.385   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 246.919   Phi 135.827    phi2 209.797   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 316.338   Phi 133.692    phi2 8.969   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 264.643   Phi 131.715    phi2 67.241   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 193.742   Phi 79.055    phi2 356.119   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 243.139   Phi 87.077    phi2 96.997   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 317.461   Phi 134.519    phi2 112.479   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 95.150   Phi 144.339    phi2 357.728   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 162.085   Phi 112.346    phi2 136.521   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 338.780   Phi 131.881    phi2 304.765   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 265.522   Phi 63.959    phi2 240.477   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 29.418   Phi 43.410    phi2 311.914   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 111.134   Phi 91.384    phi2 63.073   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 208.975   Phi 20.936    phi2 206.741   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 177.667   Phi 13.188    phi2 351.582   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 262.784   Phi 174.632    phi2 303.825   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 136.224   Phi 98.532    phi2 128.310   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 49.066   Phi 149.434    phi2 299.951   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 9.068   Phi 71.096    phi2 193.379   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 358.897   Phi 68.113    phi2 42.537   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 96.107   Phi 117.669    phi2 344.087   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 321.117   Phi 91.650    phi2 312.230   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 214.817   Phi 59.579    phi2 28.068   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 138.136   Phi 80.371    phi2 220.732   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 236.908   Phi 80.605    phi2 69.540   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 15.323   Phi 95.307    phi2 180.388   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 326.535   Phi 54.563    phi2 238.829   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 316.583   Phi 52.752    phi2 176.535   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 101.538   Phi 61.494    phi2 205.939   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 273.466   Phi 72.228    phi2 94.835   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 134.327   Phi 31.867    phi2 187.771   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 29.172   Phi 53.063    phi2 105.157   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 313.895   Phi 127.831    phi2 342.214   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 52.875   Phi 128.013    phi2 320.603   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 320.866   Phi 138.483    phi2 3.040   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 8.117   Phi 168.103    phi2 355.895   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 227.124   Phi 109.860    phi2 147.330   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 298.003   Phi 109.373    phi2 107.755   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 159.486   Phi 146.344    phi2 231.311   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 176.592   Phi 150.457    phi2 163.381   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 324.172   Phi 18.148    phi2 134.101   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 345.854   Phi 97.893    phi2 61.829   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 291.839   Phi 142.911    phi2 338.281   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 48.994   Phi 58.131    phi2 261.142   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 278.415   Phi 89.961    phi2 60.842   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 67.124   Phi 23.275    phi2 20.781   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 36.339   Phi 78.242    phi2 152.910   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 182.784   Phi 80.107    phi2 61.911   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 301.900   Phi 54.524    phi2 42.538   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 55.600   Phi 121.312    phi2 123.524   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 161.633   Phi 80.496    phi2 158.978   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 103.323   Phi 89.681    phi2 206.065   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
