#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[cpTi-alpha]
plasticity	phenopowerlaw
elasticity	hooke

# (output)                resistance_slip
# (output)                shearrate_slip
# (output)                resolvedstress_slip
# (output)                totalshear
# (output)                resistance_twin
# (output)                shearrate_twin
# (output)                resolvedstress_twin
# (output)                totalvolfrac_twin

lattice_structure	hex
covera_ratio	1.587

# M. Levy, Handbook of Elastic Properties of Solids, Liquids, and Gases (2001)
c11	160.0e9
c12	 90.0e9
c13	 66.0e9
c33	181.7e9
c44	 46.5e9
# C. Zambaldi, "Orientation informed nanoindentation of a-titanium: Indentation pileup in hexagonal metals deforming by prismatic slip", J. Mater. Res., Vol. 27, No. 1, Jan 14, 2012
gdot0_slip	0.001
n_slip	20
nslip	            3        3 0        6 0 0
tau0_slip	  349.3e6    150e6 0 1107.9e6 0 0
tausat_slip	  568.6e6 1502.2e6 0 3420.1e6 0 0
a_slip	2
ntwin	0 0 0 0
gdot0_twin	0.001 0 0 0
n_twin	20
tau0_twin	31e6 0 0 0 0
s_pr	0
twin_b	0
twin_c	0
twin_d	0
twin_e	0
h0_slipslip	15e6
h0_twinslip	15e6
h0_twintwin	15e6
atol_resistance	1
#atol_shear	1e-6
#atol_twinfrac	1e-7

interaction_slipslip	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_sliptwin	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twinslip	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twintwin	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
#nonschmid_coefficients	0
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 90.865   Phi 86.680    phi2 76.838   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 188.526   Phi 71.419    phi2 87.535   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 258.559   Phi 106.965    phi2 344.440   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 191.935   Phi 94.231    phi2 352.498   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 191.352   Phi 96.140    phi2 273.840   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 288.390   Phi 23.871    phi2 253.054   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 257.567   Phi 16.155    phi2 284.053   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 233.654   Phi 163.812    phi2 230.071   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 191.352   Phi 96.140    phi2 273.840   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 274.160   Phi 61.785    phi2 3.811   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 201.703   Phi 75.285    phi2 149.261   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 280.090   Phi 98.010    phi2 274.685   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 205.861   Phi 163.869    phi2 312.181   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 343.777   Phi 14.893    phi2 293.009   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 353.521   Phi 171.638    phi2 98.488   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 90.457   Phi 165.552    phi2 106.581   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 358.431   Phi 80.428    phi2 89.980   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 58.549   Phi 165.313    phi2 332.814   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 257.567   Phi 16.155    phi2 284.053   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 354.710   Phi 95.331    phi2 163.645   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 273.939   Phi 74.793    phi2 99.698   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 159.308   Phi 167.155    phi2 178.607   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 42.000   Phi 10.203    phi2 124.464   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 125.108   Phi 75.978    phi2 145.613   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 78.303   Phi 92.459    phi2 2.288   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 269.552   Phi 92.679    phi2 350.912   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 13.637   Phi 93.397    phi2 10.675   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 94.190   Phi 88.516    phi2 276.937   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 258.559   Phi 106.965    phi2 344.440   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 177.417   Phi 77.395    phi2 99.893   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 31.082   Phi 2.728    phi2 226.862   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 91.155   Phi 81.018    phi2 341.277   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 175.701   Phi 81.431    phi2 357.419   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 335.986   Phi 167.675    phi2 326.391   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 0.326   Phi 96.825    phi2 189.009   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 96.396   Phi 90.932    phi2 279.022   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 257.567   Phi 16.155    phi2 284.053   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 47.511   Phi 166.997    phi2 137.619   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 261.871   Phi 20.326    phi2 94.291   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 341.541   Phi 156.951    phi2 347.500   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 267.191   Phi 103.109    phi2 255.676   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 272.151   Phi 90.451    phi2 91.281   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 180.987   Phi 100.073    phi2 186.168   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 345.426   Phi 48.005    phi2 147.208   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 51.011   Phi 164.131    phi2 219.558   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 12.723   Phi 178.626    phi2 197.063   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 60.877   Phi 165.218    phi2 247.407   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 344.790   Phi 171.812    phi2 263.228   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 270.861   Phi 85.014    phi2 359.069   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 169.776   Phi 79.512    phi2 260.457   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 84.758   Phi 4.852    phi2 173.715   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 110.385   Phi 78.203    phi2 355.577   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 269.762   Phi 112.975    phi2 88.345   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 253.569   Phi 89.262    phi2 177.944   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 90.457   Phi 165.552    phi2 106.581   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 73.311   Phi 144.366    phi2 99.499   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
