#-------------------#
<homogenization>
#-------------------#

[dummy]
mech			isostrain
type			none
nconstituents	1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[Aluminum_Isotropic]
# Kuo, J. C., Mikrostrukturmechanik von Bikristallen mit Kippkorngrenzen. Shaker-Verlag 2004. http://edoc.mpg.de/204079

elasticity	hooke
plasticity	isotropic

# (output) flowstress
# (output) strainrate

lattice_structure isotropic

c11		110.9e9
c12		58.34e9
m		3
tau0		31e6
gdot0		0.001
n		20
h0		75e6
tausat		63e6
a		2.25
atol_resistance	1
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 256.516   Phi 147.960    phi2 31.636   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 148.699   Phi 117.013    phi2 122.134   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 103.818   Phi 31.018    phi2 212.482   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 277.046   Phi 139.811    phi2 229.160   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 88.843   Phi 29.413    phi2 49.108   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 96.022   Phi 28.111    phi2 313.624   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 43.339   Phi 113.991    phi2 337.134   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 266.855   Phi 152.097    phi2 309.047   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 141.419   Phi 110.596    phi2 207.060   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 227.202   Phi 61.237    phi2 22.594   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 321.591   Phi 66.103    phi2 333.541   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 83.007   Phi 28.247    phi2 321.807   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 319.413   Phi 68.923    phi2 155.992   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 86.926   Phi 33.979    phi2 317.828   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 268.422   Phi 153.522    phi2 304.191   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 324.133   Phi 72.554    phi2 60.104   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 35.272   Phi 117.307    phi2 56.045   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 38.321   Phi 122.086    phi2 336.956   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 225.687   Phi 65.867    phi2 115.255   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 320.718   Phi 69.758    phi2 56.053   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 318.297   Phi 69.217    phi2 156.984   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 141.537   Phi 104.432    phi2 205.243   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 50.753   Phi 111.828    phi2 254.419   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 47.707   Phi 114.716    phi2 249.796   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 43.961   Phi 110.029    phi2 68.069   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 147.338   Phi 104.549    phi2 209.017   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 325.246   Phi 69.815    phi2 239.672   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 225.012   Phi 65.885    phi2 201.724   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 81.630   Phi 28.826    phi2 145.102   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 143.498   Phi 108.251    phi2 117.918   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 272.830   Phi 145.104    phi2 43.776   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 43.339   Phi 113.991    phi2 337.134   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 97.648   Phi 35.618    phi2 133.736   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 259.928   Phi 145.631    phi2 302.861   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 101.732   Phi 36.195    phi2 307.789   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 325.165   Phi 60.937    phi2 326.857   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 148.507   Phi 109.414    phi2 214.402   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 224.992   Phi 68.960    phi2 293.192   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 319.413   Phi 68.923    phi2 155.992   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 148.393   Phi 114.598    phi2 290.387   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 319.413   Phi 68.923    phi2 155.992   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 78.295   Phi 28.936    phi2 55.876   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 38.946   Phi 117.474    phi2 155.630   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 141.542   Phi 113.793    phi2 301.082   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 222.103   Phi 71.275    phi2 290.045   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 321.732   Phi 66.263    phi2 242.471   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 138.705   Phi 111.620    phi2 25.377   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 263.557   Phi 151.420    phi2 307.911   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 80.931   Phi 39.406    phi2 233.983   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 271.374   Phi 147.386    phi2 128.030   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 319.462   Phi 74.782    phi2 337.891   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 319.413   Phi 68.923    phi2 155.992   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 85.934   Phi 40.392    phi2 137.186   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 35.272   Phi 117.307    phi2 56.045   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 37.797   Phi 115.586    phi2 153.480   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 325.407   Phi 64.376    phi2 69.704   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 325.165   Phi 60.937    phi2 326.857   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 43.620   Phi 113.239    phi2 72.745   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
