#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 20.304   Phi 52.793    phi2 223.979   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 333.147   Phi 147.247    phi2 30.580   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 173.163   Phi 132.368    phi2 355.458   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 249.227   Phi 123.225    phi2 127.428   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 147.355   Phi 167.587    phi2 192.169   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 202.935   Phi 38.158    phi2 49.017   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 50.189   Phi 75.643    phi2 50.628   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 177.422   Phi 122.889    phi2 272.279   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 270.811   Phi 153.464    phi2 283.148   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 268.043   Phi 139.185    phi2 281.110   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 203.624   Phi 33.643    phi2 291.013   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 36.429   Phi 155.517    phi2 129.541   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 355.758   Phi 94.099    phi2 166.221   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 287.652   Phi 139.859    phi2 16.127   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 100.674   Phi 46.603    phi2 233.144   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 250.658   Phi 157.602    phi2 129.232   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 98.560   Phi 33.463    phi2 107.845   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 229.167   Phi 111.834    phi2 238.638   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 210.755   Phi 132.936    phi2 359.759   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 181.785   Phi 134.584    phi2 30.929   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 284.309   Phi 125.866    phi2 291.804   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 39.304   Phi 121.735    phi2 229.939   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 199.327   Phi 149.187    phi2 168.061   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 335.281   Phi 121.718    phi2 307.534   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 79.021   Phi 114.698    phi2 271.166   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 283.344   Phi 134.204    phi2 264.253   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 62.134   Phi 45.085    phi2 275.338   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 271.168   Phi 131.238    phi2 228.272   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 132.134   Phi 64.174    phi2 92.508   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 119.261   Phi 77.528    phi2 327.789   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 21.113   Phi 82.016    phi2 316.273   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 39.534   Phi 121.097    phi2 27.997   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 268.056   Phi 50.358    phi2 184.369   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 36.544   Phi 136.545    phi2 349.181   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 322.923   Phi 87.939    phi2 8.807   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 328.750   Phi 100.307    phi2 182.708   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 92.435   Phi 103.036    phi2 332.493   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 38.945   Phi 74.205    phi2 240.131   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 185.353   Phi 88.146    phi2 12.097   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 220.650   Phi 86.139    phi2 177.169   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 121.816   Phi 33.065    phi2 322.741   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 59.893   Phi 107.273    phi2 159.906   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 276.774   Phi 96.340    phi2 224.604   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 79.777   Phi 57.719    phi2 69.715   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 230.147   Phi 69.349    phi2 60.333   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 344.975   Phi 104.625    phi2 18.464   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 147.387   Phi 11.113    phi2 206.577   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 50.755   Phi 22.044    phi2 308.971   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 129.695   Phi 87.795    phi2 139.377   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
