.foswikiFormSteps .jqTabPane{margin:0}.jqTabLabel{display:none}.jqTabPane form{margin:0;padding:0}.jqTab{display:none;border:1px solid #bdbec5;padding:0;margin:0}.foswikiNoJs .jqTab{display:block;border:0}.jqTab.current{display:block}.jqTabContents{padding:1em}.foswikiNoJs .jqTabContents{padding:0}ul.jqTabGroup{margin:0;padding:0;list-style:none;display:block;float:left;overflow:visible!important;position:relative;bottom:-1px}ul.jqTabGroup li{float:left;list-style:none;position:relative}ul.jqTabGroup li.current{z-index:1}ul.jqTabGroup a:hover,ul.jqTabGroup a{text-decoration:none;white-space:nowrap;float:left;display:block;text-shadow:0 1px #fff}.foswikiFormSteps ul.jqTabGroup li.current{background-color:inherit}.jqTabPane .fltMakeIndexWrapper{margin:0}.jqAjaxLoader{background:url(/pub/System/JQueryPlugin/images/spinner.gif) 0 0 no-repeat;height:16px;width:16px;display:block}.jqTabPaneDefault>.jqTabGroup li{background-color:transparent;background-image:url(/pub/System/JQueryPlugin/plugins/tabpane/tab_right.png);background-repeat:no-repeat;background-position:right top;padding:0 3px 0 0;margin:0 4px 0 0;*margin:5px 4px -6px 0;height:28px}.jqTabPaneDefault>.jqTabGroup a:hover,.jqTabPaneDefault>.jqTabGroup a{background-color:transparent;background-image:url(/pub/System/JQueryPlugin/plugins/tabpane/tab_left.png);background-repeat:no-repeat;background-position:left top;color:#111;margin:0;padding:5px 8px 0 18px;height:23px;font-size:12px;line-height:100%}.jqTabPaneDefault>.jqTabGroup li.current{background-image:url(/pub/System/JQueryPlugin/plugins/tabpane/tab_right_on.png);background-color:#fff;background-repeat:no-repeat;background-position:right top}.jqTabPaneDefault>.jqTabGroup li.current a:hover,.jqTabPaneDefault>.jqTabGroup li.current a{background-image:url(/pub/System/JQueryPlugin/plugins/tabpane/tab_left_on.png);background-repeat:no-repeat;background-position:left top;color:#333}.jqTabPaneDefault>.jqTabGroup a:hover,.jqTabPaneDefault>.jqTabGroup a:focus{color:#c60206}.jqTabPane>.jqTabGroup a.error{color:#c60206}.jqTabPane.jqStatic .jqTab{display:block!important;border:0;padding:0}.jqTabPane.jqStatic .jqTabContents{padding:0}.jqTabPane.jqStatic .jqAjaxTab{display:none}.jqTabPane.jqStatic .jqTabLabel{margin:1em 0;display:block}@media print{.jqTabPane .jqTab{display:block!important;border:0;padding:0}.jqTabPane .jqTabContents{padding:0}.jqTabPane .jqAjaxTab{display:none}.jqTabLabel{margin:1em 0;display:block}}.jqTabPanePlain>.jqTabGroup li,.jqTabPaneSimple>.jqTabGroup li{background:transparent;margin:0 .4615em 0 0;*height:2.3077em}.jqTabPanePlain>.jqTabGroup li.current a,.jqTabPaneSimple>.jqTabGroup li.current a{background:#fff;border-bottom:1px solid #fff}.jqTabPanePlain>.jqTabGroup a:hover,.jqTabPanePlain>.jqTabGroup a,.jqTabPaneSimple>.jqTabGroup a:hover,.jqTabPaneSimple>.jqTabGroup a{background:#eee;border:1px solid #ccc;color:inherit;*color:#111;padding:5px 10px}.jqTabPanePlain>.jqTabGroup a:hover,.jqTabPaneSimple>.jqTabGroup a:hover{color:#c60206}.jqTabPanePlain .jqTab{border-left:0;border-right:0;border-bottom:0;border-top-color:#ccc}.jqTabPanePlain .jqTabContents{padding:1em 0 0 0}.imageThumb,.imageFrame,.imageFloat,.imageSimple{line-height:120%}.imageThumb,.imageFrame,.imageFloat{font-size:90%;overflow:hidden}.imageFrame{padding:3px;border:1px solid #ccc;background-color:#f9f9f9;display:inline-block}.imageThumb{padding:3px;display:inline-block}a.imageHref{border:0;background-image:none!important;text-decoration:none!important}a:hover.imageHref{background-color:transparent!important;text-decoration:none!important}.imageFrame .imageHref{border:1px solid #ccc;display:block;overflow:hidden}.imageThum img,.imageFrame img{border-right:1px solid transparent}.imageThumb .imageHref{display:block;overflow:hidden}.imageSimple{overflow:visible;display:inline-block;position:relative}.imageThumb_right,.imagePlain_right,.imageFloat_right,.imageSimple_right,.imageFrame_right{float:right;margin:0 0 1em 1em}.imageThumb_left,.imagePlain_left,.imageSimple_left,.imageFrame_left,.imageFloat_left{float:left;margin:0 1em 1em 0}.imagePlain_center,.imageThumb_center,.imageSimple_center,.imageFrame_center,.imageFloat_center{text-align:center;clear:both;margin:0 auto;display:block}.imageThumb_center,.imageFrame_center{margin:1em auto}.imageThumb_none,.imageFrame_none{margin:1em}.imageCaption{text-align:left;color:#444;line-height:140%;font-size:80%;padding:.3em 2px}.imageMagnify{float:right;margin:.3em 0}.imageCaption .imageMagnify a{text-decoration:none}.imageSimple .imageCaption{position:absolute;width:100%;bottom:0;box-sizing:border-box;overflow:hidden}.imageSimple .imageCaptionBackground{background:#000;opacity:.3;position:absolute;top:0;left:0;width:100%;height:100%}.imageSimple .imageCaptionContent{color:#fff;text-align:center;z-index:2;position:relative}.imageMagnify img{border:0;margin:0 1px}.imageResponsive{max-width:100%;height:auto}.smily{max-height:19px;vertical-align:text-bottom}.jqtp_sortable th.header{background-image:url(/pub/System/JQTablePlugin/bg.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer;padding-right:21px}.jqtp_sortable th.headerSortUp{background-image:url(/pub/System/JQTablePlugin/asc.gif)}.jqtp_sortable th.headerSortDown{background-image:url(/pub/System/JQTablePlugin/desc.gif)}.jqtp_sortable .sorted{background-image:url(/pub/System/JQTablePlugin/opacity.png)}.comment_placeholder{background-color:rgba(222,235,250,0.3)}.clsCategoryFactory{margin-bottom:10px}.clsCatSelector{margin:5px 0}.clsCatSelector h3 a{color:inherit}.clsCatSelector h3 a:hover{color:#fff}.jqHierarchy{position:relative}.jqHierarchy label.error{position:absolute;bottom:0;right:0}.jqHierarchyButtons{position:relative;float:right;line-height:30px;margin:-5px -5px 0 0}.jqHierarchyButtons .jqHierarchySearchField{width:14em}.jstree-count{margin-left:.3em}.jqTopicCreator .jqHierarchyButtons{display:none}.jqHierarchy a,.clsBrowser a{text-decoration:none!important}.clsBrowser a.foswikiCurrentTopicLink{color:red}.clsBrowser .treeview li{padding:1px 0 1px 20px;border:0}.clsTag{padding:1px 15px 2px 5px;border:1px solid #cad8f3;margin:0 5px 5px 0;background:#dee7f8;float:left;position:relative}.clsTagClose{background-color:inherit;background-image:url(/pub/System/ClassificationPlugin/close.gif);background-repeat:no-repeat;margin:0;height:7px;width:7px;position:absolute;right:4px;top:35%;display:block;overflow:hidden;font-size:1px}a.clsTagClose:hover{background-color:transparent;background-position:0 -7px;background-image:url(/pub/System/ClassificationPlugin/close.gif);background-repeat:no-repeat}.clsTagCloud{margin:10px 0;text-align:center;line-height:normal}.clsTagCloud a{padding:0 5px;text-decoration:none}.clsTagSelector .jqButton{margin:0 0 0 8px}.tagCloud a:hover,.clsBrowser .current,.clsTagCloud a:hover,.clsTagCloud .hilite,.clsTagCloud .current{background-color:#06c!important;color:white!important;text-decoration:none;_display:inline}.clsIconSelector,.clsBrowser,#clsTagSelector .clsTagCloud{padding:5px;border:1px solid #ddd}.clsBrowser ul li{list-style-image:none}.clsBrowser ul li a:hover,.clsBrowser ul li a{background-image:none;padding:0}.clsBrowser li a img{padding-right:2px}.clsSideBar.clsBrowser{border:0;padding:0;margin-bottom:0}.foswikiFormSteps .clsTagCloudInput{margin:0}.clsSideBar ul ul{border:0;margin-bottom:.5em}.clsSideBar ul ul li{border:0;margin:0 0 0 1.5em}.clsSideBar ul ul li a:hover,.clsSideBar ul ul li a{padding:0;margin:0;display:inline}#clsByCategory ul li a:hover,#clsByCategory ul li a{padding-left:2.5em;background-position:1em 50%;background-repeat:no-repeat;font-weight:bold}#clsByCategory ul ul li a:hover,#clsByCategory ul ul li a{font-weight:normal;background-image:none!important;padding-left:0}#clsByTopicType ul{list-style-type:inherit;margin:.5em 0;border:0}#clsByTopicType ul li{border:0;margin:0 0 0 1.5em;padding:0}#clsByTopicType ul li a{display:inline;margin:0;padding:0}.clsIconSelector label{padding:0;margin:0}.clsButtonBox{margin:5px 0}.clsTagSelector table td.clsButtonBox{width:10em}.clsTagSelector table td.clsTagContainer{width:99%;_width:auto}.clsTagSelector table td{padding:0;width:5em}.clsTagSelector table th{padding:1px 5px 2px 0;_width:3em}.clsTagSelector table{margin:5px 0;font-size:13px}#clsNewCategory,#clsNewTopic{margin-bottom:.5em}#clsNewCategory table,#clsNewTopic table{margin:0}.clsTagCloud .typed{background:pink}.clsIndexItem{margin-bottom:1em}.clsTopicItem{background-repeat:no-repeat}.clsTopicItem .imageSimple,.clsTopicItem .imagePlain{background:white}.clsTopicItem .imageSimple_left,.clsTopicItem .imagePlain_left{margin:4px 1em 4px 0}.clsTopicItem .imageSimple_right,.clsTopicItem .imagePlain_right{margin:4px 0 4px 1em}.clsIndexItem .fa{font-size:110%;margin-right:2px}.clsIndexItem .clsLikeInfo .jqIcon{margin:inherit}.clsCategoryLink:hover,.clsCategoryLink{padding:1px 0 1px 20px!important;background-position:0 0!important;background-repeat:no-repeat!important}.clsFilterForm .foswikiFormSteps{border-width:1px 0;margin:1.5em 0 0}.clsFilterForm .foswikiFormStep{float:left;margin:.5em 2em .5em .5em}.clsFilterForm .foswikiFormStep h3,.clsFilterForm .foswikiFormStep h4{display:inline;font-weight:bold;text-decoration:none;border:0;font-style:normal}a.clsTopicInfoMoreClicked:hover{background-color:transparent}a.tag_todo,span.tag_todo{background-color:#fbe3e4!important;color:#b22222!important;border-color:#e2adb0!important}a:hover.tag_todo{background-color:#b22222!important;color:#fff!important;border-color:#b22222!important}.clsHilight{background-color:#ffffc0;color:black}.clsWorkflowInfo select{margin-right:1em}.clsWorkflowMessage:before{display:inline-block;margin:0 8px 0 0;font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:none}.clsWorkflowState.approved,.clsWorkflowState.approved a{color:green}.clsWorkflowState.approved .clsWorkflowMessage:before{content:"\f058"}.clsWorkflowState.draft,.clsWorkflowState.draft a{color:red}.clsWorkflowState.draft .clsWorkflowMessage:before{content:"\f071"}.clsWorkflowState.rejected,.clsWorkflowState.rejected a{color:#b22222}.clsWorkflowState.rejected .clsWorkflowMessage:before{content:"\f165"}.clsWorkflowState.submitted,.clsWorkflowState.submitted a{color:#f90}.clsWorkflowState.submitted .clsWorkflowMessage:before{content:"\f013"}.clsWorkflowState.outdated,.clsWorkflowState.outdated a{color:#b22222}.clsWorkflowState.outdated .clsWorkflowMessage:before{content:"\f1f8"}#patternMainContents h1 a,#patternMainContents h2 a,#patternMainContents h3 a,#patternMainContents h4 a,#patternMainContents h5 a,#patternMainContents h6 a{text-decoration:none!important}#patternMainContents h1 .foswikiTopicSummary{font-size:65%;line-height:1.5;color:#a1a1a1}#patternMainContents .foswikiTopicInfo{margin-bottom:2em}#patternMainContents .foswikiTopicInfo h1{margin:.5em 0;border-bottom:1px solid #dfdfdf}#patternMainContents .foswikiTopicInfo,#patternMainContents .foswikiTopicInfo a{color:#a1a1a1}#patternMainContents .foswikiTopicInfo h1 a{color:inherit}.patternTop .patternRevInfo{display:none}.foswikiNoJs .foswikiMakeVisible,.foswikiNoJs .foswikiMakeVisibleInline,.foswikiNoJs .foswikiMakeVisibleBlock{display:none}.foswikiMakeVisible{display:inline}a.foswikiMakeVisible,p.foswikiMakeVisible,h1.foswikiMakeVisible,h2.foswikiMakeVisible,h3.foswikiMakeVisible,h4.foswikiMakeVisible,h5.foswikiMakeVisible,h6.foswikiMakeVisible,dl.foswikiMakeVisible,dt.foswikiMakeVisible,dd.foswikiMakeVisible,ol.foswikiMakeVisible,ul.foswikiMakeVisible,li.foswikiMakeVisible,address.foswikiMakeVisible,blockquote.foswikiMakeVisible,center.foswikiMakeVisible,del.foswikiMakeVisible,div.foswikiMakeVisible,form.foswikiMakeVisible,hr.foswikiMakeVisible,ins.foswikiMakeVisible,noscript.foswikiMakeVisible,pre.foswikiMakeVisible,table.foswikiMakeVisible{display:block}.foswikiMakeVisibleInline{display:inline}.foswikiMakeVisibleBlock{display:block}.foswikiMakeHidden{display:none}.foswikiLeft{float:left}.foswikiRight{float:right}.foswikiClear,.foswikiFormStep p.foswikiClear{margin:0;padding:0;height:0;line-height:0;clear:both;display:block}.foswikiHidden{display:none}.foswikiSmall{font-size:86%;line-height:110%}.foswikiSmallish{font-size:94%}.foswikiLarge{font-size:1.3em;line-height:1.5em}.foswikiBroadcastMessage,.foswikiNotification{background-color:#fff7e7;padding:.25em .5em;margin:0 0 1em 0}.foswikiBroadcastMessage b,.foswikiBroadcastMessage strong{color:#f00}.foswikiMessage{padding:.5em 10px;background-color:#fff7e7;border:0}.foswikiAlert,.foswikiAlert code{color:#f00}.foswikiNewLink,.foswikiNewLink:link,.foswikiNewLink:visited{color:#b00000;text-decoration:none;border-bottom:1px dotted #b00000}.foswikiNewLink:link:hover{color:#b00000;text-decoration:none;border-bottom:1px solid #b00000}.foswikiEmulatedLink{text-decoration:underline}.foswikiAccessKey{text-decoration:none;border-width:0 0 1px 0;border-style:solid}a:hover .foswikiAccessKey{text-decoration:none;border:0}img{border:0;vertical-align:middle}pre{white-space:pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;white-space:-moz-pre-wrap;width:auto;margin:1em 0;padding:1em}.foswikiImage img{padding:3px;border-width:1px;border-style:solid}.foswikiPreviewArea{border-width:1px;border-style:solid;border-color:#f00;margin:1em 0;padding:1em}.foswikiSummary em{font-weight:bold;font-style:normal;color:#000}.foswikiTabs{position:relative}.foswikiTabs:after{content:'';position:absolute;width:100%;height:1px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ccc;bottom:0}.foswikiTabs>ul{margin:0;padding:0;list-style:none;bottom:0;margin-bottom:-1px;*zoom:1}.foswikiTabs>ul:before,.foswikiTabs>ul:after{display:table;content:"";line-height:0}.foswikiTabs>ul:after{clear:both}.foswikiTabs>ul>li{display:inline}.foswikiTabs>ul>li>a{position:relative;display:inline-block;float:left;margin-right:6px;border-style:solid;border-width:1px;border-color:#ccc;background-image:none;background:#eee}.foswikiTabs>ul>li>a:link,.foswikiTabs>ul>li>a:visited,.foswikiTabs>ul>li>a:hover,.foswikiTabs>ul>li>a:active{padding:.35em .7em;text-decoration:none;color:#000}.foswikiTabs>ul>li>a:visited{color:#000}.foswikiTabs>ul>li>a:hover{background:#eee}.foswikiTabs>ul>li.foswikiActiveTab a:hover,.foswikiTabs>ul>li.foswikiActive a:hover{cursor:default}.foswikiTabs>ul>li.foswikiActiveTab a,.foswikiTabs>ul>li.foswikiActive a{border-bottom-color:#fff;background:#fff;z-index:1}.foswikiTabContent{border-style:solid;border-width:1px;border-color:#ccc;background:#fff;margin-bottom:1.5em}.foswikiNoJs .foswikiTabs>ul{display:none}.foswikiWebSearchForm{margin:1em 0}.foswikiHorizontalList ul{margin:0;padding:0;list-style:none;clear:both}.foswikiHorizontalList ul li{float:left;display:block;padding:0 .5em;border-style:none solid none none;border-width:1px}.foswikiHorizontalList ul li.foswikiLast{border:0}.foswikiIndent{padding-left:3em}.foswikiToc.foswikiRight{margin:0 0 1em 2em;max-width:40%}.foswikiToc.foswikiLeft{margin:0 2em 1em 0;max-width:40%}.foswikiToc .foswikiTocTitle{font-weight:bold}.foswikiYellowFG{color:#ff0}.foswikiOrangeFG{color:#f60}.foswikiRedFG{color:#f00}.foswikiPinkFG{color:#f0f}.foswikiPurpleFG{color:#800080}.foswikiTealFG{color:#008080}.foswikiNavyFG{color:#000080}.foswikiBlueFG{color:#00f}.foswikiAquaFG{color:#0ff}.foswikiLimeFG{color:#0f0}.foswikiGreenFG{color:#008000}.foswikiOliveFG{color:#808000}.foswikiMaroonFG{color:#800000}.foswikiBrownFG{color:#963}.foswikiBlackFG{color:#000}.foswikiGrayFG{color:#808080}.foswikiSilverFG{color:#c0c0c0}.foswikiWhiteFG{color:#fff}.foswikiYellowBG{background-color:#ff0}.foswikiOrangeBG{background-color:#f60}.foswikiRedBG{background-color:#f00}.foswikiPinkBG{background-color:#f0f}.foswikiPurpleBG{background-color:#800080}.foswikiNavyBG{background-color:#000080}.foswikiBlueBG{background-color:#00f}.foswikiTealBG{background-color:#008080}.foswikiAquaBG{background-color:#0ff}.foswikiLimeBG{background-color:#0f0}.foswikiGreenBG{background-color:#008000}.foswikiOliveBG{background-color:#808000}.foswikiMaroonBG{background-color:#800000}.foswikiBrownBG{background-color:#963}.foswikiBlackBG{background-color:#000}.foswikiGrayBG{background-color:#808080}.foswikiSilverBG{background-color:#c0c0c0}.foswikiWhiteBG{background-color:#fff}html,body{margin:0;padding:0;border:0;height:100%}.clear:after,.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}#patternPage{position:relative;width:100%}#patternOuter{height:100%}#patternFloatWrap{width:100%;float:left;display:inline}#patternSideBar{float:left;display:inline;overflow:hidden}#patternSideBarContents{position:relative}#patternMain{width:100%;float:right;display:inline}#patternBottomBar{clear:both;width:100%}.foswikiContentFooter{clear:both}/*	-----------------------------------------------------------
	STYLE
	Appearance: margins, padding, fonts, borders
	-----------------------------------------------------------	*/
	

/*	----------------------------------------------------------------------------
	CONSTANTS
	
	Sizes
	----------------------------------------
	S1 line-height											1.5em
	S2 somewhat smaller font size							font-size:94%
	S3 small font size, foswikiSmall						font-size:86%; line-height:110%;
	S4 horizontal bar padding (h2, patternTop)				5px
	S5 form and attachment padding							10px
	S6 left margin left bar									1em

	------------------------------------------------------------------------- */

/* GENERAL HTML ELEMENTS */

html body {
	font-family:lucida,tahoma,verdana,sans-serif;
	font-size:104%;
	voice-family:"\"}\""; 
	voice-family:inherit;
	font-size:small;
}
html>body { /* Mozilla */
	font-size:small;	
}
body {
	line-height:1.5em; /*S1*/
	/* change font size here */
	font-size:103%;
}
body font {
	line-height:135%;
}
th {
	line-height:1.15em;
}
label {
	padding:.15em .3em .15em 0; /* same vertical padding as foswikiInputField */
}
hr {
	height:1px;
	border:none;
}
/* put overflow pre in a scroll area */
pre {
    width:auto;
    margin:1em 0; /* Win IE tries to make this bigger otherwise */
    border-style:solid;
    border-width:1px;
    padding:1em;
}
pre, code, tt {
    font-family: "Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
    font-size:86%;
}

/* IE behavior for pre is defined in css.pattern.tmpl in conditional comment */
html>body pre { /* hide from IE */
	/*\*/ overflow:auto !important; /* */ overflow:scroll; width:auto; /* for Mac Safari */
}
blockquote {
	margin:0;
	font-size:94%;
	padding:.5em 1.25em;
	border-style:solid none;
	border-width:1px;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	line-height:1.1em;
}
h1 {
	margin-top:.5em;
	font-size:190%;
}
h2 { font-size:165%; }
h3 { font-size:145%; }
h4 { font-size:127%; }
h5 { font-size:117%; }
h6 { font-size:107%; }
h1.patternTemplateTitle {
	font-size:170%;
}
h2.patternTemplateTitle {
	margin-top:.5em;
	background:none;
	border:none;
}
/* Links */
/* somehow the foswikiNewLink style have to be before the general link styles */
.foswikiNewLink {
	border-width:0 0 1px 0;
	border-style:solid;
}
.foswikiNewLink a {
	text-decoration:none;
	margin-left:1px;
}
.foswikiNewLink a sup {
	text-align:center;
	padding:0 2px;
	vertical-align:baseline;
	font-size:100%;
	text-decoration:none;
}
.foswikiNewLink a:link sup,
.foswikiNewLink a:visited sup {
	border-width:1px;
	border-style:solid;
	text-decoration:none;
}
.foswikiNewLink a:hover sup {
	text-decoration:none;
}

:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active {
	text-decoration:none;
}

:link:hover,
:visited:hover,
:link:focus,
:visited:focus,
.foswikiTable a:hover,
#patternMainContents h1 a:hover,
#patternMainContents h2 a:hover,
#patternMainContents h3 a:hover,
#patternMainContents h4 a:hover,
#patternMainContents h5 a:hover,
#patternMainContents h6 a:hover {
	text-decoration:none;
}

a:hover .foswikiAccessKey {
}

.foswikiTopic a:link,
.foswikiTopic a:visited {
	text-decoration:none;
}

.foswikiTopic a:hover {
	text-decoration:underline;
}

.foswikiNewLink a:hover sup,
a.foswikiButton,
a.foswikiButton:link:active,
a.foswikiButton:visited:active,
a.foswikiButton:hover,
a.foswikiButtonCancel,
a.foswikiButtonCancel:hover,
a.foswikiButtonCancel:link:active,
a.foswikiButtonCancel:visited:active,
a.foswikiSubmit,
a.foswikiSubmit:hover,
a.foswikiSubmit:link:active,
a.foswikiSubmit:visited:active,
table.foswikiFormTable th.foswikiFormTableHRow a:link,
table.foswikiFormTable th.foswikiFormTableHRow a:visited {	text-decoration:none;
}

#patternSideBarContents a:link,
#patternSideBarContents a:visited {
	text-decoration:none;
}

#patternSideBarContents a:hover {
	text-decoration:underline;
}

#patternSideBarContents li a:hover {
	text-decoration:none;
}


#foswikisiteUserBar a:link,
#foswikisiteUserBar a:visited {
	text-decoration:none;
}

#foswikisiteUserBar:hover a:hover {
	text-decoration:underline;
}

.twistyTrigger a:link,
.twistyTrigger a:visited,
.twistyTrigger a:link .foswikiLinkLabel,
.twistyTrigger a:visited .foswikiLinkLabel {
	text-decoration:none;
}

.patternActionButtons a.foswikiButton,
.patternActionButtons a.foswikiSubmit,
.patternActionButtons a.foswikiButtonCancel {
	padding:.1em .2em;
}

.patternTopicAction .patternActionButtons a:link,
.patternTopicAction .patternActionButtons a:visited,
.patternTopicAction .patternActionButtons span s,
.patternTopicAction .patternActionButtons span strike {
	text-decoration:none;
}

.patternTopicAction .patternActionButtons a:hover {
	text-decoration:none;
}

.foswikiSubmit,
.foswikiSubmitDisabled,
.foswikiButton,
.foswikiButtonDisabled,
.foswikiButtonCancel,
.foswikiSubmit:hover,
.foswikiSubmitDisabled:hover,
.foswikiButton:hover,
.foswikiSubmit:active,
.foswikiSubmitDisabled:active,
.foswikiButton:active {
	cursor:default;
	outline:none;
}

.foswikiSubmit,
.foswikiSubmitDisabled,
.foswikiButton,
.foswikiButtonDisabled,
.foswikiButtonCancel,
a.foswikiButton,
a.foswikiSubmit,
a.foswikiButtonCancel,
.foswikiCheckbox {
	border-style:solid;
	border-width:1px;
	font-weight:bold;
	padding:.15em .3em;
	text-align:center;
	vertical-align:middle;
}

blockquote {
	border-style:solid;
	border-width:1px 1px 1px 5px;
	padding:.5em 1.25em;
}

form {
	display:inline;
	margin:0;
	padding:0;
}

h1 {
	font-size:195%;
	margin:0 0 .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight:normal;
	line-height:1em;
}

h1.patternTemplateTitle {
	font-size:170%;
	text-align:left;
}

h2 {
	border:none;
	font-size:153%;
}

h2,
h3,
h4,
h5,
h6 {
	display:block;
	height:auto;
	margin:1em 0 .35em;
	padding:.25em 0;
}

h2.patternTemplateTitle {
	border:none;
	margin-top:.5em;
	text-align:center;
}

h3 {
	font-size:133%;
}

h4 {
	font-size:122%;
	font-weight:bold;
}

h5 {
	font-size:110%;
	font-weight:bold;
}

h6 {
	font-size:95%;
	font-weight:bold;
}

h3.patternSearchResultsHeader,
h4.patternSearchResultsHeader {
	border-style:solid;
	border-width:0 0 1px;
	display:block;
	font-weight:bold;
}
h4.patternSearchResultsHeader {
	font-weight:normal;
	padding:.6em 1em;
}

hr {
	border:none;
	height:1px;
}

img {
	border:0;
	vertical-align:text-bottom;
}

label {
	padding:.15em .3em .15em 0;
}

ol,
ul {
	margin-top:0;
}

p {
	margin:1em 0 0;
}

pre {
	border-style:solid;
	border-width:1px;
	margin:1em 0;
	padding:1em;
	width:auto;
	overflow:auto;
}

pre,
code,
tt {
	font-family:"Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
	font-size:86%;
}

table.foswikiFormTable th.foswikiFormTableHRow {
	text-align:center;
}

textarea,
input,
select {
	font-family:lucida,tahoma,verdana,sans-serif;
	font-size:100%;
	vertical-align:middle;
}

label input {
	vertical-align:text-bottom;
}

th {
	line-height:1.15em;
}

#foswikiLogin {
	margin:0 auto;
	text-align:left;
	width:44em;
}

#foswikiLogin .foswikiFormSteps {
	border-width:5px;
}

#foswikiLogin .patternLoginNotification {
	border-style:solid;
	border-width:2px;
	padding-left:.5em;
	padding-right:.5em;
}

#foswikiLogo a {
	display:block;
	height:90px;
	margin:-10px 0 0 -25px;
	width:315px;
}

#foswikiLogo a img {
	display:none;
}

#foswikiLogo img {
	border:0;
	margin:0;
	padding:0;
}
.patternSimpleLogo {
	margin:0 0 20px 0;
}

#foswikiSearchTable {
	border-bottom:0;
}

#foswikiSearchTable td {
	width:80%;
}

#foswikiSearchTable th {
	text-align:right;
	width:20%;
}

#foswikiSearchTable th,
#foswikiSearchTable td {
	border-style:solid;
	border-width:0 0 1px;
	padding:1em;
}

#foswikisiteUserBar {
	font-family:lucida,tahoma,verdana,sans-serif;
	font-size:.9em;
	height:15px;
	line-height:15px;
	padding:0 .5em 4px 0;
	text-align:right;
}
#foswikisiteUserBar ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
#foswikisiteUserBar li {
	display:inline;
	margin:0;
	padding:0 0 0 .7em;
}


#patternScreen {
	padding:20px 2% 40px 2%;
}


#patternTopBar,
#patternTopBarContents,
#patternTopBarContentsWrapper {
	height:96px; /* top bar height; make room for header columns */
	overflow:hidden;
}

#patternMain {
	float:left;
	overflow:hidden;
}
#patternSideBar {
	float:right;
	width:220px; /* includes left padding, see #patternSideBarContents */
	margin-right:-220px;
	position:relative;
}
.patternViewPage #patternOuter {
	border-width:220px;
	border-style:none solid none none;
	border-color:#f9f9f9;
	margin-right:0;
}


#patternBottomBar {
	border:none;
}

#patternBottomBarContents {
	padding:1em 0 2em;
}
#patternBottomBarContents:hover a:hover {
	text-decoration:underline;
}

#patternMainContents {
	border-style:none;
	padding-top:20px;
	padding-bottom:4em;
}

#patternMainContents,
#patternTopBarContents {
	padding-left:2em;
	padding-right:2em;
}

#patternPage {
	border:none;
	font-family:lucida,tahoma,verdana,sans-serif;
	font-size:105%;
	line-height:1.5em;
}

#patternSideBarContents {
	margin:0 0 1em;
	padding:0 1em 2em;
}

#patternSideBarContents .patternLeftBarPersonal,
#patternSideBarContents .patternWebIndicator {
	margin:0 -1em .75em;
	padding:.5em 1em .75em;
}

#patternSideBarContents img {
	margin:0 3px 0 0;
	vertical-align:text-bottom;
}

#patternSideBarContents .patternWebIndicator,
#patternSideBarContents h2,
#patternSideBarContents li {
	line-height:1.15em;
	margin:0 -1em;
	padding:0 1em;
}
#patternSideBarContents .patternWebIndicator,
#patternSideBarContents h2 {
	border:none;
	display:block;
	font-size:100%;
	font-weight:bold;
	height:30px;
	line-height:30px;
}
#patternSideBarContents ul,
.patternMetaMenu ul {
	list-style:none;
	margin:0;
	padding:0;
}

#patternSideBarContents li b,
#patternSideBarContents li strong,
#patternSideBarContents li a {
	display:block;
	margin:0 -1em;
	padding:.4em 1em;
}

#patternTopBar {
	border:none;
}

#patternTopBarButtons {
	border:none;
	padding-left:2em;
}

/* height*/
#patternTopBarButtons li,
#patternTopBarButtons ul li a {
	line-height:31px;
	height:31px;
}

#patternTopBarButtons ul {
	border-style:none;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

#patternTopBarButtons li {
	display:inline;
	margin:0;
	padding:0;
}
#patternTopBarButtons ul li a {
	border-style:none solid none none;
	border-width:1px;
	display:block;
	float:left;
	font-weight:bold;
	padding:0 1em;
	text-decoration:none;
}
#patternTopBarButtons ul li:last-child a {
	border:none;
}
#patternTopBarContents {
	padding:0;
}

#patternWebBottomBar {
	font-size:94%;
	line-height:125%;
	text-align:left;
}

* html>body pre {
	overflow:scroll !important;
}

.editTable .foswikiTable {
	margin:0 0 2px;
}

.editTableEditImageButton {
	border:none;
}

.foswikiAccessKey {
	border:none;
}

.foswikiActionFormStepSign {
	font-size:104%;
	margin-left:-20px;
	margin-top:-0.15em;
	position:absolute;
}

.foswikiAddFormButton {
	float:right;
}

.foswikiAttachments table {
	line-height:1.5em; /*S1*/
	width:auto;
	width:100%;
}
.foswikiAttachments .foswikiTable th {
	border-style:none none solid solid;
	border-width:1px;
	text-align:left;
}
.foswikiFormTable th,
.foswikiFormTable td,
table.foswikiFormTable th.foswikiFormTableHRow {
	padding:5px 10px;
	vertical-align:top;
	text-align:left;
}

.foswikiAttachments .foswikiTable caption {
	display:none;
}
.patternAttachPage .foswikiAttachments .foswikiTable {
	width:auto;
}
.patternAttachPage .foswikiAttachments {
	margin-top:0;
}

.patternEditPage .foswikiFormTable td,
.patternEditPage .foswikiFormTable th {
	border-style:solid;
	border-width:0 0 1px 0;
	vertical-align:top;
}
table.foswikiFormTable {
	margin:5px 0;
	border-collapse:collapse;
	padding:0px;
	border-spacing:0px;
	empty-cells:show;
	border-style:solid;
	border-width:1px;
}

.foswikiBroadcastMessage {
	margin:-20px 0 20px 0;
}

.foswikiBroadcastMessage,
.foswikiNotification {
	padding:1em 20px;
}
.foswikiMessage {
	padding:.5em 20px;
	border:none;
}
.foswikiCheckbox,
.foswikiRadioButton {
	border:0;
	margin:1px .25em 1px .1em;
	padding:0 0 0 .5em;
}

.foswikiDiffLineNumberHeader {
	padding:.3em 0;
}

.foswikiEditboxStyleMono {
	font-family:"Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
}

.foswikiEditboxStyleProportional {
	font-family:lucida,tahoma,verdana,sans-serif;
}

.foswikiFormHolder {
	width:100%;
}


.foswikiFormSteps {
	padding:0 20px;
	border-width:1px;
	border-style:solid;
}
.foswikiFormStep {
	padding:10px 20px;
	margin:-1px -20px -1px -20px;
	border-width:1px;
	border-style:solid none;
}
.foswikiFormStep h2,
.foswikiFormStep h3,
.foswikiFormStep h4 {
	border:none;
	margin-top:0;
	padding:0;
	background:none;
}
.foswikiFormStep p {
	margin:.5em 0;
}
.foswikiFormSteps h2 {
	font-size:115%;
	font-weight:bold;
}
.foswikiFormSteps h3 {
	font-size:100%;
	font-weight:bold;
}
.foswikiFormSteps h4 {
	font-size:100%;
	font-weight:bold;
}
.foswikiFormSteps blockquote {
	margin-left:1em;
	padding-top:.25em;
	padding-bottom:.25em;
}
.foswikiFormTable th {
	font-weight:normal;
}

.foswikiHelp {
	margin:0 0 .25em 0;
	padding:1em;
}

.foswikiHelp ul {
	margin:0;
	padding-left:20px;
}

.foswikiImage img {
	border-style:solid;
	border-width:1px;
	padding:3px;
}

.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly {
	padding:.2em .2em;
}

.patternTwistyButton {
	font-weight:bold;
	margin:.5em 0;
	display:inline-block;
}

.foswikiNewLink {
	border-style:solid;
	border-width:0 0 1px;
}

.foswikiNewLink a {
	margin-left:1px;
	text-decoration:none;
}

.foswikiNewLink a sup {
	font-size:100%;
	padding:0 2px;
	text-align:center;
	text-decoration:none;
	vertical-align:baseline;
}



.foswikiNewLink a:link sup,
.foswikiNewLink a:visited sup {
	border-style:solid;
	border-width:1px;
	text-decoration:none;
}

.foswikiNoBreak {
	white-space:nowrap;
}

.foswikiNotification {
	border-style:solid;
	border-width:1px;
	margin:1em 0;
}

.foswikiPageForm table {
	border-style:solid;
	border-width:1px;
	width:100%;
}

.foswikiPageForm td.first {
	padding-top:1em;
}

.foswikiPageForm th,
.foswikiPageForm td {
	border:0;
	padding:.5em 1em;
}

.foswikiSearchResultCount {
	font-weight:bold;
}
.foswikiSearchResultsPager {
	margin:1em 0;
	padding:.25em 0;
}
.foswikiSmall {
	font-size:86%;
	line-height:1.5em;
}

.foswikiSmallish {
	font-size:94%;
	line-height:1.5em;
}

.foswikiSummary {
	font-size:86%;
}

.foswikiTable {
	border-collapse:collapse;
	border-style:solid;
}
.foswikiTable {
	margin:5px 0;
	border-collapse:collapse;
}
.foswikiTable td {
	padding:5px 10px;
}
.foswikiTable th {
	padding:10px 10px;
	border-left-style:solid;
	border-right-style:solid;
}
.foswikiTable .tableSortIcon {
	margin:0 0 0 .25em;
}

.foswikiTable,
.foswikiTable td,
.foswikiTable th {
	border-width:1px;
}

.foswikiTextarea,
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly {
	font-size:100%;
}

.foswikiTextarea,
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly,
.foswikiSelect {
	border-style:solid;
	border-width:1px;
}

.foswikiTextarea,
.mceContentBody {
	padding:1px 4px;
}

.foswikiToc {
	margin:1em 0;
	padding:.3em 0 .6em;
}

.foswikiToc .foswikiTocTitle {
	font-weight:bold;
	margin:0;
	padding:0;
}

.foswikiToc li {
	margin-left:1em;
	padding-left:1em;
}

.foswikiToc ul {
	list-style:none;
	margin:0;
	padding:0 0 0 .5em;
}

.foswikiTopic {
	padding:10px 0 3em 0;
}

.foswikiWebIndent {
	margin:0 0 0 1em;
}

.patternActionButtons a:link,
.patternActionButtons a:visited {
	padding:1px 1px 2px;
}


.patternAttachPage .patternTopicAction,
.patternRenamePage .patternTopicAction {
	padding-left:40px;
}

.patternBookView {
	border-style:solid;
	border-width:0 0 2px 2px;
	margin:.5em 0 1.5em -5px;
	padding:0 0 0 5px;
}

.patternBookView .foswikiBottomRow {
	border:none;
	font-size:100%;
	padding:1em 0;
	width:auto;
}

.patternBookView .foswikiTopRow {
	margin:1em -5px .15em;
	padding:.25em 5px .15em;
}

.patternButtonFontSelector {
	height:16px;
	margin:0 8px 0 0;
	width:33px;
}

.patternDiff {
	border-style:solid;
	border-width:0 0 2px 2px;
	margin:.5em 0 1.5em;
	padding:0 0 0 10px;
}

.patternDiff h4.patternSearchResultsHeader {
	padding:.5em 10px;
}

.patternDiffPage .foswikiDiffTable {
	margin:2em 0;
}

.patternDiffPage .foswikiDiffTable td {
	padding:.25em;
}

.patternDiffPage .foswikiDiffTable th {
	padding:.25em .5em;
}

.patternDiffPage .patternRevInfo ul {
	list-style:none;
	margin:2em 0 0;
	padding:0;
}

.patternDiffPage td.foswikiDiffDebugLeft {
	border-bottom:none;
}

.patternEditPage #patternMainContents,
.patternEditPage #patternBottomBarContents {
	margin-left:1em;
	margin-right:1em;
}

.patternEditPage .foswikiFormTable td,
.patternEditPage .foswikiFormTable th {
	border-style:solid;
	border-width:0 0 1px;
	vertical-align:middle;
	text-align:left;
}

.patternEditPage .patternEditTopic {
	margin:0 0 .5em;
	padding:5px;
}

.patternEditPage .revComment {
	padding:1em 0 2em;
}

.patternHomePath .foswikiSeparator {
	padding:0 .5em;
}

.patternHomePath .patternRevInfo {
	font-size:94%;
	white-space:nowrap;
}
.patternHomePath:hover a:hover {
	text-decoration:underline;
}

.patternInfo {
	margin:1.5em 0 0;
}

.patternLeftBarPersonal li {
	padding-left:13px;
}

.patternLeftBarPersonalContent {
	padding:1em 0 0;
}

.patternMetaMenu {
	padding:15px 2em;
}

.patternMetaMenu input,
.patternMetaMenu select,
.patternMetaMenu select option {
	margin:0;
}

.patternMetaMenu select option {
	padding:1px 0 0;
}

.patternMetaMenu ul li {
	display:inline;
	padding:0;
}

.patternMetaMenu ul li .foswikiInputField,
.patternMetaMenu ul li .foswikiSelect {
	margin:0 0 0 1px;
}

.patternMoveAttachment {
	margin:.5em 0 0;
	text-align:right;
}

.patternNoViewPage #patternMainContents,
.patternNoViewPage #patternBottomBarContents {
	margin-left:2em;
	margin-right:2em;
	padding-top:1em;
}

.patternNoViewPage #patternOuter {
	margin-left:0;
	margin-right:0;
}

.patternNoViewPage .patternTopicAction {
	margin-top:-1px;
}

.patternSaveHelp {
	line-height:1.5em;
	margin:1em 0 0;
}

.patternSearchResult .foswikiAlert {
	font-weight:bold;
}

.patternSearchResult .foswikiBottomRow {
	border-style:solid;
	border-width:0 0 1px;
	margin-bottom:.1em;
	padding-bottom:.25em;
}

.patternSearchResult .foswikiNew {
	border-style:solid;
	border-width:1px;
	font-size:86%;
	font-weight:bold;
	padding:0 1px;
}

.patternSearchResult .foswikiSRAuthor {
	text-align:left;
	width:15%;
}

.patternSearchResult .foswikiSRRev {
	text-align:left;
	width:30%;
}

.patternSearchResult .foswikiSummary .foswikiAlert {
	font-weight:normal;
}

.patternSearchResult .foswikiTopRow {
	margin-top:.1em;
	padding-top:.2em;
}

.patternSearchResultCount {
	margin:1em 0 3em;
}

.patternSearchResults {
	margin:0 0 1em;
}

.patternSearchResults .foswikiHelp {
	display:block;
	margin:1em -5px .35em;
	padding:.1em 5px;
	width:auto;
}

.patternSearchResults blockquote {
	margin:1em 0 1em 5em;
}

.patternSearchResults h3 {
	font-size:115%;
	font-weight:bold;
	margin:0;
	padding:.5em 40px;
}

.patternSearched {
	display:block;
}

.patternSig {
	text-align:right;
}

.patternSigLine {
	border-style:none;
	margin:.5em 0 0;
}

.patternSmallLinkToHeader {
	font-size:86%;
	font-weight:normal;
	margin:0 0 0 .15em;
}

.patternTextareaButton {
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	display:block;
	margin:0 0 0 1px;
	overflow:hidden;
}

.patternToolBar {
	display:block;
}

.patternToolBar span {
	display:block;
	float:left;
	margin:0 0 0 4px;
}

.patternToolBar span a img {
	padding:2px;
}

.patternToolBar span a:link img,
.patternToolBar span a:visited img,
.patternToolBar span a:hover img {
	border-style:solid;
	border-width:1px;
}

.patternToolBar span a:link,
.patternToolBar span a:visited,
.patternToolBar img {
	border:none;
	margin:0;
	padding:0;
}

.patternTop {
	font-size:94%;
	padding:0 0 .25em 0;
}

.patternTopicAction {
	border-style:solid;
	border-width:1px 0 0;
	line-height:1.5em;
	padding:.4em 20px;
}

.patternTopicActions {
	border:none;
}

.patternTopicFooter {
	margin:1em 0 0;
}

.tagMePlugin input {
	border:0;
}

.tagMePlugin select {
	margin:0 .25em 0 0;
}

.tipsOfTheDay {
	padding:10px 0;
}


tr.foswikiDiffDebug td {
	border-style:solid;
	border-width:1px;
}

.patternPrintPage :link,
.patternPrintPage .foswikiTopic :link,
.patternPrintPage :visited,
.patternPrintPage .foswikiTopic a:visited {
	text-decoration:underline;
}

/* preview.pattern.tmpl */

.patternPreviewPage .foswikiTopic {
	margin-bottom:0;
}
.foswikiPreviewArea {
	border-width:1px;
	border-style:solid;
	margin:0 0 1.5em 0;
	padding:2em;
}
:link,:visited,:link:active,:visited:active,:link:focus,:visited:focus{color:#03a}:visited{color:#5a3696}:link:hover,:visited:hover{color:#03a}:link:hover img,:visited:hover img{background:0}.foswikiTopic a:visited{color:#5a3696}.foswikiTopic a:hover{color:#0b0}#patternMainContents h1 a:link,#patternMainContents h1 a:visited{color:#2e5cac}#patternMainContents h2 a:link,#patternMainContents h2 a:visited,#patternMainContents h3 a:link,#patternMainContents h3 a:visited,#patternMainContents h4 a:link,#patternMainContents h4 a:visited,#patternMainContents h5 a:link,#patternMainContents h5 a:visited,#patternMainContents h6 a:link,#patternMainContents h6 a:visited{color:#444}#patternSideBarContents,#patternSideBarContents a:link,#patternSideBarContents a:visited{color:#555}#patternSideBarContents b,#patternSideBarContents strong{color:#222}#patternSideBarContents a:hover{color:#0b0}#foswikisiteUserBar li{color:#555}#foswikisiteUserBar a:link,#foswikisiteUserBar a:visited{color:#555}#foswikisiteUserBar:hover a:link,#foswikisiteUserBar:hover a:visited{color:#090}.foswikiTopic .foswikiUnvisited a:hover,a:hover.twistyTrigger,.patternTop a:hover,.foswikiBroadcastMessage a{color:#000}blockquote{background-color:#f5f5f5;border-color:#ddd}blockquote h2{background:0}body,html body,html body.patternEditPage{background-color:#f0f0f1;color:#000}body,p,li,ul,ol,dl,dt,dd,acronym,h1,h2,h3,h4,h5,h6,p,li,ul,ol,dl,dt,dd,acronym,h1,h2,h3,h4,h5,h6{background:0}h1,h2,h3,h4,h5,h6{color:#090}h2{border-color:#e2e2e2;color:#090}h2.patternTemplateTitle{background:0}h3.patternSearchResultsHeader,h4.patternSearchResultsHeader{background-color:#f5f5f5;border-color:#e2e2e2}h4.patternSearchResultsHeader{color:#000}hr{background-color:#bbb;color:#bbb}html body{background-color:#f0f0f1;color:#000}pre{background:#f5f5f5;border-color:#ddd}pre,code,tt{color:#333}table#foswikiSearchTable hr{background-color:#e2e2e2;border-color:#e2e2e2}table#foswikiSearchTable th{color:#000}table#foswikiSearchTable th,table#foswikiSearchTable td{background-color:#fff;border-color:#e2e2e2}textarea,input,select{background-color:#fff;border-color:#aaa;color:#000}#foswikiLogin .patternLoginNotification{background-color:#fff;border-color:red}#foswikiSearchTable{background:0}#foswikisiteUserBar{color:#444}#foswikisiteUserBar ul{list-style-image:none;list-style-position:outside;list-style-type:none}#patternBottomBar{background:0}#patternMainContents{background-color:#fff}#patternMainContents .patternDiff h4.patternSearchResultsHeader{background-color:#6b7f93;color:#fff}#patternOuter{background:0;border-color:#dadada}#patternPage{background-color:transparent;border-color:#ccc}#patternSideBarContents li a:hover{background:#d9f5d9;color:#444}#patternSideBarContents hr{background-color:#e2e2e2;color:#e2e2e2}#patternTopBar .foswikiImage img{background:0}#patternTopBarButtons li{color:#339}#patternTopBarButtons ul,#patternTopBarButtons li a{border-color:#adcaed}#patternSideBar,#patternWrapper{background:#fff}.foswikiAccessKey{border-color:#777}.foswikiActionFormStepSign{color:#444}.foswikiAttachments table{border-color:#eee;background-color:#fff}table.foswikiFormTable,.foswikiAttachments table,.foswikiAttachments th,.foswikiAttachments td{border-color:#eee;background-color:#fcfcfc!important}.foswikiForm td,.foswikiForm th,.foswikiAttachments td,.foswikiAttachments th{border-color:#eee}.foswikiBroadcastMessage,.foswikiNotification{background-color:#d9f5d9}.foswikiNotification{border-color:#090}.foswikiMessage{background-color:#d9f5d9}.foswikiDiffAddedHeader,tr.foswikiDiffDebug .foswikiDiffAddedMarker,tr.foswikiDiffDebug .foswikiDiffAddedText{background-color:#ccf}.foswikiDiffChangedHeader,tr.foswikiDiffDebug .foswikiDiffChangedText,tr.foswikiDiffDebug .foswikiDiffChangedText{background:#9f9}.foswikiEditForm{color:#000}.foswikiEditForm .foswikiFormTable td{background-color:#f7fafc}.foswikiEditForm .foswikiFormTable th{background-color:#f0f6fb}.foswikiEmulatedLink{color:#4571d0}.foswikiFormStep h3,.foswikiFormStep h4{background-color:transparent;color:#444}.foswikiFormSteps{background-color:#f5f5f5;border-color:#e2e2e2}.foswikiHelp{background-color:#d5ffd0}.foswikiImage a:hover img{border-color:#03a}.foswikiImage a:link,.foswikiImage a:visited{background:0}.foswikiImage img{background-color:#fff;border-color:#eee}.foswikiInputField:active,.foswikiInputField:focus,.foswikiInputFieldFocus{background-color:#ffffe0}.foswikiInputFieldDisabled{background-color:#fafaf8;color:#aaa}.foswikiInputFieldDisabled,.foswikiSelectDisabled{background-color:#fafaf8;border-color:#bbb #f2f2f2 #f2f2f2 #bbb;color:#aaa}.foswikiNewLink{border-color:#ddd}.foswikiNewLink a:hover sup{background-color:#03a;border-color:#03a;color:#000}.foswikiNewLink a:link sup,.foswikiNewLink a:visited sup{border-color:#ddd;color:#777}.foswikiNewLink font,a:link .foswikiAccessKey,a:visited .foswikiAccessKey{color:inherit}.foswikiPageForm hr{background-color:#cfcfcf;border-color:#cfcfcf;color:#cfcfcf}.foswikiPageForm table{background:#fff;border-color:#e2e2e2}.foswikiSelect{background-color:#fff;border-color:#bbb #f2f2f2 #f2f2f2 #bbb;color:#000}.foswikiSubmit{background-color:#06c;color:#fff}.foswikiSubmit,.foswikiButton{border-color:#fff #888 #888 #fff}.foswikiSubmit,.foswikiSubmitDisabled{background-image:url(/pub/System/PatternSkinThemeFatWilly/bg_submit_gradient.gif);background-repeat:repeat-x}.foswikiSubmit,a.foswikiSubmit:link,a.foswikiSubmit:visited{background-color:#06c;background-position:0 0;border-color:#94cce2 #0e66a2 #0e66a2 #94cce2;color:#fff}.foswikiSubmit:active,a.foswikiSubmit:active{background-color:#73ace6;background-position:0 -160px;border-color:#0e66a2 #94cce2 #94cce2 #0e66a2;color:#fff}.foswikiSubmit:hover,a.foswikiSubmit:hover{background-color:#0047b7;background-position:0 -80px;border-color:#0e66a2 #94cce2 #94cce2 #0e66a2;color:#fff}.foswikiSubmitDisabled,.foswikiSubmitDisabled:active{background-color:#f5f5f5;border-color:#fff #ccc #ccc #fff;color:#aaa}.foswikiSubmitDisabled,.foswikiSubmitDisabled:hover,.foswikiSubmitDisabled:active{background-color:#d9e8f7;background-position:0 -240px;border-color:#ccc;color:#ccc}.foswikiTable,.foswikiTable td,.foswikiTable th{border-color:#eee}.foswikiTable th{background:#d6d3cf}.foswikiTable th,.foswikiTable th a:link,.foswikiTable th a:visited{color:#000}.foswikiTable th a:link,.foswikiTable th a:visited,.foswikiTable th a font,table.foswikiFormTable th.foswikiFormTableHRow,table.foswikiFormTable td.foswikiFormTableRow,.patternNoViewPage h4.patternSearchResultsHeader{color:#444}.foswikiTable,.foswikiTable td,.foswikiTable th,.foswikiFormStep,.patternSearchResult .foswikiBottomRow,.patternBookView .foswikiBottomRow,tr.foswikiDiffDebug td,.foswikiEditForm .foswikiFormTable,.foswikiEditForm .foswikiFormTable th,.foswikiEditForm .foswikiFormTable td,table#foswikiSearchTable,.patternViewPage .patternSearchResultsBegin{border-color:#e2e2e2}.foswikiTextarea,.foswikiInputField,.foswikiInputFieldDisabled,.foswikiInputFieldReadOnly,.foswikiSelect{border-color:#bbb #f2f2f2 #f2f2f2 #bbb}.foswikiTextarea,.foswikiInputField,.foswikiSelect{background-color:#fff;color:#000}.foswikiTextareaRawView{color:#000}.foswikiToc .foswikiTocTitle{color:#777}.patternSigLine{color:#777}#patternBottomBarContents{color:#777}#patternBottomBarContents a:link,#patternBottomBarContents a:visited{color:#777}#patternBottomBarContents:hover a:link,#patternBottomBarContents:hover a:visited{color:#0b0}.foswikiInputFieldReadOnly,.foswikiInputFieldBeforeFocus{color:#777}.twistyPlaceholder{color:#777}.foswikiGrayText,.foswikiGrayText a:link,.foswikiGrayText a:visited{color:#777}.foswikiGrayText a:hover{color:#0b0}.patternHomePath a:link,.patternHomePath a:visited{color:#777}.patternHomePath:hover a:link,.patternHomePath:hover a:visited{color:#0b0}.patternHelpCol,.patternBookView .patternSearchResultCount,tr.foswikiDiffDebug .foswikiDiffUnchangedText{color:#777}.foswikiToc li{background-image:url(/pub/System/PatternSkinThemeFatWilly/bullet-toc.gif);background-position:0 .4em;background-repeat:no-repeat}.foswikiTopic .foswikiUnvisited a:visited{color:#03a}#patternMainContents h1 a:hover,#patternMainContents h2 a:hover,#patternMainContents h3 a:hover,#patternMainContents h4 a:hover,#patternMainContents h5 a:hover,#patternMainContents h6 a:hover{color:#0b0}.mceContentBody{background-color:#fff}.patternActionButtons a:link,.patternActionButtons a:visited,.patternActionButtons a:hover,#patternMainContents .patternDiff h4.patternSearchResultsHeader a:link,#patternMainContents .patternDiff h4.patternSearchResultsHeader a:visited{color:#fff}.patternBookView .foswikiTopRow{background-color:transparent;color:#777}.patternButtonEnlarge,.patternButtonShrink{background-image:url(/pub/System/PatternSkinThemeFatWilly/button_arrow.gif);height:16px;width:16px}.patternButtonEnlarge:active{background-position:0 -84px}.patternButtonEnlarge:hover{background-position:0 -42px}.patternButtonFontSelector{background-image:url(/pub/System/PatternSkinThemeFatWilly/button_font_selector.gif)}.patternButtonFontSelectorMonospace{background-position:0 -16px}.patternButtonFontSelectorProportional,.patternButtonEnlarge{background-position:0 0}.patternButtonShrink{background-position:16px 0}.patternButtonShrink:active{background-position:16px -84px}.patternButtonShrink:hover{background-position:16px -42px}.patternDiff{border-color:#6b7f93}.patternDiffPage .foswikiDiffTable th,.foswikiDiffLineNumberHeader{background-color:#ccc}.patternEditTopic{background:#f5f5f5}.patternRevInfo{color:#666}.patternLeftBarPersonal li,.patternLeftBarPersonal li.patternLogOut,.patternLeftBarPersonal li.patternLogIn{background-image:none}.patternMetaMenu ul li .foswikiInputFieldBeforeFocus,.patternMetaMenu ul li .foswikiSelect{background-color:#f0f4fa}.patternPrintPage #patternOuter{background:#fff}.patternPrintPage #patternOuter,.patternPrintPage #patternMainContents{border:0}.patternSearchResult .foswikiAlert,.foswikiBroadcastMessage b,.foswikiBroadcastMessage strong,.foswikiAlert,.foswikiAlert code{color:red}.patternSearchResult .foswikiNew{background-color:#ecfadc;border-color:#049804;color:#049804}.patternSearchResult .foswikiSummary .foswikiAlert{color:#900}.patternTextareaButton{border-color:#fffefd #b8b6ad #b8b6ad #fffefd}.patternToolBar span a:link,.patternToolBar span a:visited,.patternToolBar img{background:0}.patternToolBar span a:link img,.patternToolBar span a:visited img{border-color:#f2f2f2}.patternToolBar span a:hover img{border-color:#0b0}.patternTopicAction{border-color:#fff}.patternTopicAction a:hover .foswikiAccessKey,.patternTopicAction label,.patternActionButtons a:link,.foswikiTopic .patternActionButtons a:link,.patternActionButtons a:visited,.foswikiTopic .patternActionButtons a:visited,.patternActionButtons a:hover,.foswikiTopic .patternActionButtons a:hover{color:#00346b}.patternTopicAction a:link .foswikiAccessKey,.patternTopicAction a:visited .foswikiAccessKey{border-color:#00346b;color:#00346b}.patternTopicAction .foswikiSeparator,.foswikiTopic .patternTopicAction .foswikiSeparator,.patternTopicAction s,.patternTopicAction strike,.patternTopicAction s,.foswikiTopic .patternTopicAction .foswikiSeparator,.patternTopicAction strike,.foswikiTopic .patternTopicAction strike{color:#c9e2fd}.patternTopicActions{background-color:#2989bb;color:#bbb}.patternTopicActions,.foswikiTopic .patternTopicActions{background:#e0ecf9 url(/pub/System/PatternSkinThemeFatWilly/topicactions_background.gif) repeat-x scroll 0 0;color:#fff}.patternTwistyButton h3{color:#444}.revComment .patternTopicAction{background-color:#f5f5f5}tr.foswikiDiffDebug .foswikiDiffDeletedMarker,tr.foswikiDiffDebug .foswikiDiffDeletedText{background-color:#f99}.foswikiPreviewArea{border-color:#f00;background-color:#fff}.patternPrintPage :link,.patternPrintPage .foswikiTopic :link,.patternPrintPage :visited,.patternPrintPage .foswikiTopic a:visited{color:#444}#patternScreen{background:#f0f0f1 url(/pub/System/PatternSkinThemeFatWilly/GrayBlend.gif) repeat-x scroll 0 0}#patternTopBarContentsWrapper{background:transparent url(/pub/System/PatternSkinThemeFatWilly/header-left.gif) no-repeat scroll 0 0}#patternTopBar{background:#2e5cac url(/pub/System/PatternSkinThemeFatWilly/header.gif) repeat-x scroll 0 0}#patternTopBarButtons{background:#2a549d url(/pub/System/PatternSkinThemeFatWilly/header-left.gif) no-repeat scroll 0 100%}#patternTopBarButtons li a{background:#8bb6e5 url(/pub/System/PatternSkinThemeFatWilly/menu_background.gif) repeat-x scroll 0 0;color:#00346b}#patternTopBarButtons li a.active,#patternTopBarButtons li a:link:hover,#patternTopBarButtons li a:visited:hover{background:#fff;border-top-color:#fff}#patternSideBarContents .patternWebIndicator,#patternSideBarContents h2,#patternSideBarContents h2 a:link,#patternSideBarContents h2 a:visited{background:#eee url(/pub/System/PatternSkinThemeFatWilly/sidebar_header_background.gif) repeat-x scroll 0 0;color:#222}.foswikiButton{background-color:#e2e3e3;color:#000}.foswikiButton,a.foswikiButton:link,a.foswikiButton:visited{background-color:#cce7f1;background-image:url(/pub/System/PatternSkinThemeFatWilly/bg_button_gradient.gif);background-position:0 0;background-repeat:repeat-x;border-color:#fff #94cce2 #94cce2 #fff;color:#333}.foswikiButton:hover,.foswikiButton:active,a.foswikiButton:hover,a.foswikiButton:active{background-color:#cce7f1;background-position:0 -160px;border-color:#94cce2;color:#333}.foswikiButtonCancel{background-color:#f2d5d0;background-image:url(/pub/System/PatternSkinThemeFatWilly/bg_buttoncancel_gradient.gif);background-position:0 0;background-repeat:repeat-x;border-color:#f3ddd7 #ce5232 #ce5232 #f3ddd7;color:#000}.foswikiButtonCancel:active{background-color:#dd724d;background-position:0 -160px;border-color:#ce5232 #f3ddd7 #f3ddd7 #ce5232;color:#fff}.foswikiButtonCancel:hover{background-color:#dd724d;background-position:0 -80px;border-color:#ce5232 #f3ddd7 #f3ddd7 #ce5232;color:#fff}.foswikiButtonDisabled,.foswikiButtonDisabled:hover,.foswikiButtonDisabled:active{background-color:#edece6;background-image:url(/pub/System/PatternSkinThemeFatWilly/bg_button_gradient.gif);background-position:0 -240px;background-repeat:repeat-x;border-color:#ccc;color:#bbb}.foswikiJs a.jqPopUpWindow:link,.foswikiJs a.jqPopUpWindow:visited,.foswikiJs a.jqPopUpWindow:hover{background-image:url(/pub/System/PatternSkinThemeFatWilly/popup.gif);background-repeat:no-repeat;background-position:right;padding-right:14px;margin-right:3px}#patternSideBar{float:right;width:260px;margin-right:-260px;position:relative;background-color:#f9f9f9;}.patternViewPage #patternOuter{border-width:260px;border-style:none solid none none;border-color:#f9f9f9;margin-right:0;}
