#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 221.131   Phi 105.086    phi2 322.917   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 300.152   Phi 21.489    phi2 226.611   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 224.144   Phi 77.687    phi2 240.604   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 245.470   Phi 140.666    phi2 331.437   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 7.804   Phi 30.684    phi2 307.418   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 293.919   Phi 42.341    phi2 254.971   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 280.858   Phi 63.405    phi2 274.989   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 82.419   Phi 96.736    phi2 259.456   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 36.322   Phi 114.504    phi2 335.881   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 171.311   Phi 122.648    phi2 179.161   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 142.702   Phi 135.264    phi2 89.144   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 198.972   Phi 78.666    phi2 282.344   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 295.503   Phi 46.518    phi2 315.696   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 189.557   Phi 112.797    phi2 16.309   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 183.472   Phi 107.602    phi2 337.970   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 115.860   Phi 53.835    phi2 39.355   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 347.203   Phi 123.341    phi2 210.333   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 59.921   Phi 67.011    phi2 300.678   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 66.481   Phi 61.905    phi2 319.828   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 191.922   Phi 35.859    phi2 337.036   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 16.165   Phi 134.803    phi2 249.683   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 200.448   Phi 154.240    phi2 274.999   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 86.024   Phi 53.280    phi2 56.492   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 43.104   Phi 131.854    phi2 237.437   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 302.715   Phi 11.581    phi2 356.684   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 56.153   Phi 95.457    phi2 225.589   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 341.350   Phi 102.606    phi2 34.401   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 105.481   Phi 87.128    phi2 298.096   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 210.367   Phi 50.718    phi2 172.493   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 128.457   Phi 59.414    phi2 194.667   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 159.179   Phi 77.421    phi2 235.682   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 357.363   Phi 111.452    phi2 325.263   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 69.642   Phi 83.294    phi2 353.433   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 146.790   Phi 113.029    phi2 260.754   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 151.642   Phi 11.661    phi2 321.982   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 262.403   Phi 51.591    phi2 162.481   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 95.359   Phi 152.644    phi2 53.683   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 195.204   Phi 88.695    phi2 250.187   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 191.642   Phi 18.236    phi2 202.184   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 70.698   Phi 91.514    phi2 341.534   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 156.951   Phi 122.268    phi2 72.750   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 204.337   Phi 109.390    phi2 201.536   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 48.390   Phi 108.353    phi2 338.564   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 158.844   Phi 141.188    phi2 82.101   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 10.715   Phi 124.854    phi2 192.252   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 12.600   Phi 23.482    phi2 14.076   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 268.175   Phi 38.533    phi2 16.831   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 202.787   Phi 41.682    phi2 210.804   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 152.875   Phi 111.332    phi2 126.427   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 236.967   Phi 51.849    phi2 67.628   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 275.028   Phi 89.824    phi2 182.635   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 264.794   Phi 94.740    phi2 246.113   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 328.826   Phi 120.929    phi2 219.174   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 116.820   Phi 107.250    phi2 8.926   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 251.617   Phi 77.210    phi2 105.182   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 140.574   Phi 27.611    phi2 173.570   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 107.656   Phi 93.345    phi2 2.012   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 186.649   Phi 59.925    phi2 33.278   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 59.866   Phi 39.458    phi2 70.930   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 223.566   Phi 129.585    phi2 176.496   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 245.950   Phi 86.299    phi2 115.362   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 352.930   Phi 109.074    phi2 234.981   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 351.145   Phi 53.669    phi2 176.214   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 64.958   Phi 73.828    phi2 264.179   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 38.823   Phi 48.260    phi2 129.472   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 122.791   Phi 61.810    phi2 214.733   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 4.964   Phi 96.688    phi2 7.172   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 140.010   Phi 80.848    phi2 162.089   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 63.001   Phi 113.132    phi2 303.708   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 242.776   Phi 126.157    phi2 233.799   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 309.613   Phi 72.844    phi2 153.225   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 49.935   Phi 93.403    phi2 297.345   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 333.890   Phi 134.640    phi2 89.956   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 31.552   Phi 85.726    phi2 284.914   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 44.772   Phi 78.317    phi2 274.405   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 118.712   Phi 165.960    phi2 52.651   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 330.744   Phi 61.279    phi2 180.731   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 289.955   Phi 87.244    phi2 159.030   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 62.256   Phi 45.489    phi2 271.668   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 264.664   Phi 95.106    phi2 269.250   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 133.757   Phi 30.495    phi2 196.190   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 2.029   Phi 149.868    phi2 200.636   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 50.455   Phi 25.537    phi2 343.986   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 145.349   Phi 81.049    phi2 132.060   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 88.641   Phi 108.107    phi2 240.057   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 274.127   Phi 107.321    phi2 65.807   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 246.960   Phi 49.795    phi2 59.562   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 73.432   Phi 82.848    phi2 159.038   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 16.192   Phi 118.635    phi2 157.565   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 194.750   Phi 81.835    phi2 349.376   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 58.906   Phi 150.235    phi2 48.682   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 205.561   Phi 78.494    phi2 140.671   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 326.394   Phi 95.265    phi2 333.900   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 236.699   Phi 108.852    phi2 328.188   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 75.890   Phi 86.840    phi2 250.115   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 143.151   Phi 90.095    phi2 257.512   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 48.117   Phi 155.857    phi2 343.104   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 329.595   Phi 50.766    phi2 344.578   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 47.530   Phi 113.836    phi2 44.694   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 196.144   Phi 69.066    phi2 12.606   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 232.634   Phi 65.211    phi2 229.158   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 221.234   Phi 11.985    phi2 350.442   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 130.634   Phi 91.154    phi2 187.622   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 164.716   Phi 101.708    phi2 273.306   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 111.171   Phi 117.763    phi2 238.485   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 17.431   Phi 107.613    phi2 129.146   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 231.881   Phi 64.344    phi2 238.044   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 252.419   Phi 132.419    phi2 298.378   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 117.211   Phi 126.707    phi2 276.780   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 164.240   Phi 145.850    phi2 195.868   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 207.619   Phi 130.687    phi2 152.538   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 298.032   Phi 75.227    phi2 146.741   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 130.572   Phi 157.372    phi2 56.638   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 165.864   Phi 38.427    phi2 256.327   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 227.767   Phi 99.267    phi2 341.102   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 14.587   Phi 136.630    phi2 320.987   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 41.902   Phi 135.876    phi2 261.809   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 191.862   Phi 93.502    phi2 15.020   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 298.031   Phi 60.849    phi2 122.952   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 295.908   Phi 48.430    phi2 27.036   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 246.418   Phi 143.177    phi2 310.747   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 315.465   Phi 117.567    phi2 184.991   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
