#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 23.789   Phi 79.999    phi2 289.683   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 123.697   Phi 124.924    phi2 163.544   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 260.507   Phi 27.820    phi2 308.663   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 186.852   Phi 48.565    phi2 14.527   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 326.023   Phi 46.638    phi2 332.594   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 290.771   Phi 121.703    phi2 195.939   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 192.755   Phi 68.115    phi2 275.368   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 318.868   Phi 96.765    phi2 352.908   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 296.271   Phi 47.047    phi2 15.945   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 120.178   Phi 127.310    phi2 197.097   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 348.727   Phi 167.696    phi2 57.762   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 101.718   Phi 46.030    phi2 24.987   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 179.549   Phi 123.161    phi2 47.106   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 137.455   Phi 83.878    phi2 131.542   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 216.688   Phi 74.724    phi2 47.245   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 310.243   Phi 74.492    phi2 220.382   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 144.905   Phi 18.749    phi2 76.554   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 153.961   Phi 174.441    phi2 319.426   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 164.670   Phi 115.358    phi2 281.821   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 297.574   Phi 68.611    phi2 213.853   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 355.044   Phi 164.333    phi2 115.893   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 278.027   Phi 131.750    phi2 192.713   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 181.497   Phi 73.180    phi2 339.846   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 30.445   Phi 72.613    phi2 337.664   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 122.276   Phi 68.470    phi2 49.616   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 189.507   Phi 61.057    phi2 247.345   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 292.950   Phi 99.509    phi2 284.397   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 175.802   Phi 121.856    phi2 187.268   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 15.375   Phi 124.034    phi2 9.335   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 46.945   Phi 66.931    phi2 199.560   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 288.989   Phi 66.999    phi2 51.394   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 178.187   Phi 68.999    phi2 294.862   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 328.695   Phi 37.880    phi2 271.689   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 46.517   Phi 51.126    phi2 173.730   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 225.726   Phi 101.776    phi2 243.852   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 235.487   Phi 43.237    phi2 75.332   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 306.980   Phi 77.810    phi2 134.733   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 166.047   Phi 115.597    phi2 152.418   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 273.693   Phi 63.928    phi2 13.948   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 222.605   Phi 77.934    phi2 290.963   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 353.367   Phi 74.510    phi2 256.528   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 270.829   Phi 54.172    phi2 68.202   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 51.651   Phi 146.835    phi2 20.145   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 177.432   Phi 48.055    phi2 230.860   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 270.326   Phi 60.786    phi2 349.937   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 175.059   Phi 109.886    phi2 210.829   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 159.661   Phi 39.131    phi2 207.455   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 219.620   Phi 108.940    phi2 319.681   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 185.738   Phi 96.303    phi2 77.320   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 335.011   Phi 55.120    phi2 213.365   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 351.764   Phi 108.592    phi2 178.100   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 285.602   Phi 46.855    phi2 271.957   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 278.832   Phi 82.869    phi2 296.052   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 128.558   Phi 119.303    phi2 261.743   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 13.866   Phi 164.405    phi2 333.160   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 51.168   Phi 44.489    phi2 231.248   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 332.681   Phi 102.705    phi2 94.633   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 297.105   Phi 63.193    phi2 309.666   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
