#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 332.886   Phi 85.279    phi2 226.367   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 52.155   Phi 92.028    phi2 333.171   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 267.133   Phi 96.421    phi2 19.326   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 214.470   Phi 42.786    phi2 310.906   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 151.954   Phi 127.960    phi2 192.776   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 248.283   Phi 75.400    phi2 300.887   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 29.000   Phi 70.414    phi2 257.065   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 255.624   Phi 107.323    phi2 260.747   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 56.389   Phi 66.855    phi2 233.427   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 116.790   Phi 70.513    phi2 348.672   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 352.098   Phi 83.202    phi2 206.704   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 93.894   Phi 64.355    phi2 257.270   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 340.403   Phi 140.282    phi2 204.501   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 43.133   Phi 92.310    phi2 182.438   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 343.417   Phi 51.470    phi2 230.025   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 138.824   Phi 66.431    phi2 301.868   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 156.356   Phi 37.191    phi2 332.026   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 61.585   Phi 35.525    phi2 281.244   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 265.772   Phi 103.147    phi2 336.195   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 90.707   Phi 105.694    phi2 314.131   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 117.302   Phi 95.164    phi2 251.110   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 89.960   Phi 74.966    phi2 77.050   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 38.737   Phi 75.422    phi2 160.572   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 221.248   Phi 112.883    phi2 127.405   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 142.707   Phi 119.226    phi2 139.363   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 350.170   Phi 21.228    phi2 195.083   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 164.943   Phi 128.097    phi2 169.221   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 290.567   Phi 103.756    phi2 231.830   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 194.174   Phi 78.101    phi2 107.969   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 302.459   Phi 53.797    phi2 45.294   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 142.997   Phi 146.802    phi2 193.351   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 79.240   Phi 22.087    phi2 210.384   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 57.317   Phi 105.422    phi2 297.377   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 51.153   Phi 11.065    phi2 165.794   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 150.325   Phi 87.092    phi2 164.053   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 160.930   Phi 143.208    phi2 103.310   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 37.810   Phi 154.031    phi2 23.079   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 221.873   Phi 61.965    phi2 99.930   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 145.096   Phi 48.574    phi2 66.612   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 119.616   Phi 68.734    phi2 100.943   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 220.544   Phi 66.512    phi2 152.085   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 30.791   Phi 55.924    phi2 46.193   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 285.582   Phi 42.078    phi2 136.615   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 315.630   Phi 64.999    phi2 127.293   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 179.705   Phi 72.139    phi2 308.248   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 94.305   Phi 83.790    phi2 182.018   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 147.551   Phi 58.988    phi2 234.715   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 210.653   Phi 68.744    phi2 132.853   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 47.923   Phi 40.091    phi2 355.407   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 299.226   Phi 138.278    phi2 180.505   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 36.743   Phi 73.061    phi2 317.110   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 259.818   Phi 110.888    phi2 318.689   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 260.169   Phi 39.179    phi2 327.885   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 160.771   Phi 66.115    phi2 79.701   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 69.267   Phi 140.013    phi2 53.157   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 228.766   Phi 59.485    phi2 8.334   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 56.417   Phi 113.625    phi2 16.088   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 102.352   Phi 70.820    phi2 167.846   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 216.660   Phi 115.700    phi2 297.416   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 21.660   Phi 92.780    phi2 312.374   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 66.618   Phi 3.638    phi2 224.728   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 217.486   Phi 64.816    phi2 118.536   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 292.780   Phi 32.183    phi2 135.346   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 237.733   Phi 131.074    phi2 282.065   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 100.138   Phi 43.782    phi2 286.975   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 32.146   Phi 131.839    phi2 88.727   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 267.691   Phi 70.300    phi2 53.284   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 117.390   Phi 74.554    phi2 299.297   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 255.766   Phi 44.920    phi2 104.349   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 294.392   Phi 127.769    phi2 104.018   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 49.495   Phi 134.568    phi2 184.769   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 285.780   Phi 48.958    phi2 265.065   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 78.176   Phi 39.886    phi2 91.251   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 53.054   Phi 115.149    phi2 108.381   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 167.689   Phi 104.113    phi2 159.653   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 170.187   Phi 145.206    phi2 28.765   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 322.214   Phi 12.697    phi2 150.372   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 289.772   Phi 87.766    phi2 29.041   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 263.616   Phi 74.674    phi2 166.742   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 151.020   Phi 89.621    phi2 286.488   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 15.244   Phi 97.438    phi2 51.958   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 321.645   Phi 82.086    phi2 292.569   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 322.111   Phi 82.988    phi2 124.382   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 209.471   Phi 47.719    phi2 301.274   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 206.979   Phi 80.889    phi2 323.884   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 104.835   Phi 129.891    phi2 139.573   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 51.653   Phi 63.153    phi2 308.196   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 118.217   Phi 57.333    phi2 192.768   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 247.201   Phi 61.912    phi2 52.523   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 160.915   Phi 55.286    phi2 7.057   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 204.038   Phi 141.689    phi2 40.387   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 209.158   Phi 46.395    phi2 86.789   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 354.489   Phi 170.311    phi2 281.040   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 248.872   Phi 92.920    phi2 351.482   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 253.075   Phi 94.447    phi2 304.030   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 32.864   Phi 34.320    phi2 32.943   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 277.057   Phi 136.170    phi2 163.643   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 125.200   Phi 155.296    phi2 170.255   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 88.528   Phi 72.121    phi2 200.687   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 75.546   Phi 118.170    phi2 51.875   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 182.079   Phi 136.227    phi2 226.949   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 176.195   Phi 63.302    phi2 172.173   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 76.389   Phi 26.026    phi2 46.694   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 178.573   Phi 50.365    phi2 183.576   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 233.160   Phi 157.726    phi2 288.639   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 112.296   Phi 132.502    phi2 321.160   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 260.166   Phi 58.390    phi2 325.198   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 183.302   Phi 105.320    phi2 193.153   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 229.412   Phi 100.004    phi2 322.429   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 84.064   Phi 107.164    phi2 38.289   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 85.656   Phi 66.420    phi2 186.426   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 215.881   Phi 118.063    phi2 243.917   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 60.299   Phi 54.253    phi2 78.724   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 79.240   Phi 22.087    phi2 210.384   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 287.358   Phi 132.792    phi2 195.219   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 140.186   Phi 48.478    phi2 346.802   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 257.407   Phi 139.565    phi2 105.686   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 213.737   Phi 56.018    phi2 223.578   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 12.249   Phi 126.574    phi2 226.038   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 75.403   Phi 114.310    phi2 154.355   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 295.701   Phi 51.179    phi2 138.819   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 93.572   Phi 68.155    phi2 162.910   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 55.962   Phi 112.775    phi2 275.524   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 257.807   Phi 12.781    phi2 275.247   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 308.111   Phi 32.584    phi2 321.196   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 123.741   Phi 50.973    phi2 198.162   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 326.962   Phi 66.181    phi2 176.849   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 237.043   Phi 51.448    phi2 57.838   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 299.548   Phi 107.311    phi2 73.379   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 264.127   Phi 42.956    phi2 166.893   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 59.583   Phi 140.968    phi2 169.690   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 183.971   Phi 23.519    phi2 135.292   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 278.755   Phi 108.243    phi2 202.055   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 147.447   Phi 116.319    phi2 65.515   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 124.262   Phi 64.930    phi2 216.731   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 238.867   Phi 90.331    phi2 102.645   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 309.135   Phi 84.239    phi2 343.317   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 92.189   Phi 56.816    phi2 109.503   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 199.968   Phi 159.233    phi2 335.567   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 281.331   Phi 28.619    phi2 136.364   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 196.399   Phi 136.547    phi2 8.974   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 31.296   Phi 53.999    phi2 78.619   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 196.199   Phi 16.768    phi2 285.272   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 329.691   Phi 40.791    phi2 255.122   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 305.742   Phi 104.083    phi2 161.494   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 158.562   Phi 81.152    phi2 340.368   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 348.468   Phi 155.848    phi2 252.046   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 303.679   Phi 63.989    phi2 306.523   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 15.203   Phi 131.898    phi2 48.082   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 299.972   Phi 57.152    phi2 199.740   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 241.013   Phi 153.077    phi2 140.683   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 350.577   Phi 83.503    phi2 45.412   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 249.783   Phi 73.846    phi2 187.350   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 105.673   Phi 25.199    phi2 42.845   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 267.691   Phi 70.300    phi2 53.284   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 289.923   Phi 26.818    phi2 358.507   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 284.207   Phi 92.824    phi2 184.463   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 40.756   Phi 48.426    phi2 343.836   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 51.675   Phi 82.383    phi2 47.458   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 148.745   Phi 121.624    phi2 123.604   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 80.730   Phi 37.417    phi2 323.526   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 15.632   Phi 50.928    phi2 247.335   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 274.489   Phi 158.405    phi2 180.918   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 181.527   Phi 149.076    phi2 161.438   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 248.941   Phi 53.502    phi2 252.393   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 156.290   Phi 108.926    phi2 166.912   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 98.486   Phi 10.735    phi2 227.708   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 67.699   Phi 128.079    phi2 89.388   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 279.485   Phi 158.684    phi2 245.894   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 333.960   Phi 92.965    phi2 329.623   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 17.217   Phi 54.165    phi2 61.576   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 184.874   Phi 64.954    phi2 356.449   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 242.292   Phi 86.468    phi2 195.538   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 244.807   Phi 90.186    phi2 203.402   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 201.071   Phi 22.756    phi2 299.734   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 4.598   Phi 21.004    phi2 7.654   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 245.358   Phi 72.236    phi2 43.012   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 62.832   Phi 95.679    phi2 257.683   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 273.013   Phi 79.146    phi2 172.139   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 34.446   Phi 52.977    phi2 256.247   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 73.239   Phi 120.826    phi2 262.872   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 149.980   Phi 43.700    phi2 181.202   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
