#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 80.792   Phi 39.820    phi2 269.844   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 169.603   Phi 83.489    phi2 123.438   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 346.483   Phi 48.579    phi2 85.193   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 36.272   Phi 32.823    phi2 54.258   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 272.049   Phi 81.643    phi2 346.094   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 281.915   Phi 76.358    phi2 43.594   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 101.711   Phi 111.091    phi2 137.910   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 340.703   Phi 30.613    phi2 245.242   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 214.077   Phi 33.183    phi2 176.977   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 315.168   Phi 52.484    phi2 359.941   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 277.014   Phi 135.096    phi2 53.063   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 85.390   Phi 97.605    phi2 293.994   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 324.775   Phi 46.452    phi2 174.180   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 329.825   Phi 48.040    phi2 346.379   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 23.940   Phi 77.245    phi2 100.856   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 91.016   Phi 117.162    phi2 37.040   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 150.415   Phi 99.979    phi2 228.234   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 181.990   Phi 58.706    phi2 355.223   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 91.352   Phi 49.768    phi2 281.006   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 338.024   Phi 133.560    phi2 352.723   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 135.661   Phi 112.788    phi2 54.877   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 329.708   Phi 93.388    phi2 88.254   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 170.390   Phi 66.577    phi2 355.445   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 228.387   Phi 12.526    phi2 312.143   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 169.821   Phi 21.961    phi2 159.620   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 264.481   Phi 78.998    phi2 118.551   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 12.405   Phi 93.741    phi2 311.399   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 245.149   Phi 123.168    phi2 15.219   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 171.046   Phi 26.910    phi2 336.400   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 239.629   Phi 93.177    phi2 258.472   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 160.069   Phi 125.334    phi2 245.263   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 9.636   Phi 61.440    phi2 302.839   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 319.895   Phi 131.545    phi2 154.300   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 187.956   Phi 80.243    phi2 332.092   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 165.510   Phi 63.147    phi2 241.412   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 301.236   Phi 98.660    phi2 162.912   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 121.124   Phi 73.624    phi2 94.749   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 348.018   Phi 126.729    phi2 225.686   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 240.940   Phi 152.821    phi2 186.447   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 182.474   Phi 81.177    phi2 214.361   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 295.901   Phi 96.497    phi2 83.626   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 145.870   Phi 70.418    phi2 248.873   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 3.885   Phi 33.001    phi2 227.364   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 320.549   Phi 113.842    phi2 198.157   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 313.825   Phi 65.830    phi2 331.512   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 208.055   Phi 151.327    phi2 158.627   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 69.109   Phi 141.582    phi2 115.743   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 256.491   Phi 102.959    phi2 193.871   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 110.824   Phi 105.217    phi2 353.186   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 256.113   Phi 154.248    phi2 159.691   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 315.056   Phi 139.959    phi2 5.259   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 334.110   Phi 86.577    phi2 15.898   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 33.065   Phi 54.548    phi2 19.652   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 76.847   Phi 66.540    phi2 338.472   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 157.983   Phi 127.624    phi2 137.425   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 132.345   Phi 53.072    phi2 216.071   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 314.351   Phi 133.117    phi2 227.013   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 131.996   Phi 19.818    phi2 110.385   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 20.767   Phi 103.458    phi2 92.358   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 192.018   Phi 113.141    phi2 322.709   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 19.370   Phi 40.156    phi2 305.616   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 252.025   Phi 128.311    phi2 125.890   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 255.290   Phi 143.583    phi2 329.437   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 70.483   Phi 57.641    phi2 4.411   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 170.884   Phi 37.399    phi2 34.799   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 79.692   Phi 102.261    phi2 296.085   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 345.166   Phi 91.581    phi2 294.521   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 239.482   Phi 54.459    phi2 150.785   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 333.426   Phi 86.096    phi2 315.285   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 33.342   Phi 84.651    phi2 296.077   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 233.524   Phi 106.501    phi2 163.415   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 162.386   Phi 159.431    phi2 297.750   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 50.102   Phi 91.205    phi2 121.114   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 281.115   Phi 137.927    phi2 105.769   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 1.210   Phi 62.760    phi2 100.300   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 161.186   Phi 74.265    phi2 293.136   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 206.887   Phi 76.583    phi2 165.349   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 325.204   Phi 156.512    phi2 274.507   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 66.632   Phi 126.693    phi2 278.584   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 345.166   Phi 91.581    phi2 294.521   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 117.432   Phi 111.501    phi2 2.078   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 226.292   Phi 65.435    phi2 129.772   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 343.503   Phi 83.812    phi2 1.960   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 123.474   Phi 50.277    phi2 142.842   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 205.776   Phi 86.101    phi2 318.935   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 316.988   Phi 42.521    phi2 43.557   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 22.779   Phi 165.932    phi2 21.268   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 99.250   Phi 76.852    phi2 43.027   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 55.096   Phi 121.537    phi2 210.492   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 217.996   Phi 45.234    phi2 124.249   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 116.893   Phi 125.504    phi2 321.191   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 84.577   Phi 80.870    phi2 244.932   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 116.092   Phi 25.490    phi2 104.249   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 127.714   Phi 125.487    phi2 240.061   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 135.033   Phi 80.484    phi2 332.824   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 83.349   Phi 124.830    phi2 150.605   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 88.348   Phi 83.175    phi2 40.537   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 61.940   Phi 169.138    phi2 271.916   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 177.479   Phi 41.716    phi2 305.260   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 252.261   Phi 63.718    phi2 73.538   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 20.073   Phi 89.321    phi2 17.385   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 10.529   Phi 156.860    phi2 345.508   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 232.322   Phi 20.282    phi2 25.417   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 357.208   Phi 99.498    phi2 191.310   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 352.188   Phi 144.243    phi2 168.457   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 186.158   Phi 21.357    phi2 261.733   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 126.459   Phi 105.484    phi2 257.693   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 73.658   Phi 137.582    phi2 294.644   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 328.909   Phi 19.799    phi2 63.188   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 130.193   Phi 98.727    phi2 67.941   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 72.024   Phi 86.878    phi2 231.933   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 61.822   Phi 104.239    phi2 315.118   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 73.720   Phi 154.042    phi2 192.715   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 19.459   Phi 69.199    phi2 19.283   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 157.738   Phi 115.552    phi2 202.438   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 287.551   Phi 98.523    phi2 136.716   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 265.510   Phi 32.362    phi2 173.942   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 343.513   Phi 25.032    phi2 26.506   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 111.221   Phi 73.735    phi2 12.691   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 2.294   Phi 40.810    phi2 75.085   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 32.194   Phi 46.302    phi2 308.330   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 90.702   Phi 37.029    phi2 154.284   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 166.368   Phi 67.335    phi2 168.196   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
