
# parameters fitted by Anh Tran in https://doi.org/10.1007/s00466-023-02351-6

[Tantalum]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       bcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     267.0e9   # Lim, Hojun, et al. "Grain-scale experimental validation of crystal plasticity finite element simulations of tantalum oligocrystals." International Journal of Plasticity 60 (2014): 1-18.
c12                     161.0e9   # Lim, Hojun, et al. "Grain-scale experimental validation of crystal plasticity finite element simulations of tantalum oligocrystals." International Journal of Plasticity 60 (2014): 1-18.
c44                     82.5e9    # Lim, Hojun, et al. "Grain-scale experimental validation of crystal plasticity finite element simulations of tantalum oligocrystals." International Journal of Plasticity 60 (2014): 1-18.

gdot0_slip              0.0010
n_slip                  4.527257128800e+01
a_slip                  2.000000000000e+02
tau0_slip               6.746410656280e+07
tausat_slip             7.976815208713e+09
h0_slipslip             1.959131977219e+09


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


