

# parameters excerped from:
# DAMASK – The Düsseldorf Advanced Material Simulation Kit for modeling multi-physics crystal plasticity, thermal, and damage phenomena from the single crystal up to the component scale
# Table 4

# On the role of dislocation transport in the constitutive description of crystal plasticity
# Christoph Kords -- Dissertation


[nickel_phenopowerlaw]
# slip only
elasticity              hooke
plasticity              phenopowerlaw

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                totalshear
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                totalvolfrac_twin

lattice_structure       fcc
Nslip                   12              # per family
Ntwin                    0              # per family

c11                     251.0e9
c12                     150.0e9
c44                     124.0e9

gdot0_slip              0.001
n_slip                  83.3
tau0_slip               26.1e6                 # per family
tausat_slip             240.0e6                # per family
a_slip                  1.0
gdot0_twin              0.001
n_twin                  20
h0_slipslip             365e9  # This value is very suspicious but it was excerpted from the paper
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
atol_resistance         1

