#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 75.722   Phi 92.390    phi2 337.820   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 265.185   Phi 147.888    phi2 42.726   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 339.454   Phi 49.640    phi2 324.636   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 231.674   Phi 120.444    phi2 253.578   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 291.092   Phi 87.331    phi2 328.362   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 290.909   Phi 79.712    phi2 298.455   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 322.460   Phi 136.258    phi2 183.064   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 333.365   Phi 95.426    phi2 54.985   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 172.581   Phi 136.841    phi2 243.189   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 132.700   Phi 127.465    phi2 296.704   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 174.252   Phi 167.112    phi2 298.969   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 135.646   Phi 119.402    phi2 94.378   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 203.603   Phi 74.681    phi2 146.765   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 81.226   Phi 87.315    phi2 328.937   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 211.715   Phi 115.678    phi2 124.720   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 246.659   Phi 40.715    phi2 24.199   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 99.082   Phi 91.425    phi2 177.386   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 281.135   Phi 118.947    phi2 294.441   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 150.010   Phi 47.017    phi2 325.479   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 299.049   Phi 104.059    phi2 200.168   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 161.238   Phi 135.955    phi2 332.438   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 6.007   Phi 19.614    phi2 192.540   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 162.173   Phi 55.616    phi2 140.424   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 63.231   Phi 134.505    phi2 314.848   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 83.693   Phi 26.177    phi2 158.643   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 120.615   Phi 144.299    phi2 194.464   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 125.240   Phi 79.448    phi2 54.734   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 52.441   Phi 94.291    phi2 55.392   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 238.083   Phi 124.740    phi2 140.867   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 170.423   Phi 166.031    phi2 316.182   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 135.438   Phi 105.187    phi2 266.773   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 166.120   Phi 127.998    phi2 221.698   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 137.918   Phi 59.224    phi2 189.010   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 337.462   Phi 70.824    phi2 15.903   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 190.396   Phi 137.350    phi2 267.325   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 55.441   Phi 34.957    phi2 85.627   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 217.800   Phi 94.604    phi2 92.908   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 314.994   Phi 126.927    phi2 357.886   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 335.935   Phi 45.721    phi2 316.013   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 296.545   Phi 153.062    phi2 151.691   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 149.107   Phi 114.906    phi2 208.533   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 81.854   Phi 39.499    phi2 6.786   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 34.344   Phi 95.328    phi2 22.758   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 154.287   Phi 107.923    phi2 63.713   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 2.817   Phi 53.584    phi2 91.435   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 330.599   Phi 78.348    phi2 31.916   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 189.195   Phi 44.399    phi2 208.394   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 317.194   Phi 54.029    phi2 166.780   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 188.311   Phi 64.809    phi2 76.168   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 117.148   Phi 80.701    phi2 320.369   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 136.578   Phi 131.935    phi2 102.455   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 139.790   Phi 80.716    phi2 357.609   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 24.867   Phi 48.769    phi2 228.393   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 102.299   Phi 43.761    phi2 286.647   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 215.342   Phi 109.194    phi2 322.310   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 252.697   Phi 137.021    phi2 105.629   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 77.750   Phi 148.965    phi2 351.166   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 12.015   Phi 98.724    phi2 350.881   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 273.050   Phi 44.594    phi2 353.144   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 194.313   Phi 147.410    phi2 217.691   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 244.403   Phi 58.123    phi2 20.611   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 153.747   Phi 140.796    phi2 98.106   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 232.625   Phi 30.214    phi2 132.275   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 61.217   Phi 111.488    phi2 219.008   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 30.056   Phi 94.839    phi2 263.533   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 114.288   Phi 137.722    phi2 80.907   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 259.228   Phi 68.542    phi2 211.020   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 320.335   Phi 128.790    phi2 326.585   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 123.770   Phi 46.035    phi2 286.011   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 27.877   Phi 104.584    phi2 161.805   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 272.522   Phi 43.751    phi2 93.653   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 3.931   Phi 61.610    phi2 165.232   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 111.001   Phi 99.808    phi2 300.692   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 73.365   Phi 155.424    phi2 101.610   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 48.795   Phi 81.885    phi2 12.213   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 99.934   Phi 9.250    phi2 13.277   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 238.153   Phi 127.054    phi2 212.331   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 111.240   Phi 79.252    phi2 171.712   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 120.824   Phi 135.231    phi2 351.319   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 206.652   Phi 51.560    phi2 336.568   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 226.577   Phi 26.324    phi2 135.821   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 167.804   Phi 37.911    phi2 104.001   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 170.243   Phi 73.561    phi2 147.990   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 51.442   Phi 97.376    phi2 325.126   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 266.948   Phi 120.142    phi2 3.550   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 96.779   Phi 152.497    phi2 262.048   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 216.792   Phi 128.605    phi2 147.458   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 9.440   Phi 77.902    phi2 41.303   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 36.368   Phi 66.888    phi2 345.766   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 97.878   Phi 6.338    phi2 143.102   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 93.409   Phi 78.634    phi2 22.462   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 240.811   Phi 118.282    phi2 37.020   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 298.779   Phi 45.674    phi2 56.590   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 151.910   Phi 166.586    phi2 171.812   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 230.632   Phi 73.400    phi2 246.120   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 119.195   Phi 99.131    phi2 96.916   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 183.304   Phi 136.136    phi2 226.784   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 9.292   Phi 45.492    phi2 280.899   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 326.475   Phi 136.046    phi2 313.521   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 118.993   Phi 84.508    phi2 314.642   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 226.999   Phi 80.222    phi2 169.560   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 74.321   Phi 38.406    phi2 200.327   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 149.590   Phi 42.460    phi2 331.687   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 61.354   Phi 153.870    phi2 111.265   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 73.171   Phi 67.997    phi2 264.741   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 300.950   Phi 118.301    phi2 282.605   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 163.282   Phi 43.092    phi2 250.731   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 16.811   Phi 70.164    phi2 14.250   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 206.152   Phi 47.880    phi2 327.662   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 49.932   Phi 57.505    phi2 73.442   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 44.429   Phi 121.209    phi2 325.794   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 145.916   Phi 84.962    phi2 117.810   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 314.950   Phi 133.721    phi2 273.710   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 71.758   Phi 90.945    phi2 262.486   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 322.343   Phi 82.738    phi2 254.978   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 147.035   Phi 126.538    phi2 53.552   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 308.311   Phi 44.715    phi2 332.073   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 181.177   Phi 96.229    phi2 143.025   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 227.574   Phi 123.279    phi2 54.663   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 281.141   Phi 147.406    phi2 170.509   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 353.334   Phi 93.286    phi2 288.327   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 29.693   Phi 150.374    phi2 159.078   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 162.073   Phi 134.688    phi2 122.664   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 94.474   Phi 6.881    phi2 130.510   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 4.096   Phi 117.718    phi2 91.929   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 54.838   Phi 56.229    phi2 218.228   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 121.567   Phi 124.718    phi2 36.621   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 189.583   Phi 12.499    phi2 335.929   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 170.408   Phi 105.493    phi2 21.659   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 57.374   Phi 40.069    phi2 280.475   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 177.978   Phi 136.903    phi2 36.297   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 303.385   Phi 101.959    phi2 36.880   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 104.405   Phi 127.613    phi2 185.023   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 304.039   Phi 135.643    phi2 335.677   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 102.472   Phi 86.942    phi2 196.769   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 139.683   Phi 120.188    phi2 152.957   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 129.315   Phi 13.282    phi2 116.682   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 79.991   Phi 86.894    phi2 250.910   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 324.457   Phi 102.308    phi2 54.291   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 261.843   Phi 124.551    phi2 42.700   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 43.271   Phi 89.890    phi2 95.081   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 48.247   Phi 84.176    phi2 320.373   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 200.726   Phi 106.046    phi2 219.616   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 126.891   Phi 45.390    phi2 95.163   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 207.684   Phi 62.073    phi2 116.473   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 250.206   Phi 78.098    phi2 233.865   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 46.634   Phi 132.431    phi2 317.107   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 121.910   Phi 140.818    phi2 335.064   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 30.721   Phi 50.307    phi2 227.707   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 178.639   Phi 102.317    phi2 260.195   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 51.018   Phi 97.685    phi2 317.372   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 234.405   Phi 84.383    phi2 182.587   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 143.230   Phi 131.199    phi2 86.976   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 222.075   Phi 122.919    phi2 110.315   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 268.452   Phi 89.328    phi2 340.558   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 317.345   Phi 11.755    phi2 94.395   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 234.285   Phi 91.720    phi2 205.557   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 99.019   Phi 91.278    phi2 351.682   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 232.902   Phi 122.201    phi2 47.531   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 265.589   Phi 81.881    phi2 70.673   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 116.801   Phi 156.649    phi2 228.756   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 60.562   Phi 54.655    phi2 41.510   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 93.697   Phi 76.398    phi2 169.320   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 322.131   Phi 80.104    phi2 200.007   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 139.496   Phi 150.088    phi2 307.041   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 186.920   Phi 124.692    phi2 181.862   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 239.385   Phi 85.025    phi2 74.911   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 32.957   Phi 93.447    phi2 218.869   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 220.242   Phi 136.114    phi2 73.634   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 152.915   Phi 69.680    phi2 155.755   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 33.213   Phi 139.041    phi2 74.526   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 51.448   Phi 137.449    phi2 170.162   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 28.469   Phi 122.789    phi2 175.743   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 37.822   Phi 54.027    phi2 239.209   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 219.178   Phi 109.471    phi2 260.982   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 215.458   Phi 97.422    phi2 204.633   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 166.746   Phi 91.200    phi2 194.435   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 59.980   Phi 133.578    phi2 301.828   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 304.991   Phi 66.853    phi2 51.698   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 36.055   Phi 129.728    phi2 333.748   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 115.812   Phi 142.850    phi2 57.991   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 270.383   Phi 57.676    phi2 345.622   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 196.724   Phi 138.146    phi2 152.523   scatter 0.0   fraction 1.0 
[grain184]
(gauss) phi1 133.649   Phi 86.722    phi2 226.226   scatter 0.0   fraction 1.0 
[grain185]
(gauss) phi1 138.917   Phi 40.158    phi2 17.276   scatter 0.0   fraction 1.0 
[grain186]
(gauss) phi1 36.046   Phi 24.829    phi2 63.937   scatter 0.0   fraction 1.0 
[grain187]
(gauss) phi1 197.835   Phi 9.442    phi2 167.516   scatter 0.0   fraction 1.0 
[grain188]
(gauss) phi1 138.377   Phi 166.572    phi2 294.072   scatter 0.0   fraction 1.0 
[grain189]
(gauss) phi1 320.018   Phi 56.518    phi2 240.591   scatter 0.0   fraction 1.0 
[grain190]
(gauss) phi1 319.095   Phi 111.138    phi2 241.945   scatter 0.0   fraction 1.0 
[grain191]
(gauss) phi1 293.579   Phi 164.089    phi2 297.900   scatter 0.0   fraction 1.0 
[grain192]
(gauss) phi1 228.605   Phi 128.741    phi2 264.404   scatter 0.0   fraction 1.0 
[grain193]
(gauss) phi1 182.423   Phi 87.228    phi2 158.087   scatter 0.0   fraction 1.0 
[grain194]
(gauss) phi1 338.409   Phi 130.223    phi2 214.671   scatter 0.0   fraction 1.0 
[grain195]
(gauss) phi1 64.627   Phi 131.199    phi2 24.936   scatter 0.0   fraction 1.0 
[grain196]
(gauss) phi1 150.246   Phi 127.828    phi2 60.472   scatter 0.0   fraction 1.0 
[grain197]
(gauss) phi1 346.639   Phi 106.833    phi2 117.251   scatter 0.0   fraction 1.0 
[grain198]
(gauss) phi1 346.767   Phi 95.707    phi2 201.132   scatter 0.0   fraction 1.0 
[grain199]
(gauss) phi1 78.393   Phi 63.710    phi2 317.424   scatter 0.0   fraction 1.0 
[grain200]
(gauss) phi1 296.199   Phi 114.597    phi2 287.094   scatter 0.0   fraction 1.0 
[grain201]
(gauss) phi1 251.396   Phi 112.763    phi2 3.066   scatter 0.0   fraction 1.0 
[grain202]
(gauss) phi1 50.919   Phi 122.652    phi2 35.861   scatter 0.0   fraction 1.0 
[grain203]
(gauss) phi1 95.868   Phi 123.309    phi2 292.589   scatter 0.0   fraction 1.0 
[grain204]
(gauss) phi1 263.634   Phi 161.197    phi2 355.012   scatter 0.0   fraction 1.0 
[grain205]
(gauss) phi1 60.990   Phi 104.124    phi2 140.416   scatter 0.0   fraction 1.0 
[grain206]
(gauss) phi1 149.881   Phi 41.612    phi2 252.636   scatter 0.0   fraction 1.0 
[grain207]
(gauss) phi1 76.506   Phi 130.907    phi2 131.422   scatter 0.0   fraction 1.0 
[grain208]
(gauss) phi1 56.026   Phi 119.463    phi2 15.552   scatter 0.0   fraction 1.0 
[grain209]
(gauss) phi1 2.108   Phi 80.726    phi2 175.785   scatter 0.0   fraction 1.0 
[grain210]
(gauss) phi1 355.583   Phi 71.014    phi2 30.735   scatter 0.0   fraction 1.0 
[grain211]
(gauss) phi1 145.576   Phi 50.675    phi2 248.531   scatter 0.0   fraction 1.0 
[grain212]
(gauss) phi1 155.349   Phi 54.483    phi2 256.263   scatter 0.0   fraction 1.0 
[grain213]
(gauss) phi1 245.060   Phi 52.990    phi2 299.537   scatter 0.0   fraction 1.0 
[grain214]
(gauss) phi1 144.741   Phi 78.428    phi2 338.809   scatter 0.0   fraction 1.0 
[grain215]
(gauss) phi1 164.610   Phi 144.779    phi2 193.573   scatter 0.0   fraction 1.0 
[grain216]
(gauss) phi1 343.946   Phi 93.350    phi2 131.267   scatter 0.0   fraction 1.0 
[grain217]
(gauss) phi1 153.799   Phi 91.700    phi2 318.749   scatter 0.0   fraction 1.0 
[grain218]
(gauss) phi1 300.823   Phi 149.136    phi2 258.020   scatter 0.0   fraction 1.0 
[grain219]
(gauss) phi1 348.083   Phi 84.760    phi2 270.052   scatter 0.0   fraction 1.0 
[grain220]
(gauss) phi1 102.346   Phi 142.067    phi2 126.454   scatter 0.0   fraction 1.0 
[grain221]
(gauss) phi1 199.723   Phi 130.158    phi2 240.356   scatter 0.0   fraction 1.0 
[grain222]
(gauss) phi1 277.062   Phi 104.218    phi2 140.778   scatter 0.0   fraction 1.0 
[grain223]
(gauss) phi1 177.905   Phi 65.843    phi2 44.799   scatter 0.0   fraction 1.0 
[grain224]
(gauss) phi1 159.912   Phi 114.094    phi2 190.288   scatter 0.0   fraction 1.0 
[grain225]
(gauss) phi1 43.585   Phi 121.582    phi2 246.927   scatter 0.0   fraction 1.0 
[grain226]
(gauss) phi1 253.618   Phi 103.186    phi2 175.370   scatter 0.0   fraction 1.0 
[grain227]
(gauss) phi1 22.979   Phi 119.530    phi2 50.729   scatter 0.0   fraction 1.0 
[grain228]
(gauss) phi1 240.560   Phi 98.613    phi2 1.054   scatter 0.0   fraction 1.0 
[grain229]
(gauss) phi1 173.630   Phi 67.263    phi2 110.051   scatter 0.0   fraction 1.0 
[grain230]
(gauss) phi1 226.308   Phi 55.487    phi2 140.521   scatter 0.0   fraction 1.0 
[grain231]
(gauss) phi1 199.806   Phi 124.527    phi2 66.513   scatter 0.0   fraction 1.0 
[grain232]
(gauss) phi1 216.412   Phi 11.304    phi2 306.056   scatter 0.0   fraction 1.0 
[grain233]
(gauss) phi1 96.725   Phi 63.528    phi2 303.108   scatter 0.0   fraction 1.0 
[grain234]
(gauss) phi1 220.069   Phi 117.108    phi2 90.368   scatter 0.0   fraction 1.0 
[grain235]
(gauss) phi1 355.848   Phi 142.308    phi2 138.193   scatter 0.0   fraction 1.0 
[grain236]
(gauss) phi1 295.995   Phi 111.646    phi2 178.590   scatter 0.0   fraction 1.0 
[grain237]
(gauss) phi1 183.765   Phi 129.053    phi2 290.861   scatter 0.0   fraction 1.0 
[grain238]
(gauss) phi1 345.486   Phi 93.224    phi2 162.962   scatter 0.0   fraction 1.0 
[grain239]
(gauss) phi1 117.297   Phi 53.192    phi2 16.377   scatter 0.0   fraction 1.0 
[grain240]
(gauss) phi1 287.268   Phi 134.337    phi2 140.516   scatter 0.0   fraction 1.0 
[grain241]
(gauss) phi1 217.664   Phi 19.817    phi2 187.186   scatter 0.0   fraction 1.0 
[grain242]
(gauss) phi1 111.769   Phi 163.498    phi2 144.378   scatter 0.0   fraction 1.0 
[grain243]
(gauss) phi1 330.113   Phi 32.373    phi2 117.242   scatter 0.0   fraction 1.0 
[grain244]
(gauss) phi1 37.671   Phi 131.678    phi2 335.672   scatter 0.0   fraction 1.0 
[grain245]
(gauss) phi1 24.876   Phi 107.804    phi2 298.071   scatter 0.0   fraction 1.0 
[grain246]
(gauss) phi1 33.441   Phi 92.961    phi2 224.229   scatter 0.0   fraction 1.0 
[grain247]
(gauss) phi1 138.018   Phi 85.592    phi2 74.622   scatter 0.0   fraction 1.0 
[grain248]
(gauss) phi1 162.698   Phi 47.400    phi2 58.950   scatter 0.0   fraction 1.0 
[grain249]
(gauss) phi1 239.697   Phi 32.095    phi2 262.337   scatter 0.0   fraction 1.0 
[grain250]
(gauss) phi1 277.020   Phi 72.580    phi2 247.080   scatter 0.0   fraction 1.0 
[grain251]
(gauss) phi1 88.996   Phi 126.308    phi2 152.570   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
[grain184]
crystallite 1
(constituent)   phase 1 texture 184 fraction 1.0
[grain185]
crystallite 1
(constituent)   phase 1 texture 185 fraction 1.0
[grain186]
crystallite 1
(constituent)   phase 1 texture 186 fraction 1.0
[grain187]
crystallite 1
(constituent)   phase 1 texture 187 fraction 1.0
[grain188]
crystallite 1
(constituent)   phase 1 texture 188 fraction 1.0
[grain189]
crystallite 1
(constituent)   phase 1 texture 189 fraction 1.0
[grain190]
crystallite 1
(constituent)   phase 1 texture 190 fraction 1.0
[grain191]
crystallite 1
(constituent)   phase 1 texture 191 fraction 1.0
[grain192]
crystallite 1
(constituent)   phase 1 texture 192 fraction 1.0
[grain193]
crystallite 1
(constituent)   phase 1 texture 193 fraction 1.0
[grain194]
crystallite 1
(constituent)   phase 1 texture 194 fraction 1.0
[grain195]
crystallite 1
(constituent)   phase 1 texture 195 fraction 1.0
[grain196]
crystallite 1
(constituent)   phase 1 texture 196 fraction 1.0
[grain197]
crystallite 1
(constituent)   phase 1 texture 197 fraction 1.0
[grain198]
crystallite 1
(constituent)   phase 1 texture 198 fraction 1.0
[grain199]
crystallite 1
(constituent)   phase 1 texture 199 fraction 1.0
[grain200]
crystallite 1
(constituent)   phase 1 texture 200 fraction 1.0
[grain201]
crystallite 1
(constituent)   phase 1 texture 201 fraction 1.0
[grain202]
crystallite 1
(constituent)   phase 1 texture 202 fraction 1.0
[grain203]
crystallite 1
(constituent)   phase 1 texture 203 fraction 1.0
[grain204]
crystallite 1
(constituent)   phase 1 texture 204 fraction 1.0
[grain205]
crystallite 1
(constituent)   phase 1 texture 205 fraction 1.0
[grain206]
crystallite 1
(constituent)   phase 1 texture 206 fraction 1.0
[grain207]
crystallite 1
(constituent)   phase 1 texture 207 fraction 1.0
[grain208]
crystallite 1
(constituent)   phase 1 texture 208 fraction 1.0
[grain209]
crystallite 1
(constituent)   phase 1 texture 209 fraction 1.0
[grain210]
crystallite 1
(constituent)   phase 1 texture 210 fraction 1.0
[grain211]
crystallite 1
(constituent)   phase 1 texture 211 fraction 1.0
[grain212]
crystallite 1
(constituent)   phase 1 texture 212 fraction 1.0
[grain213]
crystallite 1
(constituent)   phase 1 texture 213 fraction 1.0
[grain214]
crystallite 1
(constituent)   phase 1 texture 214 fraction 1.0
[grain215]
crystallite 1
(constituent)   phase 1 texture 215 fraction 1.0
[grain216]
crystallite 1
(constituent)   phase 1 texture 216 fraction 1.0
[grain217]
crystallite 1
(constituent)   phase 1 texture 217 fraction 1.0
[grain218]
crystallite 1
(constituent)   phase 1 texture 218 fraction 1.0
[grain219]
crystallite 1
(constituent)   phase 1 texture 219 fraction 1.0
[grain220]
crystallite 1
(constituent)   phase 1 texture 220 fraction 1.0
[grain221]
crystallite 1
(constituent)   phase 1 texture 221 fraction 1.0
[grain222]
crystallite 1
(constituent)   phase 1 texture 222 fraction 1.0
[grain223]
crystallite 1
(constituent)   phase 1 texture 223 fraction 1.0
[grain224]
crystallite 1
(constituent)   phase 1 texture 224 fraction 1.0
[grain225]
crystallite 1
(constituent)   phase 1 texture 225 fraction 1.0
[grain226]
crystallite 1
(constituent)   phase 1 texture 226 fraction 1.0
[grain227]
crystallite 1
(constituent)   phase 1 texture 227 fraction 1.0
[grain228]
crystallite 1
(constituent)   phase 1 texture 228 fraction 1.0
[grain229]
crystallite 1
(constituent)   phase 1 texture 229 fraction 1.0
[grain230]
crystallite 1
(constituent)   phase 1 texture 230 fraction 1.0
[grain231]
crystallite 1
(constituent)   phase 1 texture 231 fraction 1.0
[grain232]
crystallite 1
(constituent)   phase 1 texture 232 fraction 1.0
[grain233]
crystallite 1
(constituent)   phase 1 texture 233 fraction 1.0
[grain234]
crystallite 1
(constituent)   phase 1 texture 234 fraction 1.0
[grain235]
crystallite 1
(constituent)   phase 1 texture 235 fraction 1.0
[grain236]
crystallite 1
(constituent)   phase 1 texture 236 fraction 1.0
[grain237]
crystallite 1
(constituent)   phase 1 texture 237 fraction 1.0
[grain238]
crystallite 1
(constituent)   phase 1 texture 238 fraction 1.0
[grain239]
crystallite 1
(constituent)   phase 1 texture 239 fraction 1.0
[grain240]
crystallite 1
(constituent)   phase 1 texture 240 fraction 1.0
[grain241]
crystallite 1
(constituent)   phase 1 texture 241 fraction 1.0
[grain242]
crystallite 1
(constituent)   phase 1 texture 242 fraction 1.0
[grain243]
crystallite 1
(constituent)   phase 1 texture 243 fraction 1.0
[grain244]
crystallite 1
(constituent)   phase 1 texture 244 fraction 1.0
[grain245]
crystallite 1
(constituent)   phase 1 texture 245 fraction 1.0
[grain246]
crystallite 1
(constituent)   phase 1 texture 246 fraction 1.0
[grain247]
crystallite 1
(constituent)   phase 1 texture 247 fraction 1.0
[grain248]
crystallite 1
(constituent)   phase 1 texture 248 fraction 1.0
[grain249]
crystallite 1
(constituent)   phase 1 texture 249 fraction 1.0
[grain250]
crystallite 1
(constituent)   phase 1 texture 250 fraction 1.0
[grain251]
crystallite 1
(constituent)   phase 1 texture 251 fraction 1.0
