#-------------------#
<homogenization>
#-------------------#

[dummy]
mech			isostrain
type			none
nconstituents	1

#-------------------#
<crystallite>
#-------------------#
[all]
# (output) phase
# (output) texture
# (output) volume
# (output) orientation    # quaternion
# (output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4) in crystal reference coordinates
(output) f              # deformation gradient tensor
# (output) fe             # elastic deformation gradient tensor
# (output) fp             # plastic deformation gradient tensor
(output) p              # first Piola-Kichhoff stress tensor
(output) s              # second Piola-Kichhoff stress tensor
# (output) lp             # plastic velocity gradient tensor
# (output) elasmatrix     # elastic stiffness matrix





#-------------------#
<phase>
#-------------------#
/echo/
[Mg]
plasticity            phenopowerlaw
elasticity            hooke

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                totalshear
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                totalvolfrac_twin

lattice_structure       hex
covera_ratio            1.62350                          # from Tromans 2011, Elastic Anisotropy of HCP Metal Crystals and Polycrystals
c11                     59.3e9                           #  - " -
c33                     61.5e9                           #  - " -
c44                     16.4e9                           #  - " -
c12                     25.7e9                           #  - " -
c13                     21.4e9                           #  - " -

#                      basal  prism  prism pyr(a) pyr(c+a) pyr(c+a)
Nslip                  3      3      0      6        0      6      # from Agnew et al 2006, Validating a polycrystal model for the elastoplastic response of mg alloy AZ32 using in situ neutron diffraction
#                      T1 C1 T2 C2         
Ntwin                  6  0  0  6                                  #  - " - 
#                      basal  prism  prism pyr(a) pyr(c+a) pyr(c+a)
tau0_slip               10.0e6  55.0e6  0   60.0e6  0.0   60.0e6     #  - " - table 1, pyr(a) set to pyr(c+a)
tausat_slip             40.0e6 135.0e6  0  150.0e6  0.0  150.0e6     #  - " - table 1, pyr(a) set to pyr(c+a)
#                      T1    C1   T2   C2 
tau0_twin              40e6  0.0  0.0  60.0e6                        #  - " - table 1, compressive twin guessed by Steffi, tensile twin modified to match experimental results

h0_twintwin           50.0e6                                         #  - " - table 1, same range as theta_0
h0_slipslip          500.0e6                                         #  - " - table 1, same range as theta_0
h0_twinslip          150.0e6                                         # guessing

interaction_slipslip    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1    1 1 1 1 1 1 1 1 1 1    1 1 1 1 1 1 1 1 1 1   1 1  # just guessing
interaction_twintwin    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1                                                      #  - " - 
interaction_sliptwin    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1    1 1 1 1                                           #  - " - 
interaction_twinslip    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1    1 1 1 1                                           #  - " - 



####################################################
# open for discussion
####################################################
atol_resistance         1
atol_shear              0
atol_twinfrac           0

n_twin                  20
n_slip                  20

gdot0_twin              0.001
gdot0_slip              0.001

twin_b                  0
twin_c                  0
twin_d                  20
twin_e                  20

a_slip                  2.25
s_pr                    10.0                  # push-up factor for slip saturation due to twinning


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 109.017   Phi 172.206    phi2 125.033   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 271.302   Phi 3.609    phi2 245.890   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 96.758   Phi 165.494    phi2 60.959   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 124.810   Phi 170.969    phi2 270.908   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 110.937   Phi 169.780    phi2 121.693   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 302.180   Phi 173.122    phi2 202.272   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 198.398   Phi 3.825    phi2 87.313   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 305.470   Phi 175.524    phi2 333.393   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 4.689   Phi 170.731    phi2 202.271   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 64.676   Phi 11.826    phi2 216.423   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 340.372   Phi 13.818    phi2 117.366   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 21.540   Phi 15.277    phi2 75.904   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 17.913   Phi 165.979    phi2 219.579   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 212.091   Phi 178.693    phi2 112.425   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 173.875   Phi 164.680    phi2 142.703   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 96.758   Phi 165.494    phi2 60.959   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 59.212   Phi 169.426    phi2 195.323   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 78.826   Phi 163.682    phi2 331.958   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 286.027   Phi 7.253    phi2 164.735   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 244.333   Phi 168.958    phi2 326.404   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 244.581   Phi 2.924    phi2 334.097   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 220.655   Phi 10.312    phi2 232.497   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 124.097   Phi 19.803    phi2 154.619   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 24.116   Phi 171.860    phi2 291.957   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 108.494   Phi 4.125    phi2 232.316   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 82.098   Phi 161.611    phi2 342.549   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 288.690   Phi 168.329    phi2 194.747   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 328.489   Phi 16.504    phi2 307.004   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 239.327   Phi 16.266    phi2 273.407   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 119.472   Phi 5.759    phi2 286.022   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 53.784   Phi 174.765    phi2 17.340   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 71.643   Phi 165.634    phi2 326.031   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 140.027   Phi 18.800    phi2 256.267   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 331.065   Phi 10.227    phi2 195.693   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 73.005   Phi 164.037    phi2 264.630   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 69.044   Phi 7.661    phi2 38.396   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 176.302   Phi 21.687    phi2 278.025   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 227.914   Phi 16.775    phi2 296.235   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 24.116   Phi 171.860    phi2 291.957   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 343.174   Phi 167.855    phi2 252.677   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 132.061   Phi 6.155    phi2 95.787   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 14.754   Phi 167.865    phi2 96.216   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 30.374   Phi 2.768    phi2 125.083   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 2.193   Phi 5.694    phi2 221.097   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 28.256   Phi 166.502    phi2 106.343   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 251.128   Phi 8.566    phi2 158.172   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 217.803   Phi 163.327    phi2 6.113   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 345.557   Phi 13.728    phi2 301.103   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 167.883   Phi 23.049    phi2 41.836   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 295.965   Phi 23.150    phi2 283.431   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 85.024   Phi 156.674    phi2 101.930   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 15.823   Phi 166.706    phi2 105.214   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 156.350   Phi 14.572    phi2 240.921   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 94.569   Phi 160.276    phi2 124.649   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 114.002   Phi 173.361    phi2 132.422   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 338.549   Phi 14.736    phi2 55.436   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 345.557   Phi 13.728    phi2 301.103   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 197.696   Phi 21.110    phi2 143.665   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 244.333   Phi 168.958    phi2 326.404   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 190.655   Phi 24.251    phi2 205.255   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 82.098   Phi 161.611    phi2 342.549   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 221.998   Phi 11.170    phi2 170.347   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 265.096   Phi 168.936    phi2 290.545   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 292.665   Phi 15.214    phi2 218.955   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 24.116   Phi 171.860    phi2 291.957   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 340.394   Phi 5.248    phi2 179.183   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 27.108   Phi 161.016    phi2 286.822   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 295.748   Phi 165.260    phi2 75.230   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 189.967   Phi 167.176    phi2 93.537   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 268.843   Phi 18.125    phi2 133.769   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 339.446   Phi 173.336    phi2 231.495   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 102.815   Phi 168.834    phi2 246.623   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 147.030   Phi 174.215    phi2 175.587   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 106.305   Phi 173.733    phi2 119.637   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 143.581   Phi 168.944    phi2 39.073   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 94.668   Phi 167.602    phi2 233.915   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 258.193   Phi 11.687    phi2 257.831   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 339.154   Phi 162.548    phi2 119.823   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 0.000   Phi 0.000    phi2 0.000   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 84.672   Phi 169.716    phi2 172.666   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 133.978   Phi 5.666    phi2 148.431   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 290.186   Phi 15.464    phi2 52.766   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 358.171   Phi 156.123    phi2 14.361   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 288.690   Phi 168.329    phi2 194.747   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 320.638   Phi 169.672    phi2 214.889   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 332.147   Phi 170.380    phi2 299.346   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 39.182   Phi 171.503    phi2 67.955   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 139.836   Phi 21.157    phi2 13.100   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 331.732   Phi 168.547    phi2 103.332   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 349.894   Phi 157.923    phi2 8.333   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 303.055   Phi 164.727    phi2 89.473   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 108.583   Phi 158.572    phi2 316.611   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 332.147   Phi 170.380    phi2 299.346   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 120.788   Phi 12.541    phi2 274.120   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 72.333   Phi 8.473    phi2 161.255   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 49.897   Phi 168.910    phi2 19.662   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 101.402   Phi 164.222    phi2 128.548   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 82.098   Phi 161.611    phi2 342.549   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 156.350   Phi 14.572    phi2 240.921   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 200.954   Phi 13.583    phi2 132.072   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 338.549   Phi 14.736    phi2 55.436   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 18.410   Phi 11.905    phi2 265.793   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 245.965   Phi 8.299    phi2 332.721   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 124.097   Phi 19.803    phi2 154.619   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 258.134   Phi 164.358    phi2 95.173   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 342.041   Phi 14.608    phi2 292.063   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 181.951   Phi 21.981    phi2 33.330   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 344.164   Phi 5.643    phi2 181.814   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 215.475   Phi 15.469    phi2 188.335   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 265.315   Phi 173.548    phi2 49.525   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 85.704   Phi 18.300    phi2 306.711   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 315.102   Phi 172.097    phi2 100.069   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 166.410   Phi 8.237    phi2 237.525   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 53.511   Phi 8.354    phi2 54.486   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 74.270   Phi 165.697    phi2 223.999   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 243.712   Phi 173.684    phi2 319.112   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 14.331   Phi 153.545    phi2 280.455   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 122.498   Phi 165.338    phi2 150.135   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 78.652   Phi 161.241    phi2 336.553   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 39.570   Phi 171.021    phi2 230.981   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 177.203   Phi 17.783    phi2 333.695   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 134.129   Phi 19.555    phi2 200.221   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 295.810   Phi 8.032    phi2 173.104   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 234.399   Phi 14.478    phi2 289.536   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 257.169   Phi 20.534    phi2 141.830   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 181.905   Phi 170.805    phi2 21.485   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 24.116   Phi 171.860    phi2 291.957   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 162.297   Phi 22.515    phi2 48.569   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 84.829   Phi 11.359    phi2 5.956   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 170.501   Phi 165.891    phi2 18.678   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 186.946   Phi 15.363    phi2 25.945   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 85.715   Phi 164.048    phi2 115.901   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 42.063   Phi 165.491    phi2 62.123   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 96.758   Phi 165.494    phi2 60.959   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 341.381   Phi 19.003    phi2 231.562   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 102.297   Phi 167.401    phi2 64.758   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 181.887   Phi 10.821    phi2 47.507   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 233.688   Phi 18.051    phi2 216.143   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 87.664   Phi 11.198    phi2 72.010   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 120.947   Phi 2.626    phi2 330.863   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 306.836   Phi 7.700    phi2 266.753   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 101.502   Phi 166.439    phi2 240.158   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 71.188   Phi 158.784    phi2 36.038   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 167.883   Phi 23.049    phi2 41.836   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 141.971   Phi 16.792    phi2 69.456   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 315.770   Phi 166.266    phi2 154.390   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 27.352   Phi 172.848    phi2 54.865   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 265.315   Phi 173.548    phi2 49.525   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 163.556   Phi 172.969    phi2 247.289   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 332.147   Phi 170.380    phi2 299.346   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 102.920   Phi 7.948    phi2 305.900   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 342.041   Phi 14.608    phi2 292.063   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 66.022   Phi 165.485    phi2 19.761   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 91.022   Phi 162.334    phi2 176.909   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 47.277   Phi 158.052    phi2 130.003   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 246.267   Phi 18.000    phi2 148.270   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 46.035   Phi 178.743    phi2 8.691   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 342.041   Phi 14.608    phi2 292.063   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 328.119   Phi 13.052    phi2 317.997   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 319.975   Phi 4.315    phi2 89.268   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 265.315   Phi 173.548    phi2 49.525   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 288.727   Phi 3.730    phi2 236.165   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 4.162   Phi 169.707    phi2 136.877   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 68.078   Phi 167.445    phi2 97.581   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 117.397   Phi 169.945    phi2 259.327   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 123.206   Phi 171.581    phi2 25.229   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 237.076   Phi 7.783    phi2 50.952   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 340.046   Phi 167.075    phi2 308.689   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 96.758   Phi 165.494    phi2 60.959   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 197.070   Phi 18.222    phi2 20.505   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 238.328   Phi 10.884    phi2 161.013   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 340.372   Phi 13.818    phi2 117.366   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 255.212   Phi 6.850    phi2 75.793   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 140.626   Phi 171.253    phi2 159.919   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 182.075   Phi 11.192    phi2 221.216   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 296.739   Phi 16.511    phi2 162.586   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 332.953   Phi 174.225    phi2 47.169   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 233.323   Phi 14.286    phi2 339.969   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 4.689   Phi 170.731    phi2 202.271   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 53.746   Phi 168.617    phi2 189.459   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 342.518   Phi 167.585    phi2 4.869   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 342.358   Phi 169.706    phi2 182.092   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 244.115   Phi 24.417    phi2 91.019   scatter 0.0   fraction 1.0 
[grain184]
(gauss) phi1 149.717   Phi 11.828    phi2 15.600   scatter 0.0   fraction 1.0 
[grain185]
(gauss) phi1 112.465   Phi 165.994    phi2 70.194   scatter 0.0   fraction 1.0 
[grain186]
(gauss) phi1 100.431   Phi 8.607    phi2 250.963   scatter 0.0   fraction 1.0 
[grain187]
(gauss) phi1 2.813   Phi 164.361    phi2 25.338   scatter 0.0   fraction 1.0 
[grain188]
(gauss) phi1 202.714   Phi 13.593    phi2 139.796   scatter 0.0   fraction 1.0 
[grain189]
(gauss) phi1 205.522   Phi 177.999    phi2 97.601   scatter 0.0   fraction 1.0 
[grain190]
(gauss) phi1 4.689   Phi 170.731    phi2 202.271   scatter 0.0   fraction 1.0 
[grain191]
(gauss) phi1 319.975   Phi 4.315    phi2 89.268   scatter 0.0   fraction 1.0 
[grain192]
(gauss) phi1 242.880   Phi 166.326    phi2 145.373   scatter 0.0   fraction 1.0 
[grain193]
(gauss) phi1 299.747   Phi 7.658    phi2 213.185   scatter 0.0   fraction 1.0 
[grain194]
(gauss) phi1 24.116   Phi 171.860    phi2 291.957   scatter 0.0   fraction 1.0 
[grain195]
(gauss) phi1 95.214   Phi 163.716    phi2 173.906   scatter 0.0   fraction 1.0 
[grain196]
(gauss) phi1 96.758   Phi 165.494    phi2 60.959   scatter 0.0   fraction 1.0 
[grain197]
(gauss) phi1 243.014   Phi 6.756    phi2 110.488   scatter 0.0   fraction 1.0 
[grain198]
(gauss) phi1 295.748   Phi 165.260    phi2 75.230   scatter 0.0   fraction 1.0 
[grain199]
(gauss) phi1 69.739   Phi 167.639    phi2 95.301   scatter 0.0   fraction 1.0 
[grain200]
(gauss) phi1 73.307   Phi 165.604    phi2 43.036   scatter 0.0   fraction 1.0 
[grain201]
(gauss) phi1 218.204   Phi 176.408    phi2 297.438   scatter 0.0   fraction 1.0 
[grain202]
(gauss) phi1 289.212   Phi 11.853    phi2 173.016   scatter 0.0   fraction 1.0 
[grain203]
(gauss) phi1 215.951   Phi 3.655    phi2 182.641   scatter 0.0   fraction 1.0 
[grain204]
(gauss) phi1 131.803   Phi 9.880    phi2 87.115   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
[grain184]
crystallite 1
(constituent)   phase 1 texture 184 fraction 1.0
[grain185]
crystallite 1
(constituent)   phase 1 texture 185 fraction 1.0
[grain186]
crystallite 1
(constituent)   phase 1 texture 186 fraction 1.0
[grain187]
crystallite 1
(constituent)   phase 1 texture 187 fraction 1.0
[grain188]
crystallite 1
(constituent)   phase 1 texture 188 fraction 1.0
[grain189]
crystallite 1
(constituent)   phase 1 texture 189 fraction 1.0
[grain190]
crystallite 1
(constituent)   phase 1 texture 190 fraction 1.0
[grain191]
crystallite 1
(constituent)   phase 1 texture 191 fraction 1.0
[grain192]
crystallite 1
(constituent)   phase 1 texture 192 fraction 1.0
[grain193]
crystallite 1
(constituent)   phase 1 texture 193 fraction 1.0
[grain194]
crystallite 1
(constituent)   phase 1 texture 194 fraction 1.0
[grain195]
crystallite 1
(constituent)   phase 1 texture 195 fraction 1.0
[grain196]
crystallite 1
(constituent)   phase 1 texture 196 fraction 1.0
[grain197]
crystallite 1
(constituent)   phase 1 texture 197 fraction 1.0
[grain198]
crystallite 1
(constituent)   phase 1 texture 198 fraction 1.0
[grain199]
crystallite 1
(constituent)   phase 1 texture 199 fraction 1.0
[grain200]
crystallite 1
(constituent)   phase 1 texture 200 fraction 1.0
[grain201]
crystallite 1
(constituent)   phase 1 texture 201 fraction 1.0
[grain202]
crystallite 1
(constituent)   phase 1 texture 202 fraction 1.0
[grain203]
crystallite 1
(constituent)   phase 1 texture 203 fraction 1.0
[grain204]
crystallite 1
(constituent)   phase 1 texture 204 fraction 1.0
