#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              0.0010
n_slip                  1.200000000000e+02
a_slip                  8.000000000000e+00
tau0_slip               9.000000000000e+07
tausat_slip             7.295175408695e+09
h0_slipslip             3.919772412464e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 152.766   Phi 34.839    phi2 257.977   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 50.512   Phi 91.069    phi2 267.479   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 123.196   Phi 114.142    phi2 244.262   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 265.644   Phi 80.234    phi2 201.791   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 257.361   Phi 47.137    phi2 241.136   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 257.370   Phi 63.139    phi2 291.086   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 306.087   Phi 133.264    phi2 303.530   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 283.903   Phi 109.395    phi2 321.097   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 43.957   Phi 85.927    phi2 142.873   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 337.060   Phi 131.724    phi2 92.601   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 140.970   Phi 124.328    phi2 204.776   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 299.123   Phi 56.997    phi2 198.764   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 216.351   Phi 16.696    phi2 300.512   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 39.635   Phi 139.027    phi2 68.961   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 349.078   Phi 80.885    phi2 96.576   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 55.931   Phi 126.345    phi2 111.468   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 35.785   Phi 108.309    phi2 101.982   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 34.465   Phi 115.749    phi2 112.345   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 89.840   Phi 65.664    phi2 250.222   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 105.531   Phi 85.660    phi2 136.999   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 309.298   Phi 136.943    phi2 192.251   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 207.839   Phi 50.711    phi2 161.995   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 227.365   Phi 152.512    phi2 272.358   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 130.524   Phi 78.434    phi2 142.245   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 187.208   Phi 130.732    phi2 227.631   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 221.543   Phi 101.942    phi2 161.275   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 81.147   Phi 86.813    phi2 209.542   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 232.966   Phi 57.530    phi2 70.367   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 182.700   Phi 83.162    phi2 170.321   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 74.154   Phi 100.039    phi2 129.322   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 135.791   Phi 53.070    phi2 259.771   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 278.295   Phi 163.876    phi2 212.203   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 198.016   Phi 53.243    phi2 308.581   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 1.007   Phi 121.616    phi2 169.201   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 186.286   Phi 94.425    phi2 60.193   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 326.398   Phi 120.515    phi2 123.537   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 78.292   Phi 94.972    phi2 186.755   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 281.877   Phi 107.116    phi2 221.645   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 41.853   Phi 36.989    phi2 222.836   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 319.146   Phi 32.328    phi2 311.501   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 240.704   Phi 123.511    phi2 154.948   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 220.368   Phi 90.045    phi2 222.742   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 46.578   Phi 135.973    phi2 100.105   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 241.305   Phi 95.488    phi2 227.891   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 15.850   Phi 49.882    phi2 339.851   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 190.302   Phi 115.220    phi2 84.207   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 355.299   Phi 125.009    phi2 280.245   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 333.917   Phi 42.040    phi2 225.742   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 92.015   Phi 131.424    phi2 68.886   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 263.978   Phi 72.912    phi2 230.642   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 359.320   Phi 68.413    phi2 330.202   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 218.256   Phi 40.842    phi2 166.571   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 165.162   Phi 81.953    phi2 297.817   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 223.595   Phi 57.146    phi2 221.459   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 139.487   Phi 110.411    phi2 34.970   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 253.314   Phi 92.020    phi2 321.113   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 161.303   Phi 63.234    phi2 57.746   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 254.601   Phi 79.300    phi2 166.091   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 150.359   Phi 49.139    phi2 5.805   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 174.455   Phi 60.962    phi2 161.296   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 182.224   Phi 55.645    phi2 246.827   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 270.002   Phi 51.476    phi2 276.824   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 14.261   Phi 21.068    phi2 147.897   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 343.315   Phi 164.936    phi2 56.364   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
