#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 161.547   Phi 61.415    phi2 66.791   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 63.911   Phi 56.524    phi2 163.980   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 62.523   Phi 69.008    phi2 291.523   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 53.828   Phi 11.984    phi2 13.561   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 143.799   Phi 137.527    phi2 236.790   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 103.231   Phi 89.487    phi2 293.176   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 47.098   Phi 51.971    phi2 277.476   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 294.245   Phi 40.979    phi2 338.993   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 26.768   Phi 105.999    phi2 279.659   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 308.078   Phi 119.623    phi2 233.793   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 91.600   Phi 39.251    phi2 200.155   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 346.301   Phi 94.889    phi2 19.895   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 220.486   Phi 115.836    phi2 226.768   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 246.348   Phi 43.267    phi2 345.563   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 170.952   Phi 132.948    phi2 145.882   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 74.543   Phi 56.075    phi2 101.299   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 97.213   Phi 123.322    phi2 58.910   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 341.999   Phi 80.501    phi2 173.371   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 109.895   Phi 51.654    phi2 38.339   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 274.831   Phi 10.954    phi2 130.395   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 354.119   Phi 99.536    phi2 225.147   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 330.873   Phi 59.534    phi2 200.399   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 235.684   Phi 170.298    phi2 33.797   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 295.010   Phi 100.311    phi2 278.703   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 272.865   Phi 105.327    phi2 50.374   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 126.302   Phi 34.370    phi2 119.466   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 315.671   Phi 64.756    phi2 293.170   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 59.886   Phi 71.320    phi2 327.294   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 183.735   Phi 31.683    phi2 322.549   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 219.143   Phi 163.192    phi2 219.946   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 51.629   Phi 55.374    phi2 111.883   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 84.394   Phi 69.358    phi2 337.737   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 349.304   Phi 95.258    phi2 74.779   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 349.757   Phi 63.389    phi2 304.634   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 217.247   Phi 47.957    phi2 106.186   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 16.131   Phi 172.989    phi2 246.567   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 101.477   Phi 162.230    phi2 15.371   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 352.025   Phi 108.350    phi2 154.007   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 23.929   Phi 52.098    phi2 5.245   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 39.459   Phi 137.861    phi2 357.126   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 74.478   Phi 57.088    phi2 146.480   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 278.709   Phi 108.833    phi2 224.198   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 76.798   Phi 108.960    phi2 127.193   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 180.837   Phi 108.779    phi2 88.996   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 40.348   Phi 110.834    phi2 253.536   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 179.249   Phi 120.660    phi2 261.592   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 183.103   Phi 143.622    phi2 188.453   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 165.287   Phi 44.649    phi2 160.946   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 83.711   Phi 102.732    phi2 171.296   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 121.472   Phi 165.043    phi2 329.551   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 77.872   Phi 134.172    phi2 149.946   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 129.321   Phi 38.673    phi2 36.365   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 241.044   Phi 65.035    phi2 89.331   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 357.305   Phi 95.495    phi2 304.145   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
