#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              0.0010
n_slip                  1.200000000000e+02
a_slip                  8.000000000000e+00
tau0_slip               9.000000000000e+07
tausat_slip             7.295175408695e+09
h0_slipslip             3.919772412464e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 27.053   Phi 137.013    phi2 313.162   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 195.865   Phi 88.973    phi2 68.309   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 199.107   Phi 66.210    phi2 255.998   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 14.147   Phi 32.435    phi2 236.836   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 71.373   Phi 75.240    phi2 262.942   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 354.005   Phi 166.567    phi2 172.269   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 255.570   Phi 103.983    phi2 351.942   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 65.240   Phi 174.468    phi2 39.628   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 208.530   Phi 48.344    phi2 339.698   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 65.347   Phi 94.169    phi2 55.690   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 89.692   Phi 7.810    phi2 83.726   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 350.921   Phi 119.253    phi2 41.627   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 216.907   Phi 133.200    phi2 161.323   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 233.036   Phi 99.357    phi2 318.976   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 170.778   Phi 144.549    phi2 184.888   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 129.630   Phi 135.745    phi2 181.964   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 207.707   Phi 115.396    phi2 14.771   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 16.401   Phi 127.728    phi2 79.686   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 78.569   Phi 81.214    phi2 319.744   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 178.949   Phi 84.910    phi2 235.219   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 179.206   Phi 106.702    phi2 51.630   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 216.090   Phi 134.391    phi2 155.406   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 115.613   Phi 166.886    phi2 250.894   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 51.364   Phi 35.223    phi2 263.244   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 344.626   Phi 131.576    phi2 137.211   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 333.341   Phi 109.824    phi2 263.783   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 224.092   Phi 66.316    phi2 35.171   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 124.326   Phi 63.201    phi2 312.327   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 125.297   Phi 104.474    phi2 148.358   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 350.262   Phi 39.469    phi2 243.830   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 0.779   Phi 56.678    phi2 325.775   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 171.898   Phi 88.294    phi2 173.151   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 67.817   Phi 135.140    phi2 297.159   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 27.256   Phi 141.498    phi2 290.872   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 321.996   Phi 51.434    phi2 175.476   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 76.713   Phi 96.530    phi2 28.043   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 280.868   Phi 46.998    phi2 152.352   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 327.958   Phi 91.874    phi2 196.780   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 33.816   Phi 116.327    phi2 315.253   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 38.272   Phi 62.892    phi2 143.784   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 112.398   Phi 81.252    phi2 280.658   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 272.925   Phi 35.595    phi2 30.154   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 26.741   Phi 46.972    phi2 177.561   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 316.825   Phi 109.929    phi2 35.914   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 217.290   Phi 90.147    phi2 211.976   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 93.152   Phi 85.257    phi2 263.450   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 4.833   Phi 137.444    phi2 58.566   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 7.480   Phi 112.725    phi2 311.576   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 100.515   Phi 135.781    phi2 160.651   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 259.616   Phi 91.246    phi2 247.125   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 73.870   Phi 132.039    phi2 273.248   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 54.576   Phi 124.167    phi2 80.754   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 212.026   Phi 77.285    phi2 110.136   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 160.574   Phi 27.048    phi2 311.221   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 151.953   Phi 102.108    phi2 204.214   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 66.219   Phi 76.843    phi2 95.814   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 57.272   Phi 94.483    phi2 205.902   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 291.534   Phi 113.212    phi2 18.814   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 97.762   Phi 136.182    phi2 284.072   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 284.930   Phi 99.313    phi2 190.285   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 291.965   Phi 1.917    phi2 18.110   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 244.763   Phi 40.270    phi2 90.671   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 357.318   Phi 151.037    phi2 224.704   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 205.582   Phi 92.567    phi2 310.319   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
