#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 135.176   Phi 115.345    phi2 25.772   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 291.495   Phi 86.662    phi2 156.936   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 291.696   Phi 75.078    phi2 2.827   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 356.554   Phi 62.091    phi2 343.809   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 243.052   Phi 140.955    phi2 126.280   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 14.271   Phi 115.916    phi2 24.539   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 151.509   Phi 69.531    phi2 179.983   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 7.095   Phi 109.470    phi2 232.269   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 142.878   Phi 101.532    phi2 42.166   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 74.284   Phi 82.483    phi2 238.630   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 223.227   Phi 68.419    phi2 351.522   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 145.465   Phi 57.890    phi2 216.158   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 165.179   Phi 36.604    phi2 6.765   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 67.868   Phi 128.280    phi2 181.167   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 302.820   Phi 104.391    phi2 104.135   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 30.618   Phi 67.651    phi2 14.618   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 138.187   Phi 148.761    phi2 300.076   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 66.058   Phi 50.541    phi2 201.459   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 53.872   Phi 136.767    phi2 352.163   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 97.604   Phi 127.126    phi2 49.328   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 220.017   Phi 42.568    phi2 216.173   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 162.403   Phi 138.617    phi2 142.594   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 130.302   Phi 48.174    phi2 306.918   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 255.330   Phi 15.011    phi2 218.681   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 48.279   Phi 50.243    phi2 221.788   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 130.884   Phi 122.477    phi2 257.731   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 228.387   Phi 65.280    phi2 237.012   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 181.965   Phi 87.654    phi2 353.569   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 282.650   Phi 49.817    phi2 266.298   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 174.503   Phi 81.686    phi2 116.522   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 164.099   Phi 76.426    phi2 104.661   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 23.555   Phi 56.778    phi2 135.672   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 63.095   Phi 131.393    phi2 271.543   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 121.608   Phi 58.769    phi2 343.613   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 149.317   Phi 129.056    phi2 237.937   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 194.227   Phi 142.657    phi2 18.182   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 301.987   Phi 101.956    phi2 294.094   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 200.143   Phi 81.623    phi2 43.940   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 324.815   Phi 67.140    phi2 88.713   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 158.609   Phi 80.861    phi2 227.173   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 255.757   Phi 46.495    phi2 28.399   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 75.862   Phi 45.664    phi2 323.214   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 19.110   Phi 57.486    phi2 120.311   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 290.884   Phi 117.732    phi2 217.707   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 8.754   Phi 17.884    phi2 299.802   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 133.791   Phi 85.071    phi2 239.881   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 270.942   Phi 124.875    phi2 9.641   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 268.117   Phi 110.309    phi2 80.659   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 48.680   Phi 73.573    phi2 335.748   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 0.192   Phi 85.044    phi2 336.115   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 202.174   Phi 64.560    phi2 141.786   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 46.032   Phi 80.954    phi2 140.007   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 172.070   Phi 83.623    phi2 233.889   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 173.046   Phi 35.900    phi2 265.891   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 286.129   Phi 46.908    phi2 180.101   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 346.082   Phi 81.281    phi2 207.274   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 198.356   Phi 161.541    phi2 270.467   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 141.658   Phi 86.258    phi2 313.176   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 16.504   Phi 73.936    phi2 198.715   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 48.598   Phi 88.416    phi2 40.353   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 51.515   Phi 62.538    phi2 43.989   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 256.427   Phi 130.155    phi2 243.512   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 58.334   Phi 62.086    phi2 282.918   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 168.438   Phi 118.365    phi2 100.526   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 279.086   Phi 40.408    phi2 86.920   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 13.016   Phi 106.192    phi2 312.315   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 82.967   Phi 96.176    phi2 199.236   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 43.668   Phi 32.913    phi2 143.143   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 324.046   Phi 108.985    phi2 139.698   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 327.703   Phi 66.848    phi2 45.122   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 220.156   Phi 84.309    phi2 243.667   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 130.363   Phi 119.950    phi2 100.315   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 44.192   Phi 106.684    phi2 6.766   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 287.759   Phi 43.795    phi2 183.052   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 288.343   Phi 129.359    phi2 137.079   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 81.864   Phi 97.415    phi2 170.982   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 65.905   Phi 170.826    phi2 276.429   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 108.992   Phi 29.790    phi2 53.123   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 89.250   Phi 51.547    phi2 134.530   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 107.310   Phi 93.682    phi2 87.189   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 134.372   Phi 109.107    phi2 130.967   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 348.106   Phi 116.969    phi2 115.200   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 130.141   Phi 47.786    phi2 96.064   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 18.872   Phi 98.974    phi2 287.380   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 269.639   Phi 80.437    phi2 242.316   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 239.057   Phi 15.252    phi2 138.582   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 247.748   Phi 123.138    phi2 204.001   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 69.368   Phi 107.796    phi2 44.321   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 159.416   Phi 80.944    phi2 172.606   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 330.908   Phi 42.374    phi2 108.147   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 210.947   Phi 80.262    phi2 316.403   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 98.984   Phi 66.778    phi2 247.976   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 14.072   Phi 134.725    phi2 259.988   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 322.553   Phi 120.313    phi2 299.001   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 315.027   Phi 26.853    phi2 262.898   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 48.393   Phi 143.349    phi2 136.347   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 265.501   Phi 83.530    phi2 66.681   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 120.186   Phi 66.760    phi2 188.490   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 211.857   Phi 138.753    phi2 76.906   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 185.572   Phi 29.056    phi2 1.683   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 67.874   Phi 6.184    phi2 168.039   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 137.450   Phi 114.144    phi2 54.682   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 31.110   Phi 94.787    phi2 188.205   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 239.020   Phi 97.866    phi2 181.983   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 141.574   Phi 151.280    phi2 90.810   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 271.737   Phi 31.734    phi2 107.421   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 61.121   Phi 46.204    phi2 288.614   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 153.428   Phi 80.303    phi2 168.588   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 50.865   Phi 54.794    phi2 331.017   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 336.602   Phi 68.386    phi2 323.905   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 317.561   Phi 127.127    phi2 290.051   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 126.139   Phi 151.559    phi2 15.982   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 316.096   Phi 73.039    phi2 292.505   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 180.662   Phi 25.282    phi2 20.543   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 309.831   Phi 11.873    phi2 345.780   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 20.962   Phi 97.736    phi2 177.198   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 73.485   Phi 22.865    phi2 93.628   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 134.835   Phi 88.445    phi2 168.766   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 332.689   Phi 28.454    phi2 244.686   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 262.481   Phi 46.414    phi2 282.376   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 145.518   Phi 66.095    phi2 134.434   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 136.581   Phi 47.177    phi2 5.528   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 188.929   Phi 139.057    phi2 252.694   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 255.100   Phi 131.852    phi2 142.556   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 2.906   Phi 140.721    phi2 330.989   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 329.129   Phi 168.196    phi2 88.505   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 327.295   Phi 67.072    phi2 116.132   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 151.845   Phi 124.044    phi2 104.605   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 354.389   Phi 23.584    phi2 91.845   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 225.574   Phi 57.933    phi2 345.394   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 311.298   Phi 112.593    phi2 334.202   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 144.999   Phi 126.288    phi2 102.637   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 192.360   Phi 119.949    phi2 66.738   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 62.945   Phi 50.133    phi2 71.636   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 109.102   Phi 115.706    phi2 241.184   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 27.597   Phi 97.128    phi2 102.576   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 107.889   Phi 132.259    phi2 75.057   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 59.143   Phi 99.134    phi2 132.563   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 44.038   Phi 99.099    phi2 311.764   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 275.214   Phi 63.105    phi2 109.045   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 106.212   Phi 115.459    phi2 333.479   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 211.092   Phi 124.820    phi2 66.568   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 229.091   Phi 108.914    phi2 183.173   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 50.626   Phi 127.228    phi2 242.194   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 76.181   Phi 133.118    phi2 337.259   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 167.790   Phi 72.947    phi2 7.015   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 345.925   Phi 167.224    phi2 229.852   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 59.310   Phi 71.588    phi2 47.817   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 210.512   Phi 109.214    phi2 317.996   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 270.881   Phi 168.444    phi2 261.002   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 353.429   Phi 25.998    phi2 74.348   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 323.733   Phi 43.838    phi2 297.564   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 263.227   Phi 141.540    phi2 162.555   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 204.022   Phi 72.774    phi2 150.452   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
