#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 345.712   Phi 102.953    phi2 251.600   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 300.498   Phi 123.495    phi2 145.666   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 272.926   Phi 71.164    phi2 145.823   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 18.993   Phi 137.311    phi2 312.585   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 286.396   Phi 50.921    phi2 196.630   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 4.060   Phi 80.218    phi2 97.410   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 137.110   Phi 90.888    phi2 194.920   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 241.575   Phi 24.319    phi2 166.635   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 112.415   Phi 71.616    phi2 239.522   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 134.622   Phi 92.486    phi2 230.068   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 93.444   Phi 94.012    phi2 289.315   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 304.389   Phi 120.017    phi2 229.734   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 172.966   Phi 87.981    phi2 227.785   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 51.764   Phi 73.926    phi2 66.080   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 299.206   Phi 61.045    phi2 52.119   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 238.927   Phi 57.239    phi2 324.098   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 29.638   Phi 129.238    phi2 154.654   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 247.775   Phi 110.281    phi2 26.660   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 311.234   Phi 120.101    phi2 265.784   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 292.801   Phi 64.597    phi2 164.142   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 206.144   Phi 6.139    phi2 94.227   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 271.423   Phi 101.072    phi2 47.814   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 67.667   Phi 128.526    phi2 208.981   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 270.153   Phi 113.066    phi2 347.306   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 166.315   Phi 47.317    phi2 151.913   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 242.810   Phi 145.427    phi2 32.422   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 193.910   Phi 57.687    phi2 132.343   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 58.287   Phi 76.176    phi2 46.996   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 317.244   Phi 29.740    phi2 357.434   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 269.007   Phi 114.529    phi2 328.496   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 253.380   Phi 48.598    phi2 55.072   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 218.917   Phi 56.194    phi2 8.722   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 187.948   Phi 42.159    phi2 323.084   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 305.938   Phi 95.140    phi2 259.664   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 16.521   Phi 55.064    phi2 268.655   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 333.185   Phi 59.935    phi2 189.556   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 215.153   Phi 127.089    phi2 97.607   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 282.478   Phi 103.146    phi2 249.781   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 30.088   Phi 17.224    phi2 279.442   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 248.571   Phi 90.039    phi2 206.205   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 217.721   Phi 93.756    phi2 75.683   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 202.280   Phi 89.091    phi2 108.848   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 29.162   Phi 38.323    phi2 203.225   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 347.223   Phi 162.416    phi2 233.946   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 220.528   Phi 106.616    phi2 149.407   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 272.940   Phi 115.315    phi2 343.927   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 319.355   Phi 102.885    phi2 225.964   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 184.647   Phi 79.929    phi2 98.209   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 334.416   Phi 71.688    phi2 206.535   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 137.177   Phi 132.318    phi2 303.385   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 47.886   Phi 73.120    phi2 342.762   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 129.423   Phi 48.649    phi2 187.861   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 188.259   Phi 143.803    phi2 335.811   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 176.726   Phi 75.683    phi2 97.389   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 161.659   Phi 74.225    phi2 77.993   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 145.678   Phi 25.566    phi2 273.708   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 133.080   Phi 68.360    phi2 191.723   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 48.824   Phi 19.277    phi2 254.724   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 128.504   Phi 39.901    phi2 331.379   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 230.708   Phi 69.689    phi2 305.074   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 132.822   Phi 105.175    phi2 252.270   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 128.982   Phi 126.757    phi2 46.535   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 225.124   Phi 127.942    phi2 22.629   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 182.135   Phi 100.965    phi2 256.931   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 112.036   Phi 106.935    phi2 324.146   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 304.184   Phi 117.644    phi2 43.548   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 9.143   Phi 67.854    phi2 313.772   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 330.793   Phi 111.332    phi2 351.722   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 222.766   Phi 88.843    phi2 68.968   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 32.225   Phi 68.816    phi2 48.037   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 90.908   Phi 119.679    phi2 164.910   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 291.008   Phi 77.000    phi2 283.319   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 211.267   Phi 72.370    phi2 28.678   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 331.151   Phi 112.852    phi2 78.033   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 354.410   Phi 61.349    phi2 316.492   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 100.070   Phi 32.921    phi2 277.560   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 31.074   Phi 139.926    phi2 299.600   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 95.478   Phi 90.445    phi2 306.116   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 143.937   Phi 57.150    phi2 319.849   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 36.675   Phi 40.045    phi2 16.250   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 77.912   Phi 93.964    phi2 122.693   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 44.071   Phi 78.838    phi2 174.480   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 180.116   Phi 118.350    phi2 79.512   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 223.364   Phi 105.120    phi2 223.147   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 254.694   Phi 88.124    phi2 153.614   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 219.246   Phi 117.510    phi2 124.405   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 316.232   Phi 80.570    phi2 76.085   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 99.590   Phi 75.007    phi2 239.773   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 342.077   Phi 118.860    phi2 212.163   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 148.573   Phi 31.978    phi2 328.237   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 254.071   Phi 121.471    phi2 242.749   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 184.971   Phi 142.856    phi2 193.079   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 152.345   Phi 123.653    phi2 355.236   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 27.662   Phi 99.104    phi2 138.374   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 254.395   Phi 97.652    phi2 232.434   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 155.261   Phi 88.995    phi2 48.454   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 184.043   Phi 0.511    phi2 9.088   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 288.869   Phi 97.887    phi2 307.754   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 161.898   Phi 101.810    phi2 39.930   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 281.741   Phi 80.460    phi2 100.557   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
