#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 83.703   Phi 107.582    phi2 314.019   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 264.384   Phi 96.718    phi2 156.025   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 293.231   Phi 152.181    phi2 10.144   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 48.804   Phi 76.679    phi2 347.422   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 276.870   Phi 13.983    phi2 175.220   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 83.087   Phi 73.013    phi2 149.803   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 80.982   Phi 131.216    phi2 252.576   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 223.246   Phi 63.148    phi2 50.590   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 18.321   Phi 104.065    phi2 26.885   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 190.961   Phi 142.111    phi2 105.191   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 336.481   Phi 74.023    phi2 38.168   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 199.289   Phi 88.741    phi2 98.468   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 218.363   Phi 47.398    phi2 292.479   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 313.136   Phi 51.005    phi2 197.723   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 193.275   Phi 157.730    phi2 164.110   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 50.531   Phi 79.916    phi2 99.395   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 351.293   Phi 125.033    phi2 191.993   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 40.758   Phi 71.497    phi2 239.814   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 245.438   Phi 101.892    phi2 22.089   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 41.459   Phi 126.971    phi2 152.092   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 158.611   Phi 144.595    phi2 72.355   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 109.625   Phi 16.660    phi2 195.319   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 54.872   Phi 66.574    phi2 125.097   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 293.814   Phi 97.469    phi2 334.303   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 300.703   Phi 60.818    phi2 346.711   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 95.192   Phi 132.339    phi2 142.883   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 86.292   Phi 33.217    phi2 63.056   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 329.555   Phi 74.848    phi2 282.559   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 44.249   Phi 49.221    phi2 190.811   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 211.311   Phi 127.588    phi2 249.257   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 97.254   Phi 129.462    phi2 309.157   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 183.156   Phi 106.714    phi2 38.218   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 173.718   Phi 135.620    phi2 4.645   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 101.890   Phi 126.166    phi2 88.718   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 258.253   Phi 92.694    phi2 203.849   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 308.355   Phi 44.183    phi2 292.895   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 50.921   Phi 66.543    phi2 212.093   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 312.781   Phi 161.832    phi2 145.531   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 131.185   Phi 99.254    phi2 16.828   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 357.273   Phi 109.212    phi2 91.782   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 203.789   Phi 70.396    phi2 216.630   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 39.603   Phi 70.132    phi2 207.731   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 54.564   Phi 94.618    phi2 277.361   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 80.230   Phi 38.855    phi2 135.386   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 350.018   Phi 75.743    phi2 53.699   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 90.798   Phi 17.744    phi2 24.642   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 330.901   Phi 70.950    phi2 115.110   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 338.589   Phi 81.238    phi2 271.351   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 145.039   Phi 116.178    phi2 310.581   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 52.644   Phi 123.058    phi2 204.169   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 241.627   Phi 16.166    phi2 191.814   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 340.455   Phi 169.542    phi2 195.021   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 241.953   Phi 61.236    phi2 280.543   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 151.610   Phi 24.389    phi2 1.137   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 232.818   Phi 111.881    phi2 126.690   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 344.287   Phi 87.175    phi2 103.011   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 132.213   Phi 122.038    phi2 327.899   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 45.889   Phi 42.870    phi2 326.290   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 231.220   Phi 157.776    phi2 161.436   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
