#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 67.927   Phi 113.700    phi2 254.042   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 24.422   Phi 90.928    phi2 225.631   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 219.350   Phi 90.686    phi2 45.796   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 246.383   Phi 86.038    phi2 37.101   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 166.124   Phi 142.308    phi2 289.950   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 22.973   Phi 30.813    phi2 43.852   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 84.535   Phi 44.867    phi2 115.892   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 49.201   Phi 53.702    phi2 329.554   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 181.873   Phi 84.371    phi2 153.713   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 181.421   Phi 82.974    phi2 187.679   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 306.177   Phi 29.145    phi2 294.769   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 336.233   Phi 102.364    phi2 59.767   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 214.530   Phi 127.373    phi2 262.744   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 312.383   Phi 113.809    phi2 130.225   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 55.827   Phi 143.339    phi2 231.752   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 243.124   Phi 124.223    phi2 36.535   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 264.221   Phi 34.267    phi2 75.022   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 202.188   Phi 97.983    phi2 306.036   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 255.123   Phi 153.298    phi2 12.042   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 81.600   Phi 82.273    phi2 72.167   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 103.785   Phi 155.055    phi2 227.957   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 107.861   Phi 99.965    phi2 159.250   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 214.089   Phi 59.139    phi2 214.218   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 244.476   Phi 91.085    phi2 15.801   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 275.665   Phi 106.962    phi2 230.172   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 173.888   Phi 94.858    phi2 275.564   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 155.759   Phi 30.000    phi2 343.403   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 112.917   Phi 37.187    phi2 96.181   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 161.161   Phi 91.567    phi2 319.604   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 238.100   Phi 52.638    phi2 254.204   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 314.870   Phi 91.627    phi2 295.293   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 322.022   Phi 115.504    phi2 322.510   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 177.099   Phi 84.644    phi2 136.571   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 237.306   Phi 117.756    phi2 115.202   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 236.476   Phi 82.530    phi2 179.144   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 43.255   Phi 68.118    phi2 170.904   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 125.757   Phi 122.837    phi2 269.220   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 257.060   Phi 42.013    phi2 169.398   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 49.612   Phi 66.042    phi2 220.421   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 47.726   Phi 68.925    phi2 215.153   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 165.626   Phi 52.116    phi2 180.800   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 134.038   Phi 103.268    phi2 45.894   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 277.555   Phi 119.786    phi2 216.562   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 67.327   Phi 60.997    phi2 281.053   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 232.724   Phi 104.497    phi2 107.650   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 187.126   Phi 32.004    phi2 256.786   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 55.656   Phi 56.547    phi2 228.728   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 266.318   Phi 125.918    phi2 272.686   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 212.854   Phi 98.354    phi2 203.261   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 58.710   Phi 139.969    phi2 192.207   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 239.141   Phi 61.180    phi2 255.984   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 145.391   Phi 131.795    phi2 282.774   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 355.044   Phi 124.568    phi2 1.003   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 69.044   Phi 45.234    phi2 58.718   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 175.790   Phi 85.546    phi2 190.426   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 14.304   Phi 115.736    phi2 332.606   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 25.753   Phi 166.549    phi2 297.055   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 353.710   Phi 63.608    phi2 310.785   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 52.094   Phi 64.898    phi2 222.699   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 149.876   Phi 74.340    phi2 336.528   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 168.184   Phi 102.349    phi2 68.105   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 344.098   Phi 15.361    phi2 50.403   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 190.492   Phi 65.951    phi2 313.519   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 269.572   Phi 105.370    phi2 139.955   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 289.730   Phi 135.869    phi2 191.474   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 18.187   Phi 152.626    phi2 107.687   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 221.855   Phi 92.340    phi2 151.831   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 236.330   Phi 151.266    phi2 120.523   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 1.463   Phi 116.159    phi2 263.482   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 9.670   Phi 35.662    phi2 235.173   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 290.593   Phi 82.481    phi2 196.347   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 298.365   Phi 97.211    phi2 331.806   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 133.083   Phi 82.827    phi2 123.171   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 276.112   Phi 65.059    phi2 342.928   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 278.748   Phi 60.917    phi2 86.858   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 267.910   Phi 45.488    phi2 199.279   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 51.041   Phi 56.255    phi2 238.486   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 350.532   Phi 75.079    phi2 81.076   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 191.523   Phi 78.188    phi2 66.148   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 297.496   Phi 120.970    phi2 293.126   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 250.128   Phi 130.680    phi2 237.150   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 353.504   Phi 84.730    phi2 127.697   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 7.124   Phi 176.867    phi2 277.173   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 180.165   Phi 97.162    phi2 276.919   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 163.313   Phi 99.173    phi2 236.675   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 51.845   Phi 109.971    phi2 51.685   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 339.126   Phi 39.849    phi2 312.961   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 348.590   Phi 131.451    phi2 180.724   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 42.279   Phi 72.007    phi2 242.503   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 40.530   Phi 152.175    phi2 127.047   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 132.354   Phi 107.885    phi2 354.516   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 297.528   Phi 105.723    phi2 353.854   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 49.101   Phi 28.713    phi2 300.595   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 139.052   Phi 93.984    phi2 291.901   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 69.923   Phi 128.436    phi2 64.091   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 145.652   Phi 151.609    phi2 328.652   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 229.718   Phi 124.481    phi2 261.627   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 3.466   Phi 69.300    phi2 219.972   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 45.420   Phi 126.582    phi2 23.231   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 259.962   Phi 38.860    phi2 344.686   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 48.072   Phi 81.154    phi2 60.716   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 217.368   Phi 162.838    phi2 114.096   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 112.315   Phi 108.864    phi2 321.469   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 291.531   Phi 127.502    phi2 230.120   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 83.085   Phi 97.523    phi2 72.970   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 108.758   Phi 83.638    phi2 15.691   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
