#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              0.001
n_slip                  83.3
a_slip                  2.25
tau0_slip               95.e6
tausat_slip             222.e6
h0_slipslip             1.0e6


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 246.070   Phi 24.772    phi2 263.971   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 339.627   Phi 135.416    phi2 129.767   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 318.862   Phi 40.037    phi2 215.226   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 132.997   Phi 69.804    phi2 125.972   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 190.870   Phi 78.026    phi2 313.785   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 293.616   Phi 124.044    phi2 328.016   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 74.980   Phi 68.876    phi2 128.300   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 354.129   Phi 109.773    phi2 215.823   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 211.819   Phi 85.867    phi2 61.510   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 349.952   Phi 67.863    phi2 350.990   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 303.298   Phi 137.654    phi2 183.648   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 32.291   Phi 118.071    phi2 62.320   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 54.170   Phi 103.874    phi2 8.750   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 70.706   Phi 68.691    phi2 228.050   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 353.854   Phi 37.918    phi2 49.608   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 219.472   Phi 114.961    phi2 23.768   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 305.076   Phi 76.172    phi2 22.174   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 213.569   Phi 25.985    phi2 198.892   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 208.534   Phi 141.703    phi2 85.792   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 239.643   Phi 43.653    phi2 299.450   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 227.553   Phi 133.737    phi2 5.160   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 301.454   Phi 144.590    phi2 312.955   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 281.756   Phi 109.230    phi2 140.643   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 281.032   Phi 155.807    phi2 279.429   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 330.709   Phi 75.004    phi2 207.072   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 71.377   Phi 24.777    phi2 37.047   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 173.029   Phi 37.411    phi2 281.302   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 100.261   Phi 45.239    phi2 60.041   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 189.361   Phi 130.471    phi2 135.226   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 244.840   Phi 9.179    phi2 47.622   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 159.258   Phi 123.672    phi2 115.444   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 19.899   Phi 55.019    phi2 339.695   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 228.503   Phi 97.958    phi2 12.038   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 348.329   Phi 99.525    phi2 66.193   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 310.026   Phi 118.345    phi2 174.448   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 271.189   Phi 61.769    phi2 21.108   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 307.560   Phi 142.842    phi2 345.213   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 321.522   Phi 129.004    phi2 158.232   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 112.617   Phi 90.492    phi2 343.311   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 278.319   Phi 17.385    phi2 144.098   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 117.322   Phi 123.338    phi2 235.478   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 186.495   Phi 154.995    phi2 133.809   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 218.963   Phi 107.879    phi2 183.442   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 243.584   Phi 34.807    phi2 122.561   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 7.418   Phi 80.567    phi2 27.446   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 197.304   Phi 47.586    phi2 136.180   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 220.107   Phi 112.066    phi2 273.867   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 333.138   Phi 32.261    phi2 345.758   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 184.430   Phi 85.941    phi2 293.971   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 266.648   Phi 131.755    phi2 97.650   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 169.409   Phi 83.253    phi2 228.971   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 249.493   Phi 109.202    phi2 250.411   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 204.593   Phi 85.817    phi2 73.355   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 130.659   Phi 60.863    phi2 227.096   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 240.583   Phi 112.304    phi2 87.401   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 183.119   Phi 108.275    phi2 315.036   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 138.121   Phi 115.756    phi2 278.132   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 30.779   Phi 58.610    phi2 267.563   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 177.475   Phi 58.802    phi2 302.454   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 123.989   Phi 46.035    phi2 179.618   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 84.487   Phi 67.399    phi2 237.534   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 329.647   Phi 104.946    phi2 125.590   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 164.443   Phi 59.800    phi2 341.150   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 243.531   Phi 44.148    phi2 305.240   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
