#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              3.769973779431e-02
n_slip                  7.717705779300e+01
a_slip                  5.609469624647e+00
tau0_slip               1.870184566192e+05
tausat_slip             1.196285873939e+09
h0_slipslip             1.768413715154e+09


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 88.682   Phi 99.695    phi2 51.576   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 324.060   Phi 106.266    phi2 329.245   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 62.222   Phi 24.719    phi2 260.842   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 318.957   Phi 99.707    phi2 293.407   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 264.573   Phi 65.128    phi2 18.545   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 57.099   Phi 45.824    phi2 256.202   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 35.308   Phi 73.061    phi2 179.826   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 91.112   Phi 44.878    phi2 132.694   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 317.734   Phi 46.808    phi2 109.488   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 17.147   Phi 50.875    phi2 306.167   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 217.321   Phi 99.644    phi2 351.856   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 339.014   Phi 131.058    phi2 88.153   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 41.644   Phi 45.813    phi2 165.164   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 62.189   Phi 163.203    phi2 272.139   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 177.562   Phi 60.557    phi2 311.751   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 247.058   Phi 117.815    phi2 92.384   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 225.991   Phi 60.110    phi2 190.024   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 59.744   Phi 106.370    phi2 296.938   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 318.976   Phi 113.445    phi2 211.858   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 334.515   Phi 45.158    phi2 25.835   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 347.548   Phi 93.036    phi2 310.360   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 145.074   Phi 105.101    phi2 309.248   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 51.503   Phi 134.749    phi2 224.348   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 173.957   Phi 135.588    phi2 181.324   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 200.857   Phi 114.343    phi2 278.998   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 184.107   Phi 26.345    phi2 210.308   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 221.664   Phi 131.350    phi2 21.643   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 308.425   Phi 104.977    phi2 313.111   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 251.683   Phi 35.386    phi2 258.823   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 175.399   Phi 106.775    phi2 84.465   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 42.849   Phi 116.175    phi2 77.370   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 223.594   Phi 86.090    phi2 227.123   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 16.177   Phi 145.428    phi2 16.167   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 304.426   Phi 48.980    phi2 174.751   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 298.847   Phi 128.591    phi2 229.927   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 299.133   Phi 45.266    phi2 93.706   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 50.426   Phi 72.957    phi2 158.703   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 136.324   Phi 47.641    phi2 176.353   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 228.014   Phi 153.359    phi2 142.633   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 235.518   Phi 128.881    phi2 198.225   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 287.423   Phi 118.897    phi2 176.318   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 130.732   Phi 99.909    phi2 39.377   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 94.505   Phi 59.751    phi2 132.467   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 281.839   Phi 148.958    phi2 7.875   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 337.390   Phi 101.049    phi2 209.312   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 12.983   Phi 75.527    phi2 303.205   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 6.082   Phi 47.157    phi2 214.949   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 78.762   Phi 11.845    phi2 118.870   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 286.740   Phi 23.410    phi2 82.874   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 170.368   Phi 78.738    phi2 182.824   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 295.874   Phi 162.579    phi2 27.951   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 18.471   Phi 117.282    phi2 34.600   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 17.367   Phi 57.088    phi2 297.818   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 291.980   Phi 79.188    phi2 189.214   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 172.556   Phi 114.809    phi2 226.065   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 0.295   Phi 101.942    phi2 68.741   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 53.842   Phi 67.478    phi2 155.840   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 80.029   Phi 88.692    phi2 103.851   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 347.188   Phi 55.905    phi2 168.040   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 87.406   Phi 129.736    phi2 218.755   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 151.449   Phi 98.036    phi2 9.295   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 341.900   Phi 124.862    phi2 256.907   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 102.359   Phi 143.767    phi2 58.365   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 211.835   Phi 111.050    phi2 277.452   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
