#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              2.862651815842e-02
n_slip                  1.330246086591e+01
a_slip                  1.451425228019e+00
tau0_slip               1.031867649149e+09
tausat_slip             1.966638294656e+08
h0_slipslip             2.637442083460e+06


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 40.580   Phi 115.601    phi2 129.585   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 5.884   Phi 126.220    phi2 17.396   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 333.867   Phi 82.047    phi2 29.484   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 37.052   Phi 110.325    phi2 237.746   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 21.286   Phi 149.841    phi2 284.524   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 320.043   Phi 166.798    phi2 246.479   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 335.912   Phi 19.910    phi2 65.198   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 319.633   Phi 148.121    phi2 315.128   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 241.446   Phi 143.210    phi2 297.864   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 42.352   Phi 91.214    phi2 70.150   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 148.629   Phi 141.888    phi2 95.721   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 15.813   Phi 99.548    phi2 286.834   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 35.243   Phi 136.044    phi2 244.055   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 338.190   Phi 95.483    phi2 337.404   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 62.547   Phi 37.404    phi2 302.815   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 112.553   Phi 78.605    phi2 76.232   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 14.272   Phi 58.586    phi2 247.559   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 322.104   Phi 51.927    phi2 210.330   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 134.410   Phi 56.626    phi2 306.195   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 289.328   Phi 68.689    phi2 125.374   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 166.215   Phi 132.774    phi2 79.313   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 62.140   Phi 156.545    phi2 244.369   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 320.757   Phi 16.744    phi2 127.929   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 233.036   Phi 60.488    phi2 19.218   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 134.569   Phi 100.946    phi2 112.874   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 342.602   Phi 99.991    phi2 329.714   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 290.843   Phi 157.751    phi2 185.913   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 317.892   Phi 74.320    phi2 183.306   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 78.548   Phi 40.351    phi2 45.701   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 210.774   Phi 45.254    phi2 34.271   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 91.540   Phi 38.936    phi2 33.174   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 301.959   Phi 110.344    phi2 128.907   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 229.493   Phi 58.933    phi2 138.920   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 249.395   Phi 82.257    phi2 37.872   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 301.939   Phi 85.428    phi2 142.820   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 32.510   Phi 124.622    phi2 131.131   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 151.956   Phi 95.949    phi2 145.902   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 18.517   Phi 104.126    phi2 190.040   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 172.666   Phi 108.431    phi2 101.274   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 175.463   Phi 139.461    phi2 145.122   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 168.815   Phi 128.860    phi2 245.071   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 183.309   Phi 58.077    phi2 108.055   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 300.303   Phi 129.093    phi2 279.250   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 105.924   Phi 126.017    phi2 65.324   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 179.627   Phi 123.410    phi2 154.162   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 50.676   Phi 99.654    phi2 42.467   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 195.870   Phi 113.369    phi2 135.194   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 110.670   Phi 155.300    phi2 357.850   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 18.013   Phi 131.957    phi2 74.870   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 30.163   Phi 84.174    phi2 310.316   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 285.777   Phi 138.233    phi2 233.668   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 293.785   Phi 168.768    phi2 227.460   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 106.157   Phi 66.240    phi2 147.800   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 127.636   Phi 34.252    phi2 173.876   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 14.547   Phi 2.301    phi2 290.462   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 307.277   Phi 139.976    phi2 222.186   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 322.632   Phi 93.758    phi2 250.344   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 66.061   Phi 88.467    phi2 95.914   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 202.255   Phi 69.310    phi2 53.595   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 49.045   Phi 127.460    phi2 188.912   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 65.771   Phi 87.939    phi2 67.574   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 66.340   Phi 29.418    phi2 206.327   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 181.653   Phi 92.772    phi2 93.212   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 201.182   Phi 110.675    phi2 297.144   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
