#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              0.001
n_slip                  83.3
a_slip                  2.25
tau0_slip               95.e6
tausat_slip             222.e6
h0_slipslip             1.0e6


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 174.067   Phi 128.462    phi2 132.269   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 325.129   Phi 85.705    phi2 200.510   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 78.501   Phi 36.338    phi2 352.607   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 278.541   Phi 54.819    phi2 86.073   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 89.921   Phi 21.397    phi2 117.077   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 268.123   Phi 59.220    phi2 275.599   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 305.244   Phi 163.211    phi2 206.469   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 308.112   Phi 42.602    phi2 329.446   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 308.300   Phi 104.212    phi2 69.983   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 192.908   Phi 97.916    phi2 92.907   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 71.219   Phi 87.559    phi2 26.238   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 96.932   Phi 95.811    phi2 204.825   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 96.483   Phi 86.984    phi2 74.969   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 72.193   Phi 142.129    phi2 211.272   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 109.686   Phi 24.629    phi2 20.839   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 248.454   Phi 75.741    phi2 70.106   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 290.203   Phi 44.291    phi2 339.368   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 201.015   Phi 90.463    phi2 88.321   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 133.434   Phi 62.378    phi2 37.715   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 268.901   Phi 89.738    phi2 256.962   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 75.406   Phi 96.356    phi2 157.310   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 103.344   Phi 115.305    phi2 20.154   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 189.482   Phi 139.490    phi2 64.027   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 140.411   Phi 24.233    phi2 209.683   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 95.912   Phi 75.078    phi2 93.178   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 206.908   Phi 40.507    phi2 117.489   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 42.921   Phi 102.911    phi2 8.654   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 106.063   Phi 107.813    phi2 92.747   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 148.355   Phi 176.447    phi2 179.645   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 259.442   Phi 89.595    phi2 192.335   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 118.350   Phi 85.949    phi2 10.146   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 328.038   Phi 81.955    phi2 177.350   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 59.074   Phi 55.717    phi2 250.263   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 3.550   Phi 78.435    phi2 132.684   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 246.278   Phi 91.277    phi2 273.824   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 308.647   Phi 119.790    phi2 187.856   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 177.763   Phi 55.888    phi2 244.059   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 257.135   Phi 134.700    phi2 34.628   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 25.137   Phi 166.831    phi2 266.028   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 91.370   Phi 47.650    phi2 168.956   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 310.853   Phi 123.982    phi2 23.889   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 200.122   Phi 64.846    phi2 246.711   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 35.988   Phi 96.879    phi2 311.954   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 40.945   Phi 43.727    phi2 141.406   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 191.444   Phi 114.835    phi2 78.345   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 106.261   Phi 9.249    phi2 142.109   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 34.180   Phi 134.894    phi2 151.333   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 116.049   Phi 24.226    phi2 327.384   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 34.519   Phi 91.988    phi2 334.787   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 329.609   Phi 85.926    phi2 119.964   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 282.676   Phi 146.731    phi2 340.728   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 65.380   Phi 77.037    phi2 241.688   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 221.987   Phi 48.624    phi2 70.359   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 305.715   Phi 148.228    phi2 202.490   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 192.412   Phi 124.913    phi2 26.779   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 355.317   Phi 137.297    phi2 281.228   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 70.590   Phi 106.782    phi2 1.775   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 195.149   Phi 156.615    phi2 183.391   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 187.054   Phi 56.559    phi2 76.229   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 273.233   Phi 103.483    phi2 203.829   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 343.706   Phi 80.660    phi2 193.917   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 147.853   Phi 161.057    phi2 270.524   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 47.330   Phi 46.165    phi2 109.304   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 100.934   Phi 73.241    phi2 158.837   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
