#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 43.821   Phi 127.252    phi2 224.320   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 150.661   Phi 86.220    phi2 311.216   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 204.034   Phi 83.603    phi2 140.385   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 344.852   Phi 146.876    phi2 20.995   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 352.669   Phi 47.724    phi2 47.033   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 144.122   Phi 105.255    phi2 355.511   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 19.646   Phi 76.703    phi2 278.118   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 308.344   Phi 114.056    phi2 96.641   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 102.675   Phi 95.336    phi2 235.650   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 234.906   Phi 56.923    phi2 323.667   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 161.057   Phi 45.135    phi2 292.565   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 289.845   Phi 60.047    phi2 24.151   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 29.623   Phi 101.815    phi2 46.748   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 313.291   Phi 98.835    phi2 139.512   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 307.236   Phi 106.234    phi2 215.043   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 322.378   Phi 86.845    phi2 350.222   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 172.579   Phi 64.634    phi2 303.764   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 154.149   Phi 138.466    phi2 71.121   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 55.741   Phi 63.370    phi2 150.839   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 259.184   Phi 119.031    phi2 157.897   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 235.690   Phi 59.995    phi2 236.900   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 16.689   Phi 78.308    phi2 246.669   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 262.868   Phi 130.213    phi2 185.087   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 131.437   Phi 36.982    phi2 21.839   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 267.495   Phi 39.634    phi2 245.573   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 337.615   Phi 45.656    phi2 152.166   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 333.819   Phi 169.520    phi2 316.280   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 196.013   Phi 64.537    phi2 185.017   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 323.690   Phi 48.252    phi2 349.042   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 284.491   Phi 175.738    phi2 267.299   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 243.240   Phi 119.998    phi2 299.989   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 233.675   Phi 110.832    phi2 307.123   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 299.992   Phi 70.077    phi2 78.874   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 251.246   Phi 67.859    phi2 254.300   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 169.181   Phi 138.024    phi2 29.651   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 99.552   Phi 35.344    phi2 198.818   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 356.553   Phi 175.250    phi2 29.370   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 161.336   Phi 78.852    phi2 105.988   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 161.089   Phi 91.869    phi2 88.617   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 240.544   Phi 81.413    phi2 79.482   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 82.802   Phi 100.138    phi2 337.900   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 252.653   Phi 63.671    phi2 189.963   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 324.279   Phi 135.099    phi2 3.248   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 234.455   Phi 32.278    phi2 344.551   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 246.593   Phi 63.408    phi2 169.903   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 61.142   Phi 112.827    phi2 42.934   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 182.719   Phi 74.963    phi2 144.164   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 160.518   Phi 43.984    phi2 150.227   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 247.410   Phi 51.532    phi2 141.344   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 71.589   Phi 81.720    phi2 177.620   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 230.505   Phi 56.914    phi2 226.433   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 224.645   Phi 59.760    phi2 139.663   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
