#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 74.400   Phi 78.659    phi2 358.903   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 135.392   Phi 62.106    phi2 110.628   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 130.158   Phi 109.133    phi2 12.227   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 38.756   Phi 100.582    phi2 216.258   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 166.716   Phi 144.046    phi2 170.074   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 218.004   Phi 128.292    phi2 94.314   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 351.281   Phi 112.618    phi2 249.881   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 352.812   Phi 121.809    phi2 276.322   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 179.853   Phi 41.308    phi2 193.836   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 292.870   Phi 143.624    phi2 159.430   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 312.463   Phi 113.517    phi2 255.681   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 289.611   Phi 105.032    phi2 41.648   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 6.472   Phi 104.960    phi2 342.255   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 201.022   Phi 123.082    phi2 231.712   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 342.521   Phi 71.174    phi2 203.977   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 319.548   Phi 55.522    phi2 83.704   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 326.701   Phi 145.570    phi2 107.300   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 309.306   Phi 34.337    phi2 81.209   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 211.476   Phi 20.966    phi2 132.490   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 326.566   Phi 167.017    phi2 210.442   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 218.859   Phi 65.593    phi2 33.675   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 271.518   Phi 69.172    phi2 235.894   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 348.250   Phi 136.969    phi2 272.176   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 345.295   Phi 29.289    phi2 114.224   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 346.665   Phi 152.391    phi2 58.350   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 267.821   Phi 61.345    phi2 174.400   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 148.945   Phi 87.467    phi2 2.371   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 205.121   Phi 66.503    phi2 294.948   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 172.994   Phi 91.344    phi2 278.531   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 41.263   Phi 101.420    phi2 190.309   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 1.224   Phi 62.033    phi2 1.484   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 309.456   Phi 95.784    phi2 156.327   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 17.926   Phi 36.819    phi2 34.744   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 13.727   Phi 100.111    phi2 168.824   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 114.780   Phi 92.863    phi2 6.112   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 190.582   Phi 134.436    phi2 168.164   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 96.808   Phi 26.836    phi2 233.613   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 335.827   Phi 61.570    phi2 358.888   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 87.468   Phi 135.252    phi2 134.370   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 303.358   Phi 110.683    phi2 126.355   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 58.897   Phi 112.723    phi2 52.383   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 179.666   Phi 61.690    phi2 160.245   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 186.741   Phi 30.240    phi2 36.087   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 177.242   Phi 45.464    phi2 111.053   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 135.994   Phi 119.336    phi2 337.211   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 205.679   Phi 116.802    phi2 356.487   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 357.178   Phi 64.660    phi2 348.050   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 179.666   Phi 61.690    phi2 160.245   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 89.551   Phi 15.418    phi2 339.419   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 141.333   Phi 86.146    phi2 94.991   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 248.005   Phi 83.601    phi2 316.576   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 182.438   Phi 117.835    phi2 287.880   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 10.491   Phi 82.636    phi2 71.944   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 170.973   Phi 78.385    phi2 48.081   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 241.948   Phi 22.018    phi2 213.347   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 98.562   Phi 52.091    phi2 206.392   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 317.813   Phi 41.028    phi2 350.732   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 60.496   Phi 68.206    phi2 67.899   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 15.902   Phi 110.942    phi2 185.552   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 98.333   Phi 160.784    phi2 246.660   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 222.253   Phi 120.498    phi2 140.705   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 2.756   Phi 50.308    phi2 100.771   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 181.426   Phi 38.552    phi2 339.902   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 297.723   Phi 124.462    phi2 302.369   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 64.067   Phi 26.337    phi2 300.877   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 147.209   Phi 58.969    phi2 55.994   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 19.466   Phi 72.202    phi2 32.771   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 72.512   Phi 52.460    phi2 92.479   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 50.115   Phi 131.031    phi2 99.920   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 347.057   Phi 58.174    phi2 8.345   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 305.731   Phi 119.054    phi2 259.585   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 359.212   Phi 144.055    phi2 173.242   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 108.784   Phi 93.815    phi2 148.779   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 193.512   Phi 111.436    phi2 94.895   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 252.848   Phi 71.880    phi2 326.617   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 233.508   Phi 115.585    phi2 324.716   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 359.899   Phi 140.133    phi2 341.563   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 287.800   Phi 159.479    phi2 213.231   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 230.638   Phi 148.156    phi2 65.876   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 262.512   Phi 88.755    phi2 208.674   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 338.737   Phi 100.519    phi2 235.866   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 73.590   Phi 121.096    phi2 86.627   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 121.302   Phi 124.451    phi2 331.535   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 67.610   Phi 163.063    phi2 18.720   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
