#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             2.0086e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 352.881   Phi 44.564    phi2 7.975   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 90.106   Phi 33.714    phi2 318.966   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 273.465   Phi 120.406    phi2 28.362   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 124.072   Phi 95.231    phi2 53.940   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 52.645   Phi 76.941    phi2 261.050   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 96.554   Phi 46.007    phi2 343.535   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 87.817   Phi 134.789    phi2 138.115   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 118.690   Phi 165.158    phi2 288.844   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 218.418   Phi 53.621    phi2 193.815   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 153.619   Phi 80.322    phi2 21.990   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 305.390   Phi 96.369    phi2 158.984   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 272.800   Phi 128.830    phi2 33.752   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 356.292   Phi 151.749    phi2 357.726   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 157.472   Phi 158.082    phi2 353.286   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 103.686   Phi 130.587    phi2 129.277   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 256.420   Phi 84.443    phi2 213.340   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 185.890   Phi 32.134    phi2 130.141   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 86.598   Phi 62.049    phi2 215.783   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 256.668   Phi 68.586    phi2 115.261   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 143.983   Phi 129.138    phi2 249.388   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 271.364   Phi 56.847    phi2 123.180   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 239.712   Phi 57.155    phi2 149.776   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 315.468   Phi 121.463    phi2 6.336   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 266.959   Phi 156.627    phi2 196.962   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 351.936   Phi 101.144    phi2 228.851   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 152.847   Phi 44.607    phi2 73.432   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 69.330   Phi 77.376    phi2 109.938   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 93.453   Phi 152.687    phi2 190.811   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 105.295   Phi 39.142    phi2 32.429   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 22.616   Phi 114.661    phi2 279.998   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 357.170   Phi 47.490    phi2 239.383   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 91.534   Phi 131.444    phi2 159.731   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 36.295   Phi 53.786    phi2 211.170   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 57.331   Phi 58.629    phi2 61.780   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 125.372   Phi 27.424    phi2 286.245   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 186.894   Phi 89.668    phi2 219.493   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 186.018   Phi 52.414    phi2 140.142   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 223.205   Phi 135.826    phi2 112.956   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 354.659   Phi 19.982    phi2 262.794   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 113.679   Phi 33.008    phi2 289.002   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 122.831   Phi 97.766    phi2 233.281   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 312.025   Phi 53.149    phi2 245.075   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 70.996   Phi 118.414    phi2 320.650   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 99.351   Phi 128.555    phi2 14.606   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 41.874   Phi 61.741    phi2 227.880   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 236.059   Phi 107.518    phi2 199.869   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 133.781   Phi 152.377    phi2 55.311   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 245.744   Phi 102.708    phi2 52.425   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 244.195   Phi 120.222    phi2 226.900   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 241.704   Phi 89.257    phi2 255.969   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 137.949   Phi 112.377    phi2 112.765   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 145.962   Phi 58.182    phi2 94.941   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 134.396   Phi 131.278    phi2 247.497   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 45.906   Phi 173.655    phi2 124.624   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 77.482   Phi 61.318    phi2 239.827   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 207.312   Phi 42.326    phi2 112.544   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 208.667   Phi 93.837    phi2 193.154   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
