#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              0.001
n_slip                  83.3
a_slip                  2.25
tau0_slip               95.e6
tausat_slip             222.e6
h0_slipslip             1.0e6


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 51.342   Phi 131.763    phi2 348.910   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 265.398   Phi 35.198    phi2 235.520   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 119.064   Phi 117.335    phi2 231.310   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 215.092   Phi 121.749    phi2 180.098   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 49.138   Phi 67.279    phi2 189.529   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 254.369   Phi 160.822    phi2 117.660   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 353.560   Phi 36.383    phi2 163.855   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 330.648   Phi 65.811    phi2 155.315   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 189.027   Phi 76.853    phi2 94.663   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 352.059   Phi 87.790    phi2 267.240   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 348.893   Phi 77.656    phi2 11.227   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 259.240   Phi 47.997    phi2 302.087   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 167.879   Phi 51.601    phi2 269.058   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 64.221   Phi 54.398    phi2 301.414   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 1.074   Phi 82.967    phi2 321.020   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 99.910   Phi 110.593    phi2 283.105   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 189.258   Phi 59.912    phi2 142.594   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 188.181   Phi 126.292    phi2 207.505   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 55.513   Phi 93.118    phi2 209.414   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 202.120   Phi 44.219    phi2 279.450   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 170.631   Phi 68.811    phi2 161.027   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 218.577   Phi 54.709    phi2 343.953   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 145.833   Phi 50.413    phi2 176.842   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 29.275   Phi 21.283    phi2 97.544   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 211.160   Phi 86.180    phi2 28.744   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 76.452   Phi 151.726    phi2 37.434   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 84.598   Phi 68.591    phi2 279.883   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 122.819   Phi 110.209    phi2 321.945   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 290.382   Phi 123.976    phi2 67.863   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 290.391   Phi 54.685    phi2 152.475   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 189.821   Phi 52.024    phi2 249.291   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 35.446   Phi 45.757    phi2 190.663   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 242.074   Phi 71.414    phi2 98.331   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 115.133   Phi 80.989    phi2 325.481   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 233.024   Phi 66.732    phi2 54.686   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 169.349   Phi 25.013    phi2 345.833   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 341.837   Phi 64.171    phi2 52.056   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 127.300   Phi 131.011    phi2 158.135   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 323.232   Phi 110.686    phi2 350.834   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 69.342   Phi 163.181    phi2 335.967   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 262.904   Phi 10.655    phi2 247.890   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 181.265   Phi 127.738    phi2 303.686   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 206.886   Phi 122.366    phi2 161.211   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 10.284   Phi 109.127    phi2 293.747   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 85.249   Phi 133.750    phi2 271.300   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 249.036   Phi 113.997    phi2 282.233   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 327.404   Phi 37.240    phi2 68.821   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 116.892   Phi 118.936    phi2 64.571   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 256.709   Phi 159.359    phi2 279.108   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 346.941   Phi 60.794    phi2 159.771   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 268.697   Phi 27.819    phi2 320.847   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 215.163   Phi 114.346    phi2 208.082   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 68.542   Phi 85.558    phi2 332.646   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 115.087   Phi 56.464    phi2 333.421   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 180.404   Phi 79.820    phi2 351.659   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 36.912   Phi 100.210    phi2 7.892   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 70.516   Phi 93.472    phi2 28.987   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 304.511   Phi 133.950    phi2 182.892   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 90.216   Phi 127.870    phi2 75.843   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 104.045   Phi 95.957    phi2 178.095   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 263.930   Phi 88.274    phi2 41.339   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 221.205   Phi 41.286    phi2 187.072   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 353.286   Phi 44.990    phi2 135.747   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 344.544   Phi 141.155    phi2 73.380   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
