#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              0.001
n_slip                  83.3
a_slip                  2.25
tau0_slip               95.e6
tausat_slip             222.e6
h0_slipslip             1.0e6


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 91.233   Phi 166.329    phi2 289.399   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 27.423   Phi 129.493    phi2 77.970   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 202.593   Phi 71.507    phi2 4.283   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 307.671   Phi 113.203    phi2 123.066   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 262.851   Phi 122.740    phi2 168.314   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 308.529   Phi 93.222    phi2 223.025   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 177.799   Phi 45.371    phi2 209.512   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 48.963   Phi 34.007    phi2 320.016   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 3.738   Phi 135.592    phi2 108.129   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 70.368   Phi 45.579    phi2 272.742   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 106.295   Phi 127.277    phi2 36.240   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 253.037   Phi 68.842    phi2 290.284   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 213.431   Phi 169.178    phi2 299.390   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 216.868   Phi 112.096    phi2 139.202   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 282.458   Phi 83.532    phi2 125.969   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 73.474   Phi 71.470    phi2 201.600   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 247.301   Phi 82.954    phi2 221.860   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 184.848   Phi 118.303    phi2 66.648   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 162.901   Phi 85.740    phi2 171.986   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 246.832   Phi 164.234    phi2 228.446   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 135.306   Phi 124.045    phi2 23.471   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 144.116   Phi 101.236    phi2 219.728   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 100.585   Phi 48.434    phi2 303.436   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 1.237   Phi 56.887    phi2 302.223   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 198.026   Phi 99.385    phi2 87.995   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 95.384   Phi 116.357    phi2 16.531   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 111.422   Phi 82.255    phi2 28.523   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 358.370   Phi 66.211    phi2 51.765   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 98.477   Phi 161.071    phi2 286.141   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 122.553   Phi 109.466    phi2 123.797   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 320.718   Phi 114.863    phi2 231.715   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 286.492   Phi 95.871    phi2 66.261   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 181.651   Phi 82.092    phi2 167.590   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 323.304   Phi 93.759    phi2 5.436   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 340.826   Phi 166.546    phi2 0.154   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 57.254   Phi 153.239    phi2 122.702   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 186.533   Phi 43.166    phi2 352.921   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 193.072   Phi 100.173    phi2 97.261   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 244.197   Phi 82.357    phi2 178.151   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 81.171   Phi 30.309    phi2 34.700   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 187.506   Phi 98.781    phi2 318.717   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 268.959   Phi 10.997    phi2 302.157   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 65.268   Phi 109.214    phi2 338.564   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 177.800   Phi 50.545    phi2 124.009   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 212.598   Phi 42.620    phi2 322.079   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 69.442   Phi 114.061    phi2 276.615   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 53.378   Phi 129.242    phi2 94.832   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 304.877   Phi 43.215    phi2 32.910   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 28.317   Phi 61.718    phi2 334.028   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 11.930   Phi 88.420    phi2 45.406   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 187.843   Phi 78.493    phi2 281.666   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 100.824   Phi 139.447    phi2 78.884   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 127.602   Phi 70.513    phi2 221.063   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 78.025   Phi 142.894    phi2 182.790   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 212.338   Phi 71.768    phi2 193.023   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 335.592   Phi 65.583    phi2 179.925   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 258.861   Phi 141.642    phi2 107.421   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 23.651   Phi 70.026    phi2 32.642   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 127.812   Phi 89.923    phi2 223.795   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 213.612   Phi 67.508    phi2 52.661   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 316.584   Phi 58.121    phi2 235.323   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 55.173   Phi 107.921    phi2 355.065   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 25.710   Phi 135.000    phi2 252.226   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 151.895   Phi 87.505    phi2 15.045   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
