#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.5643e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 31.259   Phi 135.982    phi2 76.408   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 110.121   Phi 38.925    phi2 81.152   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 249.831   Phi 97.259    phi2 339.793   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 0.834   Phi 103.847    phi2 58.900   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 57.452   Phi 56.657    phi2 304.364   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 140.285   Phi 117.069    phi2 219.505   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 322.461   Phi 145.142    phi2 263.187   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 39.879   Phi 98.378    phi2 84.985   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 241.225   Phi 46.209    phi2 334.848   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 156.292   Phi 153.760    phi2 180.086   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 89.451   Phi 143.765    phi2 78.762   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 326.070   Phi 89.811    phi2 238.876   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 311.274   Phi 126.036    phi2 109.212   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 153.116   Phi 80.816    phi2 329.943   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 86.787   Phi 15.491    phi2 193.504   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 238.730   Phi 55.733    phi2 87.487   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 69.303   Phi 59.613    phi2 63.848   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 203.322   Phi 75.676    phi2 48.702   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 89.852   Phi 55.268    phi2 106.368   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 344.143   Phi 87.394    phi2 180.671   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 32.725   Phi 154.170    phi2 102.953   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 55.206   Phi 92.606    phi2 27.664   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 100.176   Phi 113.675    phi2 24.513   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 337.800   Phi 146.501    phi2 96.694   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 125.972   Phi 40.837    phi2 281.539   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 302.501   Phi 65.211    phi2 280.529   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 14.777   Phi 75.171    phi2 340.457   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 135.729   Phi 125.347    phi2 33.173   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 6.159   Phi 49.487    phi2 38.820   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 175.245   Phi 42.064    phi2 143.723   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 88.168   Phi 146.054    phi2 90.693   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 75.113   Phi 32.267    phi2 246.616   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 10.469   Phi 86.094    phi2 226.440   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 108.190   Phi 21.955    phi2 90.933   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 179.737   Phi 97.691    phi2 156.572   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 68.699   Phi 107.411    phi2 355.737   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 234.887   Phi 101.673    phi2 81.540   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 283.465   Phi 41.391    phi2 242.863   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 203.912   Phi 118.663    phi2 248.310   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 3.106   Phi 76.770    phi2 229.846   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 74.811   Phi 107.149    phi2 140.224   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 274.895   Phi 133.603    phi2 231.144   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 278.978   Phi 111.902    phi2 119.843   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 166.209   Phi 131.226    phi2 33.482   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 251.674   Phi 90.370    phi2 92.948   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 180.739   Phi 44.548    phi2 156.837   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 307.048   Phi 69.370    phi2 227.694   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 222.546   Phi 30.186    phi2 308.710   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 17.836   Phi 79.646    phi2 355.437   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 14.117   Phi 128.519    phi2 169.362   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 136.370   Phi 36.373    phi2 64.094   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 194.446   Phi 95.806    phi2 347.942   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 215.345   Phi 81.403    phi2 118.542   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 45.815   Phi 73.038    phi2 114.668   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 90.970   Phi 101.825    phi2 319.321   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 39.769   Phi 42.728    phi2 321.346   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 51.830   Phi 144.216    phi2 10.135   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 135.450   Phi 123.319    phi2 36.030   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 190.128   Phi 110.334    phi2 29.202   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 236.104   Phi 59.086    phi2 326.186   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 318.060   Phi 57.354    phi2 326.141   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 227.246   Phi 40.214    phi2 93.385   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 273.512   Phi 120.011    phi2 244.402   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 56.469   Phi 106.689    phi2 40.012   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 202.797   Phi 50.713    phi2 203.888   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 65.064   Phi 76.001    phi2 325.974   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 118.616   Phi 175.039    phi2 355.454   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 285.474   Phi 141.435    phi2 222.430   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 81.756   Phi 77.171    phi2 213.425   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 190.612   Phi 66.469    phi2 144.784   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 93.885   Phi 93.296    phi2 57.639   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 51.037   Phi 110.050    phi2 33.189   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 249.063   Phi 73.008    phi2 235.066   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 69.549   Phi 112.242    phi2 32.330   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 242.936   Phi 69.759    phi2 145.654   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 112.793   Phi 95.275    phi2 78.643   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 138.391   Phi 34.382    phi2 45.212   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 201.650   Phi 109.688    phi2 272.823   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 292.648   Phi 138.822    phi2 249.874   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 27.324   Phi 157.503    phi2 325.506   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 239.386   Phi 165.173    phi2 121.601   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 52.197   Phi 58.060    phi2 228.697   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 293.641   Phi 139.646    phi2 66.517   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 168.528   Phi 58.850    phi2 178.117   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 224.148   Phi 139.124    phi2 38.048   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 105.973   Phi 79.185    phi2 149.681   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 115.767   Phi 159.222    phi2 259.381   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 110.077   Phi 157.346    phi2 44.972   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 107.828   Phi 83.606    phi2 80.768   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 225.419   Phi 81.683    phi2 93.137   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 286.409   Phi 146.755    phi2 119.143   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 191.284   Phi 85.048    phi2 320.876   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 321.645   Phi 55.857    phi2 1.525   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 45.815   Phi 73.038    phi2 114.668   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 306.181   Phi 23.999    phi2 109.336   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 113.258   Phi 59.715    phi2 139.928   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 84.694   Phi 125.598    phi2 248.587   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 196.121   Phi 98.613    phi2 107.702   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 244.464   Phi 92.362    phi2 255.846   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 13.062   Phi 145.016    phi2 197.086   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 218.156   Phi 133.218    phi2 246.962   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 339.129   Phi 62.282    phi2 76.702   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 90.568   Phi 103.744    phi2 143.250   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 64.349   Phi 51.076    phi2 10.427   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 170.641   Phi 66.818    phi2 225.916   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 293.626   Phi 106.025    phi2 257.235   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 23.914   Phi 16.879    phi2 129.138   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 39.795   Phi 84.335    phi2 308.594   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 347.021   Phi 51.259    phi2 3.646   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 293.424   Phi 49.977    phi2 242.968   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
