#-------------------#
<homogenization>
#-------------------#

[dummy]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

#-------------------#
<phase>
#-------------------#
[TWIP_Steel_FeMnC]

elasticity          hooke
plasticity          dislotwin

#(output)           edge_density
#(output)           dipole_density
#(output)           shearrate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
#(output)           twin_fraction
#(output)           shearrate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shearrate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors

### Material parameters ###
lattice_structure	fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.2182e-05        # Average grain size [m]
SolidSolutionStrength 1.5e8         # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.7e-19         # Activation energy for dislocation glide [J]
p_slip              1.0             # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

# hardening of glide
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b^3]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
shearbandresistance 180e6
shearbandvelocity   0e-4            # set to zero to turn shear banding of
QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
p_shearband         1.0             # p-exponent in glide velocity
q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.47e-10        # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             442.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin              10.0            # r-exponent in twin formation probability
Cmfptwin            1.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 1.0 1.0     # Dislocation-Twin interaction coefficients
interactionTwinTwin 0.0 1.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0396         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.0002          # temperature dependance of stacking fault energy
#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 248.188   Phi 110.727    phi2 305.825   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 292.478   Phi 70.876    phi2 270.838   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 192.241   Phi 32.276    phi2 101.836   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 73.514   Phi 151.601    phi2 285.487   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 172.799   Phi 34.529    phi2 123.147   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 65.716   Phi 77.901    phi2 126.498   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 223.577   Phi 140.073    phi2 59.458   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 310.168   Phi 118.268    phi2 230.104   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 230.911   Phi 84.046    phi2 347.714   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 14.188   Phi 24.750    phi2 10.739   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 14.308   Phi 167.522    phi2 274.329   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 151.274   Phi 44.165    phi2 170.602   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 285.089   Phi 52.219    phi2 297.053   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 64.024   Phi 111.828    phi2 156.758   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 44.080   Phi 68.018    phi2 343.887   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 143.403   Phi 100.966    phi2 112.629   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 76.910   Phi 105.506    phi2 191.127   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 247.995   Phi 57.489    phi2 232.636   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 275.538   Phi 94.701    phi2 312.329   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 132.985   Phi 77.241    phi2 323.641   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 33.146   Phi 59.845    phi2 352.450   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 229.638   Phi 75.245    phi2 243.207   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 263.790   Phi 32.526    phi2 191.939   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 265.988   Phi 72.776    phi2 241.407   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 342.990   Phi 49.624    phi2 352.723   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 215.144   Phi 71.842    phi2 74.158   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 307.525   Phi 116.716    phi2 225.106   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 103.246   Phi 43.138    phi2 352.225   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 64.996   Phi 86.554    phi2 267.326   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 328.160   Phi 51.076    phi2 182.095   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 154.473   Phi 145.175    phi2 257.309   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 336.846   Phi 123.225    phi2 291.294   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 263.529   Phi 72.503    phi2 8.924   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 245.999   Phi 47.996    phi2 250.942   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 72.889   Phi 122.758    phi2 107.861   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 169.063   Phi 152.320    phi2 303.487   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 202.864   Phi 125.642    phi2 139.687   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 14.409   Phi 134.797    phi2 184.069   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 39.078   Phi 133.534    phi2 45.438   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 93.152   Phi 25.480    phi2 291.439   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 4.635   Phi 48.391    phi2 149.681   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 217.451   Phi 105.370    phi2 167.640   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 123.125   Phi 24.763    phi2 70.150   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 58.038   Phi 148.509    phi2 185.403   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 11.571   Phi 97.823    phi2 260.929   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 119.424   Phi 123.821    phi2 294.587   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 180.679   Phi 36.059    phi2 89.012   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 79.658   Phi 45.246    phi2 202.860   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 200.785   Phi 44.150    phi2 215.814   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 193.144   Phi 140.320    phi2 271.571   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 83.644   Phi 81.447    phi2 234.887   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 315.259   Phi 79.899    phi2 227.040   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 40.370   Phi 175.982    phi2 245.122   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 119.567   Phi 158.926    phi2 156.057   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 82.368   Phi 46.413    phi2 310.099   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 306.003   Phi 106.949    phi2 105.080   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 301.313   Phi 63.632    phi2 322.392   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 208.165   Phi 42.659    phi2 247.470   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 225.881   Phi 99.780    phi2 156.759   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 284.158   Phi 17.837    phi2 308.321   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 232.462   Phi 175.056    phi2 77.297   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 44.188   Phi 137.537    phi2 277.599   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 183.038   Phi 118.917    phi2 205.756   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 243.814   Phi 48.133    phi2 290.980   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 254.280   Phi 83.098    phi2 100.255   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 344.828   Phi 43.548    phi2 150.918   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 219.550   Phi 85.149    phi2 243.190   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 56.828   Phi 73.012    phi2 328.302   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 61.563   Phi 35.172    phi2 316.542   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 67.464   Phi 63.771    phi2 277.757   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 64.404   Phi 145.181    phi2 39.017   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 58.657   Phi 117.200    phi2 177.123   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 316.376   Phi 146.016    phi2 78.521   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 135.990   Phi 30.041    phi2 124.529   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 46.242   Phi 121.009    phi2 232.360   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 234.946   Phi 49.562    phi2 283.264   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 226.762   Phi 66.711    phi2 83.303   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 139.320   Phi 88.391    phi2 119.861   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 93.576   Phi 61.501    phi2 92.377   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 253.130   Phi 40.422    phi2 326.289   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 301.698   Phi 68.402    phi2 172.826   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 97.552   Phi 70.944    phi2 152.663   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 105.564   Phi 111.311    phi2 249.143   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 345.317   Phi 34.339    phi2 318.103   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 83.853   Phi 156.515    phi2 153.468   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 139.691   Phi 43.066    phi2 205.479   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 47.908   Phi 70.651    phi2 26.332   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 177.498   Phi 22.241    phi2 181.714   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 232.515   Phi 45.284    phi2 191.904   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 95.590   Phi 136.643    phi2 71.245   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 338.280   Phi 72.034    phi2 248.361   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 166.558   Phi 71.082    phi2 27.817   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 164.990   Phi 73.188    phi2 156.759   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 45.741   Phi 137.208    phi2 265.318   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 348.925   Phi 90.630    phi2 80.210   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 4.927   Phi 101.026    phi2 53.669   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 0.419   Phi 72.792    phi2 160.763   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 336.577   Phi 74.949    phi2 191.960   scatter 0.0   fraction 1.0 
[grain99]
(gauss) phi1 167.139   Phi 159.749    phi2 106.990   scatter 0.0   fraction 1.0 
[grain100]
(gauss) phi1 73.552   Phi 107.226    phi2 43.926   scatter 0.0   fraction 1.0 
[grain101]
(gauss) phi1 209.653   Phi 91.955    phi2 116.851   scatter 0.0   fraction 1.0 
[grain102]
(gauss) phi1 9.766   Phi 130.363    phi2 333.905   scatter 0.0   fraction 1.0 
[grain103]
(gauss) phi1 172.844   Phi 125.640    phi2 133.084   scatter 0.0   fraction 1.0 
[grain104]
(gauss) phi1 254.065   Phi 29.677    phi2 154.270   scatter 0.0   fraction 1.0 
[grain105]
(gauss) phi1 315.411   Phi 43.768    phi2 82.272   scatter 0.0   fraction 1.0 
[grain106]
(gauss) phi1 277.737   Phi 110.142    phi2 121.982   scatter 0.0   fraction 1.0 
[grain107]
(gauss) phi1 60.119   Phi 123.787    phi2 352.066   scatter 0.0   fraction 1.0 
[grain108]
(gauss) phi1 154.939   Phi 72.498    phi2 315.683   scatter 0.0   fraction 1.0 
[grain109]
(gauss) phi1 192.181   Phi 100.434    phi2 159.102   scatter 0.0   fraction 1.0 
[grain110]
(gauss) phi1 117.597   Phi 39.379    phi2 169.961   scatter 0.0   fraction 1.0 
[grain111]
(gauss) phi1 190.384   Phi 135.027    phi2 313.701   scatter 0.0   fraction 1.0 
[grain112]
(gauss) phi1 220.603   Phi 97.850    phi2 224.677   scatter 0.0   fraction 1.0 
[grain113]
(gauss) phi1 207.526   Phi 136.704    phi2 155.292   scatter 0.0   fraction 1.0 
[grain114]
(gauss) phi1 290.133   Phi 122.296    phi2 322.886   scatter 0.0   fraction 1.0 
[grain115]
(gauss) phi1 354.263   Phi 87.622    phi2 195.603   scatter 0.0   fraction 1.0 
[grain116]
(gauss) phi1 263.617   Phi 22.119    phi2 132.611   scatter 0.0   fraction 1.0 
[grain117]
(gauss) phi1 316.496   Phi 142.138    phi2 105.009   scatter 0.0   fraction 1.0 
[grain118]
(gauss) phi1 268.574   Phi 47.082    phi2 316.063   scatter 0.0   fraction 1.0 
[grain119]
(gauss) phi1 131.320   Phi 46.490    phi2 195.952   scatter 0.0   fraction 1.0 
[grain120]
(gauss) phi1 156.053   Phi 55.741    phi2 263.319   scatter 0.0   fraction 1.0 
[grain121]
(gauss) phi1 16.312   Phi 147.350    phi2 241.938   scatter 0.0   fraction 1.0 
[grain122]
(gauss) phi1 325.613   Phi 73.318    phi2 102.061   scatter 0.0   fraction 1.0 
[grain123]
(gauss) phi1 280.566   Phi 88.542    phi2 13.049   scatter 0.0   fraction 1.0 
[grain124]
(gauss) phi1 86.599   Phi 49.600    phi2 274.048   scatter 0.0   fraction 1.0 
[grain125]
(gauss) phi1 278.138   Phi 117.458    phi2 304.350   scatter 0.0   fraction 1.0 
[grain126]
(gauss) phi1 254.059   Phi 18.339    phi2 60.214   scatter 0.0   fraction 1.0 
[grain127]
(gauss) phi1 19.368   Phi 104.210    phi2 284.421   scatter 0.0   fraction 1.0 
[grain128]
(gauss) phi1 50.797   Phi 49.850    phi2 174.618   scatter 0.0   fraction 1.0 
[grain129]
(gauss) phi1 147.336   Phi 126.089    phi2 16.312   scatter 0.0   fraction 1.0 
[grain130]
(gauss) phi1 296.709   Phi 54.825    phi2 56.989   scatter 0.0   fraction 1.0 
[grain131]
(gauss) phi1 2.728   Phi 134.110    phi2 136.887   scatter 0.0   fraction 1.0 
[grain132]
(gauss) phi1 31.394   Phi 105.586    phi2 209.641   scatter 0.0   fraction 1.0 
[grain133]
(gauss) phi1 281.466   Phi 72.910    phi2 336.172   scatter 0.0   fraction 1.0 
[grain134]
(gauss) phi1 66.730   Phi 59.136    phi2 57.772   scatter 0.0   fraction 1.0 
[grain135]
(gauss) phi1 166.791   Phi 77.126    phi2 34.862   scatter 0.0   fraction 1.0 
[grain136]
(gauss) phi1 187.726   Phi 94.886    phi2 32.748   scatter 0.0   fraction 1.0 
[grain137]
(gauss) phi1 333.985   Phi 30.892    phi2 19.049   scatter 0.0   fraction 1.0 
[grain138]
(gauss) phi1 226.225   Phi 128.990    phi2 164.928   scatter 0.0   fraction 1.0 
[grain139]
(gauss) phi1 138.078   Phi 85.588    phi2 202.889   scatter 0.0   fraction 1.0 
[grain140]
(gauss) phi1 80.918   Phi 148.763    phi2 338.685   scatter 0.0   fraction 1.0 
[grain141]
(gauss) phi1 306.291   Phi 38.939    phi2 197.232   scatter 0.0   fraction 1.0 
[grain142]
(gauss) phi1 24.669   Phi 25.301    phi2 141.905   scatter 0.0   fraction 1.0 
[grain143]
(gauss) phi1 71.333   Phi 88.310    phi2 205.049   scatter 0.0   fraction 1.0 
[grain144]
(gauss) phi1 74.822   Phi 19.130    phi2 13.387   scatter 0.0   fraction 1.0 
[grain145]
(gauss) phi1 132.457   Phi 121.336    phi2 299.534   scatter 0.0   fraction 1.0 
[grain146]
(gauss) phi1 266.369   Phi 125.068    phi2 151.823   scatter 0.0   fraction 1.0 
[grain147]
(gauss) phi1 163.790   Phi 86.551    phi2 177.199   scatter 0.0   fraction 1.0 
[grain148]
(gauss) phi1 142.537   Phi 72.796    phi2 264.074   scatter 0.0   fraction 1.0 
[grain149]
(gauss) phi1 265.988   Phi 72.776    phi2 241.407   scatter 0.0   fraction 1.0 
[grain150]
(gauss) phi1 241.047   Phi 66.333    phi2 350.819   scatter 0.0   fraction 1.0 
[grain151]
(gauss) phi1 141.255   Phi 122.378    phi2 155.971   scatter 0.0   fraction 1.0 
[grain152]
(gauss) phi1 219.674   Phi 69.655    phi2 106.250   scatter 0.0   fraction 1.0 
[grain153]
(gauss) phi1 150.037   Phi 116.149    phi2 318.520   scatter 0.0   fraction 1.0 
[grain154]
(gauss) phi1 291.289   Phi 110.485    phi2 83.280   scatter 0.0   fraction 1.0 
[grain155]
(gauss) phi1 3.039   Phi 58.691    phi2 259.848   scatter 0.0   fraction 1.0 
[grain156]
(gauss) phi1 316.584   Phi 60.096    phi2 83.912   scatter 0.0   fraction 1.0 
[grain157]
(gauss) phi1 84.636   Phi 90.906    phi2 82.210   scatter 0.0   fraction 1.0 
[grain158]
(gauss) phi1 228.345   Phi 95.466    phi2 86.442   scatter 0.0   fraction 1.0 
[grain159]
(gauss) phi1 106.655   Phi 63.239    phi2 119.073   scatter 0.0   fraction 1.0 
[grain160]
(gauss) phi1 13.676   Phi 120.031    phi2 10.034   scatter 0.0   fraction 1.0 
[grain161]
(gauss) phi1 213.561   Phi 55.492    phi2 288.890   scatter 0.0   fraction 1.0 
[grain162]
(gauss) phi1 312.299   Phi 114.271    phi2 134.984   scatter 0.0   fraction 1.0 
[grain163]
(gauss) phi1 349.705   Phi 87.743    phi2 12.457   scatter 0.0   fraction 1.0 
[grain164]
(gauss) phi1 268.406   Phi 129.179    phi2 39.570   scatter 0.0   fraction 1.0 
[grain165]
(gauss) phi1 62.185   Phi 100.221    phi2 336.307   scatter 0.0   fraction 1.0 
[grain166]
(gauss) phi1 142.656   Phi 150.962    phi2 102.680   scatter 0.0   fraction 1.0 
[grain167]
(gauss) phi1 302.619   Phi 84.165    phi2 336.565   scatter 0.0   fraction 1.0 
[grain168]
(gauss) phi1 101.237   Phi 20.513    phi2 150.831   scatter 0.0   fraction 1.0 
[grain169]
(gauss) phi1 57.805   Phi 113.234    phi2 184.904   scatter 0.0   fraction 1.0 
[grain170]
(gauss) phi1 165.759   Phi 56.134    phi2 24.317   scatter 0.0   fraction 1.0 
[grain171]
(gauss) phi1 17.890   Phi 88.930    phi2 233.618   scatter 0.0   fraction 1.0 
[grain172]
(gauss) phi1 13.152   Phi 130.094    phi2 235.383   scatter 0.0   fraction 1.0 
[grain173]
(gauss) phi1 115.876   Phi 59.652    phi2 291.670   scatter 0.0   fraction 1.0 
[grain174]
(gauss) phi1 137.601   Phi 113.708    phi2 161.996   scatter 0.0   fraction 1.0 
[grain175]
(gauss) phi1 150.629   Phi 140.603    phi2 62.308   scatter 0.0   fraction 1.0 
[grain176]
(gauss) phi1 290.316   Phi 68.883    phi2 100.702   scatter 0.0   fraction 1.0 
[grain177]
(gauss) phi1 155.634   Phi 50.854    phi2 61.721   scatter 0.0   fraction 1.0 
[grain178]
(gauss) phi1 330.997   Phi 138.670    phi2 86.369   scatter 0.0   fraction 1.0 
[grain179]
(gauss) phi1 284.303   Phi 20.664    phi2 92.285   scatter 0.0   fraction 1.0 
[grain180]
(gauss) phi1 327.022   Phi 91.384    phi2 314.429   scatter 0.0   fraction 1.0 
[grain181]
(gauss) phi1 38.727   Phi 119.721    phi2 85.790   scatter 0.0   fraction 1.0 
[grain182]
(gauss) phi1 64.541   Phi 48.781    phi2 127.200   scatter 0.0   fraction 1.0 
[grain183]
(gauss) phi1 82.789   Phi 88.364    phi2 256.989   scatter 0.0   fraction 1.0 
[grain184]
(gauss) phi1 201.822   Phi 7.248    phi2 26.200   scatter 0.0   fraction 1.0 
[grain185]
(gauss) phi1 261.152   Phi 53.133    phi2 180.733   scatter 0.0   fraction 1.0 
[grain186]
(gauss) phi1 246.906   Phi 120.587    phi2 56.670   scatter 0.0   fraction 1.0 
[grain187]
(gauss) phi1 297.407   Phi 129.766    phi2 333.239   scatter 0.0   fraction 1.0 
[grain188]
(gauss) phi1 174.497   Phi 110.150    phi2 323.445   scatter 0.0   fraction 1.0 
[grain189]
(gauss) phi1 198.506   Phi 64.383    phi2 297.815   scatter 0.0   fraction 1.0 
[grain190]
(gauss) phi1 31.605   Phi 38.367    phi2 62.304   scatter 0.0   fraction 1.0 
[grain191]
(gauss) phi1 162.343   Phi 71.486    phi2 56.463   scatter 0.0   fraction 1.0 
[grain192]
(gauss) phi1 282.214   Phi 69.649    phi2 71.904   scatter 0.0   fraction 1.0 
[grain193]
(gauss) phi1 134.580   Phi 66.877    phi2 322.227   scatter 0.0   fraction 1.0 
[grain194]
(gauss) phi1 85.743   Phi 92.725    phi2 3.406   scatter 0.0   fraction 1.0 
[grain195]
(gauss) phi1 95.042   Phi 131.624    phi2 131.455   scatter 0.0   fraction 1.0 
[grain196]
(gauss) phi1 216.094   Phi 67.871    phi2 143.311   scatter 0.0   fraction 1.0 
[grain197]
(gauss) phi1 38.153   Phi 94.950    phi2 234.111   scatter 0.0   fraction 1.0 
[grain198]
(gauss) phi1 356.763   Phi 102.525    phi2 46.130   scatter 0.0   fraction 1.0 
[grain199]
(gauss) phi1 35.646   Phi 17.974    phi2 64.079   scatter 0.0   fraction 1.0 
[grain200]
(gauss) phi1 5.990   Phi 111.012    phi2 291.460   scatter 0.0   fraction 1.0 
[grain201]
(gauss) phi1 73.160   Phi 143.749    phi2 346.318   scatter 0.0   fraction 1.0 
[grain202]
(gauss) phi1 242.035   Phi 77.196    phi2 135.244   scatter 0.0   fraction 1.0 
[grain203]
(gauss) phi1 302.751   Phi 70.346    phi2 38.142   scatter 0.0   fraction 1.0 
[grain204]
(gauss) phi1 170.424   Phi 77.786    phi2 207.542   scatter 0.0   fraction 1.0 
[grain205]
(gauss) phi1 5.511   Phi 32.502    phi2 275.554   scatter 0.0   fraction 1.0 
[grain206]
(gauss) phi1 95.159   Phi 59.947    phi2 207.260   scatter 0.0   fraction 1.0 
[grain207]
(gauss) phi1 127.373   Phi 94.702    phi2 301.227   scatter 0.0   fraction 1.0 
[grain208]
(gauss) phi1 162.498   Phi 72.078    phi2 246.706   scatter 0.0   fraction 1.0 
[grain209]
(gauss) phi1 215.101   Phi 21.860    phi2 61.735   scatter 0.0   fraction 1.0 
[grain210]
(gauss) phi1 348.873   Phi 88.006    phi2 7.949   scatter 0.0   fraction 1.0 
[grain211]
(gauss) phi1 294.506   Phi 124.173    phi2 50.600   scatter 0.0   fraction 1.0 
[grain212]
(gauss) phi1 2.895   Phi 39.773    phi2 32.988   scatter 0.0   fraction 1.0 
[grain213]
(gauss) phi1 151.815   Phi 32.873    phi2 316.496   scatter 0.0   fraction 1.0 
[grain214]
(gauss) phi1 357.475   Phi 8.609    phi2 226.931   scatter 0.0   fraction 1.0 
[grain215]
(gauss) phi1 170.768   Phi 117.525    phi2 128.603   scatter 0.0   fraction 1.0 
[grain216]
(gauss) phi1 255.551   Phi 110.731    phi2 186.941   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 1 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 1 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 1 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 1 texture 98 fraction 1.0
[grain99]
crystallite 1
(constituent)   phase 1 texture 99 fraction 1.0
[grain100]
crystallite 1
(constituent)   phase 1 texture 100 fraction 1.0
[grain101]
crystallite 1
(constituent)   phase 1 texture 101 fraction 1.0
[grain102]
crystallite 1
(constituent)   phase 1 texture 102 fraction 1.0
[grain103]
crystallite 1
(constituent)   phase 1 texture 103 fraction 1.0
[grain104]
crystallite 1
(constituent)   phase 1 texture 104 fraction 1.0
[grain105]
crystallite 1
(constituent)   phase 1 texture 105 fraction 1.0
[grain106]
crystallite 1
(constituent)   phase 1 texture 106 fraction 1.0
[grain107]
crystallite 1
(constituent)   phase 1 texture 107 fraction 1.0
[grain108]
crystallite 1
(constituent)   phase 1 texture 108 fraction 1.0
[grain109]
crystallite 1
(constituent)   phase 1 texture 109 fraction 1.0
[grain110]
crystallite 1
(constituent)   phase 1 texture 110 fraction 1.0
[grain111]
crystallite 1
(constituent)   phase 1 texture 111 fraction 1.0
[grain112]
crystallite 1
(constituent)   phase 1 texture 112 fraction 1.0
[grain113]
crystallite 1
(constituent)   phase 1 texture 113 fraction 1.0
[grain114]
crystallite 1
(constituent)   phase 1 texture 114 fraction 1.0
[grain115]
crystallite 1
(constituent)   phase 1 texture 115 fraction 1.0
[grain116]
crystallite 1
(constituent)   phase 1 texture 116 fraction 1.0
[grain117]
crystallite 1
(constituent)   phase 1 texture 117 fraction 1.0
[grain118]
crystallite 1
(constituent)   phase 1 texture 118 fraction 1.0
[grain119]
crystallite 1
(constituent)   phase 1 texture 119 fraction 1.0
[grain120]
crystallite 1
(constituent)   phase 1 texture 120 fraction 1.0
[grain121]
crystallite 1
(constituent)   phase 1 texture 121 fraction 1.0
[grain122]
crystallite 1
(constituent)   phase 1 texture 122 fraction 1.0
[grain123]
crystallite 1
(constituent)   phase 1 texture 123 fraction 1.0
[grain124]
crystallite 1
(constituent)   phase 1 texture 124 fraction 1.0
[grain125]
crystallite 1
(constituent)   phase 1 texture 125 fraction 1.0
[grain126]
crystallite 1
(constituent)   phase 1 texture 126 fraction 1.0
[grain127]
crystallite 1
(constituent)   phase 1 texture 127 fraction 1.0
[grain128]
crystallite 1
(constituent)   phase 1 texture 128 fraction 1.0
[grain129]
crystallite 1
(constituent)   phase 1 texture 129 fraction 1.0
[grain130]
crystallite 1
(constituent)   phase 1 texture 130 fraction 1.0
[grain131]
crystallite 1
(constituent)   phase 1 texture 131 fraction 1.0
[grain132]
crystallite 1
(constituent)   phase 1 texture 132 fraction 1.0
[grain133]
crystallite 1
(constituent)   phase 1 texture 133 fraction 1.0
[grain134]
crystallite 1
(constituent)   phase 1 texture 134 fraction 1.0
[grain135]
crystallite 1
(constituent)   phase 1 texture 135 fraction 1.0
[grain136]
crystallite 1
(constituent)   phase 1 texture 136 fraction 1.0
[grain137]
crystallite 1
(constituent)   phase 1 texture 137 fraction 1.0
[grain138]
crystallite 1
(constituent)   phase 1 texture 138 fraction 1.0
[grain139]
crystallite 1
(constituent)   phase 1 texture 139 fraction 1.0
[grain140]
crystallite 1
(constituent)   phase 1 texture 140 fraction 1.0
[grain141]
crystallite 1
(constituent)   phase 1 texture 141 fraction 1.0
[grain142]
crystallite 1
(constituent)   phase 1 texture 142 fraction 1.0
[grain143]
crystallite 1
(constituent)   phase 1 texture 143 fraction 1.0
[grain144]
crystallite 1
(constituent)   phase 1 texture 144 fraction 1.0
[grain145]
crystallite 1
(constituent)   phase 1 texture 145 fraction 1.0
[grain146]
crystallite 1
(constituent)   phase 1 texture 146 fraction 1.0
[grain147]
crystallite 1
(constituent)   phase 1 texture 147 fraction 1.0
[grain148]
crystallite 1
(constituent)   phase 1 texture 148 fraction 1.0
[grain149]
crystallite 1
(constituent)   phase 1 texture 149 fraction 1.0
[grain150]
crystallite 1
(constituent)   phase 1 texture 150 fraction 1.0
[grain151]
crystallite 1
(constituent)   phase 1 texture 151 fraction 1.0
[grain152]
crystallite 1
(constituent)   phase 1 texture 152 fraction 1.0
[grain153]
crystallite 1
(constituent)   phase 1 texture 153 fraction 1.0
[grain154]
crystallite 1
(constituent)   phase 1 texture 154 fraction 1.0
[grain155]
crystallite 1
(constituent)   phase 1 texture 155 fraction 1.0
[grain156]
crystallite 1
(constituent)   phase 1 texture 156 fraction 1.0
[grain157]
crystallite 1
(constituent)   phase 1 texture 157 fraction 1.0
[grain158]
crystallite 1
(constituent)   phase 1 texture 158 fraction 1.0
[grain159]
crystallite 1
(constituent)   phase 1 texture 159 fraction 1.0
[grain160]
crystallite 1
(constituent)   phase 1 texture 160 fraction 1.0
[grain161]
crystallite 1
(constituent)   phase 1 texture 161 fraction 1.0
[grain162]
crystallite 1
(constituent)   phase 1 texture 162 fraction 1.0
[grain163]
crystallite 1
(constituent)   phase 1 texture 163 fraction 1.0
[grain164]
crystallite 1
(constituent)   phase 1 texture 164 fraction 1.0
[grain165]
crystallite 1
(constituent)   phase 1 texture 165 fraction 1.0
[grain166]
crystallite 1
(constituent)   phase 1 texture 166 fraction 1.0
[grain167]
crystallite 1
(constituent)   phase 1 texture 167 fraction 1.0
[grain168]
crystallite 1
(constituent)   phase 1 texture 168 fraction 1.0
[grain169]
crystallite 1
(constituent)   phase 1 texture 169 fraction 1.0
[grain170]
crystallite 1
(constituent)   phase 1 texture 170 fraction 1.0
[grain171]
crystallite 1
(constituent)   phase 1 texture 171 fraction 1.0
[grain172]
crystallite 1
(constituent)   phase 1 texture 172 fraction 1.0
[grain173]
crystallite 1
(constituent)   phase 1 texture 173 fraction 1.0
[grain174]
crystallite 1
(constituent)   phase 1 texture 174 fraction 1.0
[grain175]
crystallite 1
(constituent)   phase 1 texture 175 fraction 1.0
[grain176]
crystallite 1
(constituent)   phase 1 texture 176 fraction 1.0
[grain177]
crystallite 1
(constituent)   phase 1 texture 177 fraction 1.0
[grain178]
crystallite 1
(constituent)   phase 1 texture 178 fraction 1.0
[grain179]
crystallite 1
(constituent)   phase 1 texture 179 fraction 1.0
[grain180]
crystallite 1
(constituent)   phase 1 texture 180 fraction 1.0
[grain181]
crystallite 1
(constituent)   phase 1 texture 181 fraction 1.0
[grain182]
crystallite 1
(constituent)   phase 1 texture 182 fraction 1.0
[grain183]
crystallite 1
(constituent)   phase 1 texture 183 fraction 1.0
[grain184]
crystallite 1
(constituent)   phase 1 texture 184 fraction 1.0
[grain185]
crystallite 1
(constituent)   phase 1 texture 185 fraction 1.0
[grain186]
crystallite 1
(constituent)   phase 1 texture 186 fraction 1.0
[grain187]
crystallite 1
(constituent)   phase 1 texture 187 fraction 1.0
[grain188]
crystallite 1
(constituent)   phase 1 texture 188 fraction 1.0
[grain189]
crystallite 1
(constituent)   phase 1 texture 189 fraction 1.0
[grain190]
crystallite 1
(constituent)   phase 1 texture 190 fraction 1.0
[grain191]
crystallite 1
(constituent)   phase 1 texture 191 fraction 1.0
[grain192]
crystallite 1
(constituent)   phase 1 texture 192 fraction 1.0
[grain193]
crystallite 1
(constituent)   phase 1 texture 193 fraction 1.0
[grain194]
crystallite 1
(constituent)   phase 1 texture 194 fraction 1.0
[grain195]
crystallite 1
(constituent)   phase 1 texture 195 fraction 1.0
[grain196]
crystallite 1
(constituent)   phase 1 texture 196 fraction 1.0
[grain197]
crystallite 1
(constituent)   phase 1 texture 197 fraction 1.0
[grain198]
crystallite 1
(constituent)   phase 1 texture 198 fraction 1.0
[grain199]
crystallite 1
(constituent)   phase 1 texture 199 fraction 1.0
[grain200]
crystallite 1
(constituent)   phase 1 texture 200 fraction 1.0
[grain201]
crystallite 1
(constituent)   phase 1 texture 201 fraction 1.0
[grain202]
crystallite 1
(constituent)   phase 1 texture 202 fraction 1.0
[grain203]
crystallite 1
(constituent)   phase 1 texture 203 fraction 1.0
[grain204]
crystallite 1
(constituent)   phase 1 texture 204 fraction 1.0
[grain205]
crystallite 1
(constituent)   phase 1 texture 205 fraction 1.0
[grain206]
crystallite 1
(constituent)   phase 1 texture 206 fraction 1.0
[grain207]
crystallite 1
(constituent)   phase 1 texture 207 fraction 1.0
[grain208]
crystallite 1
(constituent)   phase 1 texture 208 fraction 1.0
[grain209]
crystallite 1
(constituent)   phase 1 texture 209 fraction 1.0
[grain210]
crystallite 1
(constituent)   phase 1 texture 210 fraction 1.0
[grain211]
crystallite 1
(constituent)   phase 1 texture 211 fraction 1.0
[grain212]
crystallite 1
(constituent)   phase 1 texture 212 fraction 1.0
[grain213]
crystallite 1
(constituent)   phase 1 texture 213 fraction 1.0
[grain214]
crystallite 1
(constituent)   phase 1 texture 214 fraction 1.0
[grain215]
crystallite 1
(constituent)   phase 1 texture 215 fraction 1.0
[grain216]
crystallite 1
(constituent)   phase 1 texture 216 fraction 1.0
