#-------------------#
<homogenization>
#-------------------#

[dummy]
mech            isostrain
type            none
nconstituents   1

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
# (output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
# (output) e              # total strain as Green-Lagrange tensor 
# (output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
# (output) lp             # plastic velocity gradient tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

#-------------------#
<phase>
#-------------------#
[StainlessSteel304L]
# no twinning
# (output) totalshear

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12        # per family
Ntwin                   0         # per family
c11                     262.200e9 #  Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c12                     112.0e9   # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.
c44                     74.6e9    # Lu, J., Becker, A., Sun, W., & Tanner, D. (2014). Simulation of cyclic plastic behavior of 304L steel using the crystal plasticity finite element method. Procedia materials science, 3, 135-140.

gdot0_slip              4.188003985923e-02
n_slip                  2.742169073699e+01
a_slip                  1.203110705546e+00
tau0_slip               2.915532040133e+08
tausat_slip             4.859724050533e+08
h0_slipslip             2.810526612484e+08


interaction_slipslip    1.0 1.0 1.4 1.4 1.4 1.4                  # just guessing
# interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0  #  - " - 
# w0_slip                 2.0


#############################################################################
# Generated by DREAM.3D
#############################################################################
# Add <homogenization>, <crystallite>, and <phase> for a complete definition
#############################################################################
<texture>
[grain1]
(gauss) phi1 58.882   Phi 102.110    phi2 292.867   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 343.106   Phi 121.315    phi2 199.720   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 104.051   Phi 79.799    phi2 71.115   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 123.866   Phi 35.829    phi2 79.789   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 344.547   Phi 48.807    phi2 200.222   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 219.939   Phi 81.198    phi2 138.540   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 161.319   Phi 110.638    phi2 52.132   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 323.102   Phi 100.203    phi2 121.780   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 161.232   Phi 58.185    phi2 318.856   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 222.390   Phi 67.200    phi2 42.856   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 341.960   Phi 45.177    phi2 88.508   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 233.802   Phi 115.435    phi2 17.164   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 99.524   Phi 35.239    phi2 3.667   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 160.530   Phi 129.781    phi2 14.093   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 328.630   Phi 94.756    phi2 322.651   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 47.043   Phi 126.738    phi2 201.751   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 76.150   Phi 73.156    phi2 83.891   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 75.400   Phi 119.351    phi2 285.275   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 243.231   Phi 119.299    phi2 18.190   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 217.966   Phi 78.533    phi2 261.819   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 163.266   Phi 64.098    phi2 39.744   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 217.021   Phi 109.854    phi2 204.724   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 118.631   Phi 55.071    phi2 273.925   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 359.384   Phi 80.331    phi2 263.014   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 273.604   Phi 158.344    phi2 84.795   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 265.822   Phi 56.468    phi2 293.889   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 109.368   Phi 59.687    phi2 308.125   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 14.441   Phi 99.163    phi2 301.436   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 121.822   Phi 88.101    phi2 114.294   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 85.861   Phi 51.713    phi2 9.512   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 58.817   Phi 84.833    phi2 36.713   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 78.815   Phi 94.165    phi2 286.299   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 105.080   Phi 34.750    phi2 61.904   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 317.152   Phi 92.601    phi2 316.332   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 311.535   Phi 111.350    phi2 100.671   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 23.499   Phi 49.997    phi2 133.747   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 335.230   Phi 93.547    phi2 38.841   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 235.259   Phi 94.253    phi2 155.423   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 198.919   Phi 24.196    phi2 271.359   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 75.976   Phi 63.176    phi2 275.841   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 162.211   Phi 99.209    phi2 111.657   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 267.816   Phi 92.758    phi2 319.835   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 139.188   Phi 141.314    phi2 238.156   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 40.808   Phi 65.438    phi2 114.760   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 11.676   Phi 108.600    phi2 316.957   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 187.162   Phi 100.228    phi2 355.744   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 45.705   Phi 92.455    phi2 126.208   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 125.837   Phi 48.059    phi2 78.648   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 27.824   Phi 87.950    phi2 92.327   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 225.974   Phi 44.837    phi2 269.827   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 172.701   Phi 54.967    phi2 236.077   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 58.122   Phi 78.504    phi2 320.673   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 3.529   Phi 113.188    phi2 198.347   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 29.846   Phi 98.718    phi2 47.727   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 225.551   Phi 161.154    phi2 312.188   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 316.514   Phi 124.045    phi2 91.158   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 47.559   Phi 145.088    phi2 52.273   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 275.836   Phi 61.611    phi2 103.569   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 35.358   Phi 127.365    phi2 308.397   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 218.197   Phi 31.243    phi2 318.596   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 313.362   Phi 109.261    phi2 253.043   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 139.434   Phi 169.578    phi2 82.311   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 169.590   Phi 145.262    phi2 197.810   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
